BODY {
  background-color: rgb(75%, 75%, 75%);
  font-family: Verdana, Consolas;
}

TD {
  padding:3px;
}

TABLE { 
  border-spacing: 0px;
  border-collapse: separate;
}

li {
  list-style-type: square;
}

.highlight {
  background-color: #FFFDE3;
}

.keyword {
  font-weight: bolder;
  color: #000080;
}

.literal {
  color: blue;
}

.comment {
  color: green;
}

.page-section {
  background-color: rgb(85%, 85%, 85%);
  font-family: system;
  font-size: 120%;
  padding: 2px;
  border: 1px solid gray;
}

.page-title {
  background-color: rgb(85%, 85%, 85%);
  font-size: 250%;
  clear: both;
  text-align: center;
  border: 1px solid gray;
  padding: 0.25em;
}