### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
nbproject/project.properties
nbproject/private/private.properties
web/uiswing/examples/layout/BoxLayoutDemo2Project/nbproject/private/private.xml
web/uiswing/examples/layout/CardLayoutDemoProject/nbproject/private/private.xml
nbproject/private/private.xml
web/uiswing/examples/QandE/MyDemo3Project/nbproject/private/
web/uiswing/examples/dnd/FillViewportHeightDemoProject/nbproject/private/
web/uiswing/examples/events/BeeperProject/nbproject/private/
web/uiswing/examples/start/HelloWorldSwingProject/nbproject/private/

/web/uiswing/examples/QandE/Beeper2Project/nbproject/private/