<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Usar BorderLayout (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing
            &gt; Disponer Componentes Dentro de un Contenedor)
        </title>
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css" />
        <script  src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Disponer Componentes Dentro de un Contenedor</a></div>
                <div class="linkAHEAD"><a href="visual.html">Una Guía Visual a los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="using.html">Usando los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="howLayoutWorks.html">Cómo Funciona la Gestión de Diseño</a></div>
                <div class="linkAHEAD"><a href="layoutlist.html">Cómo Usar Varios Gestores de Diseño</a></div>
                <div class="nolinkAHEAD">Cómo Usar BorderLayout</div>
                <div class="linkAHEAD"><a href="box.html">Cómo Usar BoxLayout</a></div>
                <div class="linkAHEAD"><a href="card.html">Cómo Usar CardLayout</a></div>
                <div class="linkAHEAD"><a href="flow.html">Cómo Usar FlowLayout</a></div>
                <div class="linkAHEAD"><a href="gridbag.html">Cómo Usar GridBagLayout</a></div>
                <div class="linkAHEAD"><a href="grid.html">Cómo Usar GridLayout</a></div>
                <div class="linkAHEAD"><a href="group.html">Cómo Usar GroupLayout</a></div>
                <div class="linkBHEAD"><a href="groupExample.html">Un Ejemplo de GroupLayout</a></div>
                <div class="linkAHEAD"><a href="spring.html">Cómo Usar SpringLayout</a></div>
                <div class="linkAHEAD"><a href="custom.html">Creando un Gestor de Diseño Personalizado</a></div>
                <div class="linkAHEAD"><a href="none.html">Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto)</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes de Diseño</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Disponer Componentes Dentro de un Contenedor
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Disponer Componentes Dentro de un Contenedor</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="layoutlist.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="box.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Usar BorderLayout</h1>
            </div>
            <div id="PageContent">
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;Esta lección cubre la escritura de código de diseño a mano, lo cual puede ser
                    desafiante. Si no está interesado en aprender todos los detalles de la gestión del diseño, preferirá usar el
                    gestor de diseño <code>GroupLayout</code> combinado con una herramienta de construcción para diseñar su IGU.
                    Una de tales herramientas de construcción es el
                    <a class="TutorialLink" target="_top" href="../learn/index.html">EID NetBeans</a>. De otra manera, si quiere
                    codificar a mano y no quiere usar <code>GroupLayout</code>, entonces se recomienda <code>GridBagLayout</code>
                    como el gestor de diseño más flexible y potente.
                    <hr />
                </div>
                <p>
                    Si está interesado en usar JavaFX para crear su IGU, vea
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/layout-tutorial/index.html">Trabajar Con Diseños en JavaFX</a>.
                </p>
                <p>
                    La siguiente figura representa una captura de una aplicación que usa la clase
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/java/awt/BorderLayout.html"><code>BorderLayout</code>
                    </a>.
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/layout/BorderLayoutDemo.png" width="479" height="185" class="imgbottom"
                         alt="Una captura de BorderLayoutDemo" />
                </p>
                <p>
                    Pulse el botón Lanzar para ejecutar BorderLayoutDemo usando
                    <a class="OutsideLink" target="_blank"
                       href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">Java&trade; Web Start
                    </a> (
                    <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue KDJ 7 o posterior</a>).
                    Alternativamente, para compilar y ejecutar el ejemplo usted mismo, consulte el
                    <a href="../examples/layout/index.html#BorderLayoutDemo">índice de ejemplo</a>.
                </p>
                <div style="text-align: center">
                    <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/BorderLayoutDemoProject/BorderLayoutDemo.jnlp">
                        <img src="../../images/jws-launch-button.png" width="88" height="23" class="imgbottom"
                             alt="Lanza la aplicación BorderLayoutDemo" />
                    </a>
                </div>
                <br />
                <p>
                    El código completo de esta demo está en el fichero
                    <a class="SourceLink" target="_blank"
                       href="../examples/layout/BorderLayoutDemoProject/src/layout/BorderLayoutDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/layout/BorderLayoutDemoProject/src/layout/BorderLayoutDemo.java');return false;">
                        <code>BorderLayoutDemo.java</code></a>.
                </p>
                <p>
                    Como la imagen precedente muestra, un objeto <code>BorderLayout</code> tiene cinco áreas. Estas áreas son
                    especificadas por las constantes <code>BorderLayout</code>:
                </p>
                <ul>
                    <li>
                        <code>PAGE_START</code>
                    </li>
                    <li>
                        <code>PAGE_END</code>
                    </li>
                    <li>
                        <code>LINE_START</code>
                    </li>
                    <li>
                        <code>LINE_END</code>
                    </li>
                    <li>
                        <code>CENTER</code>
                    </li>
                </ul>
                <div class="note">
                    <hr />
                    <strong>Nota de versión:</strong>&nbsp;
                    <p>
                        Antes del KDJ versión 1.4, los nombres preferidos para las diversas áreas eran diferentes, que van desde los
                        puntos cardinales (por ejemplo, <code>BorderLayout.NORTH</code> para el área superior) a versiones con más
                        palabras de las constantes que usamos en nuestros ejemplos. Las constantes que usan nuestros ejemplos son
                        preferidas porque son estándar y permiten que los programas se ajusten a los idiomas que tienen
                        orientaciones diferentes.
                    </p>
                    <hr />
                </div>
                <p>
                    Si la ventana es ampliada, el área del centro obtiene la mayor cantidad del espacio disponible en lo posible. 
                    Las otras áreas se expanden sólo tanto como es necesario para rellenar todo el espacio disponible. A menudo un 
                    contenedor usa sólo una o dos de las áreas del objeto <code>BorderLayout</code> &HorizontalLine; simplemente el
                    centro, o el centro y la parte inferior.
                </p>
                <p>
                    El código siguiente añade componentes al panel de contenido del marco. Porque los paneles de contenido usa la
                    clase <code>BorderLayout</code> por defecto, el código no necesita establecer el gestor de diseño. El programa
                    completo está en el fichero
                    <a class="SourceLink" target="_blank"
                       href="../examples/layout/BorderLayoutDemoProject/src/layout/BorderLayoutDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/layout/BorderLayoutDemoProject/src/layout/BorderLayoutDemo.java');return false;">
                        <code>BorderLayoutDemo.java</code></a>.
                </p>
                <div class="codeblock">
                    <pre>
...<em>//Container pane = aFrame.getContentPane()</em>...
JButton button = new JButton("Button 1 (PAGE_START)");
pane.add(button, BorderLayout.PAGE_START);

//Hace el componente central grande, ya que es el
//uso típico de BorderLayout.
button = new JButton("Button 2 (CENTER)");
button.setPreferredSize(new Dimension(200, 100));
pane.add(button, BorderLayout.CENTER);

button = new JButton("Button 3 (LINE_START)");
pane.add(button, BorderLayout.LINE_START);

button = new JButton("Long-Named Button 4 (PAGE_END)");
pane.add(button, BorderLayout.PAGE_END);

button = new JButton("5 (LINE_END)");
pane.add(button, BorderLayout.LINE_END);
                    </pre>
                </div>
                <p>
                    Especificar la ubicación de los componentes (por ejemplo, <code>BorderLayout.LINE_END</code>) como uno de los
                    argumentos al método <code>add</code>. Si este componente falta en un contenedor controlado por un objeto
                    <code>BorderLayout</code>, asegúrese que la ubicación del componente fue especificada y que ningún otro
                    componente fuera colocado en la misma ubicación.
                </p>
                <p>
                    Todos los ejemplos del tutorial que usa la clase <code>BorderLayout</code> especifican el componente como el
                    primer argumento al método <code>add</code>. Por ejemplo:
                </p>
                <div class="codeblock">
                    <pre>
add(component, BorderLayout.CENTER)  //preferido
                    </pre>
                </div>
                <p>
                    Sin embargo, el código en otros programas especifican el componente como segundo argumento. Por ejemplo, aquí
                    hay una forma alternativa de escribir el código precedente:
                </p>
                <div class="codeblock">
                    <pre>
add(BorderLayout.CENTER, component)  //válido pero pasado de moda
    <em>or</em>
add("Center", component)             //válido pero propenso a errores
                    </pre>
                </div>
                <h2>
                    <a id="api">La IPA de BorderLayout</a>
                </h2>
                <p>
                    La siguiente tabla lista los constructores y métodos para especificar los huecos (en píxeles).
                </p>
                <table class="celda">
                    <caption>Especificar huecos</caption>
                    <tr>
                        <th id="h1" class="celda">Constructor o Método</th>
                        <th id="h2" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/BorderLayout.html#BorderLayout-int-int-">
                                <code>BorderLayout(int <em>horizontalGap</em>, int <em>verticalGap</em>)</code>
                            </a>
                        </td>
                        <td headers="h2" class="celda">Define un diseño del borde con los huecos especificados entre componentes.</td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/BorderLayout.html#setHgap-int-">
                                <code>setHgap(int)</code>
                            </a>
                        </td>
                        <td headers="h2" class="celda">Establece el hueco horizontal entre componentes.</td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/BorderLayout.html#setVgap-int-">
                                <code>setVgap(int)</code>
                            </a>
                        </td>
                        <td headers="h2" class="celda">Establece e hueco vertical entre componentes.</td>
                    </tr>
                </table>
                <h2>
                    <a id="eg">Ejemplos Que Usan BorderLayout</a>
                </h2>
                <p>
                    La siguiente tabla lista ejemplos de código que usa la clase <code>BorderLayout</code>  y proporciona enlaces
                    a las secciones relacionadas.
                </p>
                <table>
                    <caption>Ejemplos de código que usan la clase BorderLayout
                    </caption>
                    <tr>
                        <th id="h101" class="izq">ejemplo</th>
                        <th id="h102" class="izq">Dónde Se Describe</th>
                        <th id="h103" class="izq">Notas</th>
                    </tr>
                    <tr>
                        <td headers="h101">
                            <a href="../examples/layout/index.html#BorderLayoutDemo"><code>BorderLayoutDemo</code></a>
                        </td>
                        <td headers="h102">Esta página</td>
                        <td headers="h103">Coloca un componente en cada una de las cinco posibles ubicaciones.</td>
                    </tr>
                    <tr>
                        <td headers="h101">
                            <a href="../examples/components/index.html#TabbedPaneDemo"><code>TabbedPaneDemo</code></a>
                        </td>
                        <td headers="h102">
                            <a class="TutorialLink" target="_top" href="../components/tabbedpane.html">Cómo Usar Panel Tabulados</a>
                        </td>
                        <td headers="h103">
                            Uno de muchos ejemplos que colocan un componente único en el centro de un panel de contenido. así que
                            el componente es tan grande como es posible.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101">
                            <a href="../examples/components/index.html#CheckBoxDemo"><code>CheckBoxDemo</code></a>
                        </td>
                        <td headers="h102">
                            <a class="TutorialLink" target="_top" href="../components/button.html#checkbox">
                                Cómo Usar Casillas de Verificación
                            </a>
                        </td>
                        <td headers="h103">
                            Crea un objeto <code>JPanel</code> que usa la clase <code>BorderLayout</code>. Coloca componentes en la
                            las ubicaciones izquierda (en realidad, <code>LINE_START</code>) y centro.
                        </td>
                    </tr>
                </table>
            </div>
            <div class="NavBit">
                <a target="_top" href="layoutlist.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="box.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio &quot;
                            Los Tutoriales de Java&quot; está sujeto a estos
                            <a href="../../information/cpyr.html">avisos legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página anterior:</b> Cómo Usar Varios Gestores de Diseño<br />
            <b>Página siguiente</b> Cómo Usar BoxLayout
        </div>
    </body>
</html>