<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Usar CardLayout (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing
            &gt; Disponer Componentes Dentro de un Contenedor)
        </title>
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css" />
        <script  src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Disponer Componentes Dentro de un Contenedor</a></div>
                <div class="linkAHEAD"><a href="visual.html">Una Guía Visual a los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="using.html">Usando los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="howLayoutWorks.html">Cómo Funciona la Gestión de Diseño</a></div>
                <div class="linkAHEAD"><a href="layoutlist.html">Cómo Usar Varios Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar BorderLayout</a></div>
                <div class="linkAHEAD"><a href="box.html">Cómo Usar BoxLayout</a></div>
                <div class="nolinkAHEAD">Cómo Usar CardLayout</div>
                <div class="linkAHEAD"><a href="flow.html">Cómo Usar FlowLayout</a></div>
                <div class="linkAHEAD"><a href="gridbag.html">Cómo Usar GridBagLayout</a></div>
                <div class="linkAHEAD"><a href="grid.html">Cómo Usar GridLayout</a></div>
                <div class="linkAHEAD"><a href="group.html">Cómo Usar GroupLayout</a></div>
                <div class="linkBHEAD"><a href="groupExample.html">Un Ejemplo de GroupLayout</a></div>
                <div class="linkAHEAD"><a href="spring.html">Cómo Usar SpringLayout</a></div>
                <div class="linkAHEAD"><a href="custom.html">Creando un Gestor de Diseño Personalizado</a></div>
                <div class="linkAHEAD"><a href="none.html">Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto)</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes de Diseño</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Disponer Componentes Dentro de un Contenedor
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Disponer Componentes Dentro de un Contenedor</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="box.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="flow.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Usar CardLayout</h1>
            </div>
            <div id="PageContent">
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;Esta lección cubre la escritura de código de diseño a mano, lo cual puede ser
                    desafiante. Si no está interesado en aprender todos los detalles de la gestión del diseño, preferirá usar el
                    gestor de diseño <code>GroupLayout</code> combinado con una herramienta de construcción para diseñar su IGU.
                    Una de tales herramientas de construcción es el
                    <a class="TutorialLink" target="_top" href="../learn/index.html">EID NetBeans</a>. De otra manera, si quiere
                    codificar a mano y no quiere usar <code>GroupLayout</code>, entonces se recomienda <code>GridBagLayout</code>
                    como el gestor de diseño más flexible y potente.
                    <hr />
                </div>
                <p>
                    Si está interesado en usar JavaFX para crear su IGU, vea
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/layout-tutorial/index.html">Trabajar Con Diseños en JavaFX</a>.
                </p>
                <p>
                    La siguiente figura representa una captura de una aplicación que usa la clase
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/java/awt/CardLayout.html"><code>CardLayout</code></a> para
                    cambiar entre dos paneles.
                </p>
                <p style="text-align: center">
                    <img src="../../figures/uiswing/layout/CardLayoutDemo.png" width="273" height="104"
                         alt="Una captura de CardLayoutDemo" />
                    <img src="../../figures/uiswing/layout/CardLayoutDemo-2.png" width="273" height="104" 
                         alt="Una captura de CardLayoutDemo" />
                </p>
                <p>
                    Pulse el botón Lanzar para ejecutar CardLayoutDemo usando
                    <a class="OutsideLink" target="_blank"
                       href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">Java&trade; Web Start</a> (
                       <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue Java SE</a>).
                       Alternativamente, para compilar y ejecutar el ejemplo tu mismo, consulte el
                       <a href="../examples/layout/index.html#CardLayoutDemo">índice de ejemplos</a>.
                </p>
                <div style="text-align: center">
                    <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/CardLayoutDemoProject/CardLayoutDemo.jnlp">
                        <img src="../../images/jws-launch-button.png" width="88" height="23" class="imgbottom"
                             alt="Lanza la aplicación CardLayoutDemo" />
                    </a>
                </div>
                <br />
                <p>
                    El código completo de esta demostración está en el fichero
                    <a class="SourceLink" target="_blank"
                       href="../examples/layout/CardLayoutDemoProject/src/layout/CardLayoutDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/layout/CardLayoutDemoProject/src/layout/CardLayoutDemo.java');
                               return false;">
                        <code>CardLayoutDemo.java</code></a>.
                </p>
                <p>
                    La clase <code>CardLayout</code> gestiona dos o más componentes (usualemnte instancias <code>JPanel</code>) que
                    comparten el mismo espacio de visualización. Cuando usa la clase <code>CardLayout</code>, permite al usuario
                    elegir entre los componentes usando un cuadro combinado. La aplicación <code>CardLayoutDemo</code> es un
                    ejemplo para ilustrar esta característica.
                </p>
                <p>
                    Otra forma de lograr la misma tarea es usar un
                    <a class="TutorialLink" target="_top" 
                       href="../components/tabbedpane.html">panel tabulado</a>. La siguiente imagen muestra una versión con panel
                    tabulado del ejemplo precedente:
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/layout/TabDemo.png" width="378" height="97" class="imgbottom"
                         alt="Una captura de TabDemo" />
                </p>
                <p>
                    Debido a que un panel con pestañas proporciona su propia GUI, usar un panel con pestañas es más simple que usar 
                    la clase <code>CardLayout</code>. Por ejemplo, implementar el ejemplo precedente usando un panel con pestañas
                    resulta en un programa con menos líneas de código.
                </p>
                <p>
                    Pulse el botón Lanzar para ejecutar TabDemo usando
                    <a class="OutsideLink" target="_blank"
                       href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">Java&trade; Web Start</a> (
                       <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue KDJ 7 o posterior</a>).
                       Alternativamente, para compilar y ejecutar el ejemplo usted mismo, consulte el
                       <a href="../examples/layout/index.html#TabDemo">índice de ejemplos</a>.
                </p>
                <div style="text-align: center">
                    <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/TabDemoProject/TabDemo.jnlp">
                        <img src="../../images/jws-launch-button.png" width="88" height="23" class="imgbottom"
                             alt="Lanza la aplicación TabDemo" />
                    </a>
                </div>
                <br />
                <p>
                    El código completo de esta demostración está en el fichero
                    <a class="SourceLink" target="_blank"
                       href="../examples/layout/TabDemoProject/src/layout/TabDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/layout/TabDemoProject/src/layout/TabDemo.java');return false;">
                        <code>TabDemo.java</code></a>.
                </p>
                <p>
                    Conceptualmente, cada componente que un <code>CardLayout</code> gestiona es como un naipe o
                    carta de intercambio en una pila, dónde sólo la carta de arriba es visible todo el tiempo. Puede elegir la
                    carta que está mostrando de alguna de las siguientes formas:
                </p>
                <ul>
                    <li>
                        Al solicitar la primera o la última tarjeta, en el orden en que se agregó al contenedor
                    </li>
                    <li>
                        Al hojear la baraja hacia atrás o hacia adelante
                    </li>
                    <li>
                        Al especificar una tarjeta con un nombre específico
                    </li>
                </ul>
                <p>
                    La clase <code>CardLayoutDemo</code> usa el último esquema.
                </p>
                <p>
                    El siguiente trozo de código de la aplicación
                    <a class="SourceLink" target="_blank"
                       href="../examples/layout/CardLayoutDemoProject/src/layout/CardLayoutDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/layout/CardLayoutDemoProject/src/layout/CardLayoutDemo.java');return false;">
                        <code>CardLayoutDemo.java</code></a> crea el objeto <code>CardLayout</code> y los componentes que gestiona.
                </p>
                <div class="codeblock">
                    <pre>
<em>//Donde las variables de instancia son declaradas:</em>
JPanel cards;
final static String BUTTONPANEL = "Card with JButtons";
final static String TEXTPANEL = "Card with JTextField";

<em>//Donde los componentes controlados por CardLayout son inicializados:</em>
//Create the "cards".
JPanel card1 = new JPanel();
...
JPanel card2 = new JPanel();
...

//Crea el panel que contiene las "cartas".
cards = new JPanel(new CardLayout());
cards.add(card1, BUTTONPANEL);
cards.add(card2, TEXTPANEL);
                    </pre>
                </div>
                <p>
                    Para añadir un componente a un contenedor que el objeto <code>CardLayout</code> gestiona, especifique una
                    cadena que identifque el componente que se añade. Por ejemplo, en esta demostración, el primer panel tiene la 
                    cadena <code>&quot;Card with JButtons&quot;</code>, y el segundo panel tiene la cadena
                    <code>&quot;Card with JTextField&quot;</code>. En esta demostración estas cadenas son también usadas en el
                    cuadro combinado.
                </p>
                <p>
                    Para elegir qué componente muestra el objeto <code>CardLayout</code>, ponga el código adicional en su código de
                    ejemplo:
                </p>
                <div class="codeblock">
                    <pre>
<em>//Donde se ensambla el IGU:</em>
//Coloca el JComboBox en un JPanel para obtener un aspecto más agradable.
JPanel comboBoxPane = new JPanel(); //usa FlowLayout
String comboBoxItems[] = { BUTTONPANEL, TEXTPANEL };
JComboBox cb = new JComboBox(comboBoxItems);
cb.setEditable(false);
cb.addItemListener(this);
comboBoxPane.add(cb);
...
pane.add(comboBoxPane, BorderLayout.PAGE_START);
pane.add(cards, BorderLayout.CENTER);
...

//El método vino de la implementación de la clase ItemListener,
//contiene funcionalidad para procesar el elemento seleccionado en el cuadro combinado
public void itemStateChanged(ItemEvent evt) {
    CardLayout cl = (CardLayout)(cards.getLayout());
    cl.show(cards, (String)evt.getItem());
}
                    </pre>
                </div>
                <p>
                    Este ejemplo muestra que para usar el método <code>show</code> de la clase <code>CardLayout</code>, debe
                    establecer el componente visible actualmente. El primer argumento en el método <code>show</code> es el
                    contenedor que <code>CardLayout</code> controla &HorizontalLine; esto es, el contenedor de los componentes
                    que <code>CardLayout</code> gestiona. El segundo argumento es la cadena que identfica el componente a mostrar.
                    Esta cadena es la misma cadena que fue usada cuando se añadía el componente al contenedor.
                </p>
                <h2>
                    <a id="api">La IPA de CardLayout</a>
                </h2>
                <p>
                    La tabla siguiente lista los métodos de la clase <code>CardLayout</code> que son usados para elegir un
                    componente. Para cada método, el primer argumento es el contenedor par el cual <code>CardLayout</code> es el
                    gestor de diseño (el contenedor de las cartas que <code>CardLayout</code> controla).
                </p>
                <table class="celda">
                    <caption>Métodos de la clase CardLayout que son usados para elegir un componente</caption>
                    <tr>
                        <th id="h1" class="celda">Método</th>
                        <th id="h2" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/CardLayout.html#first-java.awt.Container-">
                                <code>first (Container <em>parent</em>)</code>
                            </a>
                        </td>
                        <td headers="h2" class="celda">Se dirige a la primera carta del contenedor.</td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/CardLayout.html#next-java.awt.Container-">
                                <code>next (Container <em>parent</em>)</code>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            Se dirige a la siguiente carta del contenedor. Si la carta visible actualmente es la última, este
                            método se dirige a la primera carta en el diseño.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/CardLayout.html#previous-java.awt.Container-">
                                <code>previous (Container <em>parent</em>)</code>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            Se dirige a la carta previa del contenedor. Si la carta visible actual es la primera, este método se
                            dirige a la última carta en el diseño.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/CardLayout.html#last-java.awt.Container-">
                                <code>last (Container <em>parent</em>)</code>
                            </a>
                        </td>
                        <td headers="h2" class="celda">Se dirige a la última carta del contenedor.</td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/CardLayout.html#show-java.awt.Container-java.lang.String-">
                                <code>show (Container <em>parent</em>, String <em>name</em>)</code>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            Se dirige al componente que fue añadido a este diseño con el <code>nombre</code> especificado, usando
                            el método
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/CardLayout.html#addLayoutComponent-java.awt.Component-java.lang.Object-">
                                <code>addLayoutComponent</code></a>.
                        </td>
                    </tr>
                </table>
                <h2>
                    <a id="eg">Ejemplos que Usan CardLayout</a>
                </h2>
                <p>
                    Sólo un ejemplo en este recorrido usa <code>CardLayout</code>, y este es
                    <a href="../examples/layout/index.html#CardLayoutDemo"><code>CardLayoutDemo</code></a>. En general, nuestros 
                    ejemplos usan <a class="TutorialLink" target="_top" href="../components/tabbedpane.html">paneles tabulados</a>
                    en vez de <code>CardLayout</code>, ya que un panel tabulado o con pestañas suministra su propio IGU.
                </p>
            </div>
            <div class="NavBit">
                <a target="_top" href="box.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="flow.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página anterior:</b> Cómo Usar BoxLayout<br />
            <b>Página siguiente:</b> Cómo Usar FlowLayout
        </div>
    </body>
</html>