<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Creando un Gestor de Diseño Personalizado (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de
            Usuario) con JFC/Swing &gt; Disponer Componentes Dentro de un Contenedor)
        </title>
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css" />
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Disponer Componentes Dentro de un Contenedor</a></div>
                <div class="linkAHEAD"><a href="visual.html">Una Guía Visual a los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="using.html">Usando los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="howLayoutWorks.html">Cómo Funciona la Gestión de Diseño</a></div>
                <div class="linkAHEAD"><a href="layoutlist.html">Cómo Usar Varios Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar BorderLayout</a></div>
                <div class="linkAHEAD"><a href="box.html">Cómo Usar BoxLayout</a></div>
                <div class="linkAHEAD"><a href="card.html">Cómo Usar CardLayout</a></div>
                <div class="linkAHEAD"><a href="flow.html">Cómo Usar FlowLayout</a></div>
                <div class="linkAHEAD"><a href="gridbag.html">Cómo Usar GridBagLayout</a></div>
                <div class="linkAHEAD"><a href="grid.html">Cómo Usar GridLayout</a></div>
                <div class="linkAHEAD"><a href="group.html">Cómo Usar GroupLayout</a></div>
                <div class="linkBHEAD"><a href="groupExample.html">Un Ejemplo de GroupLayout</a></div>
                <div class="linkAHEAD"><a href="spring.html">Cómo Usar SpringLayout</a></div>
                <div class="nolinkAHEAD">Creando un Gestor de Diseño Personalizado</div>
                <div class="linkAHEAD"><a href="none.html">Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto)</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes de Diseño</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Disponer Componentes Dentro de un Contenedor
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Disponer Componentes Dentro de un Contenedor</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="spring.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="none.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Creando un Gestor de Diseño Personalizado</h1>
            </div>
            <div id="PageContent">
                <p>
                    Antes de empezar a crear un gestor de diseño personalizado, asegúrese de que ningún gestor de diseño se ajuste
                    a sus requerimientos. En particular, los gestores de diseño tales como 
                    <a href="gridbag.html"><code>GridBagLayout</code></a>, <a href="spring.html"><code>SpringLayout</code></a>, y
                    <a href="box.html"><code>BoxLayout</code></a> son lo bastante flexibles para trabajar en muchos casos. Puede
                    también encontrar gestores de diseño de otras fuentes, como por ejemplo Internet. Finalmente, puede simplificar
                    el diseño agrupando componentes en contenedores tales como los
                    <a class="TutorialLink" target="_top" href="../components/panel.html">paneles</a>.
                </p>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;Esta lección cubre la escritura de código de diseño a mano, lo cual puede ser
                    desafiante. Si no está interesado en aprender todos los detalles de la gestión del diseño, preferirá usar el
                    gestor de diseño <code>GroupLayout</code> combinado con una herramienta de construcción para diseñar su IGU.
                    Una de tales herramientas de construcción es el
                    <a class="TutorialLink" target="_top" href="../learn/index.html">EID NetBeans</a>. De otra manera, si quiere
                    codificar a mano y no quiere usar <code>GroupLayout</code>, entonces se recomienda <code>GridBagLayout</code>
                    como el gestor de diseño más flexible y potente.
                    <hr />
                </div>
                <p>
                    Si está interesado en usar JavaFX para crear su IGU, vea
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/layout-tutorial/index.html">Trabajar Con Diseños en JavaFX</a>.
                </p>
                <p>
                    Para crear un gestor de diseño personalizado, debe crear una clase que implemente el interfaz
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/java/awt/LayoutManager.html">
                        <code>LayoutManager</code></a>. Puede o implementarlo directamente, o implementar su subinterfaz,
                    <a class="APILink" target="_blank" 
                       href="https://docs.oracle.com/javase/8/docs/api/java/awt/LayoutManager2.html">
                        <code>LayoutManager2</code></a>.
                </p>
                <p>
                    Cada gestor de diseño debe implementar al menos los cinco métodos siguientes, los cuales se requieren por el
                    interfaz <code>LayoutManager</code>:
                </p>
                <dl>
                    <dt>
                        <strong><code>void addLayoutComponent(String, Component)</code></strong>
                    </dt>
                    <dd>
                        Llamado por los métodos <code>add</code> de la clase <code>Container</code>. Los gestores de diseño que no
                        asocian cadenas con sus componentes generalmente no hacen nada en este método.
                    </dd>
                    <dt>
                        <strong><code>void removeLayoutComponent(Component)</code></strong>
                    </dt>
                    <dd>
                        Llamado por los métodos <code>remove</code> y <code>removeAll</code> de <code>Container</code>. Los
                        gestores de diseño sobreescriben este método para borrar un estado interno que puede estar asociado con el
                        <code>Component</code>.
                    </dd>
                    <dt>
                        <strong><code>Dimension preferredLayoutSize(Container)</code></strong>
                    </dt>
                    <dd>
                        Llamado por el método <code>getPreferredSize</code> de la clase <code>Container</code>, que es en sí mismo
                        llamado bajo una variedad de circunstancias. Este método debe calcular y devolver el tamaño ideal del
                        contenedor, asumiendo que los tamaños de los componentes que contiene serán iguales o superiores a sus
                        tamaños preferidos. Este método debe tener en cuenta los bordes internos del contenedor, que son devueltos
                        por el método
                        <a class="APILink" target="_blank" 
                           href="https://docs.oracle.com/javase/8/docs/api/java/awt/Container.html#getInsets--">
                            <code>getInsets</code></a> .
                    </dd>
                    <dt>
                        <strong><code>Dimension minimumLayoutSize(Container)</code></strong>
                    </dt>
                    <dd>
                        Llamado por el método <code>getMinimumSize</code> de <code>Container</code>, que es en sí mismo llamado
                        bajo una variedad de circunstancias. Este método debe calcular y devolver el tamaño mínimo del contenedor,
                        asumiendo que los tamaños de los componentes que contiene estarán en, o por encima, de sus tamaños mínimos.
                        Este método debe tener en cuenta los bordes internos del contenedor, que son devueltos por el método
                        <code>getInsets</code>.
                    </dd>
                    <dt>
                        <strong><code>void layoutContainer(Container)</code></strong>
                    </dt>
                    <dd>
                        Llamado para posicionar y dar tamaño a cada uno de los componentes en el contenedor. El método
                        <code>layoutContainer</code> de un gestor de diseño no dibuja en realidad los componentes. Simplemente
                        invoca uno o más de uno de los métodos <code>setSize</code>, <code>setLocation</code>, y
                        <code>setBounds</code> del componente para establecer el tamaño y posición del componente.
                        <p>
                            Este método debe tener en cuenta los bordes internos del contenedor, que son devueltos por el método
                            <code>getInsets</code>. Si es apropiado, también tendrá en cuenta la orientación del contenedor
                            (devuelta por el método
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html#getComponentOrientation--">
                                <code>getComponentOrientation</code></a>). No puede asumir que los métodos 
                            <code>preferredLayoutSize</code> o <code>minimumLayoutSize</code> serán llamados antes de que se
                            llame a <code>layoutContainer</code>.
                        </p>
                    </dd>
                </dl>
                <p>
                    Además de implementar los cinco métodos anteriores, los gestores de diseño generalmente implementan al
                    menos un constructor público y el método <code>toString</code>.
                </p>
                <p>
                    Si desea soportar restricciones de componentes, tamaños máximos, o de alineación, entonces su gestor de diseño 
                    debe implementar el interfaz <code>LayoutManager2</code>. De hecho, por estos motivos, entre muchos otros,
                    casi todos los gestores de diseño modernos necesitarán implementar <code>LayoutManager2</code>. Ese interfaz
                    añade cinco métodos a los requeridos por <code>LayoutManager</code>:
                </p>
                <ul>
                    <li>
                        <code>addLayoutComponent(Component, Object)</code>
                    </li>
                    <li>
                        <code>getLayoutAlignmentX(Container)</code>
                    </li>
                    <li>
                        <code>getLayoutAlignmentY(Container)</code>
                    </li>
                    <li>
                        <code>invalidateLayout(Container)</code>
                    </li>
                    <li>
                        <code>maximumLayoutSize(Container)</code>
                    </li>
                </ul>
                <p>
                    De estos métodos, los más importantes son <code>addLayoutComponent(Component, Object)</code> y
                    <code>invalidateLayout(Container)</code>. El método <code>addLayoutComponent</code> se usa para añadir
                    componentes al diseño, usando el objeto de restricción especificado. El método <code>invalidateLayout</code>
                    se usa para invalidar el diseño, de forma que si el gestor de diseño tiene información almacenada en cache, esta
                    será descartada. Para más información sobre <code>LayoutManager2</code>, vea la documentación de la IPA de
                    <a class="APILink" target="_blank" 
                       href="https://docs.oracle.com/javase/8/docs/api/java/awt/LayoutManager2.html">
                        <code>LayoutManager2</code></a>.
                </p>
                <p>
                    Finalmente, cada vez que crea gestores de diseño personalizados, debe tener cuidado de mantener las referencias 
                    a aquellas instancias <code>Component</code> que ya no son hijas de <code>Container</code>. A saber, los
                    gestores de diseño deben sobreescribir <code>removeLayoutComponent</code> para eliminar cualquier estado en
                    caché relacionado con el <code>Component</code>.
                </p>
                <h2>
                    Ejemplo de un Diseño Personalizado
                </h2>
                <p>
                    El ejemplo <code>CustomLayoutDemo</code> usa un gestor de diseño personalizado llamado
                    <code>DiagonalLayout</code>. Puede encontrar el código fuente del gestoro de diseño en
                    <a class="SourceLink" target="_blank" 
                       href="../examples/layout/CustomLayoutDemoProject/src/layout/DiagonalLayout.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/layout/CustomLayoutDemoProject/src/layout/DiagonalLayout.java');return false;">
                        <code>DiagonalLayout.java</code></a>. <code>DialogLayout</code> coloca los componentes diagonalmente, de
                    izquierda a derecha, con un componente por fila. Aquí tiene una imagen de CustomLayoutDemo usando
                    <code>DialogLayout</code> para disponer cinco botones.
                </p>
                <p style="text-align: center">
                    <img src="../../figures/uiswing/layout/CustomLayoutDemo.png" width="243" height="184" class="imgbottom"
                         alt="A snapshot of CustomLayoutDemo" />
                </p>
                <p>
                    Pulse el botón Lanzar para ejecutar <code>CustomLayoutDemo</code> usando
                    <a class="OutsideLink" target="_blank"
                       href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">Java&trade; Web Start</a> 
                    (<a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue KDJ 7 o posterior</a>).
                    Alternativamente, para compilar y ejecutar el ejemplo usted mismo, consulte el
                    <a href="../examples/layout/index.html#CustomLayoutDemo">índice de ejemplos</a>.
                </p>
                <div style="text-align: center">
                    <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/CustomLayoutDemoProject/CustomLayoutDemo.jnlp">
                        <img src="../../images/jws-launch-button.png" width="88" height="23" class="imgbottom"
                             alt="Lanza el ejemplo CustomLayoutDemo" />
                    </a>
                </div>
                <br />
            </div>
            <div class="NavBit">
                <a target="_top" href="spring.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="none.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio &quot;
                            Los Tutoriales de Java&quot; está sujeto a estos
                            <a href="../../information/cpyr.html">avisos legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página anterior:</b> Cómo Usar SpringLayout<br />
            <b>Página siguiente:</b> Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto)
        </div>
    </body>
</html>