<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Usar FlowLayout (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing
            &gt; Disponer Componentes Dentro de un Contenedor)
        </title>
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css" />
        <script  src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Disponer Componentes Dentro de un Contenedor</a></div>
                <div class="linkAHEAD"><a href="visual.html">Una Guía Visual a los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="using.html">Usando los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="howLayoutWorks.html">Cómo Funciona la Gestión de Diseño</a></div>
                <div class="linkAHEAD"><a href="layoutlist.html">Cómo Usar Varios Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar BorderLayout</a></div>
                <div class="linkAHEAD"><a href="box.html">Cómo Usar BoxLayout</a></div>
                <div class="linkAHEAD"><a href="card.html">Cómo Usar CardLayout</a></div>
                <div class="nolinkAHEAD">Cómo Usar FlowLayout</div>
                <div class="linkAHEAD"><a href="gridbag.html">Cómo Usar GridBagLayout</a></div>
                <div class="linkAHEAD"><a href="grid.html">Cómo Usar GridLayout</a></div>
                <div class="linkAHEAD"><a href="group.html">Cómo Usar GroupLayout</a></div>
                <div class="linkBHEAD"><a href="groupExample.html">Un Ejemplo de GroupLayout</a></div>
                <div class="linkAHEAD"><a href="spring.html">Cómo Usar SpringLayout</a></div>
                <div class="linkAHEAD"><a href="custom.html">Creando un Gestor de Diseño Personalizado</a></div>
                <div class="linkAHEAD"><a href="none.html">Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto)</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes de Diseño</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Disponer Componentes Dentro de un Contenedor
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Disponer Componentes Dentro de un Contenedor</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="card.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="gridbag.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Usar FlowLayout</h1>
            </div>
            <div id="PageContent">
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;Esta lección cubre la escritura de código de diseño a mano, lo cual puede ser
                    desafiante. Si no está interesado en aprender todos los detalles de la gestión del diseño, preferirá usar el
                    gestor de diseño <code>GroupLayout</code> combinado con una herramienta de construcción para diseñar su IGU.
                    Una de tales herramientas de construcción es el
                    <a class="TutorialLink" target="_top" href="../learn/index.html">EID NetBeans</a>. De otra manera, si quiere
                    codificar a mano y no quiere usar <code>GroupLayout</code>, entonces se recomienda <code>GridBagLayout</code>
                    como el gestor de diseño más flexible y potente.
                    <hr />
                </div>
                <p>
                    Si está interesado en usar JavaFX para crear su IGU, vea
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/layout-tutorial/index.html">Trabajar Con Diseños en JavaFX</a>.
                </p>
                <p>
                    La clase
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/java/awt/FlowLayout.html">
                        <code>FlowLayout</code></a>  proporciona una gestor de diseño muy simple que es usado, por defecto, por los 
                    objetos <code>JPanel</code>. La siguiente figura representa una captura de una aplicación que usa el diseño
                    de flujo:
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/layout/FlowLayoutDemo1.png" width="471" height="106" class="imgbottom"
                         alt="Una captura de FlowLayoutDemo" />
                </p>
                <p>
                    Pulse el botón Lanzar para ejecutar FlowLayoutDemo usando
                    <a class="OutsideLink" target="_blank"
                       href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">Java&trade; Web Start</a> (
                       <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue KDJ 7 o posterior</a>).
                       Alternativamente, para compilar y ejecutar el ejemplo usted mismo, consulte el
                       <a href="../examples/layout/index.html#FlowLayoutDemo">índice de ejemplos</a>.
                </p>
                <div style="text-align: center">
                    <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/FlowLayoutDemoProject/FlowLayoutDemo.jnlp">
                        <img src="../../images/jws-launch-button.png" width="88" height="23" class="imgbottom"
                             alt="Lanza la aplicación FlowLayoutDemo" />
                    </a>
                </div>
                <br />
                <p>
                    El código completo de esta demostración está en el fichero
                    <a class="SourceLink" target="_blank"
                       href="../examples/layout/FlowLayoutDemoProject/src/layout/FlowLayoutDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/layout/FlowLayoutDemoProject/src/layout/FlowLayoutDemo.java');return false;">
                        <code>FlowLayoutDemo.java</code></a>.
                </p>
                <p>
                    La clase <code>FlowLayout</code> coloca los componentes en una fila, dimensionados a su tamaño preferido. Si el
                    espacio horizontal en el contenedor es demasiado pequeño para colocar todos los componentes eun una fila, la 
                    clase <code>FlowLayout</code> usa múltiples filas. Si el contenedor es más ancho de lo necesario para una fila
                    de componentes, la fila es, por defecto, centrada horizontalmente dentro del contenedor. Para especificar que
                    la fila está alineada a la izquierda o a la derecha, use un constructor de <code>FlowLayout</code> que
                    tome un argumento de alineación. Otro constructor de la clase <code>FlowLayout</code>  especifica cuánta
                    cantidad de relleno vertical o horizontal es colocado alrededor de los componentes.
                </p>
                <p>
                    El trozo de código de bajo crea un objeto <code>FlowLayout</code> y los componentes que maneja.
                </p>
                <div class="codeblock">
                    <pre>
FlowLayout experimentLayout = new FlowLayout();

...

    compsToExperiment.setLayout(experimentLayout);

    compsToExperiment.add(new JButton("Button 1"));
    compsToExperiment.add(new JButton("Button 2"));
    compsToExperiment.add(new JButton("Button 3"));
    compsToExperiment.add(new JButton("Long-Named Button 4"));
    compsToExperiment.add(new JButton("5"));
                    </pre>
                </div>
                <p>
                    Seleccione la opción Izquierda a Derecha o la opción Derecha a Izquierda y pulse el botón Aplicar orientación
                    para configurar la orientación de los componentes. El trozo de código siguiente aplica la orientación Izquierda
                    a Derecha a los componentes de <code>experimentLayout</code>.
                </p>
                <div class="codeblock">
                    <pre>
        compsToExperiment.setComponentOrientation(
                ComponentOrientation.LEFT_TO_RIGHT);
                    </pre>
                </div>
                <h2>
                    <a id="api">La IPA de FlowLayout</a>
                </h2>
                <p>
                    La siguiente tabla lista los constructores de la clase <code>FlowLayout</code>.
                </p>
                <table class="celda">
                    <caption>Constructores de la clase <code>FlowLayout</code></caption>
                    <tr>
                        <th id="h1" class="celda">Constructor</th>
                        <th id="h2" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/FlowLayout.html#FlowLayout--">
                                <code>FlowLayout()</code>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            Construye un nuevo objeto <code>FlowLayout</code> con una alineación centrada y rellenos horizontales
                            y verticales con el tamaño por defecto de 5 pixeles.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/FlowLayout.html#FlowLayout-int-">
                                <code>FlowLayout(int <em>align</em>)</code>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            Crea un nuevo gestor de diseño de flujo con la alineación indicada y los rellenos horizontales y
                            verticales con el tamaño de 5 píxeles. El argumento de alineación puede ser
                            <code>FlowLayout.LEADING</code>,<code>FlowLayout.CENTER</code>, o <code>FlowLayout.TRAILING</code>.
                            Cuando el objeto <code>FlowLayout</code> controla un contenedor con una orientación de componentes de
                            izquierda a derecha (por defecto), el valor <code>LEADING</code> especifica que los componentes sean
                            alineados a la izquierda y el valor <code>TRAILING</code> especifica que los componentes sean alineados
                            a la derecha.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/FlowLayout.html#FlowLayout-int-int-int-">
                                <code>FlowLayout (int <em>align</em>, int <em>hgap</em>, int <em>vgap</em>)</code>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            Crea un nuevo gestor de diseño de flujo con la alineación indicada y los rellenos horizontales y 
                            verticales indicados. Los argumentos <code>hgap</code> y <code>vgap</code> especifica el número de
                            píxeles para colocar entre los componentes.
                        </td>
                    </tr>
                </table>
                <h2>
                    <a id="eg">Ejemplos que Usan FlowLayout</a>
                </h2>
                <p>
                    La siguiente tabla lista ejemplos de código que usan la clase <code>FlowLayout</code> y suministran enlaces
                    a las secciones relacionadas.
                </p>
                <table>
                    <caption>Ejemplos de código que usan la clase FlowLayout</caption>
                    <tr>
                        <th id="h101" class="izq">Ejemplo</th>
                        <th id="h102" class="izq">Dónde Se Describe</th>
                        <th id="h103" class="izq">Notas</th>
                    </tr>
                    <tr>
                        <td headers="h101" style="vertical-align: top;">
                            <a href="../examples/layout/index.html#FlowLayoutDemo"><code>FlowLayoutDemo</code></a>
                        </td>
                        <td headers="h102" style="vertical-align: top;">Esta página</td>
                        <td headers="h103" style="vertical-align: top;">
                            Configura un panel de contenido usa <code>FlowLayout</code>. si establece la constante
                            <code>RIGHT_TO_LEFT</code> a <code>true</code> y recompila, puede ver cómo <code>FlowLayout</code>
                            maneja un contenedor que tiene una orientación de componentes de derecha a izquierda.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" style="vertical-align: top;">
                            <a href="../examples/layout/index.html#CardLayoutDemo"><code>CardLayoutDemo</code></a>
                        </td>
                        <td headers="h102" style="vertical-align: top;"><a href="card.html">Cómo Usar CardLayout</a></td>
                        <td headers="h103" style="vertical-align: top;">
                            Centra un componente muy bien en la parte superior de un <code>BorderLayout</code>, y colocando el
                            componente en un <code>JPanel</code> que usa un <code>FlowLayout</code>.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" style="vertical-align: top;">
                            <a class="TutorialLink" target="_top" href="../examples/components/index.html#ButtonDemo">
                                <code>ButtonDemo</code>
                            </a>
                        </td>
                        <td headers="h102" style="vertical-align: top;">
                            <a class="TutorialLink" target="_top" href="../components/button.html">
                                Cómo Usar Botones, Casillsa de Verificación, y Botones de Radio
                            </a>
                        </td>
                        <td headers="h103" style="vertical-align: top;">
                            Usa el <code>FlowLayout</code> por defecto de un <code>JPanel</code>.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" style="vertical-align: top;">
                            <a class="TutorialLink" target="_top" 
                               href="../examples/components/index.html#TextInputDemo"><code>TextInputDemo</code></a>
                        </td>
                        <td headers="h102" style="vertical-align: top;">
                            <a class="TutorialLink" target="_top" 
                               href="../components/formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a>
                        </td>
                        <td headers="h103" style="vertical-align: top;">
                            Usa un panel con un <code>FlowLayout</code> alineado a la derecha presentando dos botones.
                        </td>
                    </tr>
                </table>
            </div>
            <div class="NavBit">
                <a target="_top" href="card.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="gridbag.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página anterior:</b> Cómo Usar CardLayout<br />
            <b>Página siguiente:</b> Cómo Usar GridBagLayout
        </div>
    </body>
</html>