<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Usar GridBagLayout (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing
            &gt; Disponer Componentes Dentro de un Contenedor)
        </title>
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css" />
        <script  src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Disponer Componentes Dentro de un Contenedor</a></div>
                <div class="linkAHEAD"><a href="visual.html">Una Guía Visual a los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="using.html">Usando los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="howLayoutWorks.html">Cómo Funciona la Gestión de Diseño</a></div>
                <div class="linkAHEAD"><a href="layoutlist.html">Cómo Usar Varios Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar BorderLayout</a></div>
                <div class="linkAHEAD"><a href="box.html">Cómo Usar BoxLayout</a></div>
                <div class="linkAHEAD"><a href="card.html">Cómo Usar CardLayout</a></div>
                <div class="linkAHEAD"><a href="flow.html">Cómo Usar FlowLayout</a></div>
                <div class="nolinkAHEAD">Cómo Usar GridBagLayout</div>
                <div class="linkAHEAD"><a href="grid.html">Cómo Usar GridLayout</a></div>
                <div class="linkAHEAD"><a href="group.html">Cómo Usar GroupLayout</a></div>
                <div class="linkBHEAD"><a href="groupExample.html">Un Ejemplo de GroupLayout</a></div>
                <div class="linkAHEAD"><a href="spring.html">Cómo Usar SpringLayout</a></div>
                <div class="linkAHEAD"><a href="custom.html">Creando un Gestor de Diseño Personalizado</a></div>
                <div class="linkAHEAD"><a href="none.html">Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto)</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes de Diseño</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Disponer Componentes Dentro de un Contenedor
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Disponer Componentes Dentro de un Contenedor</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="flow.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="grid.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Usar GridBagLayout</h1>
            </div>
            <div id="PageContent">
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;Esta lección cubre la escritura de código de diseño a mano, lo cual puede ser
                    desafiante. Si no está interesado en aprender todos los detalles de la gestión del diseño, preferirá usar el
                    gestor de diseño <code>GroupLayout</code> combinado con una herramienta de construcción para diseñar su IGU.
                    Una de tales herramientas de construcción es el
                    <a class="TutorialLink" target="_top" href="../learn/index.html">EID NetBeans</a>. De otra manera, si quiere
                    codificar a mano y no quiere usar <code>GroupLayout</code>, entonces se recomienda <code>GridBagLayout</code>
                    como el gestor de diseño más flexible y potente.
                    <hr />
                </div>
                <p>
                    Si está interesado en usar JavaFX para crear su IGU, vea
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/layout-tutorial/index.html">Trabajar Con Diseños en JavaFX</a>.
                </p>
                <p>
                    Aquí tiene una imagen de un ejemplo que usa 
                    <a class="APILink" target="_blank" 
                       href="https://docs.oracle.com/javase/8/docs/api/java/awt/GridBagLayout.html"><code>GridBagLayout</code></a>.
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/layout/GridBagLayoutDemo.png" width="250" height="164" class="imgbottom"
                         alt="Una captura de GridBagLayoutDemo" />
                </p>
                <p>
                    Pulse el botón Lanzar para ejecutar GridBagLayoutDemo usando
                    <a class="OutsideLink" target="_blank"
                       href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">Java&trade; Web Start</a> (
                       <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue KDJ 7 o posterior</a>).
                       Alternativamente, para compilar y ejecutar el ejemplo usted mismo, consulte el
                       <a href="../examples/layout/index.html#GridBagLayoutDemo">índice de ejemplos</a>.
                </p>
                <div style="text-align: center">
                    <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/GridBagLayoutDemoProject/GridBagLayoutDemo.jnlp">
                        <img src="../../images/jws-launch-button.png" width="88" height="23" class="imgbottom"
                             alt="Lanza el ejemplo GridBagLayoutDemo" />
                    </a>
                </div>
                <br />
                <p>
                    El código de GridBagDemo está en 
                    <a class="SourceLink" target="_blank"
                       href="../examples/layout/GridBagLayoutDemoProject/src/layout/GridBagLayoutDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/layout/GridBagLayoutDemoProject/src/layout/GridBagLayoutDemo.java');
                               return false;">
                        <code>GridBagLayoutDemo.java</code></a>.
                </p>
                <p>
                    <code>GridBagLayout</code> es uno de los más flexibles &HorizontalLine; y complejos &HorizontalLine; gestores de
                    diseño que la plataforma de Java suministra. Un <code>GridBagLayout</code> coloca componentes en una cuadrícula
                    de filas y columnas, permitiendo a componentes especificos expandirse por múltiples filas o columnas. No todas 
                    las filas necesariamente tienen la misma altura. De forma similar, no todas las columnas necesariamente tienen 
                    la misma anchura. Esencialmente, <code>GridBagLayout</code> coloca los componentes en rectángulos (celdas) en
                    una cuadrícula, y entonces usa los tamaños preferidos de los componentes para determinar qué grandes deben ser
                    las celdas.
                </p>
                <p>
                    La siguiente figura muestra la cuadrícula para el applet precedente. Como puede ver, la cuadrícula tiene tres
                    filas y tres columnas. El botón en la segunda fila se expande a todas las columnas; el botón en la tercera fila
                    se expande en las dos columnas de la derecha.
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/layout/GridBagLayoutDemoGrid.jpg" width="250" height="164" class="imgbottom"
                         alt="Una captura de GridBagLayoutDemo con su cuadrícula" />
                </p>
                <p>
                    Si agranda la ventana como se muestra en la siguiente figura, notará que la fila inferior, la cual contiene
                    el botón 5, obtiene todo el nuevo espacio vertical. El espacio horizontal nuevo se divide de manera uniforme
                    entre todas las columnas. Este comportamiento de cambio de tamaño se basa en los pesos que el programa asigna a
                    los componentes individuales en el <code>GridBagLayout</code>. También notará que cada componente ocupa todo el 
                    espacio horizontal disponible &HorizontalLine; pero no (como usted puede ver con el botón 5) todo el
                    espacio vertical disponible. Este comportamiento es también especificado por el programa.
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/layout/gridbagbigA.png" width="388" height="182" class="imgbottom"
                         alt="GridBagLayout mostrado después de que el usuario lo agrandó." />
                </p>
                <p>
                    La forma en que el programa especifica las características de tamaño y posición de sus componentes es
                    especificando <em>restricciones</em> para cada componente. La aproximación preferida para establecer
                    restricciones en un componente es usar la variante <code>Container.add</code>, pasándole un objeto
                    <code>GridBagConstraints</code>, como se demostrará en las siguientes secciones.
                </p>
                <p>
                    Las secciones siguientes explican las restricciones que puede establecer y suministra ejemplos.
                </p>
                <h2>
                    <a id="gridbagConstraints">Especificar Restricciones</a>
                </h2>

                <p>
                    El siguiente código es típico de lo que va en un contenedor que usa un
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/java/awt/GridBagLayout.html"><code>GridBagLayout</code></a>.
                       Verá un ejemplo más detallado en la siguiente sección.
                </p>
                <div class="codeblock">
                    <pre>
JPanel pane = new JPanel(new GridBagLayout());
GridBagConstraints c = new GridBagConstraints();

<em>//Para cada componente a ser añadido a este contenedor:</em>
<em>//...Crea el componente...</em>
<em>//...Establece las variables de instancia en la instancia GridBagConstraints...</em>
pane.add(theComponent, c);
                    </pre>
                </div>
                <p>
                    Como habrá adivinado del ejemplo anterior, es posible reusar la misma instancia <code>GridBagConstraints</code>
                    para múltiples componentes, incluso si los componentes tienen diferentes restricciones. Sin embargo, se 
                    recomienda que no reuse <code>GridBagConstraints</code>, ya que esto puede llevarlo a introducir errores
                    sutiles si olvida restablecer los campos para cada nueva instancia.
                </p>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;La discusión siguiente asume que <code>GridBagLayout</code> controla un contenedor
                    que tiene un componente con orientación de izquierda a derecha.
                    <hr />
                </div>
                <p>
                    Puede establecer las siguientes variables de instancia
                    <a class="APILink" target="_blank" 
                       href="https://docs.oracle.com/javase/8/docs/api/java/awt/GridBagConstraints.html">
                        <code>GridBagConstraints</code></a>:
                </p>
                <dl>
                    <dt>
                        <strong><code>gridx</code></strong>, <strong><code>gridy</code></strong>
                    </dt>
                    <dd>
                        Especifica la fila y columna en la esquina superior izquierda del componente. La columna más a la izquierda
                        tiene la dirección <code>gridx=0</code> y la fila superior tiene dirección <code>gridy=0</code>. Use
                        <code>GridBagConstraints.RELATIVE</code> (el valor por defecto) para especificar que el componente es
                        colocado justo a la derecha de (para <code>gridx</code>) o justo debajo de (para <code>gridy</code>) el
                        componente que fue añadido al contenedor justo antes de que este componente fuera añadido. Recomendamos 
                        especificar los valores <code>gridx</code> y <code>gridy</code> para cada componente en vez de simplemente
                        usar <code>GridBagConstraints.RELATIVE</code>; esto tiende a dar como resultado diseños más predecibles.
                    </dd>
                    <dt>
                        <strong><code>gridwidth</code></strong>, <strong><code>gridheight</code></strong>
                    </dt>
                    <dd>
                        Especifica el número de columnas (para <code>gridwidth</code>) o filas (para <code>gridheight</code>) en el
                        área de visualización del componente. Estas restricciones especifican el número de celdas que el componente
                        usa, <em>no</em> el número de píxeles que usa. El valor por defecto es 1. Use
                        <code>GridBagConstraints.REMAINDER</code> para especificar que el componente sea el último en su fila (para
                        <code>gridwidth</code>) o columna (para <code>gridheight</code>). Use
                        <code>GridBagConstraints.RELATIVE</code> para especificar que el componente sea el siguiente
                        al último en su propia fila (para <code>gridwidth</code>) o columna (para <code>gridheight</code>).
                        Recomendamos especificar los valores <code>gridwidth</code> y <code>gridheight</code> para cada componente
                        en vez de simplemente usar <code>GridBagConstraints.RELATIVE</code> y
                        <code>GridBagConstraints.REMAINDER</code>; esto tiende a dar como resultado diseños más predecibles.
                        <p>
                            <strong>Nota:</strong> <code>GridBagLayout</code> no permite a los componentes expandirse por múltiples
                            filas a menos que el componente esté en la columna más a la izquierda o haya especificado valores
                            positivos <code>gridx</code> y <code>gridy</code> para el componente.
                        </p>
                    </dd>
                    <dt>
                        <strong><code>fill</code></strong>
                    </dt>
                    <dd>
                        Usado cuando el área de visualización del componente es más grande que el tamaño solicitado por el
                        componente para determinar si y cómo redimensionar el componente. Los valores válidos (definidos como 
                        constantes <code>GridBagConstraints</code>) incluido <code>NONE</code> (por defecto),
                        <code>HORIZONTAL</code> (hace el componente lo suficientemente ancho para rellenar su area de visualización
                        horizontalmente, pero no cambia su altura), <code>VERTICAL</code> (hace al componente lo suficientemente
                        alto para llenar su área de visualización verticalmente, pero no cambia su anchura), y <code>BOTH</code>
                        (hace que el componente llene su área de visualización completamente).
                    </dd>
                    <dt>
                        <strong><code>ipadx</code></strong>, <strong><code>ipady</code></strong>
                    </dt>
                    <dd>
                        Especifica el rellenado interno: cuánto añadir al tamaño del componente. El valor por defecto es cero. El 
                        ancho del componente será al menos su anchura mínima más <code>ipadx*2</code> píxeles, ya que el rellenado
                        se aplica a ambos lados del componente. Del mismo modo, la altura del componente será al menos su altura
                        mínima más <code>ipady*2</code> píxeles.
                    </dd>
                    <dt>
                        <strong><code>insets</code></strong>
                    </dt>
                    <dd>
                        Especifica el rellenado externo del componente -- La cantidad mínima de espacion entre el componente y los
                        límites de su área de visualización. El valor se especifica como un objeto
                        <a class="APILink" target="_blank"
                           href="https://docs.oracle.com/javase/8/docs/api/java/awt/Insets.html"><code>Insets</code></a>. Por
                           defecto, un componente no tiene relleno externo.
                    </dd>
                    <dt>
                        <strong><code>anchor</code></strong>
                    </dt>
                    <dd>
                        Usado cuando el componente es más pequeño que su área de visualización para determinar dónde (dentro del 
                        área) se colocará el componente. Los valores válidos (definidos como constantes
                        <code>GridBagConstraints</code>) son <code>CENTER</code> (por defecto), <code>PAGE_START</code>,
                        <code>PAGE_END</code>, <code>LINE_START</code>, <code>LINE_END</code>,
                        <code>FIRST_LINE_START</code>, <code>FIRST_LINE_END</code>, <code>LAST_LINE_END</code>, y 
                        <code>LAST_LINE_START</code>.
                        <p>
                            Aquí tiene una imagen de cómo estos valores son interpretados en un contenedor que tiene la orientación
                            de componentes por defecto, de izquierda a derecha.
                        </p>
                        <table>
                            <tr>
                                <td style="padding:10px">FIRST_LINE_START</td>
                                <td style="padding:10px">PAGE_START</td>
                                <td style="padding:10px;text-align:right">FIRST_LINE_END</td>
                            </tr>
                            <tr>
                                <td style="padding:10px">LINE_START</td>
                                <td style="padding:10px;text-align:center">CENTER</td>
                                <td style="padding:10px;text-align:right">LINE_END</td>
                            </tr>
                            <tr>
                                <td style="padding:10px">LAST_LINE_START</td>
                                <td style="padding:10px">PAGE_END</td>
                                <td style="padding:10px;text-align:right">LAST_LINE_END</td>
                            </tr>
                        </table>
                        <div class="note">
                            <hr />
                            <strong>Nota de versión:</strong>&nbsp;Las constantes <code>PAGE_*</code> and <code>*LINE_*</code>
                            fueron introducidas en 1.4. Las versiones anteriores requerían valores con nombres de brújula. Por 
                            ejemplo, <code>NORTHEAST</code> indica la parte superior-derecha del área de visualización. Recomendamos
                            que utilice las nuevas constantes, en su lugar, ya que permiten una localización más fácil.
                            <hr />
                        </div>
                    </dd>
                    <dt>
                        <strong><code>weightx</code></strong>, <strong><code>weighty</code></strong>
                    </dt>
                    <dd>
                        Especificar pesos es un arte que puede tener un impacto significativo en la apariencia de los componentes 
                        que un <code>GridBagLayout</code> controla. Los pesos son usados para determinar cómo se distribuye el
                        espacio entre columnas (<code>weightx</code>) y entre filas (<code>weighty</code>); esto es importante para
                        especificar el comportamiento de redimensionamiento.
                        <p>
                            A menos que especifique al menos un valor no cero para <code>weightx</code> o <code>weighty</code>,
                            todos los componentes se agrupan en el centro de su contenedor. Esto es debido a que cuando el peso es 
                            0.0 (por defecto), el <code>GridBagLayout</code> coloca cualquier espacio extra entre su cuadrícula
                            de celda y los límites del contenedor.
                        </p>
                        <p>
                            Generalmente los pesos son especificados con 0.0 y 1.0 siendo los extremos: los números intermedios se
                            usan según sea necesario. Los números más grandes indican que la fila o columna del componente obtendrán
                            más espacio. Para cada columna, el peso está relacionado con el más alto <code>weightx</code>
                            especificado para un componente dentro de esa columna, con cada peso de componente multicolumna siendo
                            parttido de alguna forma entre las columnas en las que el componente está. Del mismo modo, cada peso de
                            fila está relacionado al más alto <code>weighty</code> especificado para un componente dentro de esa
                            fila. El espacio extra tiende a ir hacia la columna de la derecha y fila inferior.
                        </p>
                    </dd>
                </dl>
                <p>
                    La siguiente sección describe las restricciones en profundidad, en el contexto de explicar cómo el programa de
                    ejemplo funciona.
                </p>
                <h2>
                    <a id="gridbagExample">El Ejemplo Explicado</a>
                </h2>
                <p>
                    Aquí, de nuevo, tiene una imagen de la aplicación GridBagLayoutDemo.
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/layout/GridBagLayoutDemo.png" width="250" height="164" class="imgbottom"
                         alt="Una captura de GridBagLayoutDemo" />
                </p>
                <p>
                    Pulse el botón Lanzar para ejecutar GridBagLayoutDemo usando
                    <a class="OutsideLink" target="_blank"
                       href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">Java&trade; Web Start</a>
                    (<a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue KDJ 7 o posterior</a>).
                    Alternativamente, para compilar y ejecutar el ejemplo usted mismo, consulte el
                       <a href="../examples/layout/index.html#GridBagLayoutDemo">índice de ejemplos</a>.
                </p>
                <div style="text-align: center">
                    <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/GridBagLayoutDemoProject/GridBagLayoutDemo.jnlp">
                        <img src="../../images/jws-launch-button.png" width="88" height="23" class="imgbottom"
                             alt="Lanza el ejemplo GridBagLayoutDemo" />
                    </a>
                </div>
                <br />
                <p>
                    El código siguiente crea el <code>GridBagLayout</code> y los componentes que maneja. Puede encontar el fichero
                    fuente entero en
                    <a class="SourceLink" target="_blank"
                       href="../examples/layout/GridBagLayoutDemoProject/src/layout/GridBagLayoutDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/layout/GridBagLayoutDemoProject/src/layout/GridBagLayoutDemo.java');
                               return false;">
                        <code>GridBagLayoutDemo.java</code>
                    </a>.
                </p>
                <div class="codeblock">
                    <pre>
JButton button;
pane.setLayout(new GridBagLayout());
GridBagConstraints c = new GridBagConstraints();
if (shouldFill) {
                //altura natural, ancho máximo
                c.fill = GridBagConstraints.HORIZONTAL;
}

button = new JButton("Button 1");
if (shouldWeightX) {
                   c.weightx = 0.5;
}
c.fill = GridBagConstraints.HORIZONTAL;
c.gridx = 0;
c.gridy = 0;
pane.add(button, c);

button = new JButton("Button 2");
c.fill = GridBagConstraints.HORIZONTAL;
c.weightx = 0.5;
c.gridx = 1;
c.gridy = 0;
pane.add(button, c);

button = new JButton("Button 3");
c.fill = GridBagConstraints.HORIZONTAL;
c.weightx = 0.5;
c.gridx = 2;
c.gridy = 0;
pane.add(button, c);

button = new JButton("Long-Named Button 4");
c.fill = GridBagConstraints.HORIZONTAL;
c.ipady = 40;      //hace este componente alto
c.weightx = 0.0;
c.gridwidth = 3;
c.gridx = 0;
c.gridy = 1;
pane.add(button, c);

button = new JButton("5");
c.fill = GridBagConstraints.HORIZONTAL;
c.ipady = 0;       //restablecido a lo predeterminado
c.weighty = 1.0;   //solicita cualquier espacio vertical adicional
c.anchor = GridBagConstraints.PAGE_END; //fondo del espacio
c.insets = new Insets(10,0,0,0);  //relleno superior
c.gridx = 1;       //alineado con el botón 2
c.gridwidth = 2;   //2 columnas de ancho
c.gridy = 2;       //tercera fila
pane.add(button, c);
                    </pre>
                </div>
                <p>
                    Este ejemplo usa un instancia <code>GridBagConstraints</code> para todos los componentes que el
                    <code>GridBagLayout</code> gestiona, sin embargo en situaciones de la vida real se recomienda que no reutilize
                    <code>GridBagConstraints</code>, ya que esto puede llevarlo a introducir errores sutiles si olvida restablecer
                    los campos para cada nueva instancia. Justo antes de que cada componente se añada al contenedor, el código
                    establece (o restablece a los valores por defecto) las variables de instancia apropiadas en el objeto 
                    <code>GridBagConstraints</code>. Luego agrega el componente a su contenedor, especificando el objeto
                    <code>GridBagConstraints</code> como el segundo argumento al método <code>add</code>.
                </p>
                <p>
                    Por ejemplo, para hacer que el botón 4 sea extra alto, el ejemplo tiene este código:
                </p>
                <div class="codeblock">
                    <pre>
c.ipady = 40;
                    </pre>
                </div>
                <p>
                    Y antes de establecer las restricciones del componente siguiente, el código restablece el valor de 
                    <code>ipady</code> a su valor por defecto:
                </p>
                <div class="codeblock">
                    <pre>
c.ipady = 0;
                    </pre>
                </div>
                <p>
                    Si el área de visualización del componente es más grande que el componente en sí mismo, luego puede especificar
                    el paradero en el área de visualización donde se mostrará el componente utilizando la restricción
                    <code>GridBagConstraints.anchor</code>. Los valores de la restricción <code>anchor</code>  pueden ser absolutos
                    (norte, sur, este, oeste, y así), o relativo a la orientación (al principio de la página, al final de la línea,
                    al inicio de la primera línea, y así), o relativo a la línea base del componente. Para una lista completa de los 
                    valores posibles de la restricción <code>anchor</code>, incluyendo valores relativos a la línea base, vea la
                    documentación IPA para
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/java/awt/GridBagConstraints.html#anchor">
                        <code>GridBagConstraints.anchor</code></a>. Puede ver en el extracto del código anterior que el Botón 5
                    especifica que debe mostrarse al final del área de visualización estableciendo un anclaje en 
                    <code>GridBagConstraints.PAGE_END</code>.
                </p>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;Los ejemplos del Tutorial usan una manera diferente para especificar el objeto de
                    restricciones, lo cual podría ver en otros programas también. En lugar de especificar las restricciones con
                    el método <code>add</code>, nuestros ejemplos invocan el método <code>setConstraints</code> sobre el objeto
                    <code>GridBagLayout</code>. Por ejemplo:
                    <div class="codeblock">
                        <pre>
GridBagLayout gridbag = new GridBagLayout();
pane.setLayout(gridbag);
...
gridbag.setConstraints(button, c);
pane.add(button);
                        </pre>
                    </div>
                    Sin embargo, recomendamos que use el método <code>Container.add</code> ya que hará el código más limpio que si
                    usa <code>setConstraints</code>.
                    <hr />
                </div>
                <p>
                    Aquí tiene una tabla que muestra todas las restricciones para cada componente en el panel de contenido de 
                    GridBagLayoutDemo. Los valores que no son los predeterminados están marcados en <b>negrita</b>. Los valores
                    que son diferentes de aquellos en la entrada de la tabla previa están marcados en <i>cursiva</i>.
                </p>
                <table>
                    <caption>Restricciones para cada componente</caption>
                    <tr>
                        <th id="h101" class="izq">Componente</th>
                        <th id="h102" class="izq">Restricciones</th>
                    </tr>
                    <tr>
                        <td headers="h101">Todos los componentes</td>
                        <td headers="h102">
                            <div class="codeblock">
                                <pre>
ipadx = 0
<b>fill = GridBagConstraints.HORIZONTAL</b>
                                </pre>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101">Button 1</td>
                        <td headers="h102">
                            <div class="codeblock">
                                <pre>
ipady = 0 <b>weightx = 0.5</b> weighty = 0.0 gridwidth = 1 anchor = GridBagConstraints.CENTER insets = new Insets(0,0,0,0) <b>gridx = 0</b> <b>gridy = 0</b>
                                </pre>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101">Button 2</td>
                        <td headers="h102">
                            <div class="codeblock">
                                <pre>
<b>weightx = 0.5</b>
<i><b>gridx = 1</b></i>
<b>gridy = 0</b>
                                </pre>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101">Button 3</td>
                        <td headers="h102">
                            <div class="codeblock">
                                <pre>
<b>weightx = 0.5</b>
<i><b>gridx = 2</b></i>
<b>gridy = 0</b>
                                </pre>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101">Button 4</td>
                        <td headers="h102">
                            <div class="codeblock">
                                <pre>
<i><b>ipady = 40</b></i>
<i>weightx = 0.0</i>
<i><b>gridwidth = 3</b></i>
<i><b>gridx = 0</b></i>
<i><b>gridy = 1</b></i>
                                </pre>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101">Button 5</td>
                        <td headers="h102">
                            <div class="codeblock">
                                <pre>
<i>ipady = 0</i>
weightx = 0.0
<i><b>weighty = 1.0</b></i>
<i><b>anchor = GridBagConstraints.PAGE_END</b></i>
<i><b>insets = new Insets(10,0,0,0)</b></i>
<i><b>gridwidth = 2</b></i>
<i><b>gridx = 1</b></i>
<i><b>gridy = 2</b></i>
                                </pre>
                            </div>
                        </td>
                    </tr>
                </table>
                <p>
                    GridBagLayoutDemo tiene dos componentes que ocupan múltiples columnas (botones 4 y 5). Para hacer el botón 4 
                    muy alto, añadimos relleno interno (<code>ipady</code>) a él. Para colocar espacio entre los botones 4 y 5,
                    usamos inserciones para añadir un mínimo de 10 píxeles sobre el botón 5, y hacemos que el botón 5 abraze el
                    borde inferior de su celda.
                </p>
                <p>
                    Todos los componentes en el contenedor <code>pane</code> son tan anchos como es posible, dadas las celdas que
                    ocupan. El programa logra esto estableciendo la variable de instancia <code>GridBagConstraints</code>
                    <code>fill</code> en <code>GridBagConstraints.HORIZONTAL</code>,



                    The program accomplishes this by setting the <code>GridBagConstraints</code> <code>fill</code> instance variable
                    to <code>GridBagConstraints.HORIZONTAL</code>, dejándolo en ese ajuste para todos los componentes. Si el
                    programa no especifica el relleno, los botones estarían en su ancho natural, como este:
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/layout/GridBagLayoutDemo-nofill.png" width="253" height="161" class="imgbottom"
                         alt="GridBagLayoutDemo con valores de relleno predeterminados." />
                </p>
                <p>
                    Cuando agranda la ventana de GridBagLayoutDemo, las columnas crecen proporcionalmente. Esto es porque cada
                    componente en la primera fila, donde cada componente tiene un ancho de una columna, tiene 
                    <code>weightx = 0.5</code>. El valor real de estos componentes <code>weightx</code> no es importante. Lo que
                    importa es que todos los componentes, y consecuentemente, todas las columnas, tienen un peso igual que es mayor
                    que 0. Si ningún componente gestionado por el <code>GridBagLayout</code> tiene establecido
                    <code>weightx</code>, entonces cuando el contenedor del componente sea más ancho, los componentes se quedarán
                    agrupados en el centro del contenedor, como este:
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/layout/GridBagLayoutDemo-noweightx.png" width="320" height="161"
                         class="imgbottom" 
                         alt="GridBagLayoutDemo con valores weightx predeterminados y agrandados por el usuario." />
                </p>
                <p>
                    Si el contenedor tiene un tamaño que es más pequeño o más grande que el tamaño preferido, entonces cualquier
                    espacio es distribuído de acuerdo a los pesos de <code>GridBagContainer</code>.
                </p>
                <p>
                    Tenga en cuenta que si amplía la ventana, la última fila es la única que se hace más alta. Esto es porque sólo 
                    el botón 5 tiene un <code>weighty</code> mayor que cero.
                </p>
                <h2>
                    <a id="api">La IPA de GridBagLayout</a>
                </h2>
                <p>
                    Las clases <code>GridBagLayout</code> y <code>GridBagConstraints</code> tienen un sólo constructor, sin
                    argumentos. En vez de invocar métodos sobre el objeto <code>GridBagConstraints</code>, manipule sus variables
                    de instancia, como se describe en <a href="#gridbagConstraints">Especificar restricciones</a>. Generalmente, el
                    único método que invoca en un objeto <code>GridBagLayout</code> es <code>setConstraints</code>, como se
                    demostró en <a href="#gridbagExample">El Ejemplo Explicado</a>.
                </p>
                <h2>
                    <a id="eg">Ejemplos que Usan GridBagLayout</a>
                </h2>
                <p>
                    Puede encontrar ejemplos del uso de <code>GridBagLayout</code> a través de este tutorial. La tabla siguiente
                    lista unas pocas.
                </p>
                <table>
                    <caption>Ejemplos que usan GridBagLayout</caption>
                    <tr>
                        <th id="h201" class="izq">Ejemplo</th>
                        <th id="h202" class="izq">Dónde Se Describe</th>
                        <th id="h203" class="izq">Notas</th>
                    </tr>
                    <tr>
                        <td headers="h201" style="vertical-align: top;">
                            <a href="../examples/layout/index.html#GridBagLayoutDemo"><code>GridBagLayoutDemo</code></a>
                        </td>
                        <td headers="h202" style="vertical-align: top;">Esta sección</td>
                        <td headers="h203" style="vertical-align: top;">
                            Usa muchas características &HorizontalLine; pesos, inserciones, rellenado interno, relleno horizontal,
                            posicionamiento exacto de celda, celdas multi-columna, y anclaje (posicionamiento del componente dentro
                            de un celda).
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" style="vertical-align: top;">
                            <a class="TutorialLink" target="_top" 
                               href="../components/../examples/components/index.html#TextSamplerDemo">
                                <code>TextSamplerDemo</code></a>
                        </td>
                        <td headers="h202" style="vertical-align: top;">
                            <a class="TutorialLink" target="_top" href="../components/text.html">Usar Componentes de Texto</a>
                        </td>
                        <td headers="h203" style="vertical-align: top;">
                            Alinea dos pares de etiquetas y campos de texto, además agrega una etiqueta en todo el ancho del
                            contenedor.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" style="vertical-align: top;">
                            <a class="TutorialLink" target="_top" 
                               href="../events/../examples/events/index.html#ContainerEventDemo">
                                <code>ContainerEventDemo</code></a>
                        </td>
                        <td headers="h202" style="vertical-align: top;">
                            <a class="TutorialLink" target="_top" href="../events/containerlistener.html">
                                Cómo Escribir un Oyente de Contenedor</a>
                        </td>
                        <td headers="h203" style="vertical-align: top;">
                            Posiciona cinco componentes dentro de un contenedor, usando pesos, relleno, y posicionamiento relativo.
                        </td>
                    </tr>
                </table>
            </div>
            <div class="NavBit">
                <a target="_top" href="flow.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="grid.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página anterior:</b> Cómo Usar FlowLayout<br />
            <b>Página siguiente:</b> Cómo Usar GridLayout
        </div>
    </body>
</html>