<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Un Ejemplo de GroupLayout (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario) con
            JFC/Swing &gt; Disponer Componentes Dentro de un Contenedor)
        </title>
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css" />
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Disponer Componentes Dentro de un Contenedor</a></div>
                <div class="linkAHEAD"><a href="visual.html">Una Guía Visual a los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="using.html">Usando los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="howLayoutWorks.html">Cómo Funciona la Gestión de Diseño</a></div>
                <div class="linkAHEAD"><a href="layoutlist.html">Cómo Usar Varios Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar BorderLayout</a></div>
                <div class="linkAHEAD"><a href="box.html">Cómo Usar BoxLayout</a></div>
                <div class="linkAHEAD"><a href="card.html">Cómo Usar CardLayout</a></div>
                <div class="linkAHEAD"><a href="flow.html">Cómo Usar FlowLayout</a></div>
                <div class="linkAHEAD"><a href="gridbag.html">Cómo Usar GridBagLayout</a></div>
                <div class="linkAHEAD"><a href="grid.html">Cómo Usar GridLayout</a></div>
                <div class="linkAHEAD"><a href="group.html">Cómo Usar GroupLayout</a></div>
                <div class="nolinkBHEAD">Un Ejemplo de GroupLayout</div>
                <div class="linkAHEAD"><a href="spring.html">Cómo Usar SpringLayout</a></div>
                <div class="linkAHEAD"><a href="custom.html">Creando un Gestor de Diseño Personalizado</a></div>
                <div class="linkAHEAD"><a href="none.html">Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto)</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes de Diseño</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Disponer Componentes Dentro de un Contenedor<br />
                <b>Sección:</b> Cómo Usar GroupLayout
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Disponer Componentes Dentro de un Contenedor</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="group.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="spring.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Un Ejemplo de GroupLayout</h1>
            </div>
            <div id="PageContent">
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;Esta lección cubre la escritura de código de diseño a mano, lo cual puede ser
                    desafiante. Si no está interesado en aprender todos los detalles de la gestión del diseño, preferirá usar el
                    gestor de diseño <code>GroupLayout</code> combinado con una herramienta de construcción para diseñar su IGU.
                    Una de tales herramientas de construcción es el
                    <a class="TutorialLink" target="_top" href="../learn/index.html">EID NetBeans</a>. De otra manera, si quiere
                    codificar a mano y no quiere usar <code>GroupLayout</code>, entonces se recomienda <code>GridBagLayout</code>
                    como el gestor de diseño más flexible y potente.
                    <hr />
                </div>
                <p>
                    Si está interesado en usar JavaFX para crear su IGU, vea
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/layout-tutorial/index.html">Trabajar Con Diseños en JavaFX</a>.
                </p>
                <p>
                    Como un ejemplo de creación de IGU con <code>GroupLayout</code>, permítanos crear un diseño para este cuadro de
                    diálogo &quot;Find&quot;:
                </p>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/layout/find.png" width="348" height="121" class="imgbottom" alt="Buscar." />
                </p>
                <h2>Disposición Horizontal</h2>
                <p>
                    Examinando la dimensión horizontal <i>de izquierda a derecha</i>,&nbsp;podemos ver que hay tres grupos en una
                    secuencia. El primero no es en realidad un grupo, sólo un componente -- la etiqueta. El segundo es un grupo
                    conteniendo el campo de texto y las casillas de verificación (lo descompondremos más tarde). Y el tercero es un
                    grupo de dos botones. Como se ilustró aquí:
                </p>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/layout/find_a1.PNG" width="348" height="105" class="imgbottom" alt="Buscar." />
                </p>
                <p>
                    Vamos a esbozar el grupo secuencial en el código. Note que <code>GroupLayout.Alignment.LEADING</code>
                    corresponde a la alineación izquierda en la dimensión horizontal. También note que no especificamos espacios,
                    asumiendo que la característica <i>gap auto-insertion</i> está activada.
                </p>
                <div class="codeblock">
                    <pre>
layout.setHorizontalGroup(layout.createSequentialGroup()
    .addComponent(label)
    .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING))
    .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING))
);
                    </pre>
                </div>
                <p>
                    Ahora vamos a descomponer el grupo en el medio. Este es el más difícil. Hay un campo de texto en paralelo con
                    una secuencia de dos grupos paralelos cada uno conteniendo dos casillas de verificación. Vea la siguiente
                    ilustración:
                </p>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/layout/find_a2.PNG" width="210" height="111" class="imgbottom" alt="Find_a2." />
                </p>
                <p>
                    Agreguemos el código correspondiente:
                </p>
                <div class="codeblock">
                    <pre>
layout.setHorizontalGroup(layout.createSequentialGroup()
    .addComponent(label)
    .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING)
         .addComponent(textField)
         .addGroup(layout.createSequentialGroup()
              .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING)
                  .addComponent(caseCheckBox)
                  .addComponent(wholeCheckBox))
              .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING)
                  .addComponent(wrapCheckBox)
                  .addComponent(backCheckBox))))
     .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING))
);
                    </pre>
                </div>
                <p>
                    Queremos que el campo de texto debe ser redimensionable, poero eso ocurre automáticamente ya que 
                    <code>JTextField</code> devuelve el tamaño máximo correcto por defecto.
                </p>
                <p>
                    El grupo restante a la derecha es trivial: contiene simplemente dos botones. Aquí está el código:
                </p>
                <div class="codeblock">
                    <pre>
layout.setHorizontalGroup(layout.createSequentialGroup()
    .addComponent(label)
    .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING)
        .addComponent(textField)
        .addGroup(layout.createSequentialGroup()
            .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING)
                .addComponent(caseCheckBox)
                .addComponent(wholeCheckBox))
            .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING)
                .addComponent(wrapCheckBox)
                .addComponent(backCheckBox))))
    .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING)
        .addComponent(findButton)
        .addComponent(cancelButton))
);
                    </pre>
                </div>
                <p>
                    Y finalmente, nos gustaría que los botones sean siempre del mismo tamaño, así que vamos a vincularlos:
                </p>
                <div class="codeblock">
                    <pre>
layout.linkSize(SwingConstants.HORIZONTAL, findButton, cancelButton);
                    </pre>
                </div>
                <p>
                    Ahora hemos terminado con la dimensión horizontal. Vamos a cambiar a la dimensión vertical. Desde ahora, sólo
                    necesitaremos pensar sobre el eje y.
                </p>
                <h2>Disposición Vertical</h2>
                <p>
                    En la dimensión vertical, examinamos el diseño de <i>arriba a abajo</i>. Definitivamente queremos que
                    todos los componentes sobre la primera línea alineada en la línea base. Entonces, a lo largo del eje vertical 
                    hay una secuencia del grupo de referencia, seguido por un grupo de los componentes restantes. Vea la siguiente
                    imagen.
                </p>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/layout/find_a3.PNG" width="384" height="94" class="imgbottom" alt="Find_a3." />
                </p>
                <p>
                    Vamos a esbozar el código. Primero, necesitamos definir dos grupos paralelos. Note que
                    <code>GroupLayout.Alignment.LEADING</code> corresponden a la alineación superior en la dimensión vertical.
                </p>
                <div class="codeblock">
                    <pre>
layout.setVerticalGroup(layout.createSequentialGroup()
    .addGroup(layout.createParallelGroup(GroupLayout.Alignment.BASELINE))
    .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING))
);
                    </pre>
                </div>
                <p>
                    Podemos llenar el grupo de referencia de inmediato:
                </p>
                <div class="codeblock">
                    <pre>
layout.setVerticalGroup(layout.createSequentialGroup()
    .addGroup(layout.createParallelGroup(GroupLayout.Alignment.BASELINE)
        .addComponent(label)
        .addComponent(textField)
        .addComponent(findButton))
    .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING))
);
                    </pre>
                </div>
                <p>
                    Ahora veamos el grupo de abajo. Note que el botón Cancelar no está en una linea de base compartida con las
                    casillas de verificación; está alineado a la parte superior. Entonces, el segundo grupo paralelo comprende el
                    botón y un grupo secuencial de dos grupos de línea de base con casillas de verificación:
                </p>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/layout/find_a4.PNG" width="332" height="51" class="imgbottom" alt="Find_a4." />
                </p>
                <p>
                    El código correspondiente se ve de la siguiente manera:
                </p>
                <div class="codeblock">
                    <pre>
layout.setVerticalGroup(layout.createSequentialGroup()
    .addGroup(layout.createParallelGroup(GroupLayout.Alignment.BASELINE)
        .addComponent(label)
        .addComponent(textField)
        .addComponent(findButton))
    .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING)
        .addGroup(layout.createSequentialGroup()
            .addGroup(layout.createParallelGroup(GroupLayout.Alignment.BASELINE)
                .addComponent(caseCheckBox)
                .addComponent(wrapCheckBox))
            .addGroup(layout.createParallelGroup(GroupLayout.Alignment.BASELINE)
                .addComponent(wholeCheckBox)
                .addComponent(backCheckBox)))
        .addComponent(cancelButton))
);
                    </pre>
                </div>
                <p>
                    Así que, hemos creado un diseño completo, incluyendo el comportamiento de cambio de tamaño, sin especicar un
                    número único en píxeles&mdash;un verdadero diseño de plataforma cruzada. Note que no necesitamos especificar
                    espacios entre componentes, obtenemos el espaciado correcto automáticamente y de acuerdo a las normas de
                    apariencia. Aquí está el código completo para el diseño del diálogo Buscar:
                </p>
                <div class="codeblock">
                    <pre>
GroupLayout layout = new GroupLayout(getContentPane());
getContentPane().setLayout(layout);
layout.setAutoCreateGaps(true);
layout.setAutoCreateContainerGaps(true);

layout.setHorizontalGroup(layout.createSequentialGroup()
    .addComponent(label)
    .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING)
        .addComponent(textField)
        .addGroup(layout.createSequentialGroup()
            .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING)
                .addComponent(caseCheckBox)
                .addComponent(wholeCheckBox))
            .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING)
                .addComponent(wrapCheckBox)
                .addComponent(backCheckBox))))
    .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING)
        .addComponent(findButton)
        .addComponent(cancelButton))
);
layout.linkSize(SwingConstants.HORIZONTAL, findButton, cancelButton);

layout.setVerticalGroup(layout.createSequentialGroup()
    .addGroup(layout.createParallelGroup(GroupLayout.Alignment.BASELINE)
        .addComponent(label)
        .addComponent(textField)
        .addComponent(findButton))
    .addGroup(layout.createParallelGroup(GroupLayout.Alignment.LEADING)
        .addGroup(layout.createSequentialGroup()
            .addGroup(layout.createParallelGroup(GroupLayout.Alignment.BASELINE)
                .addComponent(caseCheckBox)
                .addComponent(wrapCheckBox))
            .addGroup(layout.createParallelGroup(GroupLayout.Alignment.BASELINE)
                .addComponent(wholeCheckBox)
                .addComponent(backCheckBox)))
        .addComponent(cancelButton))
);
                    </pre>
                </div>
                <p>
                    Aquí está el fichero completo
                    <a class="SourceLink" target="_blank" href="../examples/layout/FindProject/src/layout/Find.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/layout/FindProject/src/layout/Find.java');return false;">
                        <code>Find.java</code></a>. Puede compilarlo y ejecutarlo. Intente redimensionar el dálogo horizontalmente
                    para ver cómo el diseño se ajusta automáticamente al nuevo tamaño.
                </p>
            </div>
            <div class="NavBit">
                <a target="_top" href="group.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="spring.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página anterior:</b> Cómo Usar GroupLayout<br />
            <b>Página siguiente:</b> Cómo Usar SpringLayout
        </div>
    </body>
</html>