<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Funciona la Gestión de Diseño (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario)
            con JFC/Swing &gt; Disponer Componentes Dentro de un Contenedor)
        </title>
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Disponer Componentes Dentro de un Contenedor</a></div>
                <div class="linkAHEAD"><a href="visual.html">Una Guía Visual a los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="using.html">Usando los Gestores de Diseño</a></div>
                <div class="nolinkAHEAD">Cómo Funciona la Gestión de Diseño</div>
                <div class="linkAHEAD"><a href="layoutlist.html">Cómo Usar Varios Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar BorderLayout</a></div>
                <div class="linkAHEAD"><a href="box.html">Cómo Usar BoxLayout</a></div>
                <div class="linkAHEAD"><a href="card.html">Cómo Usar CardLayout</a></div>
                <div class="linkAHEAD"><a href="flow.html">Cómo Usar FlowLayout</a></div>
                <div class="linkAHEAD"><a href="gridbag.html">Cómo Usar GridBagLayout</a></div>
                <div class="linkAHEAD"><a href="grid.html">Cómo Usar GridLayout</a></div>
                <div class="linkAHEAD"><a href="group.html">Cómo Usar GroupLayout</a></div>
                <div class="linkBHEAD"><a href="groupExample.html">Un Ejemplo de GroupLayout</a></div>
                <div class="linkAHEAD"><a href="spring.html">Cómo Usar SpringLayout</a></div>
                <div class="linkAHEAD"><a href="custom.html">Creando un Gestor de Diseño Personalizado</a></div>
                <div class="linkAHEAD"><a href="none.html">Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto)</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes de Diseño</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Disponer Componentes Dentro de un Contenedor
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Disponer Componentes Dentro de un Contenedor</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="using.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="layoutlist.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Funciona la Gestión de Diseño</h1>
            </div>
            <div id="PageContent">
                <p>
                </p>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;Esta lección cubre la escritura de código de diseño a mano, lo cual puede ser
                    desafiante. Si no está interesado en aprender todos los detalles de la gestión del diseño, preferirá usar el
                    gestor de diseño <code>GroupLayout</code> combinado con una herramienta de construcción para diseñar su IGU.
                    Una de tales herramientas de construcción es el
                    <a class="TutorialLink" target="_top" href="../learn/index.html">EID NetBeans</a>. De otra manera, si quiere
                    codificar a mano y no quiere usar <code>GroupLayout</code>, entonces se recomienda <code>GridBagLayout</code>
                    como el gestor de diseño más flexible y potente.
                    <hr />
                </div>
                <p>
                    Si está interesado en usar JavaFX para crear su IGU, vea
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/layout-tutorial/index.html">Trabajar Con Diseños en JavaFX</a>.
                </p>
                <p>
                    Aquí tiene un ejemplo de una secuencia de gestión del diseño para un contenedor usando
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/java/awt/LayoutManager2.html"><code>LayoutManager2</code>
                    </a>.
                </p>
                <ol>
                    <li>
                        Los gestores de diseño básicamente hacen dos cosas:
                        <ul>
                            <li>
                                Calculan los tamaños mínimos/preferidos/máximos para un contenedor.
                            </li>
                            <li>
                                Coloca los hijos del contenedor.
                            </li>
                        </ul>
                        <p>
                            Los gestores de diseño hacen esto basados en las restricciones suministradas, las propiedades del
                            contenedor (tales como las inserciones) y en los tamaños mínimos/preferidos/máximos de los hijos. Si un
                            hijo es a sí mismo un contenedor entonces su propio gestor de diseño es usado para obtener sus tamaños
                            mínimos/preferidos/máximos y para colocarlo.
                        </p>
                    </li>
                    <li>
                        <p>
                            Un contenedor puede ser <i>válido</i> (a saber, <code>isValid()</code> devuelve true) o <i>inválido</i>.
                            Para que un contenedor sea válido, todos los hijos del contenedor deben disponerse y todos deben ser 
                            válidos también. El método
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Container.html#validate--">
                                <code>Container.validate</code>
                            </a> puede ser usado para validar un contenedor inválido. Este método activa el diseño del contenedor y
                            todos los contenedores secundarios en la jerarquía de componentes y marca este contenedor como válido.
                        </p>
                    </li>
                    <li>
                        <p>
                            Después de que un componente se crea está en estado inválido por defecto. El método
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Window.html">
                                <code>Window.pack</code></a> valida la ventana y coloca la jerarquía de componentes de la ventana
                            la primera vez.
                        </p>
                    </li>
                </ol>
                <p>
                    El resultado final es que para determinar el mejor tamaño del contenedor, el sistema determina los tamaños de
                    los contenedores al final de la jerarquía de contención. Estos tamaños luego se filtran en la jerarquía de
                    contención, eventualmente determinando el tamaño total del contenedor.
                </p>
                <p>
                    Si el tamaño de un componente cambia, por ejemplo siguiendo un cambio de fuente, el componente debe ser 
                    redimensionado y repintado llamando a los métodos <code>revalidate</code> y <code>repaint</code> en ese
                    componente. Tanto <code>revalidate</code> como <code>repaint</code> son
                    <a class="TutorialLink" target="_top" href="../concurrency/index.html">seguros para multihilo</a>
                    &HorizontalLine; no necesita invocarlos desde el hilo despachador de eventos.
                </p>
                <p>
                    Cuando invoca <code>revalidate</code> en un componente, una petición se pasa hacia arriba en la jerarquía de
                    contención hasta que encuentra un contenedor, tal como un panel de desplazamiento o un contenedor de nivel 
                    superior, que no debería ser afectado por el redimensionado del componente. (Esto se determina llamando al 
                    método <code>isValidateRoot</code> del contenedor). El contenedor es entonces recolocado, lo cual tiene el
                    efecto de ajustar los tamaños de los componentes revalidados y el tamaño de todos los componentes afectados.
                </p>
            </div>
            <div class="NavBit">
                <a target="_top" href="using.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="layoutlist.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página anterior:</b> Usando los Gestores de Diseño<br />
            <b>Página siguiente:</b> Cómo Usar Varios Gestores de Diseño
        </div>
    </body>
</html>