<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Lección: Disponer Componentes Dentro de un Contenedor (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz
            Gráfica de Usuario) con JFC/Swing)
        </title>
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="nolinkLESSON">Disponer Componentes Dentro de un Contenedor</div>
                <div class="linkAHEAD"><a href="visual.html">Una Guía Visual a los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="using.html">Usando los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="howLayoutWorks.html">Cómo funciona la Gestión de Diseño</a></div>
                <div class="linkAHEAD"><a href="layoutlist.html">Cómo Usar Varios Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar BorderLayout</a></div>
                <div class="linkAHEAD"><a href="box.html">Cómo Usar BoxLayout</a></div>
                <div class="linkAHEAD"><a href="card.html">Cómo Usar CardLayout</a></div>
                <div class="linkAHEAD"><a href="flow.html">Cómo Usar FlowLayout</a></div>
                <div class="linkAHEAD"><a href="gridbag.html">Cómo Usar GridBagLayout</a></div>
                <div class="linkAHEAD"><a href="grid.html">Cómo Usar GridLayout</a></div>
                <div class="linkAHEAD"><a href="group.html">Cómo Usar GroupLayout</a></div>
                <div class="linkBHEAD"><a href="groupExample.html">Un Ejemplo de GroupLayout</a></div>
                <div class="linkAHEAD"><a href="spring.html">Cómo Usar SpringLayout</a></div>
                <div class="linkAHEAD"><a href="custom.html">Creando un Gestor de Diseño Personalizado</a></div>
                <div class="linkAHEAD"><a href="none.html">Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto)</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes de Diseño</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="../misc/index.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="visual.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Lección: Disponer Componentes Dentro de un Contenedor</h1>
            </div>
            <div id="PageContent">
                <a href="../examples/layout/index.html">Índice de ejemplos</a>
                <br />
                <p>
                    Esta lección le indica cómo usar los gestores de diseño suministrados por la plataforma Java. También le indica 
                    cómo usar el posicionamiento absoluto (sin gestor de diseño) y le da un ejemplo de escribir un gestor de diseño 
                    personalizado. Para cada gestor de diseño (o la falta de él), esta lección apunta a un ejemplo que puede 
                    ejecutar usando Java&trade; Web Start. Al redimensionar la ventana de un ejemplo, puede ver como los cambios de
                    tamaño afectan al diseño.
                </p>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;Esta lección cubre la escritura de código de diseño a mano, lo cual puede ser
                    desafiante. Si no está interesado en aprender todos los detalles de la gestión del diseño, preferirá usar el
                    gestor de diseño <code>GroupLayout</code> combinado con una herramienta de construcción para diseñar su IGU.
                    Una de tales herramientas de construcción es el 
                    <a class="TutorialLink" target="_top" href="../learn/index.html">EID NetBeans</a>. De otra manera, si quiere
                    codificar a mano y no quiere usar <code>GroupLayout</code>, entonces se recomienda <code>GridBagLayout</code> 
                    como el gestor de diseño más flexible y potente.
                    <hr />
                </div>
                <p>
                    Si está interesado en usar JavaFX para crear su IGU, vea
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/layout-tutorial/index.html">Trabajar Con Diseños en JavaFX</a>.
                </p>
                <h2>
                    <a href="visual.html">Una Guía Visual a los Gestores de Diseño</a>
                </h2>
                Esta sección muestra ejemplos de los gestores de diseño estándar y apuntan a las secciones como-hacer para cada uno.
                <h2>
                    <a href="using.html">Usando los Gestores de Diseño</a>
                </h2>
                Esta sección da reglas generales para usar los gestores de diseño estándar. Esto incluye cómo establecer el
                gestor de diseño, añadir componentes a un contenedor, proporcionar sugerencias de tamaño y alineación, colocar
                espacion entre componentes, y establecer la orientación del diseño del contenedor de forma que sea apropiada para
                la configuración regional del usuario en la cual el progrmaa se está ejecutando. También tiene algunos consejos
                para elegir el gestor de diseño adecuado.
                <h2>
                    <a href="howLayoutWorks.html">Cómo funciona la Gestión de Diseño</a>
                </h2>
                Esta sección pasa por una secuencia de diseño típica y luego describe qué sucede cuando cambia el tamaño de un
                componente.
                <h2>
                    <a href="layoutlist.html">Cómo Usar ...</a>
                </h2>
                Esta serie de secciones le indican cómo usar cada uno de los gestores de diseño de propósito general que la
                plataforma Java suministra.
                <h2>
                    <a href="custom.html">Creando un Gestor de Diseño Personalizado</a>
                </h2>
                En vez de usar uno de los gestores de diseño de la plataforma Java, puede escribir el suyo propio.
                <p>
                    Los gestores de diseño deben implementar el interfaz <code>LayoutManager</code>, el cual especifica los cinco
                    métodos que cada gestor de diseño debe definir. Opcionalmente, los gestores de diseño pueden implementar
                    <code>LayoutManager2</code>, el cual es una subinterfaz de <code>LayoutManager</code>.
                </p>
                <h2>
                    <a href="none.html">Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto)</a>
                </h2>
                <p>
                    Si es necesario, puede posicionar los componentes sin usar un gestor de diseño. Generalmente, esta solución es
                    utilizada para especificar tamaños y posiciones absolutas de los componentes.
                </p>
                <h2>
                    <a href="problems.html">Resolviendo Problemas Comunes de Diseño</a>
                </h2>
                <p>
                    Algunos de los problemas más comunes con el diseño envuelven a componentes que son visualizados demasiado 
                    pequeños &mdash; o no se visualizan. Esta sección le indica cómo arreglar estos y otros problemas comunes con
                    el diseño.
                </p>
                <h2>
                    <a class="TutorialLink" target="_top" href="../QandE/questions-ch4.html">Preguntas y Ejercicios</a>
                </h2>
                <p>
                    Pruebe estas preguntas y ejercicios para evaluar lo que ha aprendido en esta lección.
                </p>
                <p>
                    Si está interesado en usar JavaFX para crear su IGU, vea
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/layout-tutorial/index.html">
                        Trabajar Con Diseños en JavaFX
                    </a>.
                </p>
            </div>
            <div class="NavBit">
                <a target="_top" href="../misc/index.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="visual.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Lección Anterior<br />
            <b>Página Siguiente:</b> Una Guía Visual a los Gestores de Diseño
        </div>
    </body>
</html>