<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto) (Los Tutoriales de Java&trade; &gt; Creando una IGU
            (Interfaz Gráfica de Usuario) con JFC/Swing &gt; Disponer Componentes Dentro de un Contenedor)
        </title>
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css" />
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Disponer Componentes Dentro de un Contenedor</a></div>
                <div class="linkAHEAD"><a href="visual.html">Una Guía Visual a los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="using.html">Usando los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="howLayoutWorks.html">Cómo Funciona la Gestión de Diseño</a></div>
                <div class="linkAHEAD"><a href="layoutlist.html">Cómo Usar Varios Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar BorderLayout</a></div>
                <div class="linkAHEAD"><a href="box.html">Cómo Usar BoxLayout</a></div>
                <div class="linkAHEAD"><a href="card.html">Cómo Usar CardLayout</a></div>
                <div class="linkAHEAD"><a href="flow.html">Cómo Usar FlowLayout</a></div>
                <div class="linkAHEAD"><a href="gridbag.html">Cómo Usar GridBagLayout</a></div>
                <div class="linkAHEAD"><a href="grid.html">Cómo Usar GridLayout</a></div>
                <div class="linkAHEAD"><a href="group.html">Cómo Usar GroupLayout</a></div>
                <div class="linkBHEAD"><a href="groupExample.html">Un Ejemplo de GroupLayout</a></div>
                <div class="linkAHEAD"><a href="spring.html">Cómo Usar SpringLayout</a></div>
                <div class="linkAHEAD"><a href="custom.html">Creando un Gestor de Diseño Personalizado</a></div>
                <div class="nolinkAHEAD">Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto)</div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes de Diseño</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Disponer Componentes Dentro de un Contenedor
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Disponer Componentes Dentro de un Contenedor</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="custom.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="problems.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto)</h1>
            </div>
            <div id="PageContent">
                <p>
                    Aunque es posible prescindir de un gestor de diseño, debe usar un gestor de diseño siempre que sea posible. Un 
                    gestor de diseño hace más fácil ajustar las apariencias de los componentes dependientes de la Apariencia, a
                    diferentes tamaños de fuente, a los cambios de tamaño del contenedor, y a diferentes configuraciones
                    regionales. Los gestores de diseño también pueden ser reutilizados fácilmente por otros contenedores, como
                    también otros programas.
                </p>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;Esta lección cubre la escritura de código de diseño a mano, lo cual puede ser
                    desafiante. Si no está interesado en aprender todos los detalles de la gestión del diseño, preferirá usar el
                    gestor de diseño <code>GroupLayout</code> combinado con una herramienta de construcción para diseñar su IGU.
                    Una de tales herramientas de construcción es el
                    <a class="TutorialLink" target="_top" href="../learn/index.html">EID NetBeans</a>. De otra manera, si quiere
                    codificar a mano y no quiere usar <code>GroupLayout</code>, entonces se recomienda <code>GridBagLayout</code>
                    como el gestor de diseño más flexible y potente.
                    <hr />
                </div>
                <p>
                    Si está interesado en usar JavaFX para crear su IGU, vea
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/layout-tutorial/index.html">Trabajar Con Diseños en JavaFX</a>.
                </p>
                <p>
                    Si un contenedor mantiene componentes cuyos tamaños no se ven afectados por el tamaño del contenedor o por la
                    fuente, la Apariencia, o los cambios de lenguaje, entonces el posicionamiento absoluto podría tener sentido.
                    Los paneles de escritorio, que contienen
                    <a class="TutorialLink" target="_top" href="../components/internalframe.html">marcos internos</a>, están en esta
                    categoría. El tamaño y posición de los marcos internos no dependen directamente del tamaño del panel de
                    escritorio. El programador determina el tamaño inicial y la colocación de los marcos internos dentro de un
                    panel de escritorio, y después el usuario puede mover o redimensionar los marcos. Un gestor de diseño no es
                    necesario en esta situación.
                </p>
                <p>
                    Otra situación en la cual el posicionamiento absoluto podría tener sentido es aquella en la que un contenedor
                    personalizado que ejecuta cálculos de tamaño y posición que son particulares al contenedor, y quizás requieren
                    del conocimiento del estado especializado del contenedor. Esta es la situación  de los
                    <a class="TutorialLink" target="_top" href="../components/splitpane.html">paneles de división</a>.
                </p>
                <p>
                    Crear un contenedor sin un gestor de diseño implica los siguientes pasos.
                </p>
                <ol>
                    <li>
                        Establecer el gestor de diseño del contenedor a nulo llamando al método <code>setLayout(null)</code>.
                    </li>
                    <li>
                        Llamar al método <code>setbounds</code> del la clase <code>Component</code> para cada uno de los hijos del
                        contenedor.
                    </li>
                    <li>
                        Llamar al método <code>repaint</code> de la clase <code>Component</code>.
                    </li>
                </ol>
                <p>
                    Sin embargo, crear contenedores con contenedores posicionados absolutamente pueden causar problemas si la
                    ventana que contiene el contenedor es redimensionada.
                </p>
                <p>
                    Aquí tiene una captura de un marco cuyo panel de contenido usa posicionamiento absoluto.
                </p>
                <p style="text-align: center">
                    <img src="../../figures/uiswing/layout/AbsoluteLayoutDemo.png" width="300" height="125" class="imgbottom"
                         alt="Una captura de AbsoluteLayoutDemo" />
                </p>
                <p>
                    Pulse el botón Lanzar para ejecutar AbsoluteLayoutDemo usando
                    <a class="OutsideLink" target="_blank"
                       href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">Java&trade; Web Start</a> 
                    (<a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue KDJ 7 o posterior</a>).
                    Alternativamente, para compilar y ejecutar el ejemplo usted mismo, consulte el
                    <a href="../examples/layout/index.html#AbsoluteLayoutDemo">índice de ejemplos</a>.
                </p>
                <div style="text-align: center">
                    <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/AbsoluteLayoutDemoProject/AbsoluteLayoutDemo.jnlp">
                        <img src="../../images/jws-launch-button.png" width="88" height="23" class="imgbottom"
                             alt="Lanza el ejemplo AbsoluteLayoutDemo" />
                    </a>
                </div>
                <br />
                <p>
                    Su código está en
                    <a class="SourceLink" target="_blank"
                       href="../examples/layout/AbsoluteLayoutDemoProject/src/layout/AbsoluteLayoutDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/layout/AbsoluteLayoutDemoProject/src/layout/AbsoluteLayoutDemo.java');
                               return false;">
                        <code>AbsoluteLayoutDemo.java</code></a>. El esbozo de código siguiente muestra cómo los componentes en el
                    panel de contenido son creados y dispuestos.
                </p>
                <div class="codeblock">
                    <pre>
pane.setLayout(null);

JButton b1 = new JButton("one");
JButton b2 = new JButton("two");
JButton b3 = new JButton("three");

pane.add(b1);
pane.add(b2);
pane.add(b3);

Insets insets = pane.getInsets();
Dimension size = b1.getPreferredSize();
b1.setBounds(25 + insets.left, 5 + insets.top,
             size.width, size.height);
size = b2.getPreferredSize();
b2.setBounds(55 + insets.left, 40 + insets.top,
             size.width, size.height);
size = b3.getPreferredSize();
b3.setBounds(150 + insets.left, 15 + insets.top,
             size.width + 50, size.height + 20);

...<em>//En el metodo main:</em>
Insets insets = frame.getInsets();
frame.setSize(300 + insets.left + insets.right,
              125 + insets.top + insets.bottom);

                    </pre>
                </div>
            </div>
            <div class="NavBit">
                <a target="_top" href="custom.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="problems.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos
                            <a href="../../information/cpyr.html">avisos legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página anterior:</b> Creando un Gestor de Diseño Personalizado<br />
            <b>Página siguiente:</b> Resolviendo Problemas Comunes de Diseño
        </div>
    </body>
</html>