<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Resolviendo Problemas Comunes de Diseño (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de
            Usuario) con JFC/Swing &gt; Disponer Componentes Dentro de un Contenedor)
        </title>
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css" />
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Disponer Componentes Dentro de un Contenedor</a></div>
                <div class="linkAHEAD"><a href="visual.html">Una Guía Visual a los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="using.html">Usando los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="howLayoutWorks.html">Cómo Funciona la Gestión de Diseño</a></div>
                <div class="linkAHEAD"><a href="layoutlist.html">Cómo Usar Varios Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar BorderLayout</a></div>
                <div class="linkAHEAD"><a href="box.html">Cómo Usar BoxLayout</a></div>
                <div class="linkAHEAD"><a href="card.html">Cómo Usar CardLayout</a></div>
                <div class="linkAHEAD"><a href="flow.html">Cómo Usar FlowLayout</a></div>
                <div class="linkAHEAD"><a href="gridbag.html">Cómo Usar GridBagLayout</a></div>
                <div class="linkAHEAD"><a href="grid.html">Cómo Usar GridLayout</a></div>
                <div class="linkAHEAD"><a href="group.html">Cómo Usar GroupLayout</a></div>
                <div class="linkBHEAD"><a href="groupExample.html">Un Ejemplo de GroupLayout</a></div>
                <div class="linkAHEAD"><a href="spring.html">Cómo Usar SpringLayout</a></div>
                <div class="linkAHEAD"><a href="custom.html">Creando un Gestor de Diseño Personalizado</a></div>
                <div class="linkAHEAD"><a href="none.html">Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto)</a></div>
                <div class="nolinkAHEAD">Resolviendo Problemas Comunes de Diseño</div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Disponer Componentes Dentro de un Contenedor
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Disponer Componentes Dentro de un Contenedor</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="none.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../QandE/questions-ch4.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Resolviendo Problemas Comunes de Diseño</h1>
            </div>
            <div id="PageContent">
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;Esta lección cubre la escritura de código de diseño a mano, lo cual puede ser
                    desafiante. Si no está interesado en aprender todos los detalles de la gestión del diseño, preferirá usar el
                    gestor de diseño <code>GroupLayout</code> combinado con una herramienta de construcción para diseñar su IGU.
                    Una de tales herramientas de construcción es el
                    <a class="TutorialLink" target="_top" href="../learn/index.html">EID NetBeans</a>. De otra manera, si quiere
                    codificar a mano y no quiere usar <code>GroupLayout</code>, entonces se recomienda <code>GridBagLayout</code>
                    como el gestor de diseño más flexible y potente.
                    <hr />
                </div>
                <p>
                    Si está interesado en usar JavaFX para crear su IGU, vea
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/layout-tutorial/index.html">Trabajar Con Diseños en JavaFX</a>.
                </p>
                <p>
                    <strong>Problema:</strong> ¿Cómo especifico el tamaño exacto para un componente?
                </p>
                <ul>
                    <li>
                        Un puñado de los gestores de diseño más modernos proporcionan formas de anular el tamaño establecido por el
                        componente. Compruebe si el gestor de diseño que está utilizando le permite especificar tamaños de
                        componentes.
                    </li>
                    <li>
                        Asegúrese de que realmente necesita establecer el tamaño exacto de un componente. Cada componente Swing
                        tiene un tamaño preferido diferente, dependiendo de la fuenta que usa y la Apariencia. Por esta razón, a
                        menudo no tiene sentido especificar el tamaño exacto de un componente Swing.
                    </li>
                    <li>
                        Si el componente no está controlado por un gestor de diseño, puede establecer su tamaño invocando el método
                        <code>setSize</code> o <code>setBounds</code> sobre él. De lo contrario, debe proporcionar sugerencias de
                        tamaño y luego asegurarse de que está usando un gestor de diseño que respete las sugerencias de tamaño.
                    </li>
                    <li>
                        Si extiende la clase de un componente Swing, puede dar consejos de tamaño sobreescribiendo los métodos
                        <code>getMinimumSize</code>, <code>getPreferredSize</code>, y <code>getMaximumSize</code> del componente.
                        Lo bueno de este enfoque es que cada método <code>get<em>Xxxx</em>Size</code> puede obtener las sugerencias 
                        de tamaño predeterminadas del componente invocando <code>super.get<em>Xxxx</em>Size()</code>.
                        Entonces se puede ajustar el tamaño, si es necesario, antes de devolverlo. Esto es particularmente útil
                        para los componentes de texto, donde podría querer arreglar el ancho, pero tiene la altura determinada por
                        el contenido. Sin embargo, algunas veces se pueden encontrar problemas con <code>GridBagLayout</code> y los
                        campos de texto, donde si el tamaño del contenedor es más pequeño que el tamaño preferido, se usa el tamaño
                        mínimo, lo que puede hacer que los campos de texto se encojan de manera bastante sustancial.
                    </li>
                    <li>
                        Otra forma de dar sugerencias de tamaño es invocar los métodos <code>setMinimumSize</code>,
                        <code>setPreferredSize</code>, y <code>setMaximumSize</code> del componente.
                    </li>
                    <li>
                        Si especifica nuevas sugerencias de tamaño para un componente que ya está visible, entonces necesita 
                        invocar el método <code>revalidate</code> en él, para asegurarse de que la jerarquía de contención se
                        recoloque de nuevo. Después invoque el método <code>repaint</code>.
                    </li>
                </ul>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;Sin importar cómo especique el tamaño de su componente, asegúrese de que el
                    contenedor de su componente usa un gestor de diseño que respeta el tamaño solicitado del componente. Los 
                    gestores <code>FlowLayout</code> y <code>GridBagLayout</code> usan el tamaño preferido del componente (el
                    último dependiendo de las restricciones que usted establezca), pero <code>BorderLayout</code> y
                    <code>GridLayout</code> usualmente no lo hacen. El gestor <code>BoxLayout</code> generalmente usa el tamaño
                    preferido del componente (aunque los componentes pueden ser más grandes), y es uno de los pocos gestores de
                    diseño que respetan el tamaño máximo del componente.
                    <hr />
                </div>
                <p>
                    <strong>Problema:</strong> Mi componente no aparece después de que lo he añadido al contenedor.
                </p>
                <ul>
                    <li>
                        Necesita invocar <code>revalidate</code> y <code>repaint</code> después de añadir un componente antes de que
                        aparezca en su contenedor.
                    </li>
                </ul>
                <p>
                    <strong>Problema:</strong> Mi componente personalizado tiene un tamaño demasiado pequeño.
                </p>
                <ul>
                    <li>
                        ¿El componente implementa los métodos <code>getPreferredSize</code> y <code>getMinimumSize</code>? Si es
                        así, ¿devuelve los valores correctos?
                    </li>
                    <li>
                        ¿Está usando un gestor de diseño que puede usar tanto espacio como esté disponible?
                        Vea <a href="using.html#choosing">Consejos al Elegir un Gestor de Diseño</a> para obtener algunos consejos
                        sobre cómo elegir un gestor de diseño y especificar que use el máximo espacio disponible para un componente
                        en particular.
                    </li>
                </ul>
                <p>
                    Si no ve su problema en esta lista, vea
                    <a class="TutorialLink" target="_top" href="../components/problems.html">Resolviendo Problemas Comunes con los
                        Componentes</a>.
                </p>
            </div>
            <div class="NavBit">
                <a target="_top" href="none.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../QandE/questions-ch4.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos
                            <a href="../../information/cpyr.html">avisos legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página anterior:</b> Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto)<br />
            <b>Página siguiente:</b> Preguntas y Ejercicios: Disponer Componentes Dentro de un Contenedor
        </div>
    </body>
</html>