<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Usando los Gestores de Diseño (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario) con
            JFC/Swing &gt; Disponer Componentes Dentro de un Contenedor)
        </title>
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Disponer Componentes Dentro de un Contenedor</a></div>
                <div class="linkAHEAD"><a href="visual.html">Una Guía Visual a los Gestores de Diseño</a></div>
                <div class="nolinkAHEAD">Usando los Gestores de Diseño</div>
                <div class="linkAHEAD"><a href="howLayoutWorks.html">Cómo funciona la Gestión de Diseño</a></div>
                <div class="linkAHEAD"><a href="layoutlist.html">Cómo Usar Varios Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar BorderLayout</a></div>
                <div class="linkAHEAD"><a href="box.html">Cómo Usar BoxLayout</a></div>
                <div class="linkAHEAD"><a href="card.html">Cómo Usar CardLayout</a></div>
                <div class="linkAHEAD"><a href="flow.html">Cómo Usar FlowLayout</a></div>
                <div class="linkAHEAD"><a href="gridbag.html">Cómo Usar GridBagLayout</a></div>
                <div class="linkAHEAD"><a href="grid.html">Cómo Usar GridLayout</a></div>
                <div class="linkAHEAD"><a href="group.html">Cómo Usar GroupLayout</a></div>
                <div class="linkBHEAD"><a href="groupExample.html">Un Ejemplo de GroupLayout</a></div>
                <div class="linkAHEAD"><a href="spring.html">Cómo Usar SpringLayout</a></div>
                <div class="linkAHEAD"><a href="custom.html">Creando un Gestor de Diseño Personalizado</a></div>
                <div class="linkAHEAD"><a href="none.html">Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto)</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes de Diseño</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Disponer Componentes Dentro de un Contenedor
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Disponer Componentes Dentro de un Contenedor</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="visual.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="howLayoutWorks.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Usando los Gestores de Diseño</h1>
            </div>
            <div id="PageContent">
                <p>
                    Un gestor de diseño es un objeto que implementa el interfaz <code>LayoutManager</code> <a href="#footnote">*</a>
                    y determina el tamaño y posición de los componentes dentro de un contenedor. Aunque los componentes pueden
                    suministrar consejos de tamaño y alineación, el gestor de diseño del contenendor tiene la última palabra sobre
                    el tamaño y posición de los componentes dentro de un contenedor.
                </p>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;Esta lección cubre la escritura de código de diseño a mano, lo cual puede ser
                    desafiante. Si no está interesado en aprender todos los detalles de la gestión del diseño, preferirá usar el
                    gestor de diseño <code>GroupLayout</code> combinado con una herramienta de construcción para diseñar su IGU.
                    Una de tales herramientas de construcción es el
                    <a class="TutorialLink" target="_top" href="../learn/index.html">EID NetBeans</a>. De otra manera, si quiere
                    codificar a mano y no quiere usar <code>GroupLayout</code>, entonces se recomienda <code>GridBagLayout</code>
                    como el gestor de diseño más flexible y potente.
                    <hr />
                </div>
                <p>
                    Si está interesado en usar JavaFX para crear su IGU, vea
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/layout-tutorial/index.html">Trabajar Con Diseños en JavaFX</a>.
                </p>
                <p>
                    Esta sección describe algunas de las tareas comunes relacionadas con el uso de los gestores de diseños:
                </p>
                <ul>
                    <li><a href="#set">Establecer el Gestor de Diseño</a></li>
                    <li><a href="#add">Añadir Componentes a un Contenedor</a></li>
                    <li><a href="#sizealignment">Proporcionar Sugerencias de Tamaño y Alineamiento</a></li>
                    <li><a href="#space">Colocar Espacio Entre Componentes</a></li>
                    <li><a href="#orientation">Establecer la Orientación del Contenedor</a></li>
                    <li><a href="#choosing">Consejos al Elegir un Gestor de Diseño</a></li>
                    <li><a href="#thirdparty">Gestores de Diseño de Terceros</a></li>
                </ul>
                <h2>
                    <a id="set">Establecer el Gestor de Diseño</a>
                </h2>
                <p>
                    Como una regla, los únicos contenedores cuyos gestores de diseño necesita preocuparse son los
                    <a class="TutorialLink" target="_top" href="../components/panel.html"><code>JPanel</code>s</a> y los
                    <a class="TutorialLink" target="_top" href="../components/toplevel.html#contentpane">paneles de contenido</a>.
                    Cada objeto <code>JPanel</code> es inicializado poara usar un <code>FlowLayout</code>, a menos que especifique
                    algo diferente cuando crea el <code>JPanel</code>. Los paneles de contenido usan <code>BorderLayout</code>
                    por defecto. Si no le gusta el gestor de diseño por defecto que un panel o panel de contenido usa, es libre
                    de cambiarlo a uno diferente. Sin embargo, a mneos que esté usando <code>JToolBar</code>, los gestores
                    <code>FlowLayout</code> y <code>BorderLayout</code> son sólo útiles para el prototipado. Cualquier aplicación
                    real necesitará resetear el gestor de diseño. De nuevo, usará una herramienta apropiada para hacer esto, en vez
                    de codificar el gestor a mano.
                </p>
                <p>
                    Puede establecer el gestor de diseño de un panel usando el constructoro <code>JPanel</code>. Por ejemplo:
                </p>
                <div class="codeblock">
                    <pre>
JPanel panel = new JPanel(new BorderLayout());
                    </pre>
                </div>
                <p>
                    Después de que un contenedor ha sido creado, pues establecer su gestor de diseño usando el método
                    <code>setLayout</code>. Por ejemplo:
                </p>
                <div class="codeblock">
                    <pre>
Container contentPane = frame.getContentPane();
contentPane.setLayout(new FlowLayout());
                    </pre>
                </div>
                <p>
                    Aunque nosotros <i>recomendamos encarecidamente</i> que use un gestor de diseños, usted puede realizar el diseño
                    sin ellos. Al establecer la propiedad layout de un contenedor a null, hace que el contenedor no use 
                    gestor de diseño. Con esta estrategia, llamada <em>posicionamiento absoluto</em>, puede especificar el
                    tamaño y posición de cada componente dentro de ese contenedor. Una desventaja del posicionaiento absoluto es
                    que no ajusta bien cuando el contenedor de nivel superior es redimensionado. No ajusta bien tampoco a las
                    diferencias entre usuarios y sistemas, tales como fuentes de tamaño diferente y 
                    <a class="TutorialLink" target="_top" href="../../i18n/locale/index.html">configuraciones regionales</a>.
                </p>
                <h2>
                    <a id="add">Añadir Componentes a un Contenedor</a>
                </h2>
                <p>
                    Cuando añade componentes a un panel o panel de contenido, los argumentos que especifica al método 
                    <code>add</code> dependen del gestor de diseño que el panel o el panel de conteido está usando. En realidad,
                    algunos gestores de diseño incluso no requieren que añada el componente explícitamente; por ejemplo,
                    <code>GroupLayout</code>. Por ejemplo, <code>BorderLayout</code> requiere que especifiques el área al cual el
                    componente debe ser añadido (usando una de las constantes definidas en <code>BorderLayout</code>) usando código
                    como este:
                </p>
                <div class="codeblock">
                    <pre>
pane.add(aComponent, BorderLayout.PAGE_START);
                    </pre>
                </div>
                <p>
                    La sección cómo-hacer para cada gestor de diseño tiene detalles de qué, si los hay, argumentos necesita para
                    especificar al método <code>add</code>. Algunos gestores de diseños, tales como <code>GridBagLayout</code> y
                    <code>SpringLayout</code>, requiere un procedimiento elaborado de configuración. Muchos gestores de diseño,
                    sin embargo, simplemente colocal los componentes basados en el orden en el que fueron añadidos al contenedor.
                </p>
                <p>
                    Los contenedores Swing distintos a <code>JPanel</code> y paneles de contenido generalmente ofrecen una IPA
                    que usará en vez del método <code>add</code>. Por ejemplo, en vez de añadir un componente directamente a un
                    <a class="TutorialLink" target="_top" href="../components/scrollpane.html">panel de desplazamiento</a> (o, en
                    realidad, a su ventana gráfica), o especifica el componente en el cosntructor <code>JScrollPane</code> o usa
                    <code>setViewportView</code>. Debido a IPAs especializadas como esta, no necesita saber que gestor de diseño
                    (si existe) muchos contenedores de Swing usan. (Para el curioso: los paneles de desplazamiento utilizan un
                    gestor de diseño llamado <code>ScrollPaneLayout</code>.)
                </p>
                <p>
                    Para información sobre cómo añadir componentes a un contenedor específico, vea la página de cómo-hacer para el
                    contenedor. Puede encontra las páginas de cómo hacer del componente usando
                    <a class="TutorialLink" target="_top"
                       href="../components/componentlist.html">Cómo Usar Varios Componentes</a>.
                </p>
                <h2>
                    <a id="sizealignment">Proporcionar Sugerencias de Tamaño y Alineamiento</a>
                </h2>
                <p>
                    Algunas veces necesita personalizar los consejos de tamaño que un componente suministra al gestor de diseño de
                    su contenedor, así que el componente sea bien dispuesto. Puede hacer esto especificando uno o más de los
                    tamaños mínimos y máximos preferidos del componente. Puede invocar los métodos del compoente para establecer la 
                    sugerencia de tamaño &HorizontalLine; <code>setMinimumSize</code>, <code>setPreferredSize</code>, y
                    <code>setMaximumSize</code>. O puede crear un subclase del componente que sobreescriba los métodos getter
                    apropiados &HorizontalLine; <code>getMinimumSize</code>, <code>getPreferredSize</code>, y
                    <code>getMaximumSize</code>. Aquí tiene un ejemplo de cómo hacer el tamaño máximo de un objeto ilimitado:
                </p>
                <div class="codeblock">
                    <pre>
component.setMaximumSize(new Dimension(Integer.MAX_VALUE,
                                       Integer.MAX_VALUE));
                    </pre>
                </div>
                <p>
                    Muchos gestores de diseño no prestan antención al tamaño solicitado máximo de un componente. Sin embargo,
                    <code>BoxLayout</code> y <code>SpringLayout</code> lo hacen. Además, <code>GroupLayout</code> suministra la
                    habilidad para establecer el tamaño mínimo, preferido o máximo explícitamente, sin tocar el componente.
                </p>
                <p>
                    Además de proporcionar sugerencias de tamaño, puede también suministrar consejos de alineación. Por ejemplo, 
                    puede especificar que los bordes superiores de dos componentes estén alineados. Establece la sugerencia de 
                    alineación o invocando los métodos <code>setAlignmentX</code> y <code>setAlignmentY</code> del componente, o
                    sobreescribiendo los métodos <code>getAlignmentX</code> y <code>getAlignmentY</code>. Aunque la mayoría de los
                    gestores de diseño ignoran las sugerencias de alineación, <code>BoxLayout</code> las respeta. Puede encontrar
                    ejemplos de establecimiento de la alineación en
                    <a href="box.html">Cómo Usar BoxLayout</a>.
                </p>
                <h2>
                    <a id="space">Colocar Espacio Entre Componentes</a>
                </h2>
                <p>
                    Tres factores influyen en la cantidad de espacio entre los componentes visibles en un contenedor.

                </p>
                <dl>
                    <dt>El gestor de diseño</dt>
                    <dd>
                        Algunos gestores de diseño automáticamente colocan espacio entre los componentes; otros no. Algunos le
                        permiten especificar la cantidad de espacio entre componentes. Vea la página cómo-se hace de cada gestor de
                        diseño para más información sobre el soporte de espaciado.
                    </dd>
                    <dt>Componentes invisibles</dt>
                    <dd>
                        Puede crear componentes ligeros que no realizan pintado, pero que pueden tomar espacio en el IGU. A menudo, 
                        usted usa componentes invisble en contenedores controlados por <code>BoxLayout</code>. Vea
                        <a href="box.html">Cómo Usar BoxLayout</a> para ejemplos de uso de los compoentes invisibles.
                    </dd>
                    <dt>Bordes vacíos</dt>
                    <dd>
                        No importando qué gestor de diseño use, puede afectar la cantidad de espacio aparente entre componentes
                        añadiendo bordes vacíos a los componentes. Los mejores candidatos para los bordes vacíos son los
                        componentes que típicamente no tienen borde por defecto, tales como los paneles y las etiquetas. Algunos
                        otros componentes podrían no funcionar bien con bordes en alguna implementación de apariencia, debido a la
                        forma que el código de pintado está implementado. Para información sobre bordes, vea
                        <a class="TutorialLink" target="_top" href="../components/border.html">Cómo Usar Bordes</a>.
                    </dd>
                </dl>
                <h2>
                    <a id="orientation">Establecer la Orientación del Contenedor</a>
                </h2>
                <p>
                    Este sitio web está escrito en inglés (Nota del Traductor: el original en inglés), con texto que se ejecuta de 
                    izquierda a derecha y luego de arriba a abajo. Sin embargo, muchos otros lenguajes tienen orientaciones 
                    diferentes. La propiedad <code>componentOrientation</code> suministra un forma de indicar que un componente en 
                    particular usará algo diferente de la orientación por defecto izquierda-a-derecha,de-arriba-a-abajo. En un 
                    componente tal como un botón de radio, la orientación podría ser usada como una sugerencia que la apariencia 
                    cambiaría las ubicaciones del icono y el texto en el botón. En un contenedor, la orientación es usada como una 
                    sugerencia al gestor de diseño.
                </p>
                <p>
                    Para establecer la orientación de un contenedor, puede usar o el método definido en el <code>Component</code>
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html#setComponentOrientation-java.awt.ComponentOrientation-">
                        <code>setComponentOrientation</code>
                    </a> o, establecer la orientación en los hijos del contenedor, también 
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html#applyComponentOrientation-java.awt.ComponentOrientation-">
                        <code>applyComponentOrientation</code>
                    </a>. El argumento para cualquiera de los métodos puede ser una constante como 
                    <code>ComponentOrientation.RIGHT_TO_LEFT</code>, o puede ser una llamada al método
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/java/awt/ComponentOrientation.html#getOrientation-java.util.Locale-">
                        <code>getOrientation(Locale)</code>
                    </a> de <code>ComponentOrientation</code>. Por ejemplo, el código suguiente causa que todos los 
                    <code>JComponent</code>s sean inicializados con una configuración regional de lenguaje Arábico, y entonces
                    establece la orientación del panel de contenidos y todos sus componentes internos de forma adecuada:
                </p>
                <div class="codeblock">
                    <pre>
JComponent.setDefaultLocale(new Locale("ar"));
JFrame frame = new JFrame();
...
Container contentPane = frame.getContentPane();
contentPane.applyComponentOrientation(
    ComponentOrientation.getOrientation(
        contentPane.getLocale()));
                    </pre>
                </div>
                <p>
                    Aquí tiene dos imágenes mostrando cómo <code>FlowLayout</code> dispone los componentes en contenedores que son
                    exactamente los mismos, excepto por su orientación.
                </p>
                <p style="text-align: center">
                    <img src="../../figures/uiswing/layout/FlowLayoutDemo.png" width="471" height="70"
                         alt="FlowLayoutDemo con la orientación por defecto, de izquierda-a-derecha" />
                    <br />
                    Orientación por defecto (izquierda-a-derecha)
                </p>
                <p style="text-align: center">
                    <img src="../../figures/uiswing/layout/FlowLayoutDemo-rtl.png" width="471" height="70"
                         alt="FlowLayoutDemo con orientación derecha-a-izquierda" />
                    <br />
                    Orientación derecha-a-izquierda
                </p>
                <p>
                    Los gestores de diseños estándar que soportan orientación de componnentes son <code>FlowLayout</code>,
                    <code>BorderLayout</code>, <code>BoxLayout</code>, <code>GridBagLayout</code>, y <code>GridLayout</code>.
                </p>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;Se debe tener cuidado de que la orientación del componente se aplique a los
                    renderizadores, editores y cualquier otro componente inalcanzable a través del recorrido normal de la jerarquía
                    de contención.
                    <hr />
                </div>
                <h2>
                    <a id="choosing">Consejos al Elegir un Gestor de Diseño</a>
                </h2>
                <p>
                    Los gestores de diseño tienen diferentes fortalezas y debilidades. Esta sección describe algunos escenarios 
                    comunes de diseño y qué gestor de diseño podría funcionar para cada escenario. Sin embargoa, una vez más, se
                    recomienda encarecidamente que use una herramienta de construcción para crear sus gestores de diseños, tal como
                    el
                    <a class="OutsideLink" target="_blank"
                       href="http://netbeans.org/kb/trails/matisse.html">
                        constructor de IGUs Mattise del EID NetBeans
                    </a>, en vez de codificar los gestores a mano. Los escenarios enumerados a continuación se brindan con fines
                    informativos, en caso de que tenga curiosidad sobre qué tipo de gestor se usa en diferentes situaciones, o en
                    caso de que absolutamente deba codificar su gestor manualmente.
                </p>
                <p>
                    Si ninguno de los gestores de diseño que describimos es adecuado para su situación y no puede usar una
                    herramienta de construcción, siéntase libre de usar otros gestor de diseños que puede escribir o encontrar.
                    También tenga en cuenta que los gestores de diseño flexibles tales como <code>GridBagLayout</code> y
                    <code>SpringLayout</code> pueden cumplir muchas necesidades de diseño.
                </p>
                <dl>
                    <dt>
                        <strong>Escenario:</strong> Necesita visualizar un componente en todo el espacio que pueda obtener.
                    </dt>
                    <dd>
                        Si ése el único componente en su contenedor, use <a href="grid.html"><code>GridLayout</code></a> o
                        <a href="border.html"><code>BorderLayout</code></a>. De otra forma, <code>BorderLayout</code> o
                        <a href="gridbag.html"><code>GridBagLayout</code></a> podría ser una buena elección.
                        <p>
                            Si usa <code>BorderLayout</code>, necesitará color el componente necesitado de espacio en el centro.
                            Con <code>GridBagLayout</code>, necesitará establecer las limitaciones para el componente de forma que
                            <code>fill=GridBagConstraints.BOTH</code>. Otra posibilidada es usar
                            <a href="box.html"><code>BoxLayout</code></a>, haciendo que el componente necesitado de espacio
                            especifique tamaños preferidos y máximos muy grandes.
                        </p>
                    </dd>
                    <dt>
                        <strong>Escenario:</strong> Necesita visualizar varios componentes en una fila compacta en su tamaño
                        natural.
                    </dt>
                    <dd>
                        Considere usar un <code>JPanel</code> para agrupar los componentes y usar o el gestor por defecto de
                        <code>JPanel</code> <a href="flow.html"><code>FlowLayout</code></a> o el gestor
                        <a href="box.html"><code>BoxLayout</code></a>. <a href="spring.html"><code>SpringLayout</code></a> es
                        también bueno para esto.
                    </dd>
                    <dt>
                        <strong>Escenario:</strong> Necesita visualizar varios componentes del mismo tamaño en filas y columnas.
                    </dt>
                    <dd>
                        <a href="grid.html"><code>GridLayout</code></a> es perfecto para esto.
                    </dd>
                    <dt>
                        <strong>Escenario:</strong> Necesita visualizar varios componentes en una fila o columna, posiblemente con
                        cantidades variadas de espacio entre ellos, alineación personalizada, o tamaños personalizados de los
                        componentes.
                    </dt>
                    <dd>
                        <a href="box.html"><code>BoxLayout</code></a> es perfecto para esto.
                    </dd>
                    <dt>
                        <strong>Escenario:</strong> Necesita visualizar columnas alineadas, como en un interfaz parecido a un
                        formulario donde una columna de etiquetas es usada para describir los campos de texto en una columna
                        adyacente.
                    </dt>
                    <dd>
                        <a href="spring.html"><code>SpringLayout</code></a> es una elección natural para esto. La clase
                        <code>SpringUtilities</code> usada por varios ejemplos del Tutorial definen un método 
                        <code>makeCompactGrid</code> que le permite fácilmente alinear múltiples filas y columnas de componentes.
                    </dd>
                    <dt>
                        <strong>Escenario:</strong> Tiene un diseño complejo con muchos componentes.
                    </dt>
                    <dd>
                        Considere o usar un gestor de diseño muy flexible tal como
                        <a href="gridbag.html"><code>GridBagLayout</code></a> o <a href="spring.html">
                            <code>SpringLayout</code>
                        </a>, o agrupar los componentes en uno o más <code>JPanel</code>s para simplificar el diseño. Si toma el
                        último enfoque, cada <code>JPanel</code> podría usar un gestor de diseño diferente.
                    </dd>
                </dl>
                <h2>
                    <a id="thirdparty">Gestores de Diseño de Terceros</a>
                </h2>
                <p>
                    Otros gestores de diseños de terceros han sido creados por la comunidad Swing, para complementar aquellos
                    proporcionados por la plataforma Java. La lista siguiente no es de ninguna manera definitiva, pero los 
                    gestores de diseño listados abajo son los más populares:
                </p>
                <ul>
                    <li>
                        <a class="OutsideLink" target="_blank" href="http://www.miglayout.com/">MiGLayout</a>
                    </li>
                    <li>
                        <a class="OutsideLink" target="_blank" href="http://www.jgoodies.com/">Karsten Lentzsch's FormLayout</a>
                    </li>
                </ul>
                <hr />
                <p>
                    *<a id="footnote">De regreso en KDJ 1.1</a> un segundo interfaz, <code>LayoutManager2</code>, fue presentado.
                    <code>LayoutManager2</code> extiende <code>LayoutManager</code>, proporcionando soporte para el tamaño máximo
                    y alineamiento. <code>LayoutManager2</code> también añade los métodos <code>addLayoutComponent</code>, que
                    toman un <code>Object</code>, y <code>invalidateLayout</code>. Los gestores de diseño también necesitan las
                    notificaciones suministradas por <code>LayoutManager2</code>, así que cualquier gestor de diseño moderno
                    necesitará implementarlo.
                </p>
            </div>
            <div class="NavBit">
                <a target="_top" href="visual.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="howLayoutWorks.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página anterior:</b> Una Guía Visual a los Gestores de Diseño<br />
            <b>Página siguiente:</b> Cómo Funciona la Gestión de Diseño
        </div>
    </body>
</html>