<!DOCTYPE html>
<html lang="es">
    <head>       
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Una Guía Visual a los Gestores de Diseño (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz
            Gráfica de Usuario) con JFC/Swing &gt; Disponer Componentes Dentro de un Contenedor)
        </title>
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Disponer Componentes Dentro de un Contenedor</a></div>
                <div class="nolinkAHEAD">Una Guía Visual a los Gestores de Diseño</div>
                <div class="linkAHEAD"><a href="using.html">Usando los Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="howLayoutWorks.html">Cómo funciona la Gestión de Diseño</a></div>
                <div class="linkAHEAD"><a href="layoutlist.html">Cómo Usar Varios Gestores de Diseño</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar BorderLayout</a></div>
                <div class="linkAHEAD"><a href="box.html">Cómo Usar BoxLayout</a></div>
                <div class="linkAHEAD"><a href="card.html">Cómo Usar CardLayout</a></div>
                <div class="linkAHEAD"><a href="flow.html">Cómo Usar FlowLayout</a></div>
                <div class="linkAHEAD"><a href="gridbag.html">Cómo Usar GridBagLayout</a></div>
                <div class="linkAHEAD"><a href="grid.html">Cómo Usar GridLayout</a></div>
                <div class="linkAHEAD"><a href="group.html">Cómo Usar GroupLayout</a></div>
                <div class="linkBHEAD"><a href="groupExample.html">Un Ejemplo de GroupLayout</a></div>
                <div class="linkAHEAD"><a href="spring.html">Cómo Usar SpringLayout</a></div>
                <div class="linkAHEAD"><a href="custom.html">Creando un Gestor de Diseño Personalizado</a></div>
                <div class="linkAHEAD"><a href="none.html">Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto)</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes de Diseño</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing
                <br />
                <b>Lección:</b> Disponer Componentes Dentro de un Contenedor
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Disponer Componentes Dentro de un Contenedor</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="index.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="using.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Una Guía Visual a los Gestores de Diseño</h1>
            </div>
            <div id="PageContent">
                <p>
                    Varias clases de AWT y Swing suministran gestores de diseño para uso general:
                </p>
                <ul>
                    <li><a href="#border"><code>BorderLayout</code></a></li>
                    <li><a href="#box"><code>BoxLayout</code></a></li>
                    <li><a href="#card"><code>CardLayout</code></a></li>
                    <li><a href="#flow"><code>FlowLayout</code></a></li>
                    <li><a href="#gridbag"><code>GridBagLayout</code></a></li>
                    <li><a href="#grid"><code>GridLayout</code></a></li>
                    <li><a href="#group"><code>GroupLayout</code></a></li>
                    <li><a href="#spring"><code>SpringLayout</code></a></li>
                </ul>
                <p>
                    Esta sección muestra IGUs de ejemplo que usan estos gestores de diseño, y le indican dónde encontra la página
                    cómo-hacer para cada gestor de diseño. Puede encontrar enlaces para ejecutar los ejemplos en las páginas
                    cómo-hacer y en el
                    <a class="APILink" target="_blank" href="../examples/layout/index.html">índice de ejemplos</a>.
                </p>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;Esta lección cubre la escritura de código de diseño a mano, lo cual puede ser
                    desafiante. Si no está interesado en aprender todos los detalles de la gestión del diseño, preferirá usar el
                    gestor de diseño <code>GroupLayout</code> combinado con una herramienta de construcción para diseñar su IGU.
                    Una de tales herramientas de construcción es el
                    <a class="TutorialLink" target="_top" href="../learn/index.html">EID NetBeans</a>. De otra manera, si quiere
                    codificar a mano y no quiere usar <code>GroupLayout</code>, entonces se recomienda <code>GridBagLayout</code>
                    como el gestor de diseño más flexible y potente.
                    <hr />
                </div>
                <p>
                    Si está interesado en usar JavaFX para crear su IGU, vea
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/layout-tutorial/index.html">Trabajar Con Diseños en JavaFX</a>.
                </p>
                <p>
                    <a id="border"></a>
                </p>
                <h2>
                    BorderLayout
                </h2>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/layout/BorderLayoutDemo.png" width="482" height="186"
                         style="vertical-align:bottom" alt="Una imagen de un IGU que usa BorderLayout" />
                </p>
                <p>
                    Cada panel de contenido es inicializado para usar un <code>BorderLayout</code>. (Como en
                    <a class="TutorialLink" target="_top" href="../components/toplevel.html">Usando Contenedores de Nivel
                        Superior</a> explican, el panel contenedor es el contenedor principal en todos los marcos, applets, y 
                    diálogos). Un <code>BorderLayout</code> coloca los componentes en hasta cinco áreas: arriba (top), abajo
                    (bottom), izquieda (left), derecha (right), y centro (center). Todo el espacio extra es colocado en el área
                    central. Las barras de herramientas que se crean usando
                    <a class="TutorialLink" target="_top" href="../components/toolbar.html">JToolBar</a> deben ser creadas dentro
                    de un contenedor <code>BorderLayout</code>, si quiere ser capaz de arrastrar y soltar las barras fuera de sus
                    posiciones iniciales.  Para más detalles, vea <a href="border.html">Cómo Usar BorderLayout</a>.
                </p>
                <h2>
                    <a id="box">BoxLayout</a>
                </h2>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/layout/BoxLayoutDemo.png" width="203" height="164"
                         style="vertical-align:bottom" alt="Una imagen de un IGU que usa un BoxLayout" />
                </p>
                <p>
                    La clase <code>BoxLayout</code> coloca los componentes en una una única fila o columna. Respeta los tamaños 
                    máximos solicitados por los componentes y también le permite alinear componentes. Para más detalles,
                    vea <a href="box.html">Cómo Usar BoxLayout</a>.
                </p>
                <h2>
                    <a id="card">CardLayout</a>
                </h2>
                <p style="text-align: center">
                    <img src="../../figures/uiswing/layout/CardLayoutDemo.png" width="265" height="105"
                         alt="Una imagen de un IGU que usa CardLayout" />
                    <img src="../../figures/uiswing/layout/CardLayoutDemo-2.png" width="265" height="105"
                         alt="Otra imagen del mismo diseño" />
                </p>
                <p>
                    La clase <code>CardLayout</code> le permite implementar un ára que contiene diferentes componentes en tiempos
                    diferentes. Un <code>CardLayout</code> es a menudo controlado por un cuadro combinado, con el estado del cuadro
                    combinado determinando qué panel (grupo de componentes) muestra el <code>CardLayout</code>. Una alternativa a
                    usar <code>CardLayout</code> es usar un
                    <a class="TutorialLink" target="_top" href="../components/tabbedpane.html">panel tabulado</a>, el cual
                    suministra una funcionalidad similar pero con un IGU predefinido. Para más detalles, vea 
                    <a href="card.html">Cómo Usar CardLayout</a>.
                </p>
                <h2>
                    <a id="flow">FlowLayout</a>
                </h2>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/layout/FlowLayoutDemo.png" width="471" height="70"
                         style="vertical-align:bottom" alt="Una iamgen de un IGU que usa FlowLayout" />
                </p>
                <p>
                    <code>FlowLayout</code> es el gestor de diseño por defecto para cada <code>JPanel</code>. Simplemente establece
                    los componentes en una sola fila, comenzando una nueva fila si su contenedor no es lo suficientemente ancho.
                    Ambos paneles en CardLayoutDemo, mostrados <a href="#card">previamente</a>, usan <code>FlowLayout</code>.
                    Para más detalles, vea <a href="flow.html">Cómo Usar FlowLayout</a>.
                </p>
                <h2>
                    <a id="gridbag">GridBagLayout</a>
                </h2>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/layout/GridBagLayoutDemo.png" width="250" height="164"
                         style="vertical-align:bottom" alt="Una imagen de un IGU que usa GridBagLayout" />
                </p>
                <p>
                    <code>GridBagLayout</code> es un gestos de diseño flexible y sofisticado. Alinea los componentes colocándolos
                    en una parrilla de celdas, permitiendo a los componentes expandirse más de una celda. Las filas en la parrila
                    pueden tener diferentes alturas, y las columnas de la parrilla pueden tener diferentes anchuras. Para más
                    detalles, vea <a href="gridbag.html">Cómo Usar GridBagLayout</a>.
                </p>
                <h2>
                    <a id="grid">GridLayout</a>
                </h2>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/layout/GridLayoutDemo.png" width="326" height="217"
                         style="vertical-align:bottom" alt="Una imagen de una IGU que usa GridLayout" />
                </p>
                <p>
                    <code>GridLayout</code> simplemente hace que un montón de componentes sean iguales en tamaño y los visualiza en
                    el número de filas y columnas requerido. Para más detalles, vea <a href="grid.html">Cómo Usar GridLayout</a>.
                </p>
                <h2>
                    <a id="group">GroupLayout</a>
                </h2>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/layout/find.png" width="411" height="130"
                         style="vertical-align:bottom" alt="Una imagen de una IGU que usa GroupLayout" />
                </p>
                <p>
                    <code>GroupLayout</code> es un gestor de diseño que fue desarrollado para su uso con herramientas de 
                    construcción de IGU, pero puede usarse también manualmente. <code>GroupLayout</code> trabaja con los diseños
                    horizontal y vertical por separado. El diseño se define para cada dimensión independientemente. En 
                    consecuencia, sin embargo, cada componente debe definirse dos veces en el diseño. La ventana Find mostrada 
                    arriba es un ejemplo de un <code>GroupLayout</code>. Para más detalles, vea
                    <a href="group.html">Cómo Usar GroupLayout</a>.
                </p>
                <h2>
                    <a id="spring">SpringLayout</a>
                </h2>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/layout/SpringBox.png" width="477" height="72" style="vertical-align:bottom"
                         alt="Una imagen de una IGU que usa SpringLayout" />
                </p>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/layout/SpringForm.png" width="192" height="144" style="vertical-align:bottom"
                         alt="Otra IGU que usa SpringLayout" />
                </p>
                <p>
                    <code>SpringLayout</code> es un gestor de diseño flexible diseñado para usarse con constructores de IGU. Le
                    permite especificar precisas relaciones entre los límites de los componentes bajo su control. Por ejemplo,
                    podría definir que el límite izquierdo de un componente tiene una cierta distancia (la cual puede ser calculada 
                    dinámicamente) desde el límite derecho de un segundo componente. <code>SpringLayout</code> dispone los hijos de
                    su contenedor asociado de acuerdo al conjunto de restricciones, como se verá en
                    <a href="spring.html">Cómo Usar SpringLayout</a>.
                </p>
            </div>
            <div class="NavBit">
                <a target="_top" href="index.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="using.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Disponer Componentes Dentro de un Contenedor<br />
            <b>Página Siguiente:</b> Usando los Gestores de Diseño
        </div>
    </body>
</html>