<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Usar Selectores de Color (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario)
            con JFC/Swing &gt; Usando Componentes Swing)
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper  clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Usando Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="toplevel.html">Usando Contenedores de Nivel Superior</a></div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="linkAHEAD"><a href="text.html">Usando Componentes de Texto</a></div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="nolinkBHEAD">Cómo Usar Selectores de Color</div>
                <div class="linkBHEAD"><a href="combobox.html">Cómo Usar Cuadros Combinados</a></div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="linkBHEAD"><a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a></div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="linkBHEAD"><a href="frame.html">Cómo Hacer Marcos (Ventanas Principales)</a></div>
                <div class="linkBHEAD"><a href="internalframe.html">Cómo Usar Marcos Internos</a></div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="linkBHEAD"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="linkBHEAD"><a href="rootpane.html">Cómo Usar los Paneles Raíz</a></div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="linkBHEAD"><a href="slider.html">Cómo Usar Deslizadores</a></div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="linkBHEAD"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="linkBHEAD"><a href="textarea.html">Cómo Usar Áreas de Texto</a></div>
                <div class="linkBHEAD"><a href="textfield.html">Cómo Usar Campos de Texto</a></div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="linkBHEAD"><a href="tooltip.html">Cómo Usar Tool Tips</a></div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="linkAHEAD"><a href="html.html">Cómo Usar HTML en Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="model.html">Cómo Usar Modelos</a></div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Usando Componentes Swing<br />
                <b>Sección:</b> Cómo Usar Varios Componentes
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Usando Componentes Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="buttongroup.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="combobox.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Usar Selectores de Color</h1>
            </div>
            <div id="PageContent">
                <p>
                    Use la clase <a class="APILink" target="_blank"
                                    href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html">
                        <code>JColorChooser</code></a> para habilitar a los usuarios el seleccionar desde una paleta de colores. Un
                    selector de color es un componente que puede colocar en cualquier parte dentro de la IGU de su programa. La
                    IPA de <code>JColorChooser</code> también hace fácil mostrar un <a href="dialog.html">diálogo</a> (modal o
                    no) que contiene un selector de color.
                </p>
                <p>
                    Aquí tiene una imagen de una aplicación que utiliza un selector de color para establecer el color de texto en
                    una pancarta:
                </p>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/components/ColorChooserDemoMetal.png" width="654" height="462"
                         alt="Una captura de ColorChooserDemo, que contiene un selector de color estándar." />
                </p>
                <div class="note">
                    <hr />
                    <strong>Pruebe esto:</strong>&nbsp;
                    <ul>
                        <li>
                            Pulse el botón Lanzar para ejecutar la Demo ColorChooser usando
                            <a class="OutsideLink" target="_blank"
                               href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">
                                Java&trade; Web Start</a> (
                            <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue el KDJ</a>).
                            Alternativamente, para compilar y ejecutar el ejemplo por usted mismo, consulte el
                            <a href="../examples/components/index.html#ColorChooserDemo">índice de ejemplos</a>.
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/ColorChooserDemoProject/ColorChooserDemo.jnlp">
                                <img src="../../images/jws-launch-button.png" width="88" height="23"
                                     alt="Lanza el ejemplo ColorChooser" /></a>
                            <br />
                        </li>
                    </ul>
                    <hr />
                </div>
                <p>
                    El código fuente para el programa está en
                    <a class="SourceLink" target="_blank"
                       href="../examples/components/ColorChooserDemoProject/src/components/ColorChooserDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/ColorChooserDemoProject/src/components/ColorChooserDemo.java');
                               return false;"><code>ColorChooserDemo.java</code></a>.
                </p>
                <p>
                    El selector de color consiste de todo lo que están dentro de la caja etiquetada
                    <strong>Choose Text Color</strong>. Esto es como se ve un selector de color estándar en la Apariencia Java.
                    Contiene dos partes, un panel tabulado y un panel de vista previa. Las tres pestañas en el panel tabulado
                    selecciona <em>paneles de selección</em>. El <em>panel de vista previa</em> bajo el panel tabulado visualiza el
                    color seleccionado actualmente.
                </p>
                <p>
                    Aquí está el código del ejemplo que crea una instancia de <code>JColorChooser</code> y lo añade a un contenedor:
                </p>
                <div class="codeblock">
                    <pre>
public class ColorChooserDemo extends JPanel ... {
    public ColorChooserDemo() {
        super(new BorderLayout());
        banner = new JLabel("Welcome to the Tutorial Zone!",
                            JLabel.CENTER);
        banner.setForeground(Color.yellow);
        . . .
        tcc = new JColorChooser(banner.getForeground());
        . . .
        add(tcc, BorderLayout.PAGE_END);
    }
                    </pre>
                </div>
                <p>
                    El constructor de <code>JColorChooser</code> en el trozo de código previo toma un argumento <code>Color</code>,
                    el cual especifica el color seleccionado inicialmente en el seleccionador. Si no especifica el color inicial,
                    entonces el selector de color visualiza <code>Color.white</code>. Vea la documentación de la IPA de
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/java/awt/Color.html"><code>Color</code></a>
                    para una lista de constantes de color que puede usar.
                </p>
                <p>
                    <a id="changelistener">Un selector de color usa una instancia de </a>
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/colorchooser/ColorSelectionModel.html">
                        <code>ColorSelectionModel</code></a> para contener y gestionar la selección actual. El modelo de selección
                    de color dispara un evento de cambio cada vez que el usuario cambia el color en el selector de color. El
                    programa de ejemplo registra un oyente de cambio con el modelo de selección de color de forma que pueda
                    actualizar la pancarta en lo alto de la ventana.
                    El siguiente código registra e implementa el oyente de cambio:
                </p>
                <div class="codeblock">
                    <pre>
tcc.getSelectionModel().addChangeListener(this);
. . .
public void stateChanged(ChangeEvent e) {
    Color newColor = tcc.getColor();
    banner.setForeground(newColor);
}
                    </pre>
                </div>
                <p>
                    Vea <a href="../events/changelistener.html">Cómo Escribir un Change Listener</a> para información general sobre
                    los oyentes de cambio y los eventos de cambio.
                </p>
                <p>
                    Un selector de color básico, como el usado en el programa de ejemplo, es suficiente para muchos programas. Sin
                    embargo, la IPA del selector de color le permite personalizar un selector de color proporcionando con un panel
                    de vista previa de su propio diseño, añadiendo sus propios paneles de selección a él, o eliminar paneles de
                    selección existentes del seleccionador de color. Adicionalmente, la clase <code>JColorChooser</code> proporciona
                    dos métoso que hacen fácil usar un selector de color dentro de un diálogo.
                </p>
                <p>
                    El resto de ésta sección describe estos tópicos:
                </p>
                <ul>
                    <li><a href="#advancedexample">Otro Ejemplo: ColorChooserDemo2</a></li>
                    <li><a href="#dialog">Mostrar un Selector de Color en un Diálogo</a></li>
                    <li><a href="#previewpanel">Eliminar o Reemplazar el Panel de Vista Previa</a></li>
                    <li><a href="#chooserpanel">Crear un Panel Selector Personalizado</a></li>
                    <li><a href="#api">La IPA del Selector de Color</a></li>
                    <li><a href="#eg">Ejemplos que Usan Selectores de Color</a></li>
                </ul>
                <p>
                    <a id="advancedexample"></a>
                </p>
                <h2>
                    <a id="advancedexample__1">Otro Ejemplo: ColorChooserDemo2</a>
                </h2>
                <p>
                    Ahora volvamos nuestra atención a <a href="../examples/components/index.html#ColorChooserDemo2">
                        ColorChooserDemo2</a>, una versión modificada del programa demostración previo que usa más de la IPA de
                    <code>JColorChooser</code>.
                </p>
                <div class="note">
                    <hr />
                    <strong>Pruebe esto:</strong>&nbsp;
                    <ul>
                        <li>
                            Pulse el botón Lanzar para ejecutar la Demo ColorChooser Demo usando
                            <a class="OutsideLink" target="_blank"
                               href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">
                                Java&trade; Web Start</a> (
                            <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue el KDJ</a>).
                            Alternativamente, para compilar y ejecutar el ejemplo por usted mismo, consulte el
                            <a href="../examples/components/index.html#ColorChooserDemo2">índice de ejemplos</a>.
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/ColorChooserDemo2Project/ColorChooserDemo2.jnlp">
                                <img src="../../images/jws-launch-button.png" width="88" height="23"
                                     alt="Lanza el ejemplo ColorChooserDemo2" /></a>
                            <br />
                        </li>
                    </ul>
                    <hr />
                </div>
                <p>
                    Aquí tiene una foto de ColorChooserDemo2:
                </p>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/components/ColorChooserDemo2Metal.png" width="395" height="424"
                         alt="Una captura de ColorChooserDemo, el cual contiene un selector de color personalizado." />
                </p>
                <p>
                    Este programa personaliza el selector de color del texto de la pancarta de estas maneras:
                </p>
                <ul>
                    <li>Elimina el panel de vista previa</li>
                    <li>Elimina todos los paneles de selección por defecto</li>
                    <li>Añade un panel de selección personalizado</li>
                </ul>
                <p>
                    <a href="#previewpanel">Eliminar o Reemplazar el Panel de Vista Previa</a> cubre la primera personalización.
                    <a href="#chooserpanel">Crear un Panel Selector Personalizado</a> describe las dos últimas.
                </p>
                <p>
                    Este programa también añade un botón que muestra un selector de color en un diálogo, el cual puede usar para
                    establecer el color de fondo de la pancarta.
                </p>
                <h2>
                    <a id="dialog">Mostrar un Selector de Color en un Diálogo</a>
                </h2>
                <p>
                    La clase <code>JColorChooser</code> proporciona dos métodos de clase que hacen fácil usar un selector de color
                    en un diálogo. ColorChooserDemo2 usa uno de estos métodos, <code>showDialog</code>, para visualizar el selector
                    del color de fondo cuando el usuario pulsa el botón <strong>Show Color Chooser...</strong>. Aquí está la única
                    línea de código del ejemplo que muestra el selector del color de fondo en un diálogo:
                </p>
                <div class="codeblock">
                    <pre>
Color newColor = JColorChooser.showDialog(
                     ColorChooserDemo2.this,
                     "Choose Background Color",
                     banner.getBackground());
                    </pre>
                </div>
                <p>
                    El primer argumento es el padre del diálogo, el segundo es el título del diálogo, y el tercero es el color
                    inicialmente seleccionado.
                </p>
                <p>
                    El diálogo desaparace bajo tres condiciones: el usuario elige un color y pulsa el botón <strong>OK</strong>, el
                    usuario cancela la operación con el botón <strong>Cancel</strong>, o el usuario descarta el diálogo con un
                    control del marco. Si el usuario selecciona un color, el método <code>showDialog</code> devuelve el color nuevo.
                    Si el usuario cancela la operación o descarta la ventana, el método devuelve <code>null</code>. Aquí está el
                    código del ejemplo que actualiza el color de fondo de la pancarta de acuerdo al valor devuelto por
                    <code>showDialog</code>:
                </p>
                <div class="codeblock">
                    <pre>
if (newColor != null) {
    banner.setBackground(newColor);
}
                    </pre>
                </div>
                <p>
                    El diálogo creado por <code>showDialog</code> es modal. Si quiere un diálogo no-modal, puede usar el método
                    <code>createDialog</code> de <code>JColorChooser</code> para crear el diálogo. Este método también permite que
                    especifique oyentes de acción para los botones <strong>OK</strong> y <strong>Cancel</strong> en la ventana de
                    diálogo. Use el método <code>show</code> de <code>JDialog</code> para mostrar el diálogo creado por este
                    método. Para un ejemplo que usa este método, vea <a href="table.html#editor">Usar Otros Editores</a> en la
                    sección <a href="table.html">Cómo Usar Tablas</a>.
                </p>
                <h2>
                    <a id="previewpanel">Eliminar o Reemplazar el Panel de Vista Previa</a>
                </h2>
                <p>
                    Por defecto, el selector de color muestra un panel de vista previa. ColorChooserDemo2 elimina el panel de vista
                    previa del selector de color del texto con esta línea de código:
                </p>
                <div class="codeblock">
                    <pre>
tcc.setPreviewPanel(new JPanel());
                    </pre>
                </div>
                <p>
                    Esto efectivamente elimina el panel de vista previa porque un <code>JPanel</code> plano no tiene tamaño ni vista
                    por defecto. Para restablecer el panel de vista previa por defecto, use <code>null</code> como argumento a
                    <code>setPreviewPanel</code>.
                </p>
                <p>
                    Parar proporcionar un panel de vista previa personalizado, también use <code>setPreviewPanel</code>. El
                    componente que pase al método debería heredar de <code>JComponent</code>, especificar un tamaño razonable, y
                    proporcionar una vista personalizada del color actual. Para ser notificado cuando el usuario cambia el color en
                    el selector de color, el panel de vista previa debe registrar un oyente de cambio en el modelo de selección de
                    color del selector de color como se describió <a href="#changelistener">previamente</a>.
                </p>
                <h2>
                    <a id="chooserpanel">Crear un Panel Selector Personalizado</a>
                </h2>
                <p>
                    El selector de color por defecto proporciona cinco paneles de selección:
                </p>
                <ul>
                    <li>
                        Muestras &HorizontalLine; Para elegir un color de una colección de muestras.
                    </li>
                    <li>
                        <a href="http://en.wikipedia.org/wiki/HSL_and_HSV">HSV</a> &HorizontalLine; para elegir un color usando la
                        representación de color Tono-Saturación-Valor. Antes del KDJ 7, esto fue llamado HSB, para
                        Tono-Saturación-Brillo.
                    </li>
                    <li>
                        <a href="http://en.wikipedia.org/wiki/HSL_and_HSV">HSL</a> &HorizontalLine; para elegir un color con la
                        representación de color Tono-Saturación-Ligereza. Esto es nuevo en el KDJ 7.
                    </li>
                    <li>
                        <a href="http://en.wikipedia.org/wiki/RGB_color_model">RGB</a> &HorizontalLine; para elegir un color usando
                        el modelo de color Rojo-Verde-Azul.
                    </li>
                    <li>
                        <a href="http://en.wikipedia.org/wiki/Cmyk">CMYK</a> &HorizontalLine; para elegir un color usando el proceso
                        de color o el modelo de cuatro colores. Esto es nuevo en el KDJ 7.
                    </li>
                </ul>
                <p>
                    Puede extender el selector de color por defecto añadiendo paneles de selección de su propio diseño con
                    <code>addChooserPanel</code>, o puede limitarlos eliminando paneles de selección con
                    <code>removeChooserPanel</code>.
                </p>
                <p>
                    Si quiere eliminar del selector por defecto todos los paneles y añadir uno o más de los suyos, puede hacer esto
                    con una única llamada a <code>setChooserPanels</code>. ColorChooserDemo2 usa este método para reemplazar los
                    paneles del selector por defecto con una instancia de
                    <a class="SourceLink" target="_blank"
                       href="../examples/components/ColorChooserDemo2Project/src/components/CrayonPanel.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/ColorChooserDemo2Project/src/components/CrayonPanel.java');
                               return false;"><code>CrayonPanel</code></a>, un panel de selector personalizado. Aquí tiene la
                    llamada a
                    <code>setChooserPanels</code> de ese ejemplo:
                </p>
                <div class="codeblock">
                    <pre>
//Sobreescribe los paneles de selección con los nuestros.
AbstractColorChooserPanel panels[] = { new CrayonPanel() };
tcc.setChooserPanels(panels);
                    </pre>
                </div>
                <p>
                    El código es sencillo: crea un  vector conteniendo a <code>CrayonPanel</code>. A continuación el código llama
                    a <code>setChooserPanels</code> para establecer los contenidos del vector como los paneles de selección del
                    selector de color.
                </p>
                <p>
                    <code>CrayonPanel</code> es una subclase de
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/colorchooser/AbstractColorChooserPanel.html">
                        <code>AbstractColorChooserPanel</code></a> y sobreescribe los cinco métodos abstractors definidos en la
                    superclase:
                </p>
                <dl>
                    <dt>
                        <strong><code>void buildChooser()</code></strong>
                    </dt>
                    <dd>
                        Crea la IGU que incluye el panel selector. El ejemplo crea cuatro botones conmutadores - uno para
                        cada lápiz - y los agrega al panel selector.
                    </dd>
                    <dt>
                        <strong><code>void updateChooser()</code></strong>
                    </dt>
                    <dd>
                        Este método se llama cada vez que se muestre el panel selector. La implementación de este método selecciona
                        el botón conmutador que representa el color seleccionado actualmente.
                        <div class="codeblock">
                            <pre>
public void updateChooser() {
    Color color = getColorFromModel();
    if (Color.red.equals(color)) {
        redCrayon.setSelected(true);
    } else if (Color.yellow.equals(color)) {
        yellowCrayon.setSelected(true);
    } else if (Color.green.equals(color)) {
        greenCrayon.setSelected(true);
    } else if (Color.blue.equals(color)) {
        blueCrayon.setSelected(true);
    }
}
                            </pre>
                        </div>
                    </dd>
                    <dt>
                        <strong><code>String getDisplayName()</code></strong>
                    </dt>
                    <dd>
                        Devuelve el nombre de visualización del panel selector. El nombre es usado en la pestaña del panel selector.
                        Aquí está el ejemplo del método <code>getDisplayName</code>:
                        <div class="codeblock">
                            <pre>
public String getDisplayName() {
    return "Crayons";
}
                            </pre>
                        </div>
                    </dd>
                    <dt>
                        <strong><code>Icon getSmallDisplayIcon()</code></strong>
                    </dt>
                    <dd>
                        Devuelve un icono pequeño que representa a este panel selector. Esto no se utiliza actualmente. Versiones
                        futuras del selector de color podrían usar este icono o el grande para representar este panel selector en el
                        monitor. La implementación del ejemplo de este método devuelve <code>null</code>.
                    </dd>
                    <dt>
                        <strong><code>Icon getLargeDisplayIcon()</code></strong>
                    </dt>
                    <dd>
                        Devuelve un icono grande que representa a este panel selector. Esto no se utiliza actualmente. Versiones
                        futuras del selector de color podrían usar este icono o el pequeño para representar este panel selector en
                        el monitor. La implementación del ejemplo de este método devuelve <code>null</code>.
                    </dd>
                </dl>
                <p>
                </p>
                <h2>
                    <a id="api">La IPA del Selector de Color</a>
                </h2>
                <p>
                    Las tablas siguientes listan los constructores y métodos de <code>JColorChooser</code> usados comunmente. Otros
                    métodos que podría llamar están listados en las tablas de la IPA en
                    <a href="jcomponent.html">La Clase JComponent </a>. La IPA para usar selectores de color se clasifica en estas
                    categorías:
                </p>
                <ul>
                    <li><a href="#creating">Crear y Visualizar el Selector de Color</a></li>
                    <li><a href="#customizing">Personalizar la IGU del Selector de Color</a></li>
                    <li><a href="#selection">Establecer u Obtener el Color Actual</a></li>
                </ul>
                <table class="celda">
                    <caption>
                        <a id="creating">Crear y Visualizar el Selector de Color</a>
                    </caption>
                    <tr>
                        <th id="h1" class="celda" style="text-align: left">Método o Constructor</th>
                        <th id="h2" class="celda" style="text-align: left">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#JColorChooser--">
                                JColorChooser()</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#JColorChooser-java.awt.Color-">
                                JColorChooser(Color)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#JColorChooser-javax.swing.colorchooser.ColorSelectionModel-">
                                JColorChooser(ColorSelectionModel)</a>
                        </td>
                        <td headers="h2" class="celda">
                            Crea un selector de color. El constructor por defecto crea un selector de color con un color inicial
                            <code>Color.white</code>. Use el segundo constructor para especificar un color inicial diferente. El
                            argumento <code>ColorSelectionModel</code>, cuando está presente, proporciona al selector de color un
                            modelo de selección de color.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#showDialog-java.awt.Component-java.lang.String-java.awt.Color-">
                                Color showDialog(Component, String, Color)</a>
                        </td>
                        <td headers="h2" class="celda">
                            Crea y muestra un selector de color en un diálogo modal. El argumento <code>Component</code> es el padre
                            del diálogo, el argumento <code>String</code> especifica el título del diálogo, y el argumento
                            <code>Color</code> especifica el color inicial del seleccionador.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#createDialog-java.awt.Component-java.lang.String-boolean-javax.swing.JColorChooser-java.awt.event.ActionListener-java.awt.event.ActionListener-">
                                JDialog createDialog(Component, String,
                                <br />
                                boolean, JColorChooser, ActionListener,
                                <br /> ActionListener)</a>
                        </td>
                        <td headers="h2" class="celda">
                            Crea un diálogo para el selector de color especificado. Como con <code>showDialog</code>, el argumento
                            <code>Component</code> es el padre del diálogo y el argumento <code>String</code> especifica el título
                            del diálogo. Los otros argumentos son como siguen: el <code>boolean</code> especifica si el diálogo es
                            modal, el <code>JColorChooser</code> es el selector de color a mostrar en el diálogo, el primer
                            <code>ActionListener</code> es para el botón <strong>Aceptar</strong>, y el segundo es para el botón
                            <strong>Cancelar</strong>.
                        </td>
                    </tr>
                </table>
                <br />
                <table class="celda">
                    <caption>
                        <a id="customizing">Personalizar la IGU del Selector de Color</a>
                    </caption>
                    <tr>
                        <th id="h101" class="celda" style="text-align: left">Método</th>
                        <th id="h102" class="celda" style="text-align: left">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#setPreviewPanel-javax.swing.JComponent-">
                                void setPreviewPanel(JComponent)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#getPreviewPanel--">
                                JComponent getPreviewPanel()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene el componente usado para previsualizar la selección de color. Para eliminar el panel
                            de previsualización, use <code>new JPanel()</code> como un argumento. Para especificar la versión por
                            defecto del panel de previsualización, use <code>null</code>.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#setChooserPanels-javax.swing.colorchooser.AbstractColorChooserPanel:A-">
                                void setChooserPanels(AbstractColorChooserPanel[])</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#getChooserPanels--">
                                AbstractColorChooserPanel[] getChooserPanels()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene los paneles de selección en el selector de color.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#addChooserPanel-javax.swing.colorchooser.AbstractColorChooserPanel-">
                                void addChooserPanel(AbstractColorChooserPanel)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#removeChooserPanel-javax.swing.colorchooser.AbstractColorChooserPanel-">
                                AbstractColorChooserPanel removeChooserPanel(AbstractColorChooserPanel)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Añade un panel selector al selector de color o elimina un panel de selección de él.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#setDragEnabled-boolean-">
                                void setDragEnabled(boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#getDragEnabled--">
                                boolean getDragEnabled()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene la propiedad <code>dragEnabled</code>, la cual debe ser verdad para habilitar la
                            gestión del arrastre en este componente. El valor por defecto es false. Vea
                            <a class="TutorialLink" target="_top" href="../dnd/index.html">
                                Arrastrar y Soltar y Transferencia de Datos
                            </a> para más detalles.
                        </td>
                    </tr>
                </table>
                <br />
                <table class="celda">
                    <caption>
                        <a id="selection">Establecer u Obtener el Color Actual</a>
                    </caption>
                    <tr>
                        <th id="h201" class="celda" style="text-align: left">Método</th>
                        <th id="h202" class="celda" style="text-align: left">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#setColor-java.awt.Color-">
                                void setColor(Color)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#setColor-int-int-int-">
                                void setColor(int, int, int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#setColor-int-">
                                void setColor(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#getColor--">
                                Color getColor()</a>
                        </td>
                        <td headers="h202" class="celda">
                            Establece u obtiene el color seleccionado actualmente. La tercera versión entera del método
                            <code>setColor</code> interpreta los tres enteros juntos, como un color RGB. La versión de un único
                            entero del método <code>setColor</code> divide el entero en cuatro bytes de 8 bits e interpreta el
                            entero como un color RGB como sigue:
                            <img src="../../figures/uiswing/components/ColorChooserInt.gif" width="109" height="30"
                                 alt="Cómo el selector de color interpreta un int como un valor RGB." />
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#setSelectionModel-javax.swing.colorchooser.ColorSelectionModel-">
                                void setSelectionModel(ColorSelectionModel)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JColorChooser.html#getSelectionModel--">
                                ColorSelectionModel getSelectionModel()</a>
                        </td>
                        <td headers="h202" class="celda">
                            Establece u obtiene el modelo de selección para el selector de color. Este objeto contiene la selección
                            actual y dispara los eventos de cambio a los oyentes registrados siempre que la selección cambie.
                        </td>
                    </tr>
                </table>
                <h2>
                    <a id="eg">Ejemplos que Usan Selectores de Color</a>
                </h2>
                <p>
                    Esta tabla muestra los ejemplos que usan <code>JColorChooser</code> y donde esos ejemplos están descritos.
                </p>
                <table>
                    <caption>Ejemplos que usan JColorChooser</caption>
                    <tr>
                        <th id="h301" class="izq">Ejemplo</th>
                        <th id="h302" class="izq">Donde está Escrito</th>
                        <th id="h303" class="izq">Notas</th>
                    </tr>
                    <tr>
                        <td headers="h301"><a href="../examples/components/index.html#ColorChooserDemo">ColorChooserDemo</a></td>
                        <td headers="h302">Esta sección</td>
                        <td headers="h303">Usa un selector de color estándar.</td>
                    </tr>
                    <tr>
                        <td headers="h301"><a href="../examples/components/index.html#ColorChooserDemo2">ColorChooserDemo2</a></td>
                        <td headers="h302">Esta sección</td>
                        <td headers="h303">
                            Usa un selector de color personalizado y un selector de color estándar en un diálogo creado con
                            <code>showDialog</code>.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301">
                            <a href="../examples/components/index.html#TableDialogEditDemo">TableDialogEditDemo</a>
                        </td>
                        <td headers="h302"><a href="table.html">Cómo Usar Tablas</a></td>
                        <td headers="h303">
                            Muestra cómo usar un selector de color como un editor de celdas personalizado en una tabla. El selector
                            de color usado por este ejemplo es creado con <code>createDialog</code>.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301">
                            <a class="TutorialLink" target="_top"
                               href="../misc/../examples/dnd/index.html#BasicDnD">BasicDnD</a>
                        </td>
                        <td headers="h302">
                            <a class="TutorialLink" target="_top" href="../dnd/intro.html">
                                Introducción al Arrastrar y Soltar (Dnd)
                            </a>
                        </td>
                        <td headers="h303">
                            Usa un selector de color que no está en un diálogo; demuestra las características arrastrar-y-soltar por
                            defecto de los componentes de Swing, incluyendo los selectores de color.
                        </td>
                    </tr>
                </table>
            </div>
            <div class="NavBit">
                <a target="_top" href="buttongroup.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="combobox.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html"> avisos
                                legales </a> .
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Cómo Usar el Componente Grupo De Botones<br />
            <b>Página Siguiente:</b> Cómo Usar Cuadros Combinados
        </div>
    </body>
</html>