<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Usar Cuadros Combinados (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario)
            con JFC/Swing &gt; Usando Componentes Swing)
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Usando Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="toplevel.html">Usando Contenedores de Nivel Superior</a></div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="linkAHEAD"><a href="text.html">Usando Componentes de Texto</a></div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="linkBHEAD"><a href="colorchooser.html">Cómo Usar Selectores de Color</a></div>
                <div class="nolinkBHEAD">Cómo Usar Cuadros Combinados</div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="linkBHEAD"><a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a></div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="linkBHEAD"><a href="frame.html">Cómo Hacer Marcos (Ventanas Principales)</a></div>
                <div class="linkBHEAD"><a href="internalframe.html">Cómo Usar Marcos Internos</a></div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="linkBHEAD"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="linkBHEAD"><a href="rootpane.html">Cómo Usar los Paneles Raíz</a></div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="linkBHEAD"><a href="slider.html">Cómo Usar Deslizadores</a></div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="linkBHEAD"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="linkBHEAD"><a href="textarea.html">Cómo Usar Áreas de Texto</a></div>
                <div class="linkBHEAD"><a href="textfield.html">Cómo Usar Campos de Texto</a></div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="linkBHEAD"><a href="tooltip.html">Cómo Usar Tool Tips</a></div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="linkAHEAD"><a href="html.html">Cómo Usar HTML en Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="model.html">Cómo Usar Modelos</a></div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Usando Componentes Swing<br />
                <b>Sección:</b> Cómo Usar Varios Componentes
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Usando Componentes Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="colorchooser.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="dialog.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Usar Cuadros Combinados</h1>
            </div>
            <div id="PageContent">
                <p>
                    Un <a class="APILink" target="_blank"
                           href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html"><code>JComboBox</code></a>,
                    el cual permite al usuario seleccionar una de varias selecciones, puede tener dos formas muy diferentes. La
                    forma por defecto es el cuadro combinado no editable, la cual caracteriza un botón y una lista desplegable de
                    valores. La segunda forma, llamado cuadro combinado editable, caracteriza un campo de texto con un pequeño botón que
                    lo toca. El usuario puede escribir un valor en el campo de texto o pulsar el botón para mostrar una lista
                    desplegable. Aquí se muestran las dos formas de Cuadros Combinados en la Apariencia Java:
                </p>
                <p style="text-align: center"></p>
                <table style="padding:0px;">
                    <tr>
                        <td style="text-align:center">
                            <img src="../../figures/uiswing/components/UneditableComboMenuMetal.png" width="177" height="25"
                                 alt="Un cuadro combinado no editable" />
                        </td>
                        <td style="text-align:center">
                            <img src="../../figures/uiswing/components/EditableComboBoxMenuMetal.png" width="211" height="25"
                                 alt="Un cuadro combinado editable" />
                        </td>
                    </tr>
                    <tr style="vertical-align: top">
                        <td style="text-align:center">
                            <img src="../../figures/uiswing/components/UneditableComboMenu2Metal.png" width="177" height="117"
                                 alt="Un cuadro combinado no editable" />
                        </td>
                        <td style="text-align:center">
                            <img src="../../figures/uiswing/components/EditableComboBoxMenuMetal2.png" width="211" height="171"
                                 alt="Un cuadro combinado editable" />
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">
                            Un cuadro combinado no editable, antes (arriba)
                            <br />
                            y después de que el botón sea pulsado
                        </td>
                        <td style="font-weight: bold">
                            Cuadro combinado editable, antes y después
                            <br />
                            de que el botón con flecha sea pulsado
                        </td>
                    </tr>
                </table>
                <p>
                    Los cuadros combinados requieren poco espacio en pantalla, y su forma editable (campo de texto) es útil para permitir
                    al usuario seleccionar rápidamente un valor sin limitar al usuario a los valores visualizados. Otros componentes
                    que pueden visualizar una-de-muchas selecciones son los grupos de
                    <a href="button.html#radiobutton">botones de opción</a> y las <a href="list.html">listas</a>. Los grupos de
                    botones de opción son generalmente los más fáciles de entender para los usuarios, pero los cuadros combinados pueden
                    ser más apropiados cuando el espacio es limitado o hay más que unas pocas selecciones disponibles. Las listas
                    no son terriblemente atractivas, pero son más apropiadas que los cuadros combinados cuando el número de items es
                    grande (digamos, por encima de 20) o cuando podría ser válido seleccionar items múltiples.
                </p>
                <p>
                    Debido a que los cuadros combinados editables y no editables son tan diferentes, esta sección los trata separadamente.
                    Esta sección cubre estos tópicos:
                </p>
                <ul>
                    <li><a href="#uneditable">Usar Un Cuadro Combinado No Editable</a></li>
                    <li><a href="#listeners">Manejar Eventos en un Cuadro Combinado</a></li>
                    <li><a href="#editable">Usar un Cuadro Combinado Editable</a></li>
                    <li><a href="#renderer">Proporcionar un Renderizador Personalizado</a></li>
                    <li><a href="#api">La IPA de un Cuadro Combinado</a></li>
                    <li><a href="#eg">Ejemplos que Usan Cuadro Combinados</a></li>
                </ul>
                <p>
                    <a id="uneditable"></a>
                </p>
                <h2>
                    <a id="uneditable__1">Usar Un Cuadro Combinado No Editable</a>
                </h2>
                <p>
                    La aplicación mostrada aquí usa un cuadro combinado no editable para elegir una pintura de mascota:
                </p>
                <p style="text-align:center;">
                    <img src="../../figures/uiswing/components/ComboBoxDemoMetal.png" width="225" height="231"
                         alt="Un cuadro combinado no editable" />
                </p>
                <p>
                    <a id="trythis"></a>
                </p>
                <div class="note">
                    <hr />
                    <strong>Prueba esto:</strong>&nbsp;
                    <ol>
                        <li>
                            Pulse el botón Lanzar para ejecutar la Demo ComboBox usando
                            <a class="OutsideLink" target="_blank"
                               href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">
                                Java&trade; Web Start</a> (
                            <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                descargue KDJ 7 o posterior</a>). Alternativamente, para compilar y ejecutar el ejemplo por usted
                            mismo, consulte el
                            the <a href="../examples/components/index.html#ComboBoxDemo">índice de ejemplo</a>.
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/ComboBoxDemoProject/ComboBoxDemo.jnlp">
                                <img src="../../images/jws-launch-button.png" width="88" height="23"
                                     alt="Lanza el ejemplo ComboBoxDemo" />
                            </a>
                            <br />
                        </li>
                        <li>
                            Seleccione un nombre de animal del cuadro combinado para ver su pintura.
                        </li>
                        <li>
                            Compare la operación y el IGU de este programa con el que usa botones de opción:
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/RadioButtonDemoProject/RadioButtonDemo.jnlp">
                                ejecuta RadioButtonDemo</a> (requiere la versión 6). También puede comparar el código fuente:
                            <a class="SourceLink" target="_blank"
                               href="../examples/components/ComboBoxDemoProject/src/components/ComboBoxDemo.java"
                               onclick="showCode('../../displayCode.html',
                                               '../examples/components/ComboBoxDemoProject/src/components/ComboBoxDemo.java');
                                       return false;"><code>ComboBoxDemo.java</code></a> vs.
                            <a class="SourceLink" target="_blank"
                               href="../examples/components/RadioButtonDemoProject/src/components/RadioButtonDemo.java "
                               onclick="showCode('../../displayCode.html',
                                               '../examples/components/RadioButtonDemoProject/src/components/RadioButtonDemo.java ');
                                       return false;"><code>RadioButtonDemo.java</code></a>.
                        </li>
                    </ol>
                    <hr />
                </div>
                <p>
                    El código siguiente, tomado de
                    <a class="SourceLink" target="_blank"
                       href="../examples/components/ComboBoxDemoProject/src/components/ComboBoxDemo.java "
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/ComboBoxDemoProject/src/components/ComboBoxDemo.java ');
                               return false;"><code>ComboBoxDemo.java</code></a>, crea un cuadro combinado no editable y la configura:
                </p>
                <div class="codeblock">
                    <pre>
String[] petStrings = { "Bird", "Cat", "Dog", "Rabbit", "Pig" };

//Crea el cuadro combinado, selecciona el item en el indice 4.
JComboBox petList = new JComboBox(petStrings);
petList.setSelectedIndex(4);
petList.addActionListener(this);
                    </pre>
                </div>
                <p>
                    Este cuadro combinado contiene un vector de cadenas, pero también podría utilizar iconos con la misma facilidad. Para
                    poner cualquier otra cosa en un cuadro combinado o para personalizar la apariencia de los elementos de un cuadro
                    combinado, debe escribir un renderizador personalizado. Un cuadro combinado editable también necesitará un editor
                    personalizado. Refiérase a
                    <a href="#renderer">Proporcionar un Renderizador Personalizado</a> para información y un ejemplo.
                </p>
                <p>
                    El código precedente registra un oyente de acción en el cuadro combinado. Para ver la implementación del oyente de
                    acción y aprender sobre otros tipos de oyentes soportados por el cuadro combinado, refíerase a
                    <a href="#listeners">Manejar Eventos en un Cuadro Combinado</a>.
                </p>
                <p>
                    No importa qué constructor use, un cuadro combinado usa un modelo de cuadro combinado para contener y gestionar los items
                    en su menú. Cuando inicializa un cuadro combinado con una matriz o un vector, el cuadro combinado crea un modelo de
                    objeto por defecto para usted. Como con otros componentes Swing, puede personalizar un cuadro combinado en parte
                    implementando un modelo personalizado&HorizontalLine; un objeto que implementa la interfaz
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/ComboBoxModel.html">
                        <code>ComboBoxModel</code></a>. <a id="datsun">&nbsp;</a>
                </p>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;
                    <p>
                        Sea cuidadoso cuando implemente un modelo personalizado para un cuadro combinado. Los métodos de
                        <code>JComboBox</code> que cambian los items en el menú del cuadro combinado, tal como
                        <code>insertItemAt</code>, funciona sólo si el modelo de datos implementa el interfaz
                        <a class="APILink" target="_blank"
                           href="https://docs.oracle.com/javase/8/docs/api/javax/swing/MutableComboBoxModel.html">
                            <code>MutableComboBoxModel</code></a> (un subinterfaz de <code>ComboBoxModel</code>). Refíerase a las
                        tablas de la <a href="#api">IPA</a> para ver qué métodos están afectados.
                    </p>
                    <p>
                        Algo más a tener en cuenta &HorizontalLine; incluso para los cuadros combinados no editables 
                        &HorizontalLine; es garantizar que su modelo personalizado dispare
                        <a class="TutorialLink" target="_top"
                           href="../events/listdatalistener.html">eventos de datos de lista</a> cuando los datos del cuadro combinado
                        o su estado cambie. Incluso los modelos de cuadros combinados inmutables, cuyos datos nunca cambian, deben
                        disparar un evento de datos de lista ( un evento <code>CONTENTS_CHANGED</code>) cuando la selección cambia.
                        Una forma de obtener gratis el código disparador del evento de datos de lista es hacer su modelo de cuadro 
                        combinado una subclase de
                        <a class="APILink" target="_blank"
                           href="https://docs.oracle.com/javase/8/docs/api/javax/swing/AbstractListModel.html">
                            <code>AbstractListModel</code></a>.
                    </p>
                    <hr />
                </div>
                <h2>
                    <a id="listeners">Manejar Eventos en un Cuadro Combinado</a>
                </h2>
                <p>
                    Aquí está el código de <code>ComboBoxDemo.java</code> que registra e implementa un oyente de acción de la lista
                    combo:
                </p>
                <div class="codeblock">
                    <pre>
public class ComboBoxDemo ... implements ActionListener {
    . . .
        petList.addActionListener(this) {
    . . .
    public void actionPerformed(ActionEvent e) {
        JComboBox cb = (JComboBox)e.getSource();
        String petName = (String)cb.getSelectedItem();
        updateLabel(petName);
    }
    . . .
}
                    </pre>
                </div>
                <p>
                    Este oyente de acción obtiene el elemento recién seleccionado del cuadro combinado, lo usa para calcular el nombre
                    de un fichero de imagen, y actualiza una etiqueta que muestra la imagen. El cuadro combinado dispara un evento de
                    acción cuando el usuario selecciona un item del menú del cuadro combinado. Vea
                    <a class="TutorialLink" target="_top"
                       href="../events/actionlistener.html">Cómo Escribir un Oyente de Acción</a>, para información general sobre
                    implementar oyentes de acción.
                </p>
                <p>
                    El cuadro combinado también genera eventos de item, los cuales son disparados cuando cualquiera de los estados de
                    selección de los item cambian. Sólo un item a la vez puede ser seleccionado en un cuadro combinado, así que cuando
                    el usuario hace una nueva selección el item seleccionado previamente se convierte en deseleccionado. Así dos
                    eventos de item son disparados cada vez que el usuario selecciona un item diferente del menú. Si el usuario
                    selecciona el mismo item, no se dispara ningún evento de item. Use <code>addItemListener</code> para registrar
                    un oyente de item en un cuadro combinado.
                    <a class="TutorialLink" target="_top" href="../events/itemlistener.html">Cómo Escribir un Oyente de Ítem</a> le
                    da información general sobre la implementación de los oyentes de item.
                </p>
                <p>
                    Aunque <code>JComboBox</code> hereda métodos para registrar oyentes para eventos de bajo nivel &HorizontalLine;
                    eventos de foco, tecla, y ratón, por ejemplo &HorizontalLine; recomendamos que no escuche por eventos de bajo
                    nivel en un cuadro combinado. Aquí tiene el porqué: Un cuadro combinado es un <em>componente compuesto</em>
                    &HorizontalLine; está formado de dos o más componentes. El cuadro combinado por sí mismo lanza eventos de alto
                    nivel tales como los eventos de acción. Sus subcomponentes disparan eventos de bajo nivel tales como los eventos
                    de ratón, tecla y foco. Los eventos de bajo nivel y el subcomponente que los dispara dependen de la Apariencia.
                    Para evitar escribir código que dependa de la apariencia, usted debería escuchar sólo los eventos de alto nivel
                    de un componente compuesto tal como un cuadro combinado. Para información sobre eventos, incluyendo una descripción
                    sobre los eventos de alto y bajo nivel, refíerase a
                    <a class="TutorialLink" target="_top" href="../events/index.html">Escribir Oyentes de Evento</a>.
                </p>
                <h2>
                    <a id="editable">Usar un Cuadro Combinado Editable</a>
                </h2>
                <p>
                    Aquí tiene una foto de una aplicación de demostración que usa un cuadro combinado editable para introducir un patrón
                    con el cual dar formato a fechas.
                </p>
                <p style="text-align:center;">
                    <img src="../../figures/uiswing/components/ComboBoxDemo2Metal.png" width="239" height="177"
                         alt="Un cuadro combinado editable" />
                </p>
                <div class="note">
                    <hr />
                    <strong>Pruebe esto:</strong>&nbsp;
                    <ol>
                        <li>
                            Pulse el botón Lanzar para ejecutar la Demostración ComboBox2 usando
                            <a class="OutsideLink" target="_blank"
                               href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">
                                Java&trade; Web Start</a> (<a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                descargue KDJ 7 o posterior</a>). Alternativamente, para compilar y ejecutar el ejemplo por usted
                            mismo, consulte el
                            <a href="../examples/components/index.html#ComboBoxDemo2">índice de ejemplos</a>.
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/ComboBoxDemo2Project/ComboBoxDemo2.jnlp">
                                <img src="../../images/jws-launch-button.png" width="88" height="23"
                                     alt="Lanza el ejemplo ComboBoxDemo2" />
                            </a>
                            <br />
                        </li>
                        <li>
                            Introduzca un nuevo patrón seleccionando uno desde el menú del cuadro combinado. El programa reformatea la
                            fecha y hora actual.
                        </li>
                        <li>
                            Introduzca un nuevo patrón tecleando uno y presione Intro. De nuevo el programa reformatea la fecha y
                            hora actual.
                        </li>
                    </ol>
                    <hr />
                </div>
                <p>
                    El siguiente código, tomado de
                    <a class="SourceLink" target="_blank"
                       href="../examples/components/ComboBoxDemo2Project/src/components/ComboBoxDemo2.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/ComboBoxDemo2Project/src/components/ComboBoxDemo2.java');
                               return false;">
                        <code>ComboBoxDemo2.java</code></a>, crea y configura el cuadro combinado:
                </p>
                <div class="codeblock">
                    <pre>
String[] patternExamples = {
         "dd MMMMM yyyy",
         "dd.MM.yy",
         "MM/dd/yy",
         "yyyy.MM.dd G 'at' hh:mm:ss z",
         "EEE, MMM d, ''yy",
         "h:mm a",
         "H:mm:ss:SSS",
         "K:mm a,z",
         "yyyy.MMMMM.dd GGG hh:mm aaa"
};
. . .
JComboBox patternList = new JComboBox(patternExamples);
<strong>patternList.setEditable(true);</strong>
patternList.addActionListener(this);
                    </pre>
                </div>
                <p>
                    Este código es muy similar al ejemplo previo, pero merece algunas palabras de explicación. La linea en negrita
                    del código explícitamente habilita la edición para permitir al usuario escribir valores. Esto es necesario
                    porque, por defecto, un cuadro combinado no es editable. Este ejemplo particular permite la edición en la lista
                    combo porque su menú no ofrece todos los patrones de formateo posibles para la fecha, sólo atajos a patrones
                    usados frecuentemente.
                </p>
                <p>
                    Un cuadro combinado editable dispara un evento de acción cuando el usuario selecciona un item del menú y cuando 
                    el usuario introduce Intro. Note que el menú permanece sin cambiar cuando el usuario introduce un valor dentro 
                    del cuadro combinado. Si quiere, usted puede fácilmente escribir un oyente de acción que añade un nuevo item al 
                    menú del cuadro combinado cada vez que el usuario teclea un valor único.
                </p>
                <p>
                    Vea
                    <a class="TutorialLink" target="_top"
                       href="../../i18n/index.html">Internacionalización</a> para aprender más sobre el formateo de fechas y otros
                    tipos de datos.
                </p>
                <h2>
                    <a id="renderer">Proporcionar un Renderizador Personalizado</a>
                </h2>
                <p>
                    <a id="renderer__1"></a>
                    Un cuadro combinado usa un <em>renderizador</em> para visualizar cada item en su menú. Si el cuadro combinado no 
                    es editable, también usa el renderizador para visualizar el item seleccionado actualmente. Un cuadro combinado 
                    editable, por otro lado, usa un <em>editor</em> para visualizar el item seleccionado. Un renderizador para un
                    cuadro combinado debe implementar el interfaz
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/ListCellRenderer.html">
                        <code>ListCellRenderer</code></a>. Un editor de cuadro combinado debe implementar un
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/ComboBoxEditor.html">
                        <code>ComboBoxEditor</code></a>. Esta sección muestra cómo ofrecer un formateador personalizado para un
                    cuadro combinado no editable.
                </p>
                <p>
                    El renderizador por defecto sabe cómo procesar cadenas e iconos. Si usted coloca otros objetos en una lista
                    combo, el renderizador por defecto llama al método <code>toString</code> que ofrece una cadena para mostrar.
                    Usted puede personalizar la forma en que un cuadro combinado se procesa a sí mismo y a sus items implementando su
                    propio <code>ListCellRenderer</code>.
                </p>
                <p>
                    Aquí tiene una foto de una aplicación que usa un cuadro combinado con un renderizador personalizado:
                </p>
                <p style="text-align:center;">
                    <img src="../../figures/uiswing/components/CustomComboBoxDemoMetal.png" width="274" height="211"
                         alt="Un cuadro combinado con un renderizador personalizado" />
                </p>
                <p>
                    Pulse el botón Lanzar para ejecutar la Demostración CustomComboBox usando
                    <a class="OutsideLink" target="_blank"
                       href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">Java&trade; Web Start</a> (
                    <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue KDJ 7 o posterior</a>).
                    Alternativamente, para compilar y ejecutar el ejemplo por usted mismo, consulte el
                    <a href="../examples/components/index.html#CustomComboBoxDemo">índice de ejemplos</a>.
                </p>
                <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/CustomComboBoxDemoProject/CustomComboBoxDemo.jnlp">
                    <img src="../../images/jws-launch-button.png" width="88" height="23"
                         alt="Lanza el ejemplo CustomComboBoxDemo" /></a>
                <br />
                <p>
                    El código fuente completo para este ejemplo está en
                    <a class="SourceLink" target="_blank"
                       href="../examples/components/CustomComboBoxDemoProject/src/components/CustomComboBoxDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/CustomComboBoxDemoProject/src/components/CustomComboBoxDemo.java');
                               return false;">
                        <code>CustomComboBoxDemo.java</code></a>. Para obtener los ficheros de imágen que requiere, consulte el
                    <a href="../examples/components/index.html#CustomComboBoxDemo">índice de ejemplos</a>.
                </p>
                <p>
                    Las siguientes sentencias del ejemplo crean una instancia de <code>ComboBoxRenderer</code> (una clase
                    personalizada) y configura la instancia como el renderizador del cuadro combinado:
                </p>
                <div class="codeblock">
                    <pre>
JComboBox petList = new JComboBox(intArray);
. . .
ComboBoxRenderer renderer = new ComboBoxRenderer();
renderer.setPreferredSize(new Dimension(200, 130));
petList.setRenderer(renderer);
petList.setMaximumRowCount(3);
                    </pre>
                </div>
                <p>
                    La última línea establece el contador máximo de filas del cuadro combinado, el cual determina el número de ítems
                    visibles cuando el menú es visualizado. Si el número de items en el cuadro combinado es más grande que su contador
                    máximo de filas, el menú tiene una barra de desplazamiento. Los iconos son bastantes grandes para un menú, de
                    forma que nuestro código limita el numero de filas a 3. Aquí está la implementación de
                    <code>ComboBoxRenderer</code>, un renderizador que coloca un icono y el texto lado a lado:
                </p>
                <div class="codeblock">
                    <pre>
class ComboBoxRenderer extends JLabel
                       implements ListCellRenderer {
    . . .
    public ComboBoxRenderer() {
        setOpaque(true);
        setHorizontalAlignment(CENTER);
        setVerticalAlignment(CENTER);
    }

    /*
     * Este método encuentra la imagen y el texto correspondiente
     * al valor seleccionado y devuelve la eitqueta, configurada
     * para mostrar el texto y imagen.
     */
    public Component getListCellRendererComponent(
                                       JList list,
                                       Object value,
                                       int index,
                                       boolean isSelected,
                                       boolean cellHasFocus) {
        //Obtiene el índice seleccionado. (El parámetro indice no es
        //siempre válido, tan sólo use el valor.)
        int selectedIndex = ((Integer)value).intValue();

        if (isSelected) {
            setBackground(list.getSelectionBackground());
            setForeground(list.getSelectionForeground());
        } else {
            setBackground(list.getBackground());
            setForeground(list.getForeground());
        }

        //Establece el icono y el texto.  Si el icono era nulo, dilo.
        ImageIcon icon = images[selectedIndex];
        String pet = petStrings[selectedIndex];
        setIcon(icon);
        if (icon != null) {
            setText(pet);
            setFont(list.getFont());
        } else {
            setUhOhText(pet + " (no image available)",
                        list.getFont());
        }

        return this;
    }
    . . .
}
                    </pre>
                </div>
                <p>
                    Como <code>ListCellRenderer</code>, <code>ComboBoxRenderer</code> implementa un método llamado
                    <code>getListCellRendererComponent</code>, el cual devuelve un componente cuyo método
                    <code>paintComponent</code> es utilizado par visualizar el cuadro combinado y cada uno de sus items. La forma más
                    fácil de visualizar una imagen y un icono es usar una etiqueta. Por eso <code>ComboBoxRenderer</code> es una
                    subclase de etiqueta y se devuelve a sí misma. La implementación de <code>getListCellRendererComponent</code>
                    configura el renderizador para visualizar el icono seleccionado actualmente y su descripción.
                </p>
                <p>
                    Estos argumentos son pasados a <code>getListCellRendererComponent</code>:
                </p>
                <ul>
                    <li>
                        <code>JList list</code> &HorizontalLine; un objeto lista usado entre bastidores para mostrar los ítems. El
                        ejemplo usa los colores de este objeto para configurar los colores de primer plano y fondo.
                    </li>
                    <li>
                        <code>Object value</code> &HorizontalLine; el objeto a renderizar. Un <code>Integer</code> en este ejemplo.
                    </li>
                    <li>
                        <code>int index</code> &HorizontalLine; el índice del objeto a renderizar.
                    </li>
                    <li>
                        <code>boolean isSelected</code> &HorizontalLine; indica si el objeto a renderizar está seleccionado. Usado
                        por el ejemplo para determinar cuáles colores usar.
                    </li>
                    <li>
                        <code>boolean cellHasFocus</code> &HorizontalLine; indica si el objeto a renderizar tiene el foco.
                    </li>
                </ul>
                <p>
                    Note que los cuadros combinados y las <a href="list.html">listas</a> usan el mismo tipo de renderizador
                    &HorizontalLine; <code>ListCellRenderer</code>. Puede ahorrarse algo de tiempo compartiendo los renderizadores
                    entre los cuadros combinados y las listas, si tiene sentido para su programa.
                </p>
                <h2>
                    <a id="api">La IPA de un Cuadro Combinado</a>
                </h2>
                <p>
                    Las siguientes tablas listan los constructores y métodos de <code>JComboBox</code> usados comunmente. Otros
                    métodos que son más probables que invoque sobre un objeto <code>JComboBox</code> son aquellos que heredan
                    desde sus superclases, tales como <code>setPreferredSize</code>. Vea
                    <a href="jcomponent.html#api">La IPA de JComponent</a> para las tablas de los métodos heredados usados
                    comunmente.
                </p>
                <p>
                    La IPA para usar Cuadros Combinados se clasifica en dos categorías:
                </p>
                <ul>
                    <li><a href="#list">Configuración u Obtención de los Elementos en el Menú del Cuadro Combinado</a></li>
                    <li><a href="#configuring">Personalizar la Operación del Cuadro Combinado</a></li>
                </ul>
                <p>
                </p>
                <table class="celda">
                    <caption><a id="list">Configuración u Obtención de los Elementos en el Menú del Cuadro Combinado</a></caption>
                    <tr><th id="h101" class="celda">Método</th><th id="h102" class="celda">Propósito</th></tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#JComboBox--">
                                JComboBox()</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#JComboBox-javax.swing.ComboBoxModel-">
                                JComboBox(ComboBoxModel)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#JComboBox-java.lang.Object:A-">
                                JComboBox(Object[])</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#JComboBox-java.util.Vector-">
                                JComboBox(Vector)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Crea un cuadro combinado con los items especificados en su menú. Un cuadro combinado creada con el constructor
                            por defecto no tiene inicialemnte items en el menú. Cada uno de los otros constructores inicializan el
                            menú a partir de su argumento: un objeto modelo, una matriz de objetos, o un <code>Vector</code> de
                            objetos.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#addItem-java.lang.Object-">
                                void addItem(Object)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#insertItemAt-java.lang.Object-int-">
                                void insertItemAt(Object, int)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Añade o inserta el objeto especificado en el menú del cuadro combinado. El metodo insert coloca el objeto
                            especificado <em>en</em> el índice especifcado, esto es, lo inserta antes del objeto que actualmente
                            está en ese índice. Estos métodos requieren que el modelo de datos del cuadro combinado sea una instancia
                            de <code>MutableComboBoxModel</code>.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#getItemAt-int-">
                                Object getItemAt(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#getSelectedItem--">
                                Object getSelectedItem()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Obtiene un ítem del menú del cuadro combinado.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#removeAllItems--">
                                void removeAllItems()</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#removeItemAt-int-">
                                void removeItemAt(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#removeItem-java.lang.Object-">
                                void removeItem(Object)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Elimina uno o más ítems del menu del cuadro combinado. Estos métodos requieren que el modelo de datos 
                            del cuadro combinado sea una instancia de <code>MutableComboBoxModel</code>.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#getItemCount--">
                                int getItemCount()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Obtiene el número de ítems en el menú del cuadro combinado.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#setModel-javax.swing.ComboBoxModel-">
                                void setModel(ComboBoxModel)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#getModel--">
                                ComboBoxModel getModel()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene el modelo de datos que ofrece los ítems en el menú del cuadro combinado.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#setAction-javax.swing.Action-">
                                void setAction(Action)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#getAction--">
                                Action getAction()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene la <code>Acción</code> asociada con el cuadro combinado. Para más información, vea
                            <a class="TutorialLink" target="_top" href="../misc/action.html">Cómo Usar Acciones</a>.
                        </td>
                    </tr>
                </table>
                <br />
                <table  class="celda">
                    <caption><a id="configuring">Personalizar la Operación del Cuadro Combinado</a></caption>
                    <tr><th id="h201" class="celda">Método o Constructor</th><th id="h202" class="celda">Propósito</th></tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#addActionListener-java.awt.event.ActionListener-">
                                void addActionListener(ActionListener)</a>
                        </td>
                        <td headers="h202" class="celda">
                            Añade un oyente de acción a el cuadro combinado. El método <code>actionPerformed</code> del oyente es
                            llamado cuando el usuario selecciona un ítem del menú del cuadro combinado o, en un cuadro combinado 
                            editable, cuando el usuario presiona Intro.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#addItemListener-java.awt.event.ItemListener-">
                                void addItemListener(ItemListener)</a>
                        </td>
                        <td headers="h202" class="celda">
                            Añade un oyente de ítem al cuadro combinado. El método <code>itemStateChanged</code> del oyente es llamado
                            cuando el estado de selección de cualquiera de los ítems del cuadro combinado cambia.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#setEditable-boolean-">
                                void setEditable(boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#isEditable--">
                                boolean isEditable()</a>
                        </td>
                        <td headers="h202" class="celda">
                            Establece u obtiene que el usuario pueda escribir en el cuadro combinado.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#setRenderer-javax.swing.ListCellRenderer-">
                                void setRenderer(ListCellRenderer)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#getRenderer--">
                                ListCellRenderer getRenderer()</a>
                        </td>
                        <td headers="h202" class="celda">
                            Establece u obtiene el objeto responsable de pintar el ítem seleccionado en el cuadro combinado. El
                            renderizador es usado sólo cuando el cuadro combinado es no editable. Si el cuadro combinado es 
                            editable, el editor es usado para pintar el ítem seleccionado en su lugar.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#setEditor-javax.swing.ComboBoxEditor-">
                                void setEditor(ComboBoxEditor)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComboBox.html#getEditor--">
                                ComboBoxEditor getEditor()</a>
                        </td>
                        <td headers="h202" class="celda">
                            Establece u obtiene el objeto responsable de pintar y editar el item seleccionado en el cuadro combinado. 
                            El editor es usado sólo cuando el cuadro combinado es editable. Si el cuadro combinado no es editable, 
                            el renderizador es usado para pintar el ítem seleccionado en su lugar.
                        </td>
                    </tr>
                </table>
                <h2>
                    <a id="eg">Ejemplos que Usan Cuadro Combinados</a>
                </h2>
                <p>
                    Esta tabla muestra los ejemplos que usan <code>JComboBox</code> y dónde esos ejemplos están descritos.
                </p>
                <table>
                    <caption>Ejemplos que usan JComboBox</caption>
                    <tr>
                        <th id="h301" style="text-align:left;">Ejemplo</th>
                        <th id="h302" style="text-align:left;">Dónde está descrito</th>
                        <th id="h303" style="text-align:left;">Notas</th>
                    </tr>
                    <tr>
                        <td headers="h301">
                            <a href="../examples/components/index.html#ComboBoxDemo"><code>ComboBoxDemo</code></a>
                        </td>
                        <td headers="h302">Esta sección</td>
                        <td headers="h303">Usa un cuadro combinado no editable.</td>
                    </tr>
                    <tr>
                        <td headers="h301">
                            <a href="../examples/components/index.html#ComboBoxDemo2"><code>ComboBoxDemo2</code></a>
                        </td>
                        <td headers="h302">Esta sección</td>
                        <td headers="h303">Usa un cuadro combinado editable.</td>
                    </tr>
                    <tr>
                        <td headers="h301">
                            <a href="../examples/components/index.html#CustomComboBoxDemo"><code>CustomComboBoxDemo</code></a>
                        </td>
                        <td headers="h302">Esta sección</td>
                        <td headers="h303">Ofrece un renderizador personalizado para un cuadro combinado.</td>
                    </tr>
                    <tr>
                        <td headers="h301">
                            <a href="../examples/components/index.html#TableRenderDemo"><code>TableRenderDemo</code></a>
                        </td>
                        <td headers="h302">
                            Cómo Usar Tablas (<a href="table.html#combobox">Usando una Lista Combo como un Editor</a>)
                        </td>
                        <td headers="h303">Muestra cómo usar un cuadro combinado como una celda editable de tabla.</td>
                    </tr>
                </table>
            </div>
            <div class="NavBit">
                <a target="_top" href="colorchooser.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="dialog.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos 
                                legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Cómo Usar Selectores de Color<br />
            <b>Página Siguiente:</b> Cómo Hacer Diálogos
        </div>
    </body>
</html>