<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Usar Paneles de Edición y Paneles de Texto (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica 
            de Usuario) con JFC/Swing &gt; Usando Componentes Swing)
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat"/>
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Usando Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="toplevel.html">Usando Contenedores de Nivel Superior</a></div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="linkAHEAD"><a href="text.html">Usando Componentes de Texto</a></div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="linkBHEAD"><a href="colorchooser.html">Cómo Usar Selectores de Color</a></div>
                <div class="linkBHEAD"><a href="combobox.html">Cómo Usar Cuadros Combinados</a></div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="nolinkBHEAD">Cómo Usar Paneles de Edición y Paneles de Texto</div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="linkBHEAD"><a href="frame.html">Cómo Hacer Marcos (Ventanas Principales)</a></div>
                <div class="linkBHEAD"><a href="internalframe.html">Cómo Usar Marcos Internos</a></div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="linkBHEAD"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="linkBHEAD"><a href="rootpane.html">Cómo Usar los Paneles Raíz</a></div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="linkBHEAD"><a href="slider.html">Cómo Usar Deslizadores</a></div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="linkBHEAD"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="linkBHEAD"><a href="textarea.html">Cómo Usar Áreas de Texto</a></div>
                <div class="linkBHEAD"><a href="textfield.html">Cómo Usar Campos de Texto</a></div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="linkBHEAD"><a href="tooltip.html">Cómo Usar Tool Tips</a></div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="linkAHEAD"><a href="html.html">Cómo Usar HTML en Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="model.html">Cómo Usar Modelos</a></div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing
                <br />
                <b>Lección:</b> Usando Componentes Swing
                <br />
                <b>Sección:</b> Cómo Usar Varios Componentes
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>
                &gt;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>
                &gt;
                <a href="index.html" target="_top">Usando Componentes Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="dialog.html">&laquo;&nbsp;Anterior</a>
                &nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>
                &nbsp;&bull;&nbsp;
                <a target="_top" href="filechooser.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Usar Paneles de Edición y Paneles de Texto</h1>
            </div>
            <div id="PageContent">
                <p>
                    Dos clases de Swing soportan texto estilizado:
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JEditorPane.html"><code>JEditorPane</code></a>
                    y su subclase
                    <a class="APILink" target="_blank" href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextPane.html">
                        <code>JTextPane</code></a>. La clase <code>JEditorPane</code> es la base para los componentes de texto
                    estilizado de Swing y ofrece un mecanismo a través del cual puede añadir soporte para formatos de texto
                    personalizado. Si quiere texto sin estilo, use un <a href="textarea.html">área de texto</a> en su lugar.
                </p>
                <p>
                    Puede ver un panel de edición y un panel de texto en uso ejecutando TextSamplerDemo. Aquí tiene una foto del
                    ejemplo <code>TextSamplerDemo</code>.
                </p>
                <p style="text-align:center;">
                    <img src="../../figures/uiswing/components/TextSamplerDemoMetal.png" width="531" height="406"
                         alt="Una aplicación que ofrece un ejemplo de cada componente de texto de Swing" />
                </p>
                <p>
                    Pulse el botón Lanza para ejecutar TextSamplerDemo usando
                    <a class="OutsideLink" target="_blank"
                       href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">Java&trade; Web Start </a> (
                    <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue el KDJ 7 o posterior</a>).
                    Alternativamente, para compilar y ejecutar el ejemplo por usted mismo, consulte el
                    <a href="../examples/components/index.html#TextSamplerDemo">índice de ejemplos</a>.
                </p>
                <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/TextSamplerDemoProject/TextSamplerDemo.jnlp">
                    <img src="../../images/jws-launch-button.png" width="88" height="23"
                         alt="Lanza la Aplicación TextSamplerDemo" />
                </a>
                <br />
                <p>
                    El ejemplo <code>TextSamplerDemo</code> apenas comienza a demostrar las capacidades de los paneles de edición y
                    los paneles de texto. Sin embargo, el panel de edición de arriba a la derecha ilustra una característica práctica
                    y fácil de usar: visualiza una información de ayuda no editable cargada desde un Localizador Uniforme de
                    Recursos (LUR, más conocido por la sigla URL, del inglés Uniform Resource Locator). El panel de texto más abajo
                    a la derecha demuestra que puede fácilmente embeber imágenes e incluso componentes directamente dentro de los
                    paneles de texto.
                </p>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;
                    <p>Si necesita un sistema de ayuda completo, eche un vistazo al
                        <a class="OutsideLink" target="_blank"
                           href="http://www.oracle.com/technetwork/java/javase/index-jsp-142628.html">sistema JavaHelp&trade;</a>.
                    </p>
                    <hr />
                </div>
                <p>
                    La IPA de texto de Swing es poderosa e inmensa, y podríamos dedicar un libro entero sólo a usar los paneles
                    de edición y los paneles de texto. Esta sección presenta sus capacidades, ofrece consejos de cual podría
                    querer usar, y apunta a otras fuentes de información.
                </p>
                <ul>
                    <li><a href="#editorpane">Usar un Panel de Edición para Visualizar Texto Desde una LUR</a></li>
                    <li><a href="#recap">Paneles de Edición vs. Paneles de Texto</a></li>
                    <li><a href="#textpane">Un Ejemplo de Uso de un Panel de Texto</a></li>
                    <li><a href="#api">La IPA del Panel de Edición y el Panel de Texto</a></li>
                    <li><a href="#eg">Ejemplos Que Usan Paneles de Edición y Paneles de Texto</a></li>
                </ul>
                <h2>
                    <a id="editorpane">Usar un Panel de Edición para Visualizar Texto Desde una LUR</a>
                </h2>
                <p>
                    Una tarea que puede realizar sin saber nada sobre el sistema de texto de Swing es visualizar texto desde una
                    LUR. Aquí tiene el código de
                    <a class="SourceLink" target="_blank"
                       href="../examples/components/TextSamplerDemoProject/src/components/TextSamplerDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/TextSamplerDemoProject/src/components/TextSamplerDemo.java');
                               return false;"><code>TextSamplerDemo.java</code></a> que crea un panel de edición no editable que
                    visualiza texto formateado con etiquetas HTML.
                </p>
                <div class="codeblock">
                    <pre>
JEditorPane editorPane = new JEditorPane();
editorPane.setEditable(false);
java.net.URL helpURL = TextSamplerDemo.class.getResource(
                                "TextSamplerDemoHelp.html");
if (helpURL != null) {
    try {
        editorPane.setPage(helpURL);
    } catch (IOException e) {
        System.err.println("Attempted to read a bad URL: " + helpURL);
    }
} else {
    System.err.println("Couldn't find file: TextSamplerDemoHelp.html");
}

//Coloca el panel de edición en un panel de desplazamiento.
JScrollPane editorScrollPane = new JScrollPane(editorPane);
editorScrollPane.setVerticalScrollBarPolicy(
                JScrollPane.VERTICAL_SCROLLBAR_ALWAYS);
editorScrollPane.setPreferredSize(new Dimension(250, 145));
editorScrollPane.setMinimumSize(new Dimension(10, 10));
                    </pre>
                </div>
                <p>
                    El código usa el constructor por defecto para crear el panel de edición, entonces llama a
                    <code>setEditable(false)</code> de forma que el usuario no pueda editar el texto. A continuación, el código
                    crea el objeto <code>URL</code>, y llama al método <code>setPage</code> con él.
                </p>
                <p>
                    El método <code>setPage</code> abre el recurso apuntado por la LUR y calcula el formato de texto (el cual es un
                    HTML en el ejemplo). Si el formato de texto es conocido, el panel de edición se inicializa a sí mismo con el
                    texto encontrado en la LUR. Un panel de edición estándar puede entender texto plano, HTML, y RTF. Note que la
                    página podría cargarse asincrónicamente, lo cual hace que el IGU responda a los cambios pero significa que no
                    puede contar con que los datos sean completamente cargados después de que la llamada a <code>setPage</code>
                    vuelva.
                </p>
                <h2>
                    <a id="recap">Paneles de Edición vs. Paneles de Texto</a>
                </h2>
                <p>
                    Con el fin de usar los paneles de edición y los paneles de texto, necesita entender el sistema de texto, el cual
                    es descrito en <a href="generaltext.html">Características del Componente de Texto</a>. Varios hechos sobre los
                    paneles de edición y los paneles de texto están esparcidos por toda esa sección. Aquí listamos los hechos de
                    nuevo y ofrecemos un poco más de detalle. La información aquí le ayudaría a entender las diferencias entre los
                    paneles de edición y los paneles de texto, y cuándo usar cada cual.
                </p>
                <ul>
                    <li>
                        Un panel de edición o un panel de texto pueden ser fácilmente cargados con texto desde una LUR usando el
                        método <code>setPage</code>. La clase <code>JEditorPane</code> también ofrece constructores que le permiten
                        inicializar un panel de edición desde una LUR. La clase <code>JTextPane</code> no tiene tales constructores.
                        Vea <a href="#editorpane">Usar un Panel de Edición para Visualizar Texto Desde una URL</a> para un ejemplo
                        que usa esta característica para cargar un panel de edición no editable con texto formateado en HTML.
                        <p>
                            Tenga en cuenta que el documento y el kit del editor podrían cambiar cuando use el método
                            <code>setPage</code>. Por ejemplo, si un panel de edición contiene texto plano (por defecto), y usted
                            lo carga con HTML, el documento cambiará a una instancia <code>HTMLDocument</code> y el kit del editor
                            cambiará a una instancia <code>HTMLEditorKit</code>. Si su programa usa el método <code>setPage</code>,
                            asegúrese de que ajusta su código por posibles cambios a las instancias del kit del editor y del
                            documento del panel (re-registre los oyentes del documento al nuevo documento, etc ).
                        </p>
                    </li>
                    <li>
                        Los paneles de edición, por defecto, saben como leer, escribir, y editar texto plano, HTML, y RTF. Los
                        paneles de texto heredan esta capacidada pero imponen ciertas limitaciones. Un panel de texto insiste en que
                        su documento implemente el interfaz <code>StyledDocument</code>. <code>HTMLDocument</code> y
                        <code>RTFDocument</code> son ambos <code>StyledDocuments</code> de forma que el HTML y el RTF funcionan como
                        se espera dentro de un panel de texto. Sin embargo, si usted carga un panel de texto con un texto plano, el
                        documento del panel de texto no es un <code>PlainDocument</code> como podría esperar, sino un
                        <code>DefaultStyledDocument</code>.
                    </li>
                    <li>
                        Para soportar un formato de texto personalizado, implemente un kit de editor que pueda leer, escribir, y
                        editar texto de ese formato. Entonces llame al método <code>registerEditorKitForContentType</code> para
                        registrar su kit con la clase <code>JEditorPane</code>. Al registrar un kit de editor de esta forma, todos
                        los paneles de edición y paneles de texto en su programa serán capaces de leer, escribir, y editar el nuevo
                        formato. Sin embargo, si el el kit de editor nuevo no es un <code>StyledEditorKit</code>, los paneles de
                        texto no soportarán el nuevo formato.
                    </li>
                    <li>
                        Como se mencionó previamente, un panel de texto requiere que su documento implemente el interfaz
                        <code>StyledDocument</code>. El paquete de texto de Swing ofrece una implementación por defecto de esta
                        interfaz, <code>DefaultStyledDocument</code>, el cual es el documento que los paneles de texto usan por
                        defecto. Un panel de texto también requiere que su kit editor sea una instancia de un
                        <code>StyledEditorKit</code> (o una subclase). Tenga en cuenta que los métodos <code>read</code> y
                        <code>write</code> para <code>StyleEditorKit</code> funcionan con texto plano.
                    </li>
                    <li>
                        A través de su documento estilizado y kit de editor estilizado, los paneles de texto ofreden soporte para
                        estilos con nombre y estilos lógicos. La clase <code>JTextPane</code> contiene en sí misma muchos métodos
                        para trabajar con estilos que simplemente llaman métodos en su documento o kit de editor.
                    </li>
                    <li>
                        A través de la IPA ofrecida en la clase <code>JTextPane</code>, puede embeber imágenes y componentes en un
                        panel de texto. Puede embeber imágenes en un panel de edición, también, pero sólo incluyendo las imágenes en
                        un fichero HTML o RTF.
                    </li>
                </ul>
                <h2>
                    <a id="textpane">Un Ejemplo de Uso de un Panel de Texto</a>
                </h2>
                <p>
                    Aquí está el código del ejemplo <code>TextSamplerDemo</code> que crea e inicializa un panel de texto.
                </p>
                <div class="codeblock">
                    <pre>
String[] initString =
        { /* ... <em> fill array with initial text </em> ... */ };

String[] initStyles =
        { /* ... <em> fill array with names of styles </em> ... */ };

JTextPane textPane = new JTextPane();
StyledDocument doc = textPane.getStyledDocument();
addStylesToDocument(doc);

//Carga el panel de texto con texto estilizado.
try {
    for (int i=0; i &lt; initString.length; i++) {
        doc.insertString(doc.getLength(), initString[i],
                         doc.getStyle(initStyles[i]));
    }
} catch (BadLocationException ble) {
    System.err.println("Couldn't insert initial text into text pane.");
}
                    </pre>
                </div>
                <p>
                    En pocas palabras, este código codifica el texto inicial en una matriz y crea y codifica varios <em>estilos</em>
                    &HorizontalLine; objetos que representan diferentes párrafos y formatos de carácter &HorizontalLine; dentro de
                    otra matriz. A continuación, el código recorre las matrices, inserta el texto dentro del panel de texto, y
                    especifica el estilo a usar para el texto insertado.
                </p>
                <p>
                    Aunque esto es un ejemplo interesante que demuestra de forma concisa varias características de
                    <code>JTextPane</code>, los programas del &quot;mundo-real&quot; probablemente no inicializen un panel de texto
                    de esta forma. En su lugar, un programa utilizaría un panel de edición para guardar un documento que luego se
                    utilizaría para inicializar el panel de texto.
                </p>
                <h2>
                    <a id="api">La IPA del Panel de Edición y el Panel de Texto</a>
                </h2>
                <p>
                    Esta sección lista algunas de las IPA relacionadas con los paneles de edición y de texto. Muchos de los más
                    útiles métodos para
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JEditorPane.html">JEditorPane</a> y su subclase
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextPane.html">JTextPane</a> son
                    heredadas de la clase <code>JTextComponent</code>. Puede buscar las tablas de la IPA para
                    <code>JTextComponent</code> en <a href="textapi.html">La IPA del Componente de Texto</a>. Vea también
                    <a href="jcomponent.html">La Clase JComponent</a>, la cual describe la IPA heredada de <code>JComponent</code>.
                </p>
                <table class="celda">
                    <caption>
                        <a style="font-weight: bold" id="loading">IPA de JEditorPane para Visualizar Texto desde una LUR</a>
                    </caption>
                    <tr>
                        <th id="h1" class="celda">Método o Constructor</th>
                        <th id="h2" class="celda">Descripción</th>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JEditorPane.html#JEditorPane-java.net.URL-">
                                JEditorPane(URL)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JEditorPane.html#JEditorPane-java.lang.String-">
                                JEditorPane(String)</a>
                        </td>
                        <td headers="h2" class="celda">Crea un panel de edición cargado con el texto de la LUR especificada.</td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JEditorPane.html#setPage-java.net.URL-">
                                setPage(URL)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JEditorPane.html#setPage-java.lang.String-">
                                setPage(String)</a>
                        </td>
                        <td headers="h2" class="celda">
                            Carga un panel de edición (o un panel de texto) con el texto especificado en la LUR.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JEditorPane.html#getPage--">
                                URL getPage()</a>
                        </td>
                        <td headers="h2" class="celda">
                            Obtiene la LUR para la página actual del panel de edición (o del panel de texto).
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="celda">
                    <caption>
                        <a style="font-weight: bold" id="loading__1">JTextPane IPA</a>
                    </caption>
                    <tr>
                        <th id="h101" class="celda">Método o Constructor</th>
                        <th id="h102" class="celda">Descripción</th>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextPane.html#JTextPane--">
                                JTextPane()</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextPane.html#JTextPane-javax.swing.text.StyledDocument-">
                                JTextPane(StyledDocument)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Crea un panel de texto. El argumento opcional especifica el modelo del panel de texto.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextPane.html#getStyledDocument--">
                                StyledDocument getStyledDocument</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextPane.html#setStyledDocument-javax.swing.text.StyledDocument-">
                                setStyledDocument(StyledDocument)</a>
                        </td>
                        <td headers="h102" class="celda">Obtiene o establecer el modelo del panel de texto.</td>
                    </tr>
                </table>
                <h2>
                    <a id="eg">Ejemplos Que Usan Paneles de Edición y Paneles de Texto</a>
                </h2>
                <p>
                    Para empezar a usar texto, podría querer ejecutar estos programas y examinar su código para encontrar algo
                    similiar a lo que quiera hacer.
                </p>
                <table>
                    <caption>
                        Ejemplos Que Usan Paneles de Texto y Paneles de Edición
                    </caption>
                    <tr>
                        <th id="h201" style="text-align:left;">Ejemplo</th>
                        <th id="h202" style="text-align:left;">Dónde está Descrito</th>
                        <th id="h203" style="text-align:left;">Notas</th>
                    </tr>
                    <tr>
                        <td headers="h201" style="vertical-align:top;">
                            <a href="../examples/components/index.html#TextSamplerDemo"><code>TextSamplerDemo</code></a>
                        </td>
                        <td headers="h202" style="vertical-align:top;"><a href="text.html">Usando Componentes de Texto</a></td>
                        <td headers="h203" style="vertical-align:top;">Utiliza cada componente de texto Swing.</td>
                    </tr>
                    <tr>
                        <td headers="h201" style="vertical-align:top;">
                            <a href="../examples/components/index.html#TextComponentDemo"><code>TextComponentDemo</code></a>
                        </td>
                        <td headers="h202" style="vertical-align:top;">
                            <a href="generaltext.html">Características del Componente de Texto</a>
                        </td>
                        <td headers="h203" style="vertical-align:top;">
                            Ofrece un panel de texto personalizado. Ilustra muchas características de los componentes de texto, como
                            el deshacer y el rehacer, los filtros de documento, los oyentes de documento, los oyentes de cambio del
                            cursor, y cómo asociar acciones de edición con menús y pulsaciones de teclas.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" style="vertical-align:top;">
                            <a href="../examples/components/index.html#TreeDemo"><code>TreeDemo</code></a>
                        </td>
                        <td headers="h202" style="vertical-align:top;"><a href="tree.html">Cómo Usar Árboles</a></td>
                        <td headers="h203" style="vertical-align:top;">
                            Usa un panel de edición para mostrar ayuda cargada desde un fichero HTML.
                        </td>
                    </tr>
                </table>
                <p>
                    Aprenda a editar texto HTML en JavaFX con el tutorial
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/user-interface-tutorial/editor.htm">
                        Usando Controles del IU de JavaFX: Editor HTML
                    </a>.
                </p>
            </div>
            <div class="NavBit">
                <a target="_top" href="dialog.html">&laquo;&nbsp;Anterior</a>
                &bull;
                <a target="_top" href="../TOC.html">TdC</a>
                &bull;
                <a target="_top" href="filechooser.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html"> avisos
                                legales </a> .
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Cómo Hacer Diálogos
            <br />
            <b>Página Siguiente:</b> Cómo Usar Selectores de Fichero
        </div>
    </body>
</html>