<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Hacer Marcos (Ventanas Principales) (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de 
            Usuario) con JFC/Swing &gt; Usando Componentes Swing)
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Usando Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="toplevel.html">Usando Contenedores de Nivel Superior</a></div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="linkAHEAD"><a href="text.html">Usando Componentes de Texto</a></div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="linkBHEAD"><a href="colorchooser.html">Cómo Usar Selectores de Color</a></div>
                <div class="linkBHEAD"><a href="combobox.html">Cómo Usar Cuadros Combinados</a></div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="linkBHEAD"><a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a></div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="nolinkBHEAD">Cómo Hacer Marcos (Ventanas Principales)</div>
                <div class="linkBHEAD"><a href="internalframe.html">Cómo Usar Marcos Internos</a></div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="linkBHEAD"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="linkBHEAD"><a href="rootpane.html">Cómo Usar los Paneles Raíz</a></div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="linkBHEAD"><a href="slider.html">Cómo Usar Deslizadores</a></div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="linkBHEAD"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="linkBHEAD"><a href="textarea.html">Cómo Usar Áreas de Texto</a></div>
                <div class="linkBHEAD"><a href="textfield.html">Cómo Usar Campos de Texto</a></div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="linkBHEAD"><a href="tooltip.html">Cómo Usar Tool Tips</a></div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="linkAHEAD"><a href="html.html">Cómo Usar HTML en Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="model.html">Cómo Usar Modelos</a></div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Usando Componentes Swing<br />
                <b>Sección:</b> Cómo Usar Varios Componentes
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Usando Componentes Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="formattedtextfield.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="internalframe.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Hacer Marcos (Ventanas Principales)</h1>
            </div>
            <div id="PageContent">
                <p>
                    Un Marco es una ventana de nivel superior con un título y un borde. El tamaño del marco incluye cualquier área
                    designada para el borde. Las dimensiones del area del borde pueden ser obtenidas usando el método
                    <code>getInsets</code>. Puesto que la zona de borde está incluida en el tamaño total del bastidor, el borde
                    oculta eficazmente una parte del marco, restringiendo el área disponible para renderizar y / o mostrar
                    subcomponentes al rectángulo que tiene una ubicación de esquina superior izquierda de
                    <code>(insets.left</code>, <code>insets.top)</code>, y tiene un tamaño de
                    <code>width - (insets.left + insets.right)</code> por <code>height - (insets.top + insets.bottom)</code>.
                </p>
                <p>
                    Un marco, implementado como una instancia de la clase
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html"><code>JFrame</code></a>, es una
                    ventana que tiene decoraciones tales como un borde, un título, y soporta los componentes botón que cierran
                    o iconifican la ventana. Las aplicaciones con un IGU usualmente incluyen al menos un marco. Los applets
                    algunas veces usan marcos, también.
                </p>
                <p>
                    Para hacer una ventana que es dependiente de otra ventana &HorizontalLine; desapareciendo cuando la otra ventana
                    está iconificada, por ejemplo &HorizontalLine; use un <a href="dialog.html"><code>diálogo</code></a> en vez de
                    un <code>marco.</code>. Para hacer una ventana que aparezca dentro de otra ventana, use un
                    <a href="internalframe.html">marco interno</a>. <a id="anexample"></a>
                </p>
                <h2>
                    <a id="anexample__1">Crear y Mostrar Marcos</a>
                </h2>
                <p>
                    Aquí tiene una imagen de una ventana extremadamente simple creada por la aplicación de demostración
                    <code>FrameDemo</code>. Puede encontrar el código fuente en
                    <a class="SourceLink" target="_blank"
                       href="../examples/components/FrameDemoProject/src/components/FrameDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/FrameDemoProject/src/components/FrameDemo.java');
                               return false;"><code>FrameDemo.java</code></a>. Puede
                    <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/FrameDemoProject/FrameDemo.jnlp">
                        ejecutar FrameDemo</a> (
                    <a class="OutsideLink" target="_blank"
                       href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue EDD 7 o posterior</a>).
                </p>
                <p style="text-align:center;">
                    <img src="../../figures/uiswing/components/FrameDemoMetal.png" width="183" height="134"
                         alt="Un marco muy aburrido" />
                </p>
                <p>
                    El siguiente código de <code>FrameDemo</code> muestra como crear y configurar un marco.
                </p>
                <div class="codeblock">
                    <pre>
//1. Crea el marco.
JFrame frame = new JFrame("FrameDemo");

//2. Opcional: ¿Qué ocurre cuando el marco se cierra?
frame.setDefaultCloseOperation(JFrame.EXIT_ON_CLOSE);

//3. Crea componentes y los coloca en el marco.
<em>//...crea una emptyLabel...</em>
frame.getContentPane().add(emptyLabel, BorderLayout.CENTER);

//4. Dimensiona el marco.
frame.pack();

//5. Lo muestra.
frame.setVisible(true);
                    </pre>
                </div>
                <p>
                    Aquí tiene algunos detalles sobre el código:
                </p>
                <ol>
                    <li>
                        La primera línea de código crea un marco usando un constructor que le permite establecer el título del
                        marco. El otro constructor <code>JFrame</code> frecuentemente usado es el constructor sin argumentos.
                    </li>
                    <li>
                        A continuación el código especifica qué ocurre cuando el usuario cierra el marco. La operación
                        <code>EXIT_ON_CLOSE</code> termina el programa cuando el usuairo cierra el marco. Este comportamiento es
                        apropiado para este programa porque el programa tiene sólo un marco, y cerrar el marco hace el programa
                        inútil.
                        <p>
                            Vea <a href="#windowevents">Responder a Eventos de Cierre de Ventana</a> para más información.
                        </p>
                    </li>
                    <li>
                        El siguiente trozo de código añade una etiqueta en blanco al panel de contenido del marco. Si no está aún
                        familiarziado con los paneles de contenido y cómo añadir componentes a ellos, por favor lea
                        <a href="toplevel.html#contentpane">Añadir Componentes al Panel de Contenido</a>.
                        <p>
                            Para marcos que tienen menús, normalmente se añade la barra de menús al marco usando el método
                            <code>setJMenuBar</code>. Vea <a href="menu.html">Cómo Usar Menús</a> para los detalles.
                        </p>
                    </li>
                    <li>
                        El método <code>pack</code> redimensiona el marco de forma que todos sus contenidos están en sus tamaños
                        preferidos. Una alternativa a <code>pack</code> es establecer un tamaño de marco explícitamente llamado a
                        <code>setSize</code> o <code>setBounds</code> (que también establece la ubicación del marco). En general,
                        usar <code>pack</code> es preferible a llamar a <code>setSize</code>, ya que <code>pack</code> deja a cargo
                        al gestor de disposición del marco del tamaño del marco, y los gestores de disposición son buenos en ajustar
                        a las dependencias de la plataforma y otros factores que afectan al tamaño del componente.
                        <p>
                            Este ejemplo no establece la ubicación del marco, pero es fácil hacerlo usando ya sea el método
                            <code>setLocationRelativeTo</code> o el método <code>setLocation</code>. Por ejemplo, el siguiente
                            código centra un marco en la pantalla:
                        </p>
                        <div class="codeblock">
                            <pre>
frame.setLocationRelativeTo(null);
                            </pre>
                        </div>
                    </li>
                    <li>
                        Llamando a <code>setVisible(true)</code> hace al marco aparecer en pantalla. Algunas veces podría ver el
                        método <code>show</code> usado en su lugar. Los dos usos son equivalentes, pero nosotros usamos
                        <code>setVisible(true)</code> por coherencia.
                    </li>
                </ol>
                <p>
                </p>
                <h2>
                    <a id="setDefaultLookAndFeelDecorated">Especificar Decoraciones de Ventana</a>
                </h2>
                <p>
                    Por defecto, las decoraciones de ventanas son suministradas por el sistema nativo de ventanas. Sin embargo,
                    puede solicitar que la Apariencia establezca las decoraciones para un marco. También puede especificar que el
                    marco no tenga decoraciones de ventana en absoluto, una característica que puede ser usada por sí misma, o para
                    ofrecer sus propias decoraciones, o con el
                    <a class="TutorialLink" target="_top" href="../../extra/fullscreen/index.html">
                        modo exclusivo de pantalla completa
                    </a>.
                </p>
                <p>
                    Además de especificar quién proporciona las decoraciones de la ventana, también puede especificar qué icono es
                    usado para representar la ventana. Cómo es usado exactamente este icono depende del sistema de ventanas o de la
                    Apariencia que ofrece las decoraciones de ventana. Si el sistema de ventana soporta minimización, entonces el
                    icono es usado para representar a la ventana minimizada. La mayoría de los sistemas de ventana o Apariencias
                    también muestran el icon en las decoraciones de la ventana. Un tamaño usual de icono es de 16x16 puntos, pero
                    algunos sistemas de ventana usan otros tamaños.
                </p>
                <p>
                    Las siguientes capturas muestran tres marcos que son idénticos excepto por sus decoraciones de ventana. Como
                    puede contar por la apariencia del botón en cada marco, los tres usan la Apariencia Java. El primero usa
                    decoraciones ofrecidas por el sistema de ventanas, el cual resulta ser Microsoft Windows, pero podría tan
                    facilmente ser cualquier otro sistema ejecutando la plataforma Java. El segundo y tercero usan las decoraciones
                    de ventana ofrecidas por la Apariencia Java. El tercer marco usa la Apariencia Java para las decoraciones de
                    ventana, pero tiene un icono personalizado.
                </p>
                <table>
                    <tr>
                        <td>
                            <img src="../../figures/uiswing/components/FrameDemo2_2.png" width="170" height="100"
                                 alt="Un marco con decoraciones ofrecidas por el sistema de ventanas" />
                        </td>
                        <td>
                            <img src="../../figures/uiswing/components/FrameDemo2_1.png" width="170" height="100"
                                 alt="Un marco con decoraciones ofrecidas por la Apariencia" />
                        </td>
                        <td>
                            <img src="../../figures/uiswing/components/FrameDemo2_3.png" width="170" height="100"
                                 alt="Un marco con un icono personalizado" />
                        </td>
                    </tr>
                    <tr>
                        <td>Decoraciones de ventana ofrecidas por la Apariencia</td>
                        <td>Decoraciones de ventana ofrecidas por el sistema de ventanas</td>
                        <td>Icono personalizado; decoraciones de ventana ofrecidas por la Apariencia</td>
                    </tr>
                </table>
                <p>
                    Aquí tiene un ejemplo de creación de un marco con un icono personalizado y con decoraciones de ventana ofrecidas
                    por la Apariencia:
                </p>
                <div class="codeblock">
                    <pre>
//Solicita decoraciones de ventana ofrecidas por la Apariencia.
JFrame.setDefaultLookAndFeelDecorated(true);

//Cra el marco.
JFrame frame = new JFrame("A window");

//Establece el icono del marco con una imagen cargada de un fichero.
frame.setIconImage(new ImageIcon(imgURL).getImage());
                    </pre>
                </div>
                <p>
                    Como el trozo de código precedente implica, debe invocar el método <code>setDefaultLookAndFeelDecorated</code>
                    <em>antes</em> de crear el marco cuyas decoraciones desea afectar. El valor que establece con
                    <code>setDefaultLookAndFeelDecorated</code> es usado por todas los subsiguientes <code>JFrame</code>s creados.
                    Puede volver a usar decoraciones del sistema de ventana invocando
                    <code>JFrame.setDefaultLookAndFeelDecorated(false)</code>. Algunas Apariencias podrían no soportar las
                    decoraciones de ventana; en este caso, se usan las decoraciones del sistema de ventana.
                </p>
                <p>
                    El código fuente completo para la aplicación que crea los marcos fotografiados arriba está en
                    <a class="SourceLink" target="_blank"
                       href="../examples/components/FrameDemo2Project/src/components/FrameDemo2.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/FrameDemo2Project/src/components/FrameDemo2.java');
                               return false;"><code>FrameDemo2.java</code></a>. Además de mostrar cómo elegir decoraciones de
                    ventana, FrameDemo2 también muestra como deshabilitar todas las decoraciones de ventana y da un
                    ejemplo de posicionar ventanas. Incluye dos métodos que crean objetos <code>Image</code> usados como
                    iconos &HorizontalLine; uno es cargado desde un fichero, y el otro es dibujado desde cero.
                </p>
                <div class="note">
                    <hr />
                    <strong>Pruebe esto:</strong>&nbsp;
                    <ol>
                        <li>
                            Pulse el botón Lanza para ejecutar la Demo Frame usando
                            <a class="OutsideLink" target="_blank"
                               href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">
                                Java&trade; Web Start</a>
                            (<a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                descargue KDJ 7 o posterior</a>). Alternativamente, para compilar y ejecutar el ejemplo por usted
                            mismo, consulte el
                            <a href="../examples/components/index.html#FrameDemo2">índice de ejemplos</a>.
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/FrameDemo2Project/FrameDemo2.jnlp">
                                <img src="../../images/jws-launch-button.png" width="88" height="23"
                                     alt="Launches the FrameDemo2 example" /></a>
                            <br />
                        </li>
                        <li>
                            Aparecen dos ventanas, ambas con decoraciones ofreciadas por la Apariencia, pero con iconos diferentes.
                            <br />
                            La Apariencia Java visualiza los iconos en sus decoraciones de ventana. Dependiendo de su sistema de
                            ventanas, el icono puede ser usado en otra parte para represnetar la ventana, especialmente cuando la
                            ventana está minimizada.
                        </li>
                        <li>
                            Aparece una o más ventanas con decoraciones del sistema de ventanas.
                            <br />
                            Vea si su sistema de ventanas trata estos iconos de forma diferente.
                        </li>
                        <li>
                            Aparece una o más ventanas sin decoraciones de ventana.
                            <br />
                            Juegue con los tipos varios de ventanas para ver cómo las decoraciones de ventana, el sistema de
                            ventanas, y los iconos del marco interactuan.
                        </li>
                    </ol>
                    <hr />
                </div>
                <h2>
                    <a id="windowevents">Responder a Eventos de Cierre de Ventana</a>
                </h2>
                <p>
                    Por defecto, cuando el usuario cierra un marco en pantalla, el marco se oculta. Aunque invisible, el marco aún
                    existe y el programa puede hacerlo visible de nuevo. Si quiere un comportamiento diferente, entonces necesita o
                    registrar un oyente de ventana que maneje los eventos de cierre de ventana, o necesita especificar el
                    comportamiento por defecto de cierre usando el método <code>setDefaultCloseOperation</code>. Incluso puede hacer
                    ambas cosas.
                </p>
                <p>
                    El argumento a <code>setDefaultCloseOperation</code> debe ser uno de los siguientes valores, los tres primeros de
                    lso cuales están definidos en la interfaz
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/WindowConstants.html">
                        <code>WindowConstants</code></a> (implementada por <code>JFrame</code>, <code>JInternalPane</code>,
                    y <code>JDialog</code>):
                </p>
                <dl>
                    <dt>
                        <code>DO_NOTHING_ON_CLOSE</code>
                    </dt>
                    <dd>
                        No hace nada cuando el usuario pide que la ventana se cierre. En vez de eso, el programa debería
                        probablemente usar un oyente de ventana que realize alguna otra acción en su método
                        <code>windowClosing</code>.
                    </dd>
                    <dt>
                        <code>HIDE_ON_CLOSE</code> (por defecto para <code>JDialog</code> y <code>JFrame</code>)
                    </dt>
                    <dd>
                        Oculta la ventana cuando el usuario la cierra. Esto elimina la ventana de la pantalla pero la deja
                        visualizable.
                    </dd>
                    <dt>
                        <code>DISPOSE_ON_CLOSE</code> (por defecto para <code>JInternalFrame</code>)
                    </dt>
                    <dd>
                        Oculta y elimina la ventana cuando el usuario la cierra. Esto elimina la ventanan de la pantalla y libera
                        cualquier recurso usado por ella.
                    </dd>
                    <dt>
                        <code>EXIT_ON_CLOSE</code> (definida en la clase
                        <a class="APILink" target="_blank"
                           href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html"><code>JFrame</code></a>)
                    </dt>
                    <dd>
                        Sale de la aplicación, usando <code>System.exit(0)</code>. Esto está recomendado sólo para aplicaciones. Si
                        es usado con un applet, puede ser lanzada una <code>SecurityException</code>.
                    </dd>
                </dl>
                <p>
                    <a id="4030718"></a>
                </p>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;
                    <p>
                        <code>DISPOSE_ON_CLOSE</code> puede tener resultados similares a <code>EXIT_ON_CLOSE</code> si sólo una
                        ventana está en pantalla. Más preciso, cuando la última ventana visualizable en la máquina virtual de Java
                        (MV) es eliminada, la MV puede terminar. Vea
                        <a class="APILink" target="_blank"
                           href="https://docs.oracle.com/javase/8/docs/api/java/awt/doc-files/AWTThreadIssues.html">
                            Problemas de Threading AWT</a> para los detalles.
                    </p>
                    <hr />
                </div>
                <p>
                    La operación de cierre por defecto es ejecutada después de que cualquier oyente de ventana maneje el evento de
                    cierre de ventana. Así, por ejemplo, asume que usted especifica que la operación de cierre por defecto es la
                    eliminación de un marco. También implementa un oyente de ventana que comprueba si el marco es el último visible
                    y, si es así, salva algunos datos y sale de la aplicación. Bajo estas condiciones, cuando el usuario cierra un
                    marco, el oyente de ventanas ser llamado primero. Si no hace salir la aplicación, entonces la operación de
                    cierre por defecto &HorizontalLine; la eliminación del marco &HorizontalLine; será entoces ejecutada.
                </p>
                <p>
                    Para más información sobre el manejo de eventos de cierre de ventanas, vea
                    <a class="TutorialLink" target="_top"
                       href="../events/windowlistener.html">Cómo Escribir Window Listeners</a>. Además de manejar eventos de cierre
                    de ventana, los oyentes de ventanas también pueden reaccionar ante otros cambios en el estado de la ventana,
                    como la iconificación y la activación.
                </p>
                <h2>
                    <a id="api">La IPA del Marco</a>
                </h2>
                <p>
                    Las siguientes tablas listan los constructores y métodos usados comunmente de <code>JFrame</code>. Otros métodos
                    que podría querer llamar están definidos por las clases
                    <a class="APILink" target="_blank" href="https://docs.oracle.com/javase/8/docs/api/java/awt/Frame.html">
                        <code>java.awt.Frame</code></a>,
                    <a class="APILink" target="_blank" href="https://docs.oracle.com/javase/8/docs/api/java/awt/Window.html">
                        <code>java.awt.Window</code></a>, y
                    <a class="APILink" target="_blank" href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html">
                        <code>java.awt.Component</code></a>, de las cuales <code>JFrame</code> desciende.
                </p>
                <p>
                    Debido a que cada objeto <code>JFrame </code> tiene un panel raíz, los marcos tienen soporte para interponer el
                    comportamiento de entrada y dibujo delante del marco de los hijos, colocar a los hijos en diferentes
                    &quot;capas&quot;, y para barras de menú de Swing. Estos temas se introducen en
                    <a href="toplevel.html">Usando Contenedores de Nivel Superior</a> y explicados en detalle en
                    <a href="rootpane.html">Cómo Usar los Paneles Raíz</a>.
                </p>
                <p>
                    La IPA para usar marcos cae dentro de estas categorías:
                </p>
                <ul>
                    <li><a href="#creating">Crear y Configurar un Marco</a></li>
                    <li><a href="#sizeplace">Configuración del Tamaño y Ubicación de la Ventana</a></li>
                    <li><a href="#rootpane">Métodos Relacionados con el Panel Raíz</a></li>
                </ul>
                <table class="celda">
                    <caption>
                        <a id="creating">Crear y Configurar un Marco</a>
                    </caption>
                    <tr>
                        <th id="h101" style="text-align:left;" class="celda">Método o Constructor</th>
                        <th id="h102" style="text-align:left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#JFrame--">JFrame()</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#JFrame-java.lang.String-">
                                JFrame(String)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Crea un marco que es inicialmente invisible. El argumento <code>String</code> ofrece un título para el
                            marco. Para hacer el marco visible, invoque <code>setVisible(true)</code> sobre él.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#setDefaultCloseOperation-int-">
                                void setDefaultCloseOperation(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#getDefaultCloseOperation--">
                                int getDefaultCloseOperation()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene la operación que ocurre cuando el usuario pulsa el botón cerrar en este marco.
                            Posibles elecciones son:
                            <ul>
                                <li><code>DO_NOTHING_ON_CLOSE</code></li>
                                <li><code>HIDE_ON_CLOSE</code></li>
                                <li><code>DISPOSE_ON_CLOSE</code></li>
                                <li><code>EXIT_ON_CLOSE</code></li>
                            </ul>
                            La tres primeras constantes están definidas en la interfaz
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/WindowConstants.html">
                                <code>WindowConstants</code></a>, la cual implementa <code>JFrame</code>. La constante
                            <code>EXIT_ON_CLOSE</code> está definida en la clase
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html"><code>JFrame</code></a>
                            .
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Frame.html#setIconImage-java.awt.Image-">
                                void setIconImage(Image)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Frame.html#getIconImage--">
                                Image getIconImage()</a>
                            <br />
                            <em>(in <code>Frame</code>)</em>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene el icono que representa el marco. Note que el argumento es un objeto
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Image.html">java.awt.Image</a>, no un
                            <code>javax.swing.ImageIcon</code> (o cualquier otra implementación de <code>javax.swing.Icon</code>).
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Frame.html#setTitle-java.lang.String-">
                                void setTitle(String)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Frame.html#getTitle--">String getTitle()</a>
                            <br />
                            <em>(en <code>Frame</code>)</em>
                        </td>
                        <td headers="h102" class="celda">Establece u obtiene el título del marco.</td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Frame.html#setUndecorated-boolean-">
                                void setUndecorated(boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Frame.html#isUndecorated--">
                                boolean isUndecorated()</a>
                            <br />
                            <em>(en <code>Frame</code>)</em>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene si este marco deberá ser decorado. Funciona sólo si el marco no está aún visualizado
                            (no ha sido empaquetado o mostrado). Típicamente usado con el
                            <a class="TutorialLink" target="_top"
                               href="../../extra/fullscreen/index.html">Modo exclusivo de pantalla completa</a> o para habilitar
                            decoraciones de ventana personalizadas.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#setDefaultLookAndFeelDecorated-boolean-">
                                static void setDefaultLookAndFeelDecorated(boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#isDefaultLookAndFeelDecorated--">
                                static boolean isDefaultLookAndFeelDecorated()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Determina si los <code>JFrame</code>s creados subsiguientemente tendrán sus decoraciones de ventana
                            (tales como los bordes, y los controles para cerrar la ventana) ofrecidas por la Apariencia actual. Note
                            que esto es sólo un intento, ya que algunas Apariencias pueden no soportar esta característica.
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="celda">
                    <caption>
                        <a id="sizeplace">Configuración del Tamaño y Ubicación de la Ventana</a>
                    </caption>
                    <tr>
                        <th id="h201" style="text-align:left;" class="celda">Método</th>
                        <th id="h202" style="text-align:left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Window.html#pack--">void pack()</a>
                            <br />
                            <em>(en <code>Window</code>)</em>
                        </td>
                        <td headers="h202" class="celda">
                            Dimensiona la ventana de forma que todos sus contenidos están en o por encima de sus tamaños preferidos.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html#setSize-int-int-">
                                void setSize(int, int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html#setSize-java.awt.Dimension-">
                                void setSize(Dimension)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html#getSize--">
                                Dimension getSize()</a>
                            <br />
                            <em>(en <code>Component</code>)</em>
                        </td>
                        <td headers="h202" class="celda">
                            Establece u obtiene el tamaño total de la ventana. Los argumentos enteros en <code>setSize</code>
                            especifican el ancho y el alto, respectivamente.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html#setBounds-int-int-int-int-">
                                void setBounds(int, int, int, int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html#setBounds-java.awt.Rectangle-">
                                void setBounds(Rectangle)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html#getBounds--">
                                Rectangle getBounds()</a>
                            <br />
                            <em>(en <code>Component</code>)</em>
                        </td>
                        <td headers="h202" class="celda">
                            Establece u obtiene el tamaño y posición de la ventana. Para la versión entera de
                            <code>setBounds</code>, la esquina superior izquierda de la ventana está en la ubicación <em>x, y</em>
                            especificada por los dos primeros argumentos, y tiene el ancho y alto especificados por los dos últimos
                            argumentos.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html#setLocation-int-int-">
                                void setLocation(int, int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html#getLocation--">
                                Point getLocation()</a>
                            <br />
                            <em>(en <code>Component</code>)</em>
                        </td>
                        <td headers="h202" class="celda">
                            Establece u obtiene la ubicación de la esquina superior izquierda de la ventana. Los parámetros son los
                            valores <em>x</em> e <em>y</em>, respectivamente.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Window.html#setLocationRelativeTo-java.awt.Component-">
                                void setLocationRelativeTo(Component)</a>
                            <br />
                            <em>(in <code>Window</code>)</em>
                        </td>
                        <td headers="h202" class="celda">
                            Posiciona la ventana de forma que está centrada sobre el componente especificado. Si el argumento es
                            <code>null</code>, la ventana es centrada en la pantalla. Para centrar apropiadamente la ventana, usted
                            debería invocar este método después de que el tamaño de la ventana haya sido fijado.
                        </td>
                    </tr>
                </table>
                <br />
                <table class="celda">
                    <caption>
                        <a id="rootpane">Métodos Relacionados con el Panel Raíz</a>
                    </caption>
                    <tr>
                        <th id="h301" style="text-align:left;" class="celda">Método</th>
                        <th id="h302" style="text-align:left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#setContentPane-java.awt.Container-">
                                void setContentPane(Container)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#getContentPane--">
                                Container getContentPane()</a>
                        </td>
                        <td headers="h302" class="celda">
                            Establece u obtiene el panel de contenidos del marco. El panel de contenidos contiene los componentes
                            visibles del IGU dentro del marco.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#createRootPane--">
                                JRootPane createRootPane()</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#setRootPane-javax.swing.JRootPane-">
                                void setRootPane(JRootPane)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#getRootPane--">
                                JRootPane getRootPane()</a>
                        </td>
                        <td headers="h302" class="celda">
                            Crea, establece, u obtiene el panel raíz del marco. Los paneles ráiz gestionan el interior del marco
                            incluyendo el panel de contenidos, el panel de cristal, etc.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#setJMenuBar-javax.swing.JMenuBar-">
                                void setJMenuBar(JMenuBar)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#getJMenuBar--">
                                JMenuBar getJMenuBar()</a>
                        </td>
                        <td headers="h302" class="celda">
                            Establece u obtiene la barra de menús del marco para gestionar un conjunto de menús del marco.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#setGlassPane-java.awt.Component-">
                                void setGlassPane(Component)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#getGlassPane--">
                                Component getGlassPane()</a>
                        </td>
                        <td headers="h302" class="celda">
                            Establece u obtiene el panel de cristal. Puede usar el panel de cristal para interceptar los eventos de
                            ratón o pintar encima del IGU de su programa.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#setLayeredPane-javax.swing.JLayeredPane-">
                                void setLayeredPane(JLayeredPane)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#getLayeredPane--">
                                JLayeredPane getLayeredPane()</a>
                        </td>
                        <td headers="h302" class="celda">
                            Establece u obtiene el panel estratificado del marco. Puede usar el panel estratificado del marco para
                            colocar componentes encima o debajo de otros componentes.
                        </td>
                    </tr>
                </table>
                <h2>
                    <a id="eg">Ejemplos que Usan Marcos</a>
                </h2>
                <p>
                    Todas las aplicaciones independientes en este recorrido usan <code>JFrame</code>. La siguiente tabla lista unas
                    pocas y le indica dónde se describe cada una.
                </p>
                <table>
                    <caption>
                        Ejemplos que Usan Marcos
                    </caption>
                    <tr>
                        <th id="h401" style="text-align:left;">Ejemplo</th>
                        <th id="h402" style="text-align:left;">Dónde Está Descrita</th>
                        <th id="h403" style="text-align:left;">Notas</th>
                    </tr>
                    <tr>
                        <td headers="h401"><a href="../examples/components/index.html#FrameDemo"><code>FrameDemo</code></a></td>
                        <td headers="h402"><a href="#anexample">El Ejemplo Explicado</a></td>
                        <td headers="h403">Visualiza un marco básico con un componente.</td>
                    </tr>
                    <tr>
                        <td headers="h401"><a href="../examples/components/index.html#FrameDemo2"><code>FrameDemo2</code></a></td>
                        <td headers="h402"><a href="#setDefaultLookAndFeelDecorated">Especificar Decoraciones de Ventana</a></td>
                        <td headers="h403">Le permite crear marcos con varias decoraciones de ventana.</td>
                    </tr>
                    <tr>
                        <td headers="h401"><a href="../examples/components/index.html#Framework"><code>Framework</code></a></td>
                        <td headers="h402">&HorizontalLine;</td>
                        <td headers="h403">
                            Un estudio en crear y destruir ventanas, en implementar una barra de menús, y en salir de una
                            aplicación.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h401">
                            <a href="../examples/components/index.html#LayeredPaneDemo"><code>LayeredPaneDemo</code></a>
                        </td>
                        <td headers="h402"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></td>
                        <td headers="h403">
                            Ilustra cómo usar un panel estratificado (pero no el panel estratificado del marco).
                        </td>
                    </tr>
                    <tr>
                        <td headers="h401">
                            <a href="../examples/components/index.html#GlassPaneDemo"><code>GlassPaneDemo</code></a>
                        </td>
                        <td headers="h402"><a href="rootpane.html#glasspane">El Panel de Cristal</a></td>
                        <td headers="h403">Ilustra el uso del panel de cristal de un marco.</td>
                    </tr>
                    <tr>
                        <td headers="h401"><a href="../examples/components/index.html#MenuDemo"><code>MenuDemo</code></a></td>
                        <td headers="h402"><a href="menu.html">Cómo Usar Menús</a></td>
                        <td headers="h403">Muestra cómo colocar un <code>JMenuBar</code> en un <code>JFrame</code>.</td>
                    </tr>
                </table>
            </div>
            <div class="NavBit">
                <a target="_top" href="formattedtextfield.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="internalframe.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta </a>página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales </a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Cómo Usar Campos de Texto Formateado<br />
            <b>Página Siguiente:</b> Cómo Usar Marcos Internos
        </div>
    </body>
</html>