<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Usar HTML en Componentes Swing (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario)
            con JFC/Swing &gt; Usando Componentes Swing)
        </title>
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Usando Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="toplevel.html">Usando Contenedores de Nivel Superior</a></div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="linkAHEAD"><a href="text.html">Usando Componentes de Texto</a></div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="linkBHEAD"><a href="colorchooser.html">Cómo Usar Selectores de Color</a></div>
                <div class="linkBHEAD"><a href="combobox.html">Cómo Usar Cuadros Combinados</a></div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="linkBHEAD"><a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a></div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="linkBHEAD"><a href="frame.html">Cómo Hacer Marcos (Ventanas Principales)</a></div>
                <div class="linkBHEAD"><a href="internalframe.html">Cómo Usar Marcos Internos</a></div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="linkBHEAD"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="linkBHEAD"><a href="rootpane.html">Cómo Usar los Paneles Raíz</a></div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="linkBHEAD"><a href="slider.html">Cómo Usar Deslizadores</a></div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="linkBHEAD"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="linkBHEAD"><a href="textarea.html">Cómo Usar Áreas de Texto</a></div>
                <div class="linkBHEAD"><a href="textfield.html">Cómo Usar Campos de Texto</a></div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="linkBHEAD"><a href="tooltip.html">Cómo Usar Tool Tips</a></div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="nolinkAHEAD">Cómo Usar HTML en Componentes Swing</div>
                <div class="linkAHEAD"><a href="model.html">Cómo Usar Modelos</a></div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Usando Componentes Swing
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Usando Componentes Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="tree.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="model.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Usar HTML en Componentes Swing</h1>
            </div>
            <div id="PageContent">
                <p>
                    Muchos componentes de Swing muestran una cadena de texto como parte de su IGU. Por defecto, el texto de un 
                    componente es visualizado en una única fuente y color, todo en una línea. Puede determinar la fuente y el color
                    del texto del componente invocando los métodos del componente <code>setFont</code> y <code>setForeground</code>
                    , respectivamente. Por ejemplo, el código siguiente crea una etiqueta y entonces establece su fuente y color:
                </p>
                <div class="codeblock">
                    <pre>
label = new JLabel("Una etiqueta");
label.setFont(new Font("Serif", Font.PLAIN, 14));
label.setForeground(new Color(0xffffdd));
                    </pre>
                </div>
                <p>
                    Si quiere mezclar fuentes o colores dentro del texto, o si quiere formatearlo tal como en líneas múltiples,
                    puede usar HTML. El formateado HTML puede ser usado en todos los botones, elementos de menú, etiquetas, tool
                    tips, y paneles tabulados de Swing, así como también en componentes tales como árboles y tablas que usen
                    etiquetas para generar el texto.
                </p>
                <p>
                    Para especificar que el texto de un componente tiene formateado HTML, simplemente coloque la etiqueta 
                    <code>&lt;html&gt;</code> al principio del texto, entonces use cualquier HTML válido en el resto. Aquí tiene un
                    ejemplo de uso de HTML en el texto de un botón:
                </p>
                <div class="codeblock">
                    <pre>
button = new JButton("&lt;html&gt;&lt;b&gt;&lt;u&gt;D&lt;/u&gt;os&lt;/b&gt;&lt;br&gt;líneas&lt;/html&gt;");
                    </pre>
                </div>
                <p>
                    Aquí está el botón resultante.
                    <img src="../../figures/uiswing/components/HtmlButtonMetal.png" width="61" height="42"
                         alt="Captura de un botón que muestra HTML con el aspecto Metal." />
                </p>
                <h2>
                    Un Ejemplo: HtmlDemo
                </h2>
                <p>
                    Una aplicación llamada <code>HtmlDemo</code> le permite jugar con el formateo de HTML estableciendo el texto de
                    una etiqueta. Puede encontrar el código entero para este programa en
                    <a class="SourceLink" target="_blank"
                       href="../examples/components/HtmlDemoProject/src/components/HtmlDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/HtmlDemoProject/src/components/HtmlDemo.java');
                               return false;">
                        <code>HtmlDemo.java</code></a>. Aquí tiene una foto del ejemplo <code>HtmlDemo</code>.
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/components/HtmlDemoMetal.png" width="536" height="300"
                         alt="Captura de HtmlDemo con el aspecto Metal." />
                </p>
                <div class="note">
                    <hr />
                    <strong>Pruebe Esto:</strong>&nbsp;
                    <ol>
                        <li>
                            Pulse el botón Lanzar para ejecutar HtmlDemo usando 
                            <a class="OutsideLink" target="_blank"
                               href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">Java&trade; Web Start
                            </a> (<a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue KDJ 7 o
                                posterior</a>). Alternativamente, para compilar y ejecutar el ejemplo usted mismo, consulte el 
                            <a href="../examples/components/index.html#HtmlDemo">índice de ejemplos</a>.
                            <div style="text-align: center;padding-top: 10px;">
                                <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/HtmlDemoProject/HtmlDemo.jnlp">
                                    <img src="../../images/jws-launch-button.png" width="88" height="23"
                                         alt="Lanza la Aplicación HtmlDemo" /></a>
                            </div>
                            <br />
                        </li>
                        <li>
                            Edite el formato de HTML en el área de texto a la izquierda y pulse el botón &quot;Cambia la
                            etiqueta&quot;. La etiqueta a la derecha muestra el resultado.
                        </li>
                        <li>
                            Elimine la etiqueta &lt;html&gt; del área de texto a la izquierda.  El texto de la etiqueta ya no se
                            analiza como HTML.
                        </li>
                    </ol>
                    <hr />
                </div>
                <h2>
                    Ejemplo 2: ButtonHtmlDemo
                </h2>
                <p>
                    Veamos otro ejemplo que usa HTML. <code>ButtonHtmlDemo</code> agrega fuente, color, y otros formateados de
                    texto a los tres botones. Puede encontrar el código entero de este programa en 
                    <a class="SourceLink" target="_blank"
                       href="../examples/components/ButtonHtmlDemoProject/src/components/ButtonHtmlDemo.java"
                       onclick="showCode('../../displayCode.html', '../examples/components/ButtonHtmlDemoProject/src/components/ButtonHtmlDemo.java');
                               return false;">
                        <code>ButtonHtmlDemo.java</code></a>. Aquí tiene una foto del ejemplo <code>ButtonHtmlDemo</code>.
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/components/ButtonHtmlDemoMetal.png" width="403" height="96"
                         alt="Captura de ButtonHtmlDemo con la apariencia Metal." />
                </p>
                <p>
                    Pulse el botón Lanzar para ejecutar ButtonHtmlDemo usando
                    <a class="OutsideLink" target="_blank"
                       href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">Java&trade; Web Start
                    </a> (<a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue KDJ 7 o
                        posterior</a>). Alternativamente, para compilar y ejecutar el ejemplo usted mismo, consulte el
                        <a  href="../examples/components/index.html#ButtonHtmlDemo">índice de ejemplos</a>.
                </p>
                <div style="text-align: center;padding-top: 10px;">
                    <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/ButtonHtmlDemoProject/ButtonHtmlDemo.jnlp">
                        <img src="../../images/jws-launch-button.png" width="88" height="23"
                             alt="Lanza la Aplicación ButtonHtmlDemo" /></a>
                </div>
                <br />
                <p>
                    Los botones izquierdo y derecho tienen líneas múltiples y estilos de texto y son implementados usando HTML. El
                    botón del medio, por otro lado, usa sólo una línea, fuente, y color, de forma que no requiere HTML. Aquí tiene
                    el código que especifica el formato de texto para estos tres botones:
                </p>
                <div class="codeblock">
                    <pre>
b1 = new JButton("&lt;html&gt;&lt;center&gt;&lt;b&gt;&lt;u&gt;D&lt;/u&gt;isable&lt;/b&gt;&lt;br&gt;"
                 + "&lt;font color=#ffffdd&gt;middle button&lt;/font&gt;",
                 leftButtonIcon);
Font font = b1.getFont().deriveFont(Font.PLAIN);
b1.setFont(font);
...
b2 = new JButton("middle button", middleButtonIcon);
b2.setFont(font);
b2.setForeground(new Color(0xffffdd));
...
b3 = new JButton("&lt;html&gt;&lt;center&gt;&lt;b&gt;&lt;u&gt;E&lt;/u&gt;nable&lt;/b&gt;&lt;br&gt;"
                 + "&lt;font color=#ffffdd&gt;middle button&lt;/font&gt;",
                 rightButtonIcon);
b3.setFont(font);
                    </pre>
                </div>
                <p>
                    Note que tenemos que usar una etiqueta <code>&lt;u&gt;</code> para causar que los caracteres mnemotécnicos
                    &quot;D&quot; y &quot;E&quot; sean subrayados en los botones que usan HTML. Note también que cuando un botón es
                    deshabilitado, su texto HTML desafortunadamente permanece negro, en vez de volverse gris. (Consulte
                    <a class="OutsideLink" target="_blank"
                       href="http://bugs.java.com/bugdatabase/view_bug.do?bug_id=4783068">bug #4783068</a> para ver si ésta 
                    situación cambia).
                </p>
                <p>
                    Esta sección describe cómo usar HTML en componentes ordinarios, que no son de texto. Para más información sobre
                    los componentes cuyo objetivo primario es formatear texto, vea
                    <a class="TutorialLink" target="_top" href="text.html">Usando Componentes de Texto</a>.
                </p>
                <p>
                    Si está programando con JavaFX, vea
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/user-interface-tutorial/editor.htm">Editor HTML</a>.
                </p>
            </div>
            <div class="NavBit">
                <a target="_top" href="tree.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="model.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a>  página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Cómo Usar Árboles<br />
            <b>Página Siguiente:</b> Cómo Usar Modelos
        </div>
    </body>
</html>