<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        
        <title>
            Lección: Usando Componentes Swing (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario) 
            con JFC/Swing)
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper  clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="nolinkLESSON">Usando Componentes Swing</div>
                <div class="linkAHEAD"><a href="toplevel.html">Usando Contenedores de Nivel Superior</a></div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="linkAHEAD"><a href="text.html">Usando Componentes de Texto</a></div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="linkBHEAD"><a href="colorchooser.html">Cómo Usar Selectores de Color</a></div>
                <div class="linkBHEAD"><a href="combobox.html">Cómo Usar Cuadros Combinados</a></div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="linkBHEAD"><a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a></div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="linkBHEAD"><a href="frame.html">Cómo Hacer Marcos (Ventanas Principales)</a></div>
                <div class="linkBHEAD"><a href="internalframe.html">Cómo Usar Marcos Internos</a></div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="linkBHEAD"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="linkBHEAD"><a href="rootpane.html">Cómo Usar los Paneles Raíz</a></div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="linkBHEAD"><a href="slider.html">Cómo Usar Deslizadores</a></div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="linkBHEAD"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="linkBHEAD"><a href="textarea.html">Cómo Usar Áreas de Texto</a></div>
                <div class="linkBHEAD"><a href="textfield.html">Cómo Usar Campos de Texto</a></div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="linkBHEAD"><a href="tooltip.html">Cómo Usar Tool Tips</a></div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="linkAHEAD"><a href="html.html">Cómo Usar HTML en Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="model.html">Cómo Usar Modelos</a></div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="../learn/index.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="toplevel.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Lección: Usando Componentes Swing</h1>
            </div>
            <div id="PageContent">
                <a href="../examples/components/index.html">Índice de Ejemplos</a>
                <br />
                <p>
                    Esta lección le da la información de fondo que necesita para usar los componentes Swing, y entonces describe
                    varios componentes Swing. Se asume que usted ha compilado y ejecutado un programa que usa componentes Swing
                    exitosamente, y que usted está familiarizado con los conceptos básicos de Swing. Estos prerequisitos están
                    cubiertos en
                    <a class="TutorialLink" target="_top" href="../start/index.html">Empezando con Swing</a> y
                    <a class="TutorialLink" target="_top" href="../learn/index.html">Aprendiendo Swing con el EID NetBeans</a>.
                </p>
                <h2>
                    <a href="toplevel.html">Usando Contenedores de Nivel Superior</a>
                </h2>
                <p>
                    Describe cómo usar las características compartidas por las clases <code>JFrame</code>, <code>JDialog</code>, y
                    <code>JApplet</code> &HorizontalLine;  paneles de contenido, barra de menús, y paneles raíz. También describe
                    la <em>jerarquía de contención</em>, la cual se refiere al árbol de los componentes contenidos por un contenedor
                    de nivel superior.
                </p>
                <h2>
                    <a href="jcomponent.html">La Clase JComponent</a>
                </h2>
                <p>
                    Le habla sobre las características que <code>JComponent</code> ofrece a sus subclases &HorizontalLine; el cual
                    incluye casi todos los componentes de Swing &HorizontalLine; y da consejos de cómo aprovechar estas
                    características. Ésta sección finaliza con tablas del IPA describiendo la IPA más comunmente usada por
                    <code>JComponent</code> y sus superclases, <code>Container</code> y <code>Component</code>.
                </p>
                <h2>
                    <a href="text.html">Usando Componentes de Texto</a>
                </h2>
                <p>
                    Describe las características e IPA compartidas por todos los componentes que descienden de
                    <code>JTextComponent</code>. Usted probablemente no necesita leer esta sección si sólo está usando campos de
                    texto (formateados o no) o áreas de texto.
                </p>
                <h2>
                    <a href="componentlist.html">Como...</a>
                </h2>
                <p>
                    Secciones sobre cómo usar cada componente Swing, en orden alfabético. No esperamos que lea estas secciones en
                    orden. En vez de eso, recomendamos leer las secciones relevantes &quot;Cómo&quot; una vez que esté listo para
                    empezar a usar componentes Swing en sus propios programas. Por ejemplo, si su programa necesita un marco, una
                    etiqueta, un botón, y un selector de color, debería leer <a href="frame.html">Cómo Hacer Marcos (Ventanas
                        Principales)</a>, <a href="label.html">Cómo Usar Etiquetas</a>, <a href="button.html">Cómo Usar Botones,
                        Casillas de Verificación y Botones de Radio</a>, y <a href="colorchooser.html">Cómo Usar Selectores de
                        Color</a>.
                </p>
                <h2>
                    <a href="html.html">Cómo Usar HTML en Componentes Swing</a>
                </h2>
                <p>
                    Describe cómo variar la fuente, color, y los otros formateos del texto mostrado por componentes Swing usando
                    etiquetas HTML.
                </p>
                <h2>
                    <a href="model.html">Usando Modelos</a>
                </h2>
                <p>
                    Le habla sobre el modelo de arquitectura de Swing. Esta variación del Modelo-Vista-controlador (MVC) significa
                    que uste puede, si lo desea, especificar cómo los datos y el estado de un componente Swing son almacenados y
                    recuperados. Los beneficios son la capacidad de compartir datos y estado entre componentes, y para mejorar en
                    gran medida el rendimiento de los componentes tales como las tablas que visualizan grandes cantidades de datos.
                </p>
                <h2>
                    <a href="border.html">Usando Bordes</a>
                </h2>
                <p>
                    Los bordes son muy útiles para dibujar líneas, títulos, y espacio vacío alrededor de los bordes de los
                    componentes. (Podría haber notado que los ejemplos en este recorrido usa un montón de bordes). Esta sección le
                    habla de cómo añadir un borde a cualquier <code>JComponent</code>.
                </p>
                <h2>
                    <a href="icon.html">Usando Iconos</a>
                </h2>
                <p>
                    Muchos componentes Swing pueden mostrar iconos. Usualmente, los iconos están implementados como instancias de la
                    clase <code>ImageIcon</code>.
                </p>
                <h2>
                    <a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a>
                </h2>
                <p>
                    Esta sección describe soluciones a los problemas comunes relacionados con los componentes.
                </p>
                <p>
                    Si está interesado en usar JavaFX para crear su IGU, vea
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/user-interface-tutorial/charts.htm">Uso de Gráficos JavaFX</a>
                    y
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/user-interface-tutorial/ui_controls.htm">
                        Uso de Controles del IU de JavaFX</a>.
                </p>
            </div>
            <div class="NavBit">
                <a target="_top" href="../learn/index.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="toplevel.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">
                            Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente
                            <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs
                            </a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias?
                            <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Lección Anterior<br />
            <b>Página Siguiente:</b> Usando Contenedores de Nivel Superior
        </div>
    </body>
</html>