<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Usar Marcos Internos (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario)
            con JFC/Swing &gt; Usando Componentes Swing)
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Usando Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="toplevel.html">Usando Contenedores de Nivel Superior</a></div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="linkAHEAD"><a href="text.html">Usando Componentes de Texto</a></div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="linkBHEAD"><a href="colorchooser.html">Cómo Usar Selectores de Color</a></div>
                <div class="linkBHEAD"><a href="combobox.html">Cómo Usar Cuadros Combinados</a></div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="linkBHEAD"><a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a></div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="linkBHEAD"><a href="frame.html">Cómo Hacer Marcos (Ventanas Principales)</a></div>
                <div class="nolinkBHEAD">Cómo Usar Marcos Internos</div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="linkBHEAD"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="linkBHEAD"><a href="rootpane.html">Cómo Usar los Paneles Raíz</a></div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="linkBHEAD"><a href="slider.html">Cómo Usar Deslizadores</a></div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="linkBHEAD"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="linkBHEAD"><a href="textarea.html">Cómo Usar Áreas de Texto</a></div>
                <div class="linkBHEAD"><a href="textfield.html">Cómo Usar Campos de Texto</a></div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="linkBHEAD"><a href="tooltip.html">Cómo Usar Tool Tips</a></div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="linkAHEAD"><a href="html.html">Cómo Usar HTML en Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="model.html">Cómo Usar Modelos</a></div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Usando Componentes Swing<br />
                <b>Sección:</b> Cómo Usar Varios Componentes
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Usando Componentes Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="frame.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="label.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Usar Marcos Internos</h1>
            </div>
            <div id="PageContent">
                <p>
                    Con la clase <a class="APILink" target="_blank"
                                    href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html">
                        <code>JInternalFrame</code></a> puede visualizar una ventana parecida a un
                    <a href="frame.html"><code>JFrame</code></a> dentro de otra ventana. Usualmente, usted añade marcos internos
                    a un panel de escritorio. El panel de escritorio, a su vez, podría ser usando como el panel de contenidos de
                    un <code>JFrame</code>. El panel de escritorio es una instancia de
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JDesktopPane.html"><code>JDesktopPane</code></a>,
                    la cual es una subclase de <a href="layeredpane.html"><code>JLayeredPane</code></a> que tiene una IPA añadida
                    para manejar múltiples marcos internos que se solapan.
                </p>
                <p>
                    Debe considerar cuidadosamente si basar la GUI de su programa en torno a marcos o marcos internos. Cambiar de
                    marcos internos a marcos o viceversa no es necesariamente una tarea simple. Experimentando con ambos
                    marcos y marcos internos, usted puede tener una idea de los compromisos involucrados en la elección de uno
                    sobre el otro.
                </p>
                <p>
                    Aquí tiene una imagen de una aplicación que tiene dos marcos internos (uno de los cuales está iconificado)
                    dentro de un marco regular:
                </p>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/components/InternalFrameDemoMetal.png" width="278" height="180"
                         alt="InternalFrameDemo tiene marcos internos múltiples, gestionados por un panel de escritorio" />
                </p>
                <div class="note">
                    <hr />
                    <strong>Pruebe esto:</strong>&nbsp;
                    <ol>
                        <li>
                            Pulse el botón Lanza para ejecutar InternalFrameDemo usando
                            <a class="OutsideLink" target="_blank"
                               href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">
                                Java&trade; Web Start</a> (
                            <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                descargue KDJ 7 o posterior</a>). Alternativamente, para compilar y ejecutar el ejemplo por usted
                            mismo, consulte el
                            the <a href="../examples/components/index.html#InternalFrameDemo">índice de ejemplos</a>.
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/InternalFrameDemoProject/InternalFrameDemo.jnlp">
                                <img src="../../images/jws-launch-button.png" width="88" height="23"
                                     alt="Lanza el ejemplo InternalFrameDemo" /></a>
                            <br />
                        </li>
                        <li>
                            Cree marcos internoos nuevos usando el item Create en el menú Document.
                            <br />
                            Cada marco interno surge 30 puntos más abajo y a la drecha del lugar donde el marco interno previo
                            apareció primero. Esta funcionalidad es implementada en la clase <code>MyInternalFrame</code>, la cual
                            es la subclase personalizada de <code>JInternalFrame</code>.
                        </li>
                    </ol>
                    <hr />
                </div>
                <p>
                    El siguiente código, tomado de
                    <a class="SourceLink" target="_blank"
                       href="../examples/components/InternalFrameDemoProject/src/components/InternalFrameDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/InternalFrameDemoProject/src/components/InternalFrameDemo.java');
                               return false;">
                        <code>InternalFrameDemo.java</code></a>, crea el panel de escritorio y los marcos internos en el ejemplo
                    previo.
                </p>
                <div class="codeblock">
                    <pre>
<em>...//En el constructor de InternalFrameDemo, una subclase de JFrame:</em>
    desktop = new JDesktopPane();
    createFrame(); //Crea la primera ventana
    setContentPane(desktop);
    ...
    //Hacer arrastrar un poco más rápido pero quizás más feo.
    desktop.setDragMode(JDesktopPane.OUTLINE_DRAG_MODE);
...
protected void createFrame() {
    MyInternalFrame frame = new MyInternalFrame();
    frame.setVisible(true);
    desktop.add(frame);
    try {
        frame.setSelected(true);
    } catch (java.beans.PropertyVetoException e) {}
}

<em>...//En el constructor de MyInternalFrame, una subclase de JInternalFrame:</em>
static int openFrameCount = 0;
static final int xOffset = 30, yOffset = 30;

public MyInternalFrame() {
    super("Document #" + (++openFrameCount),
          true, //redimensionable
          true, //se puede cerrar
          true, //se puede maximizar
          true);//se puede iconificar (minimizar)
    //...Crea el IGU y lo coloca en la ventana...
    //...Entonces establece el tamaño de la ventana y llama a pack...
    ...
    //Establece la ubicación de la ventana.
    setLocation(xOffset*openFrameCount, yOffset*openFrameCount);
}
                    </pre>
                </div>
                <h2>
                    <a id="frame">Marcos Internos vs. Marcos Regulares</a>
                </h2>
                <p>
                    El código para usar marcos internos es similiar en muchas formas al código para usar marcos regulares de Swing.
                    Debido a que los marcos internos tienen paneles raíz, configurar el IGU para un <code>JInternalFrame</code> es
                    muy similar a configurar el IGU para un <code>JFrame</code>. <code>JInternalFrame</code> también ofrece otra
                    IPA, tal como <code>pack</code>, que lo hace similar a <code>JFrame</code>.
                </p>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;
                    <p>
                        Al igual que para un marco regular, debe invocar <code>setVisible(true)</code> o <code>show()</code> sobre
                        un marco interno para visualizarlo. El marco interno no aparece hasta que usted explícitamente lo hace
                        visible.
                    </p>
                    <hr />
                </div>
                <p>
                    Los marcos internos no son ventanas o contenedores de nivel superior, sin embargo, los hace diferentes de
                    los marcos. Por ejemplo, usted debe añadir un marco interno a un contenedor (usualmente un 
                    <code>JDesktopPane</code>); un marco interno no puede ser la raiz de una jerarquía de contención. Además, los 
                    marcos internos no generan eventos de ventana. En su lugar, las acciones de usuario que causarían a un marco el
                    disparar eventos de usuario causan que un marco interno dispare eventos del marco interno.
                </p>
                <p>
                    Debido a que los marcos internos son implementados con código independiente de la plataforma, añaden algunas 
                    características que los marcos no pueden darle. Una de tales características es que los marcos internos le dan
                    más control sobre su estado y capacidades que los marcos. Puede iconificar (minimizar) programadamente un marco
                    interno o maximizarlo. Puede también especificar qué icono se coloca en la barra del título del marco interno. 
                    Puede incluso especificar si el marco interno tiene las decoraciones de ventana que soportan el redimensionado, 
                    la minimización, el cierre, y la maximización.
                </p>
                <p>
                    Otra característica es que los marcos internos están diseñados para trabajar dentro de los paneles de 
                    escritorio. La IPA de <code>JInternalFrame</code> contiene métodos tales como <code>moveToFront</code> que 
                    funcionan sólo si el contendor del marco interno es un panel estructurado tal como un <code>JDesktopPane</code>.
                </p>
                <h2>
                    <a id="rules">Reglas de Uso de Marcos Internos</a>
                </h2>
                <p>
                    Si ha construído algunos programas usando <code>JFrame</code> y los otros componentes de Swing, entonces también
                    sabe un montón sobre cómo usar marcos internos. La siguiente lista resume las reglas para usar marcos internos.
                    Para información adicional, vea <a href="frame.html">Cómo Hacer Marcos</a> y
                    <a href="jcomponent.html">La Clase JComponent</a>.
                </p>
                <dl>
                    <dt>
                        <strong>Debe establecer el tamaño del marco interno.</strong>
                    </dt>
                    <dd>
                        Si no establece el tamaño del marco interno, éste tendrá un tamaño cero y por lo tanto nunca será visible. 
                        Puede establecer el tamaño usando uno de los siguientes métodos: <code>setSize</code>, <code>pack</code>, o
                        <code>setBounds</code>.
                    </dd>
                    <dt>
                        <strong>Por regla general, debe establecer la ubicación del marco interno.</strong>
                    </dt>
                    <dd>
                        Si no establece la ubicación del marco interno, se colocará en 0,0 (a parte superior izquierda de su 
                        contenedor). Puede usar el método <code>setLocation</code> o <code>setBounds</code> para especificar el 
                        punto superior izquierdo del marco interno, relativo a su contenedor.
                    </dd>
                    <dt>
                        <strong>
                            Para agregar componentes a un marco interno, los agrega al panel de contenido del marco interno.
                        </strong>
                    </dt>
                    <dd>
                        Esto es exactamente como la situación de <code>JFrame</code>. Vea
                        <a href="toplevel.html#contentpane">Añadir Componentes al Panel de Contenido</a> para los detalles.
                    </dd>
                    <dt>
                        <strong>
                            Diálogos que son marcos internos deberán ser implementados usando <code>JOptionPane</code> o
                            <code>JInternalFrame</code>, no <code>JDialog</code>.
                        </strong>
                    </dt>
                    <dd>
                        Para crear un diálogo simple, puede usar los métodos <code>showInternal<em>Xxx</em>Dialog</code> de 
                        the <code>JOptionPane</code>, como se describió en 
                        <a href="dialog.html">Cómo Hacer Diálogos</a>.
                    </dd>
                    <dt>
                        <strong>Debe añadir un marco interno a un contenedor.</strong>
                    </dt>
                    <dd>
                        Si no añade el marco interno a un contenedor (usualmente un <code>JDesktopPane</code>), el marco intero no
                        aparacerá.
                    </dd>
                    <dt>
                        <strong>Necesita llamar a <code>show</code> o <code>setVisible</code> para los marcos internos.</strong>
                    </dt>
                    <dd>
                        Los marcos internos son invisibles por defecto. Debe invocar <code>setVisible(true)</code> o 
                        <code>show()</code> para hacerlos visibles.
                    </dd>
                    <dt>
                        <strong>Los marcos internos disparan eventos de marco interno, no eventos de ventana.</strong>
                    </dt>
                    <dd>
                        El manejo de los eventos de marco interno es casi idéntico al manejo de eventos de ventana. Vea 
                        <a href="../events/internalframelistener.html">Cómo Escribir un Internal Frame Listener</a> para más 
                        información.
                    </dd>
                </dl>
                <p>
                    <a id="drag"></a>
                </p>
                <div class="note">
                    <hr />
                    <strong>Consejo de rendimiento:</strong>&nbsp;
                    <p>
                        Cuando un escritorio tiene muchos marcos internos, el usuario puede notar que moverlos parece lento. 
                        Arrastrar los contornos es una manera de evitar este problema. Con el arrastrado de contornos, sólo el 
                        contorno del marco interno es pintado en la posición actual del ratón mientras el marco interno está siendo
                        arrastrado. El contenido del marco interno no se repinta en una nueva posición hasta que el arrastre se 
                        detiene. El comportamiento por defecto (llamado arrastre <em>en vivo</em>) es reposicionar y repintar parte 
                        o todo el marco interno continuamente mientras esta moviéndose; esto puede ser lento si el escritorio tiene
                        muchos marcos internos.
                    </p>
                    <p>
                        Use el método <code>setDragMode</code>* de <code>JDesktopPane</code> para especificar el arrastre de 
                        contorno. Por ejemplo:
                    </p>
                    <div class="codeblock">
                        <pre>
desktop.setDragMode(JDesktopPane.OUTLINE_DRAG_MODE);
                        </pre>
                    </div>
                    <hr />
                </div>
                <h2>
                    <a id="api">La IPA del Marco Interno</a>
                </h2>
                <p>
                    Las siguientes tablas listan los constructores y métodos más comunmente usados de <code>JInternalFrame</code>, 
                    como también unos pocos métodos que ofrece <code>JDesktopPane</code>. Además de la IPA listada en esta sección, 
                    <code>JInternalFrame</code> hereda IPA útil de sus superclases, <code>JComponent</code>, <code>Component</code>, 
                    y <code>Container</code>. Vea <a href="jcomponent.html">La Clase JComponent</a> para listas de métodos de esas
                    clases.
                </p>
                <p>
                    Como <code>JInternalFrame</code>, <code>JDesktopPane</code> desciende de <code>JComponent</code>, y así ofrece
                    los métodos descritos en <a href="jcomponent.html">La Clase JComponent</a>. Debido a que 
                    <code>JDesktopPane</code> extiende <code>JLayeredPane</code>, también soportar los métodos descritos en 
                    <a href="layeredpane.html#api">La IPA del Panel Estratificado</a>.
                </p>
                <p>
                    La IPA para usar marcos internos pertenece a estas categorías:
                </p>
                <ul>
                    <li><a href="#construct">Crear el marco interior</a></li>
                    <li><a href="#add">Añadir componentes al marco interno</a></li>
                    <li><a href="#layout">Especificar la Visibilidad, Tamaño y Posición del Marco Interno</a></li>
                    <li><a href="#window">Ejecutar Operaciones de Ventana en el Marco Interno</a></li>
                    <li><a href="#decorate">Controlar Las Decoraciones y Capacidades de la Ventana</a></li>
                    <li><a href="#JDesktopPane">Usar la IPA de JDesktopPane</a></li>
                </ul>
                <table class="celda">
                    <caption>
                        <a id="construct">Crear el marco interior</a>
                    </caption>
                    <tr>
                        <th id="h1" style="text-align:left;" class="celda">Constructor o Método</th>
                        <th id="h2" style="text-align:left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#JInternalFrame--">
                                JInternalFrame()</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#JInternalFrame-java.lang.String-">
                                JInternalFrame(String)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#JInternalFrame-java.lang.String-boolean-">
                                JInternalFrame(String, boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#JInternalFrame-java.lang.String-boolean-boolean-">
                                JInternalFrame(String, boolean, boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#JInternalFrame-java.lang.String-boolean-boolean-boolean-">
                                JInternalFrame(String, boolean, boolean, boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#JInternalFrame-java.lang.String-boolean-boolean-boolean-boolean-">
                                JInternalFrame(String, boolean, boolean, boolean, boolean)</a>
                        </td>
                        <td headers="h2" class="celda">
                            Crea una instancia de <code>JInternalFrame</code>. El primer argumento especifica el título (si lo hay) 
                            para ser visualizado por el marco interno. El resto de los argumentos especifican si el marco interno 
                            debería contener decoraciones que permitan al usuario redimensionar, cerrar, maximizar, e iconificar el
                            marco interno (especificado en ese orden). El valor por defecto para cada argumento booleano es 
                            <code>false</code>, el cual significa que la operación no está permitida.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JOptionPane.html#showInternalConfirmDialog-java.awt.Component-java.lang.Object-">
                                static int showInternalConfirmDialog(Component, Object)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JOptionPane.html#showInternalInputDialog-java.awt.Component-java.lang.Object-">
                                static String showInternalInputDialog(Component, Object)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JOptionPane.html#showInternalMessageDialog-java.awt.Component-java.lang.Object-">
                                static Object showInternalMessageDialog(Component, Object)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JOptionPane.html#showInternalOptionDialog-java.awt.Component-java.lang.Object-java.lang.String-int-int-javax.swing.Icon-java.lang.Object:A-java.lang.Object-">
                                static int showInternalOptionDialog(Component, Object, String, int, int, Icon, Object[], Object)</a>
                        </td>
                        <td headers="h2" class="celda">
                            Crea un <code>JInternalFrame</code> que simula un diálogo. Vea <a href="dialog.html">
                                Cómo Hacer Diálogos </a> para los detalles.
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="celda">
                    <caption>
                        <a id="add">Añadir componentes al marco interno</a>
                    </caption>
                    <tr>
                        <th id="h101" style="text-align:left;" class="celda">Método</th>
                        <th id="h102" style="text-align:left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#setContentPane-java.awt.Container-">
                                void setContentPane(Container)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#getContentPane--">
                                Container getContentPane()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene el panel de contenido del marco interno, el cual generalmente contiene toda la 
                            IGU interna del marco, con la excepción de la barra de menús y las decoraciones de la ventana.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#setJMenuBar-javax.swing.JMenuBar-">
                                void setJMenuBar(JMenuBar)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#getJMenuBar--">
                                JMenuBar getJMenuBar()</a>
                        </td>
                        <td headers="h102" class="celda">Establece u obtiene la barra de menú del marco interno.</td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#setLayeredPane-javax.swing.JLayeredPane-">
                                void setLayeredPane(JLayeredPane)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#getLayeredPane--">
                                JLayeredPane getLayeredPane()</a>
                        </td>
                        <td headers="h102" class="celda">Establece u obtiene el panel estructurado del marco interno.</td>
                    </tr>
                </table>
                <br/>
                <table class="celda">
                    <caption>
                        <a id="layout">Especificar la Visibilidad, Tamaño y Posición del Marco Interno</a>
                    </caption>
                    <tr>
                        <th id="h201" style="text-align:left;" class="celda">Método</th>
                        <th id="h202" style="text-align:left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComponent.html#setVisible-boolean-">
                                void setVisible(boolean)</a>
                        </td>
                        <td headers="h202" class="celda">
                            Hace el marco interno visible (si <code>true</code>) o invisible (si<code>false</code>). Debe invocar 
                            <code>setVisible(true)</code> sobre cada <code>JInternalFrame</code> antes de añadirlo a su contenedor.
                            (Heredado de <code>Component</code>).
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#pack--">
                                void pack()</a>
                        </td>
                        <td headers="h202" class="celda">
                            Dimensiona el marco interno de forma que sus componentes tengan sus tamaños preferidos.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html#setLocation-java.awt.Point-">
                                void setLocation(Point)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html#setLocation-int-int-">
                                void setLocation(int, int)</a>
                        </td>
                        <td headers="h202" class="celda">
                            Establece la posición del marco interno. (Heredado de <code>Component</code>).
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html#setBounds-java.awt.Rectangle-">
                                void setBounds(Rectangle)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html#setBounds-int-int-int-int-">
                                void setBounds(int, int, int, int)</a>
                        </td>
                        <td headers="h202" class="celda">
                            Establece explícitamente el tamaño y ubicación del marco interno. (Heredado de <code>Component</code>).
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html#setSize-java.awt.Dimension-">
                                void setSize(Dimension)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Component.html#setSize-int-int-">
                                void setSize(int, int)</a>
                        </td>
                        <td headers="h202" class="celda">
                            Establece explícitamente el tamaño del marco interno. (Heredado de <code>Component</code>).
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="celda">
                    <caption>
                        <a id="window">Ejecutar Operaciones de Ventana en el Marco Interno</a>
                    </caption>
                    <tr>
                        <th id="h301" style="text-align:left;" class="celda">Método</th>
                        <th id="h302" style="text-align:left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#setDefaultCloseOperation-int-">
                                void setDefaultCloseOperation(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#getDefaultCloseOperation--">
                                int getDefaultCloseOperation()</a>
                        </td>
                        <td headers="h302" class="celda">
                            Establece u obtiene lo que marco interno hace cuando el usuario intenta &quot;cerrar&quot; el marco 
                            interno. El valor por defecto es <code>DISPOSE_ON_CLOSE</code>. Otros valores posibles son 
                            <code>DO_NOTHING_ON_CLOSE</code> y <code>HIDE_ON_CLOSE</code>. Vea
                            <a href="frame.html#windowevents">Responder a Eventos de Cierre de Ventana</a> para los detalles.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#addInternalFrameListener-javax.swing.event.InternalFrameListener-">
                                void addInternalFrameListener(InternalFrameListener)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#removeInternalFrameListener-javax.swing.event.InternalFrameListener-">
                                void removeInternalFrameListener(InternalFrameListener)</a>
                        </td>
                        <td headers="h302" class="celda">
                            Añade o elimina un oyente del marco interno (el equivalente de <code>JInternalFrame</code> de un oyente 
                            de ventana). Vea 
                            <a href="../events/internalframelistener.html">Cómo Escribir un Internal Frame Listener</a> para más 
                            información.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#moveToFront--">
                                void moveToFront()</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#moveToBack--">
                                void moveToBack()</a>
                        </td>
                        <td headers="h302" class="celda">
                            Si el padre del marco interno es un panel estructurado tal cmo un panel de escritorio, mueve el marco 
                            interno al frente o atrás (respectivamente) de su capa.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#setClosed-boolean-">
                                void setClosed(boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#isClosed--">
                                boolean isClosed()</a>
                        </td>
                        <td headers="h302" class="celda">
                            Establece u obtiene si el marco interno está actualmente cerrado. El argumento a <code>setClosed</code> 
                            debe ser <code>true</code>. Cuando reabra un marco interno cerrado, hágalo visibile y añádalo a un 
                            contenedor (usualmente el panel de escritorio al que originalmente lo añadió).
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#setIcon-boolean-">
                                void setIcon(boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#isIcon--">
                                boolean isIcon()</a>
                        </td>
                        <td headers="h302" class="celda">
                            Iconifica o deiconifia el marco interno, o determina si está actualmente iconificado.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#setMaximum-boolean-">
                                void setMaximum(boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#isMaximum--">
                                boolean isMaximum()</a>
                        </td>
                        <td headers="h302" class="celda">
                            Maximiza o restaura el marco intero, o determina si está maximizado.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#setSelected-boolean-">
                                void setSelected(boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#isSelected--">
                                boolean isSelected()</a>
                        </td>
                        <td headers="h302" class="celda">
                            Establece u obtiene si el marco interno es el marco interno actualmente &quot;seleccionado&quot; 
                            (activado).
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="celda">
                    <caption>
                        <a id="decorate">Controlar Las Decoraciones y Capacidades de la Ventana</a>
                    </caption>
                    <tr>
                        <th id="h401" style="text-align:left;" class="celda">Método</th>
                        <th id="h402" style="text-align:left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h401" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#setFrameIcon-javax.swing.Icon-">
                                void setFrameIcon(Icon)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#getFrameIcon--">
                                Icon getFrameIcon()</a>
                        </td>
                        <td headers="h402" class="celda">
                            Establece u obtiene el icono visualizado en la barra de título del marco interno (usualmente en la 
                            esquina superior izquierda).
                        </td>
                    </tr>
                    <tr>
                        <td headers="h401" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#setClosable-boolean-">
                                void setClosable(boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#isClosable--">
                                boolean isClosable()</a>
                        </td>
                        <td headers="h402" class="celda">
                            Establece u obtiene si el usuario puede cerrar el marco interno.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h401" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#setIconifiable-boolean-">
                                void setIconifiable(boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#isIconifiable--">
                                boolean isIconifiable()</a>
                        </td>
                        <td headers="h402" class="celda">Establece u obtiene si el marco interno puede ser iconificado.</td>
                    </tr>
                    <tr>
                        <td headers="h401" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#setMaximizable-boolean-">
                                void setMaximizable(boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#isMaximizable--">
                                boolean isMaximizable()</a>
                        </td>
                        <td headers="h402" class="celda">Establece u obtiene si el usuario puede maximizar este marco interno.</td>
                    </tr>
                    <tr>
                        <td headers="h401" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#setResizable-boolean-">
                                void setResizable(boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#isResizable--">
                                boolean isResizable()</a>
                        </td>
                        <td headers="h402" class="celda">Establece u obtiene si el marco niterno puede ser redimensionado.</td>
                    </tr>
                    <tr>
                        <td headers="h401" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#setTitle-java.lang.String-">
                                void setTitle(String)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JInternalFrame.html#getTitle--">
                                String getTitle()</a>
                        </td>
                        <td headers="h402" class="celda">Establece u obtiene el título de ventana.</td>
                    </tr>
                </table>
                <br/>
                <table class="celda">
                    <caption>
                        <a id="JDesktopPane">Usar la IPA de JDesktopPane</a>
                    </caption>
                    <tr>
                        <th id="h501" style="text-align:left;" class="celda">Constructor o Método</th>
                        <th id="h502" style="text-align:left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h501" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JDesktopPane.html#JDesktopPane--">
                                JDesktopPane()</a>
                        </td>
                        <td headers="h502" class="celda">Crea una nueva instancia de <code>JDesktopPane</code>.</td>
                    </tr>
                    <tr>
                        <td headers="h501" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JDesktopPane.html#getAllFrames--">
                                JInternalFrame[] getAllFrames()</a>
                        </td>
                        <td headers="h502" class="celda">
                            Devuelve todos los objetos <code>JInternalFrame</code> que el escritorio contiene.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h501" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JDesktopPane.html#getAllFramesInLayer-int-">
                                JInternalFrame[] getAllFramesInLayer(int)</a>
                        </td>
                        <td headers="h502" class="celda">
                            Devuelve todos los objetos <code>JInternalFrame</code> que el escritorio contiene y que están en la 
                            capa especificada. Vea <a href="layeredpane.html">Cómo Usar Paneles Estratificados</a> para información 
                            sobre las capas.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h501" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JDesktopPane.html#setDragMode-int-">
                                void setDragMode(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JDesktopPane.html#getDragMode--">
                                int getDragMode()</a>
                        </td>
                        <td headers="h502" class="celda">
                            Establece u obtiene el modo de arrastre usado para los marcos internos en este escritorio. El enterio 
                            puede ser <code>JDesktopPane.LIVE_DRAG_MODE</code> o <code>JDesktopPane.OUTLINE_DRAG_MODE</code>. El 
                            valor por defeecto  para la Apariencia de Java es el modo de arrastre en vivo.
                        </td>
                    </tr>
                </table>
                <h2>
                    <a id="eg">Ejemplos que Usan Marcos Internos</a>
                </h2>
                <p>
                    Los siguientes ejemplos usan marcos internos. Debido a que los marcos internos son similares a los marcos 
                    regulares, debería mirar también en <a href="frame.html#eg">Ejemplos que Usan Marcos</a>.
                </p>
                <table>
                    <caption>
                        Información sobre los ejemplos
                    </caption>
                    <tr>
                        <th id="h601" style="text-align:left;">Ejemplo</th>
                        <th id="h602" style="text-align:left;">Dónde está escrito</th>
                        <th id="h603" style="text-align:left;">Notas</th>
                    </tr>
                    <tr>
                        <td headers="h601">
                            <a href="../examples/components/index.html#InternalFrameDemo"><code>MyInternalFrame</code></a>
                        </td>
                        <td headers="h602">Esta página.</td>
                        <td headers="h603">
                            Implemenmta un marco interno que aparece en un desplazamiento al marco interno creado previamente.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h601">
                            <a href="../examples/components/index.html#InternalFrameDemo"><code>InternalFrameDemo</code></a>
                        </td>
                        <td headers="h602">Esta página.</td>
                        <td headers="h603">
                            Le permite crear marcos internos (instancias de <code>MyInternalFrame</code>) que van dentro del 
                            <code>JDesktopPane</code>  de la aplicación.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h601">
                            <a href="../examples/events/index.html#InternalFrameEventDemo"><code>InternalFrameEventDemo</code></a>
                        </td>
                        <td headers="h602">
                            <a href="../events/internalframelistener.html">Cómo Escribir un Internal Frame Listener</a>
                        </td>
                        <td headers="h603">
                            Demuestra cómo escuchar los eventos del marcos intenro. También demuestra el posicionamiento de los 
                            marcos internos dentro de unpanel escritorio.
                        </td>
                    </tr>
                </table>
            </div>
            <div class="NavBit">
                <a target="_top" href="frame.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="label.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">
                            Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente
                            <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs
                            </a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias?
                            <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Cómo Hacer Marcos (Ventanas Principales)<br />
            <b>Página Siguiente:</b> Cómo Usar Etiquetas
        </div>
    </body>
</html>