<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Usar Paneles Estratificados (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario)
            con JFC/Swing &gt; Usando Componentes Swing)
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css" />
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper  clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr"> 
                <div id="TopBar_tl">
                    <div id="TopBar_br"> 
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Usando Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="toplevel.html">Usando Contenedores de Nivel Superior</a></div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="linkAHEAD"><a href="text.html">Usando Componentes de Texto</a></div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="linkBHEAD"><a href="colorchooser.html">Cómo Usar Selectores de Color</a></div>
                <div class="linkBHEAD"><a href="combobox.html">Cómo Usar Cuadros Combinados</a></div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="linkBHEAD"><a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a></div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="linkBHEAD"><a href="frame.html">Cómo Hacer Marcos (Ventanas Principales)</a></div>
                <div class="linkBHEAD"><a href="internalframe.html">Cómo Usar Marcos Internos</a></div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="nolinkBHEAD">Cómo Usar Paneles Estratificados</div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="linkBHEAD"><a href="rootpane.html">Cómo Usar los Paneles Raíz</a></div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="linkBHEAD"><a href="slider.html">Cómo Usar Deslizadores</a></div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="linkBHEAD"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="linkBHEAD"><a href="textarea.html">Cómo Usar Áreas de Texto</a></div>
                <div class="linkBHEAD"><a href="textfield.html">Cómo Usar Campos de Texto</a></div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="linkBHEAD"><a href="tooltip.html">Cómo Usar Tool Tips</a></div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="linkAHEAD"><a href="html.html">Cómo Usar HTML en Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="model.html">Cómo Usar Modelos</a></div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Usando Componentes Swing<br />
                <b>Sección:</b> Cómo Usar Varios Componentes
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Usando Componentes Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="label.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="list.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Usar Paneles Estratificados</h1>
            </div>
            <div id="PageContent">
                <p>
                    Un panel estratificado es un contenedor de Swing que ofrece una tercera dimensión para el posicionamiento de
                    componentes: <em>profundidad</em>, también conocida como <em>orden Z</em>. Cuando añade un componente a un panel
                    estratificado, especifica su profundidad como un entero. Cuanto más alto el número, más cerca está el componente
                    a la posición de &quot;arriba&quot; dentro del contenedor. Si el componente se superpone, los componentes 
                    &quot;más cercanos&quot; son dibujados por encima de los componentes en una profundidad más baja. La relación
                    entre los componentes en la misma profundidad es determinada por sus posiciones dentro de la profundidad.
                </p>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;
                    <p>
                        El Contenendor de AWT tiene una IPA que le permite manipular el componente <em>orden Z</em>. Para más 
                        información, vea la 
                        <a class="OutsideLink" target="_blank"
                           href="https://docs.oracle.com/javase/8/docs/api/java/awt/doc-files/FocusSpec.html#ZOrder">
                            Especificación de Foco de AWT</a>.
                    </p>
                    <hr />
                </div>
                <p>
                    Cada contenedor Swing que tiene un <a href="rootpane.html">panel raíz</a> &HorizontalLine; tal como 
                    <a href="frame.html"><code>JFrame</code></a>, <a href="applet.html"><code>JApplet</code></a>,
                    <a href="dialog.html"><code>JDialog</code></a>, o <a href="internalframe.html"><code>JInternalFrame</code></a>
                    &HorizontalLine; automáticamente tiene un panel estratificado. La mayoría de los programas no usan 
                    explícitamente el panel estratificado del panel raíz, así que esta sección no describirá eso. Puede encontrar 
                    información sobre eso en <a href="toplevel.html#rootpane">El Panel Raíz</a>, el cual ofrece un resumen, y 
                    <a href="rootpane.html#layeredpane">El Panel de Capas</a>, el cual tiene más detalles. Esta sección le habla de
                    cómo crear su propio panel estratificado y usarlo en cualquier parte donde pueda usar un contenedor regular de 
                    Swing.
                </p>
                <p>
                    Swing ofrece dos clases de paneles estratificados. El primero,
                    <a class="APILink" target="_blank" 
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JLayeredPane.html">
                        <code>JLayeredPane</code></a>, es la clase que los paneles raíz usan y es la clase usada por el ejemplo en 
                        esta sección. El segundo, <code>JDesktopPane</code>, es una subclase de <code>JLayeredPane</code> que está 
                        especializada para la tarea de mantener marcos internos. Para ejemplos de cómo usar 
                        <code>JDesktopPane</code>, vea <a href="internalframe.html">Cómo Usar Marcos Internos</a>.
                </p>
                <p>
                    Aquí tiene una foto de una aplicación que crea un panel estratificado y coloca <a href="label.html">etiquetas</a>
                    solapadas y coloreadas a diferentes profundidades:
                </p>
                <p style="text-align:center;">
                    <img src="../../figures/uiswing/components/LayeredPaneDemoMetal.png" width="308" height="425"
                         alt="Una captura de LayeredPaneDemo" />
                </p>
                <div class="note">
                    <hr />
                    <strong>Intente esto:</strong>&nbsp;
                    <ol>
                        <li>
                            Pulse el botón Lanza para ejecutar la Demo LayeredPane usando
                            <a class="OutsideLink" target="_blank"
                               href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">
                                Java&trade; Web Start</a> (
                            <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                descargue KDJ 7 o posterior</a>). Alternativiamente, para compilar y ejecutar el ejemplo por usted
                                mismo, consulte el
                            the <a href="../examples/components/index.html#LayeredPaneDemo">índice de ejemplos</a>.
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/LayeredPaneDemoProject/LayeredPaneDemo.jnlp">
                                <img src="../../images/jws-launch-button.png" width="88" height="23"
                                     alt="Lanza el ejemplo TreeDemo" /></a>
                            <br />
                        </li>
                        <li>
                            Mueva el ratón alrededor de la parte baja de la ventana. La imagen de Duke se arrastra detrás de las 
                            etiquetas verde y roja, pero enfrente de las otras tres etiquetas.
                        </li>
                        <li>
                            Use el cuadro combinado en la parte superior de la ventana para cambiar la profundidad de Duke. Use la 
                            casilla de verificación para establecer si Duke está en la posición de arriba &HorizontalLine; posición
                            0 &HorizontalLine; dentro de la profundidad actual.
                        </li>
                    </ol>
                    <hr />
                </div>
                <p>
                    Aquí está el codigo de 
                    <a class="SourceLink" target="_blank" 
                       href="../examples/components/LayeredPaneDemoProject/src/components/LayeredPaneDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/LayeredPaneDemoProject/src/components/LayeredPaneDemo.java');
                               return false;"><code>LayeredPaneDemo.java</code></a> que crea el panel estratificado:
                </p>
                <div class="codeblock">
                    <pre>
layeredPane = new JLayeredPane();
layeredPane.setPreferredSize(new Dimension(300, 310));
layeredPane.setBorder(BorderFactory.createTitledBorder(
                                    "Move the Mouse to Move Duke"));
layeredPane.addMouseMotionListener(new MouseMotionAdapter() {
    ...
});
                    </pre>
                </div>
                <p>
                    El código usa el único constructor de <code>JLayeredPane</code> &HorizontalLine; el constructor sin argumentos
                    &HorizontalLine; para crear el panel estratificado. El resto del código usa los métodos heredados de las 
                    superclases para dar al panel estratificado un tamaño preferido y un borde, y añade un oyente de movimiento del
                    ratón a él. El oyente de movimiento del ratón sólo mueve la imagen de Duke en respuesta al movimiento del ratón.
                    Aunque no mostramos el código aquí, el ejemplo añade el panel estratificado al panel de contenido del marco.
                </p>
                <p>
                    Como le mostraremos un poco más tarde, usted añade componentes a un panel estratificado usando un método 
                    <code>add</code>. Cuando añade un componente a un panel estratificado, especifica la profundidad del componente, 
                    y opcionalmente, su posición dentro de su profundidad. El panel estratificado en el programa de demostración 
                    contiene seis etiquetas &HorizontalLine; cinco etiquetas coloreadas y una sexta que visualiza la imagen de Duke.
                    Como el programa demuestra, tanto la profundidad de un componente como su ubicación dentro de esa profundidad
                    pueden cambiar dinámicamente.
                </p>
                <p>
                    El resto de esta sección cubre estos tópicos:
                </p>
                <ul>
                    <li><a href="#depth">Adición de Componentes y Configuración de la Profundidad del Componente</a></li>
                    <li><a href="#position">Establecimiento de una Posición de Componente Dentro de su Profundidad</a></li>
                    <li><a href="#layout">Colocación de Componentes en un Panel Estratificado</a></li>
                    <li><a href="#api">La IPA del Panel Estratificado</a></li>
                    <li><a href="#eg">Ejemplos que Usan Paneles Estratificados</a></li>
                </ul>
                <p>
                    <a id="depth"></a>
                </p>
                <h2>
                    <a id="depth__1">Adición de Componentes y Configuración de la Profundidad del Componente</a>
                </h2>
                <p>
                    Aquí está el código del programa de ejemplo que añade las etiquetas coloreadas al panel estratificado:
                </p>
                <div class="codeblock">
                    <pre>
for (int i = 0; i &lt; <em>...número de etiquetas...</em>; i++) {
    JLabel label = createColoredLabel(<em>...</em>);
    <strong>layeredPane.add(label, new Integer(i));</strong>
    ...
}
                    </pre>
                </div>
                <p>
                    Puede buscar la implementación del método <code>createColoredLabel</code> en el código fuente del programa. Tan
                    sólo crea una <code>JLabel</code> opaca inicializada con un color de fondo, un borde, algo de texto, y un 
                    tamaño.
                </p>
                <p>
                    El programa de ejemplo usa una versión de dos argumentos del método <code>add</code>. El primer argumento es el 
                    componente a añadir, el segundo es un objeto <code>Integer</code>, especificadno la profundidad. Este programa 
                    usa la variable de iteración del bucle <code>for</code> para especificar las profundidades. Los valores reales 
                    no importan mucho. Lo que importa son los valores relativos de sus profundidades y en que usted sea consistente
                    con su programa en cómo usa cada profundidad.
                </p>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;
                    <p>
                        Si usa el panel estratificado del panel raiz, asegúrese de usar sus convenciones de profundidad. Diríjase a
                        <a href="rootpane.html#layeredpane">El Panel de Capas</a> para más detalles. Esta sección le muestra cómo 
                        modificar <code>LayeredPaneDemo</code> para usar el panel estratificado del panel raíz. Con las 
                        modificaciones, puede ver como el arrastre de la imagen de Duke se relaciona con el cuadro combinado en el
                        panel de control.
                    </p>
                    <hr />
                </div>
                <p>
                    Como puede ver en el programa de ejemplo, si los componentes se solapan, los componentes de mayor profundidad
                    están arriba de los componentes con menor profundidad. Para cambiar la profundidad de un componente dinámicamente, 
                    use el método <code>setLayer</code>. En este ejemplo, el usuario puee cambiar la capa de Duke haciendo una 
                    selección en un cuadro combinado. Aquí tiene el método <code>actionPerformed</code> del oyente de acción 
                    registrado en el cuadro combinado:
                </p>
                <div class="codeblock">
                    <pre>
public void actionPerformed(ActionEvent e) {
    int position = onTop.isSelected() ? 0 : 1;
    layeredPane.setLayer(dukeLabel,
                         layerList.getSelectedIndex(),
                         position);
}
                    </pre>
                </div>
                <p>
                    El método <code>setLayer</code> usado aquí toma tres argumentos: el componente cuya profundidad va a ser fijada, 
                    la nueva profundidad, y la posición en esa profundidad. <code>JLayeredPane</code> tiene una versión de dos 
                    argumentos de <code>setLayer</code> que toma sólo el componente y la nueva profundidad. Ese método coloca el 
                    componente en la posición de abajo en su profundidad.
                </p>
                <div class="note">
                    <hr />
                    <strong>Una nota de precaución:</strong>&nbsp;
                    <p>
                        Cuando añade un componente a un panel estratificado usted especifica la capa con un <code>Integer</code>. 
                        Cuando usa <code>setLayer</code> para cambiar la capa de un componente, usted usa un <code>int</code>. 
                        Usted podría pensar que si usted usa un <code>int</code> en vez de un <code>Integer</code>
                        con el método <code>add</code>, el compilador se quejaría o su programa lanzaría una excepción de argumento 
                        ilegal. Pero el compilador no dirá nada, lo cual resulta en un 
                        <a href="problems.html#layeredpane">problema común de los paneles estratificados</a>. Puede usar las tablas 
                        del IPA al final de esta sección para comprobar los tipos de los argumentos y valores devueltos para los 
                        métodos que tratan con capas.
                    </p>
                    <hr />
                </div>
                <h2>
                    <a id="position">Establecimiento de una posición de componente dentro de su profundidad</a>
                </h2>
                <p>
                    El código siguiente crea la etiqueta que muestra la imagen de Duke, y entonces añade la etiqueta al panel 
                    estratificado.
                </p>
                <div class="codeblock">
                    <pre>
final ImageIcon icon = createImageIcon("images/dukeWaveRed.gif");
...
dukeLabel = new JLabel(icon);
...
dukeLabel.setBounds(15, 225,
                    icon.getIconWidth(),
                    icon.getIconHeight());
...
layeredPane.add(dukeLabel, new Integer(2), 0);
                    </pre>
                </div>
                <p>
                    Este código usa la versión de tres argumentos del método <code>add</code>. El tercer argumento especifica la 
                    posición de la etiqueta de Duke dentro de su profundidad, lo cual determina la relación del componente con otros
                    componentes en la misma profundidad.
                </p>
                <p>
                    Las posiciones son especificadas con un <code>int</code> entre -1 y (<em>n</em> - 1), donde <em>n</em> es el 
                    número de componentes en esa profundidad. A diferencia de los números de capa, cuanto más pequeño es el número de
                    posición, mayor es el componente dentro de su profundidad. Usar -1 es lo mismo que usar <em>n</em> - 1; ello
                    indica la posición más baja. Usar 0 espeficia que el componente estará en la posición más arriba dentro de su
                    profundidad. Como la siguiente figura muestra, con la excepción de -1, un número de posición más bajo indica una
                    posición más alta dentro de una profundidad.
                </p>
                <p style="text-align:center;">
                    <img src="../../figures/uiswing/components/positions.gif" width="251" height="91"
                         alt="Cómo las posiciones afectan a las capas" />
                </p>
                <p>
                    La posición de un componente en su capa puede cambiar dinámicamente. En el ejemplo, puede usar la casilla de 
                    verificación para determinar si la etiqueta Duke está en la posición de arriba en su profundidad. Aquí tiene el
                    método <code>actionPerformed</code> para el oyente de acción registrado en la casilla de verificación:
                </p>
                <div class="codeblock">
                    <pre>
public void actionPerformed(ActionEvent e) {
    if (onTop.isSelected())
        layeredPane.moveToFront(dukeLabel);
    else
        layeredPane.moveToBack(dukeLabel);
}
                    </pre>
                </div>
                <p>
                    Cuando el usuario selecciona la casilla de verificación, el método <code>moveToFront</code> mueva Duke al 
                    frente (posición 0). Y cuando el usuario deselecciona la casilla de verificación, Duke se mueve atrás con el 
                    método <code>moveToBack</code>. Puede también usar el método <code>setPosition</code> o la versión de tres 
                    argumentos de <code>setLayer</code> para cambiar la posición de un componente.
                </p>
                <h2>
                    <a id="layout">Colocación de Componentes en un Panel Estratificado</a>
                </h2>
                <p>
                    Por defecto un panel estratificado no tiene gestor de disposicón. Esto significa que generalmente tendrá que 
                    escribir el código que posicione y dimensione los componentes que coloca el un panel estratificado.
                </p>
                <p>
                    El ejemplo usa el método <code>setBounds</code> para establecer el tamaño y posición de cada una de las 
                    etiquetas:
                </p>
                <div class="codeblock">
                    <pre>
dukeLabel.setBounds(15, 225,
                    icon.getIconWidth(),
                    icon.getIconHeight());
...
label.setBounds(origin.x, origin.y, 140, 140);
                    </pre>
                </div>
                <p>
                    Cuando el usuario mueve el ratón alrededor, el programa llama a <code>setPosition</code> para cambiar la 
                    posición de Duke:
                </p>
                <div class="codeblock">
                    <pre>
dukeLabel.setLocation(e.getX()-XFUDGE, e.getY()-YFUDGE);
                    </pre>
                </div>
                <p>
                    Aunque un panel estratificado no tenga un gestor de disposición por defecto, usted puede aún asignar un gestor
                    de disposición al panel estratificado. Todos los gestores de diseño proporcionados por la plataforma Java 
                    organizan los componentes como si estuvieran todos en una capa. Aquí tiene una versión de la demo previa que 
                    establece el gestor de disposición del panel estratificado a una instancia de <code>GridLayout</code>, usando 
                    el gestor de disposición para colocar seis etiquetas de color.
                </p>
                <p style="text-align:center;">
                    <img src="../../figures/uiswing/components/LayeredPaneDemo2Metal.png" width="306" height="295"
                         alt="Una captura de LayeredPaneDemo2" />
                </p>
                <p>
                    Puede encontrar el código para este programa en 
                    <a class="SourceLink" target="_blank" 
                       href="../examples/components/LayeredPaneDemo2Project/src/components/LayeredPaneDemo2.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/LayeredPaneDemo2Project/src/components/LayeredPaneDemo2.java');
                               return false;"><code>LayeredPaneDemo2.java</code></a>. Puede 
                    <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/LayeredPaneDemo2Project/LayeredPaneDemo2.jnlp">
                        ejecutar LayeredPaneDemo2</a> (
                    <a class="OutsideLink" target="_blank" 
                       href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue KDJ 7 o posterior</a>). 
                       Si quiere compilar el ejemplo, consulte el <a href="../examples/components/index.html#LayeredPaneDemo2">
                        índice de ejemplos</a> para una lista de todos los ficheros necesarios.
                </p>
                <p>
                    Muchos programas usan contenedores intermedios (tales como paneles) y sus gestores de disposición para colocar
                    componentes en la misma capa, pero usan posicionamiento absoluto para colocar componentes en capas diferentes.
                    Para más información sobre el posicionamiento absoluto, vea 
                    <a class="TutorialLink" target="_top" href="../layout/none.html">
                        Haciendo Sin un Gestor de Diseño (Posicionamiento Absoluto)</a>.
                </p>
                <h2>
                    <a id="api">La IPA del Panel Estratificado</a>
                </h2>
                <p>
                    Las siguientes tablas listan los constructores y métodos comunmente usados de <code>JLayeredPane</code>. Otros
                    métodos que son más probables que invoque sobre un objeto <code>JLayeredPane</code> son aquellos que heredan
                    desde sus superclases, tales como <code>setBorder</code>, <code>setPreferredSize</code>, etc. Vea 
                    <a href="jcomponent.html#api">La IPA de JComponent</a> para tablas de métodos heredados comunmente usados.
                </p>
                <p>
                    La IPA para usar paneles estratificados se dividen en estas categorías:
                </p>
                <ul>
                    <li><a href="#creating">Crear u Obtener un Panel Estratificado</a></li>
                    <li><a href="#layers">Componentes de Estratificación</a></li>
                    <li><a href="#positions">Ajuste de las Posiciones Intra-Capa del Componente</a></li>
                </ul>
                <table class="celda">
                    <caption>
                        <a id="creating">Crear u Obtener un Panel Estratificado</a>
                    </caption>
                    <tr>
                        <th id="h1" style="text-align:left;" class="celda">Método o Constructor</th>
                        <th id="h2" style="text-align:left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JLayeredPane.html#JLayeredPane--">
                                JLayeredPane()</a>
                        </td>
                        <td headers="h2" class="celda">Crea un panel estratificado.</td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JApplet.html#getLayeredPane--">
                                JLayeredPane getLayeredPane()</a>
                            <br />
                            <em>(en <code>JApplet</code>, <code>JDialog</code>, <code>JFrame</code>, y
                                <code>JInternalFrame</code>)</em>
                        </td>
                        <td headers="h2" class="celda">
                            Obtiene el panel estratificado automático en un applet, diálogo, marco, o marco interno.
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="celda">
                    <caption>
                        <a id="layers">Componentes de Estratificación</a>
                    </caption>
                    <tr>
                        <th id="h101" style="text-align:left;" class="celda">Método</th>
                        <th id="h102" style="text-align:left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Container.html#add-java.awt.Component-">
                                void add(Component)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Container.html#add-java.awt.Component-java.lang.Object-">
                                void add(Component, Object)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/java/awt/Container.html#add-java.awt.Component-java.lang.Object-int-">
                                void add(Component, Object, int)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Añade el componente especificado al panel estratificado. El segundo argumento, cuando está presente, es 
                            un <code>Integer</code> que indica la capa. El tercer argumento, cuando está presente, indica la 
                            posición del componente dentro de su capa. Si usa la versión de un argumento de este método, el 
                            componente es añadido a la capa 0. si usa la versión de uno o dos argumentos de este método, el 
                            componente es colocado debajo de todos los demás componentes actualmente en la misma capa.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JLayeredPane.html#setLayer-java.awt.Component-int-">
                                void setLayer(Component, int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JLayeredPane.html#setLayer-java.awt.Component-int-int-">
                                void setLayer(Component, int, int)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Cambia la capa del componente. El segundo argumento indica la capa. El tercer argumento, cuando está 
                            presente, indica la posición del componente en su capa.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JLayeredPane.html#getLayer-java.awt.Component-">
                                int getLayer(Component)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JLayeredPane.html#getLayer-javax.swing.JComponent-">
                                int getLayer(JComponent)</a>
                        </td>
                        <td headers="h102" class="celda">Obtiene la capa para el componente especificado.</td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JLayeredPane.html#getComponentCountInLayer-int-">
                                int getComponentCountInLayer(int)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Obtiene el número de componentes en la capa especificada. El valor devuelto por este método puede ser 
                            útil para calcular los valores de posición.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JLayeredPane.html#getComponentsInLayer-int-">
                                Component[] getComponentsInLayer(int)</a>
                        </td>
                        <td headers="h102" class="celda">Obtiene una matriz de todos los componentes en la capa especificada.</td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JLayeredPane.html#highestLayer--">
                                int highestLayer()</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JLayeredPane.html#lowestLayer--">
                                int lowestLayer()</a>
                        </td>
                        <td headers="h102" class="celda">Calcula la capa más alta o más baja actualmente en uso.</td>
                    </tr>
                </table>
                <br/>
                <table class="celda">
                    <caption>
                        <a id="positions">Ajuste de las Posiciones Intra-Capa del Componente</a>
                    </caption>
                    <tr>
                        <th id="h201" style="text-align:left;" class="celda">Método</th>
                        <th id="h202" style="text-align:left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JLayeredPane.html#setPosition-java.awt.Component-int-">
                                void setPosition(Component, int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JLayeredPane.html#getPosition-java.awt.Component-">
                                int getPosition(Component)</a>
                        </td>
                        <td headers="h202" class="celda">
                            Establece u obtiene la posición para los componentes especificados dentro de su capa.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JLayeredPane.html#moveToFront-java.awt.Component-">
                                void moveToFront(Component)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JLayeredPane.html#moveToBack-java.awt.Component-">
                                void moveToBack(Component)</a>
                        </td>
                        <td headers="h202" class="celda">Mueve el componente especificado al frente o atrás en su capa.</td>
                    </tr>
                </table>
                <h2>
                    <a id="eg">Ejemplos que Usan Paneles Estratificados</a>
                </h2>
                <p>
                    Esta tabla muestra los ejemplos que usan <code>JLayeredPane</code> y donde esos ejemplos están descritos.
                </p>
                <table>
                    <caption>
                        Información sobre ejemplos
                    </caption>
                    <tr>
                        <th id="h301" style="text-align:left;">Ejemplo</th>
                        <th id="h302" style="text-align:left;">Dónde se Describió</th>
                        <th id="h303" style="text-align:left;">Notas</th>
                    </tr>
                    <tr>
                        <td headers="h301">
                            <a href="../examples/components/index.html#LayeredPaneDemo"><code>LayeredPaneDemo</code></a>
                        </td>
                        <td headers="h302">Esta sección</td>
                        <td headers="h303">Ilustra las capas y las posiciones entre-capas de un <code>JLayeredPane</code>.</td>
                    </tr>
                    <tr>
                        <td headers="h301">
                            <a href="../examples/components/index.html#LayeredPaneDemo2"><code>LayeredPaneDemo2</code></a>
                        </td>
                        <td headers="h302">Esta sección</td>
                        <td headers="h303">
                            Usa un gestor de disposición para ayudar a colocar los componentes en un panel 
                            estratificado.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301">
                            <a href="../examples/components/index.html#RootLayeredPaneDemo"><code>RootLayeredPaneDemo</code></a>
                        </td>
                        <td headers="h302"><a href="rootpane.html#examplemods">El Panel Estratificado</a></td>
                        <td headers="h303">
                            Una versión de <a href="../examples/components/index.html#LayeredPaneDemo">
                                <code>LayeredPaneDemo</code></a> modificada para usar el panel estratificado del panel raíz.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301">
                            <a href="../examples/components/index.html#InternalFrameDemo"><code>InternalFrameDemo</code></a>
                        </td>
                        <td headers="h302"><a href="internalframe.html">Cómo Usar los Marcos Internos</a></td>
                        <td headers="h303">Usa un <code>JDesktopFrame</code> para gestionar marcos internos.</td>
                    </tr>
                </table>
            </div>
            <div class="NavBit">
                <a target="_top" href="label.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="list.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">
                            Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente
                            <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs
                            </a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias?
                            <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Cómo Usar Etiquetas<br />
            <b>Página Siguiente:</b> Cómo Usar Listas
        </div>
    </body>
</html>