<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Usar Modelos (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario)
            con JFC/Swing &gt; Usando Componentes Swing)
        </title>
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br"> 
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Usando Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="toplevel.html">Usando Contenedores de Nivel Superior</a></div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="linkAHEAD"><a href="text.html">Usando Componentes de Texto</a></div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="linkBHEAD"><a href="colorchooser.html">Cómo Usar Selectores de Color</a></div>
                <div class="linkBHEAD"><a href="combobox.html">Cómo Usar Cuadros Combinados</a></div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="linkBHEAD"><a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a></div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="linkBHEAD"><a href="frame.html">Cómo Hacer Marcos (Ventanas Principales)</a></div>
                <div class="linkBHEAD"><a href="internalframe.html">Cómo Usar Marcos Internos</a></div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="linkBHEAD"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="linkBHEAD"><a href="rootpane.html">Cómo Usar los Paneles Raíz</a></div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="linkBHEAD"><a href="slider.html">Cómo Usar Deslizadores</a></div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="linkBHEAD"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="linkBHEAD"><a href="textarea.html">Cómo Usar Áreas de Texto</a></div>
                <div class="linkBHEAD"><a href="textfield.html">Cómo Usar Campos de Texto</a></div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="linkBHEAD"><a href="tooltip.html">Cómo Usar Tool Tips</a></div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="linkAHEAD"><a href="html.html">Cómo Usar HTML en Componentes Swing</a></div>
                <div class="nolinkAHEAD">Cómo Usar Modelos</div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Usando Componentes Swing
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Usando Componentes Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="html.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="icon.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo usar Modelos</h1>
            </div>
            <div id="PageContent">
                <p>
                    La mayoría de los componentes de Swing tienen modelos. Un botón (<code>JButton</code>), por ejemplo, tiene un
                    modelo (un objeto <code>ButtonModel</code>) que almacena el estado del botón &HorizontalLine; cual es su
                    mnemotécnico de teclado, si está habilitado, seleccionado, o presionado, y así. Algunos componentes tienen
                    múltiples modelos. Una lista (<code>JList</code>), por ejemplo, usa un <code>ListModel</code> para almacenar
                    los contenidos de la lista, y un <code>ListSelectionModel</code> para monitorizar la selección actual de la
                    lista.
                </p>
                <p>
                    A menudo no necesita saber sobre los modelos que un componente usa. Por ejemplo, los programas que usan botones
                    usualmente tratan directamente con el objeto <code>JButton</code>, y no tratan de ninguna manera con el objeto 
                    <code>ButtonModel</code>.
                </p>
                <p>
                    ¿Por qué entonces existen los modelos? La razón más grande es que los modelos le dan flexibilidad para
                    determinar cuantos datos son almacenados y recuperados. Por ejemplo, si diseña una aplicación de hoja de
                    cálculo que muestra datos en una tabla escasamente poblada, puede crear su propio modelo de tabla que esté
                    optimizado para tal uso.
                </p>
                <p>
                    Los modelos tienen otros beneficios, también. Significan que los datos no se copian entre las estructuras de
                    datos de un programa y las de los componentes Swing. Además, los modelos automáticamente propagan los cambios a
                    todos los oyentes interesados, haciendo fácil para el IGU permanecer en sincronía con los datos. Por ejemplo, 
                    para agregar elementos a una lista puede invocar métodos en el modelo de la lista. Cuando los datos del modelo 
                    cambian, el modelo dispara eventos para la <code>JList</code> y cualesquiera otros oyentes registrados, y la
                    IGU son actualizados en consecuencia.
                </p>
                <p>
                    Aunque la arquitectura del modelo Swing a veces se conoce como un diseño Modelo-Vista-Controlador (MVC), no es
                    realmente así. Los componentes de Swing son implementados generalmente de forma que la vista y el controlador
                    son indivisibles, implementados por un único objeto de IU (Interfaz de Usuario, UI en inglés) suministrado por
                    la apariencia. La arquitectura de modelo de Swing se describe más acertadamente como una <em>modelo de
                        arquitectura separable</em>. Si está interesado en aprender más sobre el modelo de arquitectura de Swing,
                    vea
                    <a class="OutsideLink" target="_blank"
                       href="http://www.oracle.com/technetwork/java/architecture-142923.html">Una Visión de Conjunto de la 
                        Arquitectura de Swing</a>, un artículo de <em>The Swing Connection</em>.
                </p>
                <h2>
                    <a id="converter">Un Ejemplo: Converter</a>
                </h2>
                <p>
                    Esta sección presenta un ejemplo llamado Converter, que es una aplicación que convierte continuamente las
                    mediciones de distancia entre las unidades métricas y de E.E.U.U. Puede
                    <a style="font-weight: bold"
                       href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/ConverterProject/Converter.jnlp">
                        ejecutar Converter</a> (
                    <a class="OutsideLink" target="_blank"
                       href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue KDJ 7 o posterior</a>).
                    O, para compilar y ejecutar usted mismo el ejemplo, consulte el
                    <a href="../examples/components/index.html#Converter">índice de ejemplo</a>.
                </p>
                <p>
                    Como la siguiente foto muestra, Converte presenta dos deslizadores, cada uno enlazado a un campo de txto. Los 
                    enlazadores y los comapos de texto muestran los mismo datos &HorizontalLine; una distancia &HorizontalLine;
                    pero usando dos unidades de medición distintas.
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/components/ConverterMetal.png" width="288" height="198"
                         alt="Captura de Converter con el aspecto Metal" />
                </p>
                <p>
                    Lo importante para este programa es asegurar que un sólo modelo controla el valor de los datos. Hay varias
                    formas de conseguir esto; lo hicimos al aplazar el modelo del control deslizante superior. El modelo del
                    deslizador de abajo (una instancia de una clase personalizada llamada <code>FollowerRangeModel</code>) reenvía
                    todas las consultas de datos al modelo del control deslizante superior (una instancia de una clase
                    personalizada llamada <code>ConverterRangeModel</code>). Cada campo de texto es mantenida en sincronía con su
                    deslizador, y vice versa, por manejadores de evento que escuchan los cambios en el valor. Se tiene cuidado para
                    garantizar que el modelo del control deslizante superior tenga la última palabra sobre la distancia que se
                    muestra.
                </p>
                <p>
                    Cuando empezamos a implementar los modelos personalizados de los deslizadores, primero miramos la
                    sección de la IPA de
                    <a class="TutorialLink" target="_top" href="../components/slider.html">Cómo Usar Deslizadores</a>. Nos informó 
                    que todos los modelos de datos del deslizador deben implementar el interfaz <code>BoundedRangeModel</code>. La
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/BoundedRangeModel.html">
                        documentación de la IPA de <code>BoundedRangeModel</code></a> nos informa que el interfaz tiene una
                    clase que la implementa llamdada <code>DefaultBoundedRangeModel</code>. La
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/DefaultBoundedRangeModel.html">
                        documentación de la IPA de <code>DefaultBoundedRangeModel</code></a> muestra que es una implementación de
                    propósito general de <code>BoundedRangeModel</code>.
                </p>
                <p>
                    No usamos <code>DefaultBoundedRangeModel</code> directamente porque almacena los datos como enteros, y
                    Converter usa datos en coma flotante. Así, implementamos <code>ConverterRangeModel</code> como una subclase de
                    <code>Object</code>. Después implementamos <code>FollowerRangeModel</code> como una subclase de
                    <code>ConverterRangeModel</code>.
                </p>
                <h2>
                    Para Más Información
                </h2>
                <p>
                    Para conocer los modelos de componentes individuales, consulte las páginas
                    <a href="componentlist.html">&quot;Cómo&quot;</a> y la documentación de la IPA para los componentes
                    individuales. Aquí tiene algunos de nuestros ejemplos que usan modelos directamente:
                </p>
                <ul>
                    <li>
                        Todos menos el más simple de los <a href="table.html#eg">ejemplos de tabla</a> implementan modelos de datos
                        de tabla personalizados.
                    </li>
                    <li>
                        Las <a href="colorchooser.html#eg">demostraciones de selección de color</a> tienen oyentes de cambios en el
                        modelo de selección del selector de color de forma que pueden ser notificados cuando el usuario selecciona 
                        un color nuevo. En ColorChooserDemo2, la clase <code>CrayonPanel</code> usa directamente el color del
                        modelo de selección para establecer el color actual.
                    </li>
                    <li>
                        El ejemplo <a href="../examples/components/index.html#DynamicTreeDemo">DynamicTreeDemo</a> establece el
                        modelo del árbol (a una instancia de <code>DefaultTreeModel</code>), interactúa directamente con él, y
                        escucha por los cambios en él.
                    </li>
                    <li>
                        <a href="../examples/components/index.html#ListDemo">ListDemo</a> establece el modelo de datos de la lista 
                        (a una instancia de <code>DefaultListModel</code>) e interactúa directamente con él.
                    </li>
                    <li>
                        <a href="../examples/components/index.html#SharedModelDemo">SharedModelDemo</a> define una clase
                        <code>SharedDataModel</code> que extiende <code>DefaultListModel</code> e implementa
                        <code>TableModel</code>. Una <code>JList</code> y una <code>JTable</code> comparten una instancia de
                        <code>SharedDataModel</code>, suministrando vistas diferentes de los datos del modelo.
                    </li>
                    <li>
                        En los ejemplos de los oyentes de eventos,
                        <a class="TutorialLink" target="_top"
                           href="../events/../examples/events/index.html#ListDataEventDemo">ListDataEventDemo</a> crea y usa un
                        <code>DefaultListModel</code> directamente.
                    </li>
                    <li>
                        Nuestros <a href="spinner.html#eg">ejemplos de contador numérico</a> crean modelos de contadores numéricos.
                    </li>
                    <li>
                        Como ya ha visto, el ejemplo <a href="../examples/components/index.html#Converter">Converter</a> define dos
                        modelos de deslizadores personalizados.
                    </li>
                </ul>
            </div>
            <div class="NavBit">
                <a target="_top" href="html.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="icon.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Cómo Usar HTML en Componentes Swing<br />
            <b>Página Siguiente:</b> Cómo Usar Iconos
        </div>
    </body>
</html>