<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Resolviendo Problemas Comunes con los Componentes (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz 
            Gráfica de Usuario) con JFC/Swing &gt; Usando Componentes Swing)
        </title>
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Usando Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="toplevel.html">Usando Contenedores de Nivel Superior</a></div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="linkAHEAD"><a href="text.html">Usando Componentes de Texto</a></div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="linkBHEAD"><a href="colorchooser.html">Cómo Usar Selectores de Color</a></div>
                <div class="linkBHEAD"><a href="combobox.html">Cómo Usar Cuadros Combinados</a></div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="linkBHEAD"><a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a></div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="linkBHEAD"><a href="frame.html">Cómo Hacer Marcos (Ventanas Principales)</a></div>
                <div class="linkBHEAD"><a href="internalframe.html">Cómo Usar Marcos Internos</a></div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="linkBHEAD"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="linkBHEAD"><a href="rootpane.html">Cómo Usar los Paneles Raíz</a></div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="linkBHEAD"><a href="slider.html">Cómo Usar Deslizadores</a></div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="linkBHEAD"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="linkBHEAD"><a href="textarea.html">Cómo Usar Áreas de Texto</a></div>
                <div class="linkBHEAD"><a href="textfield.html">Cómo Usar Campos de Texto</a></div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="linkBHEAD"><a href="tooltip.html">Cómo Usar Tool Tips</a></div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="linkAHEAD"><a href="html.html">Cómo Usar HTML en Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="model.html">Cómo Usar Modelos</a></div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="nolinkAHEAD">Resolviendo Problemas Comunes con los Componentes</div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Usando Componentes Swing
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Usando Componentes Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="border.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../QandE/questions-ch3.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Resolviendo Problemas Comunes con los Componentes</h1>
            </div>
            <div id="PageContent">
                <p>
                    Esta sección describe los problemas que podría encontrarse mientras usa componentes. Si no encuentra su
                    problema en esta sección, consulte las siguientes secciones:
                </p>
                <ul>
                    <li>
                        <a class="TutorialLink" target="_top" href="../misc/problems.html">Resolviendo Problemas Comunes Usando
                            Otras Características de Swing</a>
                    </li>
                    <li>
                        <a class="TutorialLink" target="_top" href="../layout/problems.html">Resolviendo Problemas Comunes de
                            Diseño</a>
                    </li>
                    <li>
                        <a class="TutorialLink" target="_top" href="../events/problems.html">Resolviendo Problemas Comunes en el
                            Manejo de Eventos</a>
                    </li>
                    <li>
                        <a class="TutorialLink" target="_top" href="../painting/problems.html">Resolviendo Problemas Comunes de
                            Pintado</a>
                    </li>
                </ul>
                <p>
                    <strong>Problema:</strong> Tengo problemas implementando un modelo (o algún otro código que sea similar a algo
                    que ya está en Java SE Platform, Standard Edition).
                </p>
                <ul>
                    <li>
                        Mire en el código fuente de Java SE. Es distribuido con el KDJ, y es un gran recurso para encontrar
                        ejemplos de código de implementar modelos, disparar eventos, y similares.
                    </li>
                </ul>
                <p>
                    <strong>Problema:</strong> Cada vez que el texto en mi campo de texto se actualiza, el tamaño del campo de
                    texto cambia.
                </p>
                <ul>
                    <li>
                        Debe especificar el ancho preferido del campo de texto especificando el número de columnas que tendrá 
                        de espacio para mostrar. Para hacer esto, puede usar o un argumento <code>int</code> en el constructor de
                        <code>JTextField</code> o en el método <code>setColumns</code>.
                    </li>
                </ul>
                <p>
                    <strong>Problema:</strong> Ciertas áreas del panel de contenido se ven extrañas cuando se vuelven a pintar.
                </p>
                <ul>
                    <li>
                        Si configura el panel de contenido, asegúrese de que es opaco. Puede hacer esto invocando
                        <code>setOpaque(true)</code> sobre su panel de contenido. Note que aunque los <code>JPanel</code>s son
                        opacos en la mayoría de los aspectos, eso no es verdad en el aspecto GTK+. Vea
                        <a href="toplevel.html#contentpane">Añadir Componentes al Panel de Contenido</a> para más detalles.
                    </li>
                    <li>
                        Si uno o más de sus componentes realizan pintado personalizado, asegúrese de que los implementó
                        correctamente. Vea <a class="TutorialLink" target="_top" href="../painting/problems.html">Resolviendo 
                            Problemas Comunes de Pintado</a> para más ayuda.
                    </li>
                    <li>
                        Podría tener un problema de seguridad de hilo. Vea la siguiente entrada.
                    </li>
                </ul>
                <p>
                    <strong>Problema:</strong> Mi programa está exhibiendo síntomas extraños que algunas veces parecen estar
                    relacionados con el tiempo.
                </p>
                <ul>
                    <li>
                        Asegúrese de que su código sea seguro para subprocesos. Vea
                        <a class="TutorialLink" target="_top" href="../concurrency/index.html">Concurrencia en Swing</a> para más
                        detalles.
                    </li>
                </ul>
                <p>
                    <strong>Problema:</strong> Mi diálogo modal se pierde detrás de otras ventanas.
                </p>
                <ul>
                    <li>
                        Si el diálogo tiene un componente padre nulo, intente establecerlo a un marco válido o componente cuando lo
                        crea.
                    </li>
                    <li>
                        Este error fue arreglado en la versión 6.0. Para más información, vea 
                        <a class="OutsideLink" target="_blank" 
                           href="http://bugs.java.com/bugdatabase/view_bug.do?bug_id=4255200">4255200</a>.
                    </li>
                </ul>
                <p>
                    <strong>Problema:</strong> Las políticas de la barra de desplazamiento no parecen estar trabajando como se
                    anuncia.
                </p>
                <ul>
                    <li>
                        Algunas versiones de Swing contienen errores en las implementaciones para las políticas 
                        <code>VERTICAL_SCROLLBAR_AS_NEEDED</code> y <code>HORIZONTAL_SCROLLBAR_AS_NEEDED</code>. Si es factible
                        para su proyecto, use la versión más reciente de Swing.
                    </li>
                    <li>
                        Si el cliente del panel de desplazamiento puede cambiar su tamaño dinámicamente, el programa deberá 
                        establecer el tamaño preferido del cliente y llamar a <code>revalidate</code> sobre el cliente.
                    </li>
                    <li>
                        Asegúrese de que especificó la política que deseaba para la orientación que quería.
                    </li>
                </ul>
                <p>
                    <strong>Problema:</strong> Mi panel de desplazamiento no tiene barras de desplazamiento.
                </p>
                <ul>
                    <li>
                        Si quiere que una barra de desplazamiento aparezca todo el tiempo, especifique o 
                        <code>VERTICAL_SCROLLBAR_ALWAYS</code> o <code>HORIZONTAL_SCROLLBAR_ALWAYS</code> para la política de la
                        barra de desplazamiento según corresponda.
                    </li>
                    <li>
                        Si quiere que las barras de desplazamiento aparezcan como se necesita, y quiere forzar a las barras de 
                        desplazamiento para que se necesiten cuando el panel de desplazamiento se crea, tiene dos elecciones: o 
                        establece el tamaño preferido del panel de desplazamiento o el de su contenedor, o implementa una clase 
                        de navegación inteligente y devuelve un valor más pequeño que el del tamaño preferido estándar del 
                        componente desde el método <code>getPreferredScrollableViewportSize</code>. Consulte
                        <a href="scrollpane.html#sizing">Dimensionar un Panel de Desplazamiento</a> para más información.
                    </li>
                </ul>
                <p>
                    <strong>Problema:</strong> ¡El divisor en mi panel de división no se mueve!
                </p>
                <ul>
                    <li>
                        Necesita establecer el tamaño mínimo de al menos uno de los componentes en el panel de división. Consulte
                        <a href="splitpane.html#divider">Colocación del Divisor y Restricción de su Rango</a> para más información.
                    </li>
                </ul>
                <p>
                    <strong>Problema:</strong> El método <code>setDividerLocation</code> de <code>JSplitPane</code> no funciona.
                </p>
                <ul>
                    <li>
                        El método <code>setDividerLocation(double)</code> no tiene efecto si el panel de división no tiene tamaño
                        (habitualmente verdad si no está en pantalla aún). Puede o usar <code>setDividerLocation(int)</code> o
                        especificar los tamaños preferidos de los componentes contenidos en el panel de división o
                        el panel de división cambia el tamaño de la propiedad weight en su lugar.
                        Consulte <a href="splitpane.html#divider">Colocación del Divisor y Restricción de su Rango</a> para más
                        información.
                    </li>
                </ul>
                <p>
                    <a id="nestedborders"><strong>Problema:</strong> Los bordes en paneles de división anidados se ven demasiado
                        anchos.</a>
                </p>
                <ul>
                    <li>
                        Si anida paneles de división, los bordes se acumulan &HorizontalLine; el borde de los paneles divididos
                        internos se muestra junto al borde del panel de división exterior, lo que provoca que los bordes se vean 
                        más anchos. El problema es particularmente notable al anidar muchos paneles divididos. La solución es
                        establecer el borde a nulo en cualquier panel de división que se colocó dentro de otro panel de divisón.
                        Para más información, vea el 
                        error #<a class="OutsideLink" target="_blank" 
                                  href="http://bugs.java.com/bugdatabase/view_bug.do?bug_id=4131528">4131528</a> en la Base de datos
                        de Errores de Java.
                    </li>
                </ul>
                <p>
                    <strong>Problema:</strong> Los botones en mi barra de herramientas son demasiado grandes.
                </p>
                <ul>
                    <li>
                        Intente reducir el margen de los botones. Por ejemplo:
                        <div class="codeblock">
                            <pre>
button.setMargin(new Insets(0,0,0,0));
                            </pre>
                        </div>
                    </li>
                </ul>
                <p>
                    <a id="layeredpane"><strong>Problema:</strong></a> Los componentes en mi panel estratificado no están
                    estratificados correctamente. De hecho, las capas parecen estar invertidas &HorizontalLine; cuanto menor es la
                    profundidad, mayor es el componente.
                </p>
                <ul>
                    <li>
                        Esto puede ocurrir si usa un <code>int</code> en vez de un <code>Integer</code> cuando añade componentes a
                        un panel estratificado. Para ver lo que ocurre, en la clase <code>LayeredPaneDemo</code>, cambie 
                        <br />
                        <code>layeredPane.add(label, new Integer(i));</code>
                        <br />
                        por 
                        <br />
                        <code>layeredPane.add(label, <strong>i</strong>);</code>.
                    </li>
                </ul>
                <p>
                    <strong>Problema:</strong> La llamada al método <code><em>colorChooser</em>.setPreviewPanel(null)</code> no
                    elimina el panel de vista previa del selector de colores como se esperaba.
                </p>
                <ul>
                    <li>
                        Un argumento <code>null</code> especifica el panel de vista previa por defecto. Para eliminar un panel de
                        vista previa, especifique un panel estándar sin tamaño, como este:
                        <code><em>colorChooser</em>.setPreviewPanel(new JPanel());</code>
                    </li>
                </ul>
            </div>
            <div class="NavBit">
                <a target="_top" href="border.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../QandE/questions-ch3.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio &quot;
                            Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">¿Problemas con estos ejemplos? Intente
                            <a target="_blank" href="../../information/run-examples.html">Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Cómo Usar Bordes<br />
            <b>Página Siguiente:</b> Preguntas y Ejercicios: Usando Componentes Swing
        </div>
    </body>
</html>