<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Usar los Paneles Raíz (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario)
            con JFC/Swing &gt; Usando Componentes Swing)
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Usando Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="toplevel.html">Usando Contenedores de Nivel Superior</a></div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="linkAHEAD"><a href="text.html">Usando Componentes de Texto</a></div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="linkBHEAD"><a href="colorchooser.html">Cómo Usar Selectores de Color</a></div>
                <div class="linkBHEAD"><a href="combobox.html">Cómo Usar Cuadros Combinados</a></div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="linkBHEAD"><a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a></div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="linkBHEAD"><a href="frame.html">Cómo Hacer Marcos (Ventanas Principales)</a></div>
                <div class="linkBHEAD"><a href="internalframe.html">Cómo Usar Marcos Internos</a></div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="linkBHEAD"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="nolinkBHEAD">Cómo Usar los Paneles Raíz</div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="linkBHEAD"><a href="slider.html">Cómo Usar Deslizadores</a></div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="linkBHEAD"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="linkBHEAD"><a href="textarea.html">Cómo Usar Áreas de Texto</a></div>
                <div class="linkBHEAD"><a href="textfield.html">Cómo Usar Campos de Texto</a></div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="linkBHEAD"><a href="tooltip.html">Cómo Usar Tool Tips</a></div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="linkAHEAD"><a href="html.html">Cómo Usar HTML en Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="model.html">Cómo Usar Modelos</a></div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Usando Componentes Swing<br />
                <b>Sección:</b> Cómo Usar Varios Componentes
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Usando Componentes Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="progress.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="scrollpane.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Usar los Paneles Raíz</h1>
            </div>
            <div id="PageContent">
                <p>
                    En general, usted no crea directamente un objeto
                    <a class="APILink" target="_blank" 
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JRootPane.html"><code>JRootPane</code></a>. 
                    En vez de eso, obtiene un <code>JRootPane</code> (¡tanto si lo quiere o no!) cuando instancia un
                    <a href="internalframe.html"><code>JInternalFrame</code></a> o uno de los contenedores de nivel superior de
                    Swing, tales como <a href="applet.html"><code>JApplet</code></a>, <a href="dialog.html"><code>JDialog</code></a>
                    , y <a href="frame.html"><code>JFrame</code></a>.
                </p>
                <p>
                    <a href="toplevel.html">Usando Contenedores de Nivel Superior</a> le indica las bases de usar paneles raíz
                    &HorizontalLine; obtener el panel de contenido, establecer su gestor de diseño, y añadir componentes de Swing a
                    él. Esta sección le cuenta más sobre los paneles raíz, incluyendo los componentes que componen un panel raíz y
                    cómo puede usarlos.
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/components/1layers.gif" width="370" height="127"
                         alt="Un panel raíz gestiona otros cuator paneles: un panel de capas, un barra de menús, un panel de
                         contenido, y un panel ." />
                </p>
                <p>
                    Como la figura precedente muestra, un panel raíz tiene cuatro partes:
                </p>
                <dl>
                    <dt>
                        <strong>El panel de cristal</strong>
                    </dt>
                    <dd>
                        Oculto, por defecto. Si hace el panel de cristal visible, es como una hoja de vidrio sobre todas las otras
                        partes del panel raíz. Es completamente transparente a menos que implemente el método 
                        <code>paintComponent</code> del panel de cristal de forma que haga algo, y pueda interceptar eventos de 
                        entrada para el panel raíz. En la <a href="#glasspane">siguiente sección</a>, verá un ejemplo de uso de un
                        panel de cristal.
                    </dd>
                    <dt>
                        <strong>El panel estratificado</strong>
                    </dt>
                    <dd>
                        Sirve para posicionar sus contenidos, los cuales consisten del panel de contenido y la barra de menú
                        opcional. También puede contener otros componentes en un orden Z especificado. Para más información, vea
                        <a href="#layeredpane">El Panel Estratificado</a>.
                    </dd>
                    <dt>
                        <strong>El panel de contenido</strong>
                    </dt>
                    <dd>
                        El contenedor de los componentes visibles del panel raíz, excluyendo la barra de menú. Para más información
                        sobre el uso del panel de contenido, vea <a href="toplevel.html">Using Top-Level Containers</a>.
                    </dd>
                    <dt>
                        <strong>La barra de menú opcional</strong>
                    </dt>
                    <dd>
                        El inicio de los menús del contenedor del panel raíz. Si el contenedor tiene una barra de menús, usa 
                        generalmente el método <code>setJMenuBar</code> del contenedor para colocar la barra de menú en el lugar 
                        apropiado. Para más información sobre el uso de menús y barras de menús, vea 
                        <a href="menu.html">Cómo Usar Menús</a>.
                    </dd>
                </dl>
                <h2>
                    <a id="glasspane">El Panel de Cristal</a>
                </h2>
                <p>
                    El panel de cristal es útil cuando quiere ser capaz de capturar los eventos o pintar sobre un área que ya
                    contiene uno o más componentes. Por ejemplo, puede desactivar los eventos de ratón para una región de
                    multi-componentes haciendo que el panel de cristal intercepte los eventos. O puede visualizar una imagen sobre
                    múltiples componentes usando el panel de cristal.
                </p>
                <p>
                    Aquí está la foto de una aplicación que demuestra las características del panel de cristal. Contiene una casilla
                    de verificación que le permite establecer si el panel de cristal es &quot;visible&quot; &HorizontalLine; si
                    puede obtener eventos y pintarse a sí mismo en pantalla. Cuando el panel de cristal está visible, bloquea todos
                    los eventos de entrada de alcanzar los componentes en el panel de contenido. También pinta un punto rojo en el
                    lugar donde se ha detectado el último evento de ratón pulsado.
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/components/GlassPaneDemo.png" width="321" height="93"
                         alt="Una captura de GlassPaneDemo" />
                </p>
                <div class="note"><hr />
                    <strong>Intente esto:</strong>&nbsp;
                    <ol>
                        <li>
                            Pulse el botón Lanzar para ejecutar GlassPaneDemo usando
                            <a class="OutsideLink" target="_blank" 
                               href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">
                                Java&trade; Web Start</a> (
                            <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                descargue KDJ 7 o posterior</a>). Alternativamente, para compilar y ejecutar el ejemplo por usted
                            mismo, consulte el <a href="../examples/components/index.html#GlassPaneDemo">índice de ejemplos</a>.
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/GlassPaneDemoProject/GlassPaneDemo.jnlp">
                                <img src="../../images/jws-launch-button.png" width="88" height="23"
                                     alt="Lanza el ejemplo GlassPaneDemo" /></a>
                            <br />
                        </li>
                        <li>
                            Pulse el botón 1.
                            <br />
                            La apariencia del botón cambia para mostrar que ha sido pulsado.
                        </li>
                        <li>
                            Pulse la casilla de verificación para que el panel de cristal se haga &quot;visible,&quot; y entonces
                            pulse el botón 1 de nuevo.
                            <br />
                            El botón no hace click porque el panel de cristal intercepta todos los eventos del ratón. El panel de
                            cristal pinta un círculo rojo donde usted suelta el ratón.
                        </li>
                        <li>
                            Pulse la casilla de verificación de nuevo para que el panel de cristal se oculte.
                            <br />
                            Cuando el panel de cristal detecta un evento sobre la casilla de verificación, lo reenvía a la casilla
                            de verificación. De otra forma, la casilla de verificación no respondería a los clicks.
                        </li>
                    </ol>
                    <hr />
                </div>
                <p>
                    El siguiente código de
                    <a class="SourceLink" target="_blank"
                       href="../examples/components/GlassPaneDemoProject/src/components/GlassPaneDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/GlassPaneDemoProject/src/components/GlassPaneDemo.java');
                               return false;"><code>GlassPaneDemo.java</code></a> muestra y oculta el panel de cristal. Este
                    programa crea su propio panel de cristal. Sin embargo, si un panel de cristal no hace ningún
                    pintado, el programa simplemente enlazará los oyentes al panel de cristal por defecto, como es
                    devuelto por <code>getGlassPane</code>.
                </p>
                <div class="codeblock">
                    <pre>
myGlassPane = new MyGlassPane(...);
changeButton.addItemListener(myGlassPane);
frame.setGlassPane(myGlassPane);
...
class MyGlassPane extends JComponent
                  implements ItemListener {
    ...
    //Reacciona para cambiar las pulsaciones del botón.
    public void itemStateChanged(ItemEvent e) {
        <b>setVisible(e.getStateChange() == ItemEvent.SELECTED);</b>
    }
...
}
                    </pre>
                </div>
                <p>
                    El siguiente trozo de código implementa el manejo de eventos-de-ratón para el panel de cristal. Si un evento del
                    ratón ocurre sobre la casilla de verificación, el panel de cristal vuelve a enviar el evento para que la casilla
                    de verificación lo reciba.
                </p>
                <div class="codeblock">
                    <pre>
<em>...//En la implementación del oyente de ratón del panel de cristal:</em>
public void mouseMoved(MouseEvent e) {
    redispatchMouseEvent(e, false);
}

<em>.../* The mouseDragged, mouseClicked, mouseEntered,
    * los métodos mouseExited, y mousePressed tienen la misma
    * implementación que mouseMoved. */...</em>

public void mouseReleased(MouseEvent e) {
    redispatchMouseEvent(e, true);
}

private void redispatchMouseEvent(MouseEvent e,
                                  boolean repaint) {
    Point glassPanePoint = e.getPoint();
    Container container = contentPane;
    Point containerPoint = SwingUtilities.convertPoint(
                                    glassPane,
                                    glassPanePoint,
                                    contentPane);

    if (containerPoint.y &lt; 0) { //no estamos en el panel de contenido
        <em>//Podría tener código especial para manejar los eventos de ratón sobre
        //la barra de menús o decoraciones de ventana que no sean del sistema, tales como
        //las ofrecidas por la apariencia Java.</em>
    } else {
        //El evento de ratón está probablemente sobre el panel de contenido.
        //Descubra exactamente sobre que componente se ha producido.
        Component component =
            SwingUtilities.getDeepestComponentAt(
                                    container,
                                    containerPoint.x,
                                    containerPoint.y);

        if ((component != null)
            &amp;&amp; (component.equals(liveButton))) {
            //Reenvía los eventos sobre la casilla de verificación.
            Point componentPoint = SwingUtilities.convertPoint(
                                        glassPane,
                                        glassPanePoint,
                                        component);
            component.dispatchEvent(new MouseEvent(component,
                                                 e.getID(),
                                                 e.getWhen(),
                                                 e.getModifiers(),
                                                 componentPoint.x,
                                                 componentPoint.y,
                                                 e.getClickCount(),
                                                 e.isPopupTrigger()));
        }
    }

    //Actualiza el panel de cristal si lo solicita.
    if (repaint) {
        glassPane.setPoint(glassPanePoint);
        glassPane.repaint();
    }
}
                    </pre>
                </div>
                <p>
                    Aquí está el código en <code>MyGlassPane</code> que implementa el pintado.
                </p>
                <div class="codeblock">
                    <pre>
protected void paintComponent(Graphics g) {
    if (point != null) {
        g.setColor(Color.red);
        g.fillOval(point.x - 10, point.y - 10, 20, 20);
    }
}
                    </pre>
                </div>
                <h2>
                    <a id="layeredpane">El Panel Estratificado</a>
                </h2>
                <p>
                    Un panel estratificado es un contenedor con profundidad tal que los componentes superpuestos pueden aparacer uno
                    encima del otro. Información general sobre los paneles estratificados se encuentra en
                    <a class="TutorialLink" target="_top"
                       href="layeredpane.html">Cómo Usar Paneles Estratificados</a>. Esta sección describe las particularidades de
                    cómo los paneles raíz usan los paneles estratificados.
                </p>
                <p>
                    Cada panel raíz coloca su barra de menú y el panel de contenido en una instancia de <code>JLayeredPane</code>.
                    El orden que el panel estratificado suministra habilita comportamientos tales como menús emergentes sobre otros
                    componentes.
                </p>
                <p>
                    Puede elegir colocar los componentes en el panel estratificado del panel raíz. Si lo hace, debe tener en cuenta
                    que ciertas profundidades están definidas para ser utilizadas para funciones específicas, y debería usar esas
                    profundidades como se pretendía. De otra forma, sus componentes podrían no jugar bien con los demás. Aquí tiene
                    un diagrama que muestra las capas funciones y sus relaciones:
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/components/layeredPaneLayers.gif" width="239" height="169"
                         alt="Capas definidas por JLayeredPane" />
                </p>
                <p>
                    La tabla de abajo describe el uso pretendido para cada capa y lista la constante <code>JLayeredPane</code>
                    que corresponde a cada capa:
                </p>
                <table style="padding: 5px;">
                    <caption>
                        Constante JLayeredPane que corresponde a cada capa
                    </caption>
                    <tr>
                        <th id="h1" style="text-align: left;">Nombre de Capa</th>
                        <th id="h2" style="text-align: left;">Valor</th>
                        <th id="h3" style="text-align: left;">Descripción</th>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td headers="h1"><code>FRAME_CONTENT_LAYER</code></td>
                        <td headers="h2"><code>new Integer(-30000)</code></td>
                        <td headers="h3">El panel raíz añade la barra de menú y el panel de contenido a su panel estratificado a
                            esta profundidad.</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td headers="h1"><code>DEFAULT_LAYER</code></td>
                        <td headers="h2"><code>new Integer(0)</code></td>
                        <td headers="h3">
                            Si no espedifca una profundidad de componente cuando lo añade al panel estratificado, el panel
                            estratificado lo coloca en esta profundidad.
                        </td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td headers="h1"><code>PALETTE_LAYER</code></td>
                        <td headers="h2"><code>new Integer(100)</code></td>
                        <td headers="h3">Esta capa es útil para las barras de herramientas flotantes y las paletas.</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td headers="h1"><code>MODAL_LAYER</code></td>
                        <td headers="h2"><code>new Integer(200)</code></td>
                        <td headers="h3">Los cuadros de diálogo de marco interno modal deberían pertenecer a esta capa.</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td headers="h1"><code>POPUP_LAYER</code></td>
                        <td headers="h2"><code>new Integer(300)</code></td>
                        <td headers="h3">Las ventanas emergentes entran en esta capa porque deben aparecer encima de casi todo.</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td headers="h1"><code>DRAG_LAYER</code></td>
                        <td headers="h2"><code>new Integer(400)</code></td>
                        <td headers="h3">
                            Destinado a ser utilizado cuando un componente está siendo arrastrado. El componente debería volver a su
                            capa normal cuando se suelte.
                        </td>
                    </tr>
                </table>
                <p>
                    <a id="examplemods">Aquí tiene una foto de RootLayeredPaneDemo, la cual es una versión de </a>
                    <a href="../examples/components/index.html#LayeredPaneDemo">LayeredPaneDemo</a> que usa el panel estructurado
                    del panel raíz, en lugar de crear un nuevo panel en capas.
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/components/RootLayeredPaneDemo.png" width="300" height="350"
                         alt="LayeredPaneDemo modificado para usar el panel estructurado del panel raíz" />
                </p>
                <div class="note">
                    <hr />
                    <strong>Intente esto:</strong>&nbsp;
                    <ol>
                        <li>
                            Pulse el botón Lanzar para ejecutar RootLayeredPaneDemo usando
                            <a class="OutsideLink" target="_blank"
                               href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">
                                Java&trade; Web Start</a> (
                            <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                descarga KDJ 7 o posterior</a>). Alternativamente, para compilar y ejecutar el ejemplo por usted
                            mismo consulte el  <a href="../examples/components/index.html#RootLayeredPaneDemo">
                                índice de ejemplos</a>.
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/RootLayeredPaneDemoProject/RootLayeredPaneDemo.jnlp">
                                <img src="../../images/jws-launch-button.png" width="88" height="23"
                                     alt="Lanza RootLayeredPaneDemo" /></a>
                            <br />
                        </li>
                        <li>
                            Mueve el cursor por la ventana, para que Duke se mueva encima de otros componentes.
                            <br />
                            Note que cuando el cursor está encima de componetes sin etiqueta &HorizontalLine; si está en
                            el panel de contenido o en la barra de título de la apariencia Java&HorizontalLine; El movimiento de
                            Duke es parado temporalmente. Esto se debe a que los eventos de movimiento del mouse van al componente
                            más profundo en la jerarquía de contención y le interesan los eventos del mouse. El oyente del
                            movimiento del ratón que mueva a Duke está registrado en el panel estratificado, y la mayoría de los
                            componentes en ese panel (con la excepción de las etiquetas) tienen oyentes de movimiento del ratón.
                            Cuando el ratón se mueve sobre un componente interesado en el panel estructurado, el panel estructurado
                            no obtiene el evento y el componente interesado sí lo hace.
                        </li>
                        <li>
                            Asegúrese que la casilla de verificación Posición Superior en la Capa está seleccionada, cambia la
                            capa de Duke a Amarillo (-30000).
                            <br />
                            Como antes, aparece encima de los otros componentes, excepto para los rectángulos Magenta (0) y Cyan
                            (301).
                        </li>
                        <li>
                            Manteniendo a Duke en la capa Amarilla, pulse la casilla de verificación para mandar a Duke a la parte
                            posterior de la capa -30000.
                            <br />
                            Duke desaparece porque el panel de contenido y todos los componentes en él están ahora por encima de él.
                        </li>
                        <li>
                            Cambie la capa de Duke a Cyan (301), mueve a Duke un poco para que esté de pie en el borde superior del
                            rectángulo amarillo, y luego presiona la barra espaciadora para abrir la lista desplegable del cuadro
                            combinado.
                            <br />
                            Si la apariencia implementa la lista desplegable como una ventana emergente ligera, Duke aparece encima
                            de la lista desplegable.
                        </li>
                    </ol>
                    <hr />
                </div>
                <h2>
                    <a id="api">La IPA del Panel Raíz</a>
                </h2>
                <p>
                    Las tablas que siguen listan la IPA para usar paneles raíz, paneles de cristal, y paneles de contenido. Para 
                    más información sobre el uso de los paneles de contenido, vaya a 
                    <a href="toplevel.html">Usando Contenedores de Nivel Superior</a>. Aquí están las tablas en esta sección:
                </p>
                <ul>
                    <li><a href="#rootpaneapi">Usar un Panel Raíz</a></li>
                    <li><a href="#contentapi">Establecer u Obtener los Contenidos del Panel Raíz</a></li>
                </ul>
                <p>
                    La IPA para usar otras partes del panel raíz están descritas en otra parte:
                </p>
                <ul>
                    <li><a href="layeredpane.html#api">LA IPA del Panel con Capas</a></li>
                    <li><a href="menu.html#api">La IPA del Menú</a></li>
                </ul>
                <table class="celda">
                    <caption>
                        <a id="rootpaneapi">Usar un Panel Raíz</a>
                    </caption>
                    <tr>
                        <th id="h101" style="text-align: left;" class="celda">Método</th>
                        <th id="h102" style="text-align: left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#getRootPane--">
                                JRootPane getRootPane()</a>
                            <br />
                            <em>(en <code>JApplet</code>, <code>JDialog</code>, <code>JFrame</code>, <code>JInternalFrame</code>,
                                y <code>JWindow</code>)</em>
                        </td>
                        <td headers="h102" class="celda">
                            Obtiene el panale raíz del applet, diálogo, marco, marco interno, o de la ventana.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/SwingUtilities.html#getRootPane-java.awt.Component-">
                                static JRootPane getRootPane(Component)</a>
                            <br />
                            <em>(en <code>SwingUtilities</code>)</em>
                        </td>
                        <td headers="h102" class="celda">
                            Si el componente contiene un panel raíz, devuelve ese panel raíz. De otra forma, devuelve el panel raíz
                            (si hay alguno) que contiene el componente.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComponent.html#getRootPane--">
                                JRootPane getRootPane()</a>
                            <br />
                            <em>(en <code>JComponent</code>)</em>
                        </td>
                        <td headers="h102" class="celda">
                            Invoca el método <code>getRootPane</code> de <code>SwingUtilities</code>  para el
                            <code>JComponent</code>.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JRootPane.html#setDefaultButton-javax.swing.JButton-">
                                void setDefaultButton(JButton)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JRootPane.html#getDefaultButton--">
                                JButton getDefaultButton()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene qué botón (si lo hay) es el botón por defecto en el panel raíz. Una acción
                            específica de una apariencia, tal como presionar Intro, causa que se ejecute la acción del botón.
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="celda" style="width: 100%">
                    <caption>
                        <a id="contentapi">Establecer u Obtener los Contenidos del Panel Raíz</a>
                        <br />
                        <em>
                            Los siguientes métoso están definidos en <code>JApplet</code>, <code>JDialog</code>, <code>JFrame</code>,
                            <code>JInternalFrame</code>, <code>JRootPane</code>, y <code>JWindow</code>, salvo que se indique lo
                            contrario.
                        </em>
                    </caption>
                    <tr>
                        <th id="h201" style="text-align: left;" class="celda">Método</th>
                        <th id="h202" style="text-align: left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#setGlassPane-java.awt.Component-">
                                void setGlassPane(Component)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#getGlassPane--">
                                Component getGlassPane()</a>
                        </td>
                        <td headers="h202" class="celda">Establece u obtiene el panel de cristal.</td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#setLayeredPane-javax.swing.JLayeredPane-">
                                void setLayeredPane(JLayeredPane)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#getLayeredPane--">
                                Container getLayeredPane()</a>
                        </td>
                        <td headers="h202" class="celda">Establece u obtiene el panel estratificado.</td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#setContentPane-java.awt.Container-">
                                void setContentPane(Container)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#getContentPane--">
                                Container getContentPane()</a>
                        </td>
                        <td headers="h202" class="celda">Establece u obtiene el panel de contenido.</td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#setJMenuBar-javax.swing.JMenuBar-">
                                void setJMenuBar(JMenuBar)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFrame.html#getJMenuBar--">
                                JMenuBar getJMenuBar()</a>
                            <br />
                            <em>(no definido en <code>JWindow</code>)</em>
                        </td>
                        <td headers="h202" class="celda">Establece u obtiene la barra de menú.</td>
                    </tr>
                </table>
                <p>
                </p>
                <h2>
                    <a id="eg">Ejemplos que Usan Paneles Raíz</a>
                </h2>
                <p>
                    Cada prorama Swing tiene un panel raíz, pero pocos lo referencian directamente. Los ejemplos en la siguiente 
                    lista ilustran cómo usar las características de <code>JRootPane</code> o el panel de cristal. También vea estas
                    listas:
                </p>
                <ul>
                    <li><a href="layeredpane.html#eg">Ejemplos que Usan Paneles Estratificados</a></li>
                    <li><a href="menu.html#eg">Ejemplos que Usan Menus</a></li>
                    <li><a href="frame.html#eg">Ejemplos que Usan Marcos</a> (para ejemplos que usan paneles de contenido)</li>
                </ul>
                <table>
                    <caption>
                        Información sobre ejemplos
                    </caption>
                    <tr>
                        <th id="h301" style="text-align: left;">Ejemplo</th>
                        <th id="h302" style="text-align: left;">Dónde se Describe</th>
                        <th id="h303" style="text-align: left;">Notas</th>
                    </tr>
                    <tr>
                        <td headers="h301">
                            <a href="../examples/components/index.html#GlassPaneDemo"><code>GlassPaneDemo</code></a>
                        </td>
                        <td headers="h302">Esta sección</td>
                        <td headers="h303">Usa un panel de cristal que pinta un poquito y reenvía eventos.</td>
                    </tr>
                    <tr>
                        <td headers="h301">
                            <a href="../examples/components/index.html#RootLayeredPaneDemo"><code>RootLayeredPaneDemo</code></a>
                        </td>
                        <td headers="h302">Esta sección</td>
                        <td headers="h303">Adapta LayeredPaneDemo para usar el panel estratificado del panel raíz.</td>
                    </tr>
                    <tr>
                        <td headers="h301"><a href="../examples/components/index.html#ListDialog"><code>ListDialog</code></a></td>
                        <td headers="h302"><a href="list.html">Cómo Usar Listas</a></td>
                        <td headers="h303">Establece el botón por defecto para un <code>JDialog</code>.</td>
                    </tr>
                    <tr>
                        <td headers="h301"><a href="../examples/components/index.html#FrameDemo2"><code>FrameDemo2</code></a></td>
                        <td headers="h302"><a href="frame.html">Cómo Hacer Marcos</a></td>
                        <td headers="h303">Establece el botón por defecto para un <code>JFrame</code>.</td>
                    </tr>
                </table>
            </div>
            <div class="NavBit">
                <a target="_top" href="progress.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="scrollpane.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">
                            Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.
                        </p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente
                            <a target="_blank" href="../../information/run-examples.html">Compilando y Ejecutando los Ejemplos: PFs
                            </a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias?
                            <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Cómo Usar Barras de Progreso<br />
            <b>Página Siguiente:</b> Cómo Usar Los Paneles de Desplazamiento
        </div>
    </body>
</html>