<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Usar Deslizadores (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario)
            con JFC/Swing &gt; Usando Componentes Swing)
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Usando Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="toplevel.html">Usando Contenedores de Nivel Superior</a></div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="linkAHEAD"><a href="text.html">Usando Componentes de Texto</a></div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="linkBHEAD"><a href="colorchooser.html">Cómo Usar Selectores de Color</a></div>
                <div class="linkBHEAD"><a href="combobox.html">Cómo Usar Cuadros Combinados</a></div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="linkBHEAD"><a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a></div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="linkBHEAD"><a href="frame.html">Cómo Hacer Marcos (Ventanas Principales)</a></div>
                <div class="linkBHEAD"><a href="internalframe.html">Cómo Usar Marcos Internos</a></div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="linkBHEAD"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="linkBHEAD"><a href="rootpane.html">Cómo Usar los Paneles Raíz</a></div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="nolinkBHEAD">Cómo Usar Deslizadores</div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="linkBHEAD"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="linkBHEAD"><a href="textarea.html">Cómo Usar Áreas de Texto</a></div>
                <div class="linkBHEAD"><a href="textfield.html">Cómo Usar Campos de Texto</a></div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="linkBHEAD"><a href="tooltip.html">Cómo Usar Tool Tips</a></div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="linkAHEAD"><a href="html.html">Cómo Usar HTML en Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="model.html">Cómo Usar Modelos</a></div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Usando Componentes Swing<br />
                <b>Sección:</b> Cómo Usar Varios Componentes
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Usando Componentes Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="separator.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="spinner.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Usar Deslizadores</h1>
            </div>
            <div id="PageContent">
                <p>
                    Un componente
                    <a class="APILink" target="_blank" 
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html"><code>JSlider</code></a> 
                    está destinado a permitir al usuario ingresar fácilmente un valor numérico limitado por un valor mínimo y
                    máximo. Si el espacio es limitado, un <a href="spinner.html">contador numérico</a> es una alternativa posible a
                    un control deslizante.
                </p>
                <p>
                    La siguiente foto muestra una aplicación que usa undeslizador para controlar la velocidad de la animación:
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/components/SliderDemo.png" width="268" height="295" 
                         alt="Una captura de SliderDemo, que usa un deslizador" />
                </p>
                <div class="note">
                    <hr />
                    <strong>Pruebe esto:</strong>&nbsp;
                    <ol>
                        <li>
                            Pulse el botón Lanzar para ejecutar SliderDemo usando
                            <a class="OutsideLink" target="_blank" 
                               href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">
                                Java&trade; Web Start</a> (
                            <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                descargue KDJ 7 o posterior</a>). Alternativamente, para compilar y ejecutar el ejemplo usted mismo
                            consulte el
                            the <a href="../examples/components/index.html#SliderDemo">índice de ejemplos</a>.
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/SliderDemoProject/SliderDemo.jnlp">
                                <img src="../../images/jws-launch-button.png" width="88"
                                     alt="Lanza la aplicación SliderDemo" /></a>
                            <br />
                        </li>
                        <li>
                            Use el deslizador para ajustar la velocidad de la animaciónto adjust the animation speed.
                        </li>
                        <li>
                            Empuje el deslizador a 0 para parar la animación.
                        </li>
                    </ol>
                    <hr />
                </div>
                <p>
                    Debajo está el código del fichero
                    <a class="SourceLink" target="_blank" 
                       href="../examples/components/SliderDemoProject/src/components/SliderDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/SliderDemoProject/src/components/SliderDemo.java');
                               return false;">
                        <code>SliderDemo.java</code></a> que crea el deslizador en el ejemplo previo.
                </p>
                <div class="codeblock">
                    <pre>
static final int FPS_MIN = 0;
static final int FPS_MAX = 30;
static final int FPS_INIT = 15;    //fotogramas iniciales por segundo
. . .
JSlider framesPerSecond = new JSlider(JSlider.HORIZONTAL,
                                      FPS_MIN, FPS_MAX, FPS_INIT);
framesPerSecond.addChangeListener(this);

//Activa las etiquetas en las marcas principales.
framesPerSecond.setMajorTickSpacing(10);
framesPerSecond.setMinorTickSpacing(1);
framesPerSecond.setPaintTicks(true);
framesPerSecond.setPaintLabels(true);
                    </pre>
                </div>
                <p>
                    Por defecto, el espaciado para las marcas de graduación mayores y menores es cero. Para ver ls marcas de 
                    graduación, debe explícitamente establecer el espacio para o la mayor o menor marca de graduación (o ambas) a un
                    valor que no sea cero y llamar al método <code>setPaintTicks(true)</code>. Sin embargo, también necesita
                    etiquetas para sus marcas de graduación. Para visualizar etiquetas numéricas estándar en el lugar de la mayor
                    marca de graduación, establezca el espacion de la marca mayor, después llame al método
                    <code>setPaintLabels(true)</code>. El programa de ejemplo suministra etiquetas para su deslizador de esta forma.
                    Pero no está limitado a usar sólo estas etiquetas. <a href="#labels">Personalizar Etiquetas en un Deslizador</a>
                    le muestra cómo personalizar las etiquetas del deslizador. Además, una característica del deslizador le permite
                    establecer una fuente para el componente <code>JSlider</code>.
                </p>
                <div class="codeblock">
                    <pre>
Font font = new Font("Serif", Font.ITALIC, 15);
framesPerSecond.setFont(font);
                    </pre>
                </div>
                <p>
                    Cuando mueve el tirador del deslizador, el método <code>stateChanged</code> del <code>ChangeListener</code> deñ
                    deslizador es llamado. Para más información sobre los oyentes de cambio, consulte
                    <a href="../events/changelistener.html">Cómo Escribir un Change Listener</a>. Aquí está el código del oyente de
                    cambio que reacciona los cambios de valor del deslizador:
                </p>
                <div class="codeblock">
                    <pre>
public void stateChanged(ChangeEvent e) {
    JSlider source = (JSlider)e.getSource();
    if (!source.getValueIsAdjusting()) {
        int fps = (int)source.getValue();
        if (fps == 0) {
            if (!frozen) stopAnimation();
        } else {
            delay = 1000 / fps;
            timer.setDelay(delay);
            timer.setInitialDelay(delay * 10);
            if (frozen) startAnimation();
        }
    }
}
                    </pre>
                </div>
                <p>
                    No te que el método <code>stateChanged</code> cambia la velocidad de la animación sólo si el método
                    <code>getValueIsAdjusting</code> devuelve <code>false</code>. Muchos eventos de cambio se disparan mientras el
                    usaurio mueve el tirador del deslizador. Este programa sólo está interesado en el resultado final de la acción
                    del usuario.
                </p>
                <h2>
                    <a id="labels">Personalizar Etiquetas en un Deslizador</a>
                </h2>
                <p>
                    La demostración de abajo es una versión modificada de SliderDemo que usa un deslizador con etiquetas
                    personalizadas:
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/components/SliderDemo2.png" width="334" height="254"
                         alt="Una captura de SliderDemo2, que usa un deslizador con etiquetas personalizadas" />
                </p>
                <p>
                    El fuente para este programa se encuentra en
                    <a class="SourceLink" target="_blank" 
                       href="../examples/components/SliderDemo2Project/src/components/SliderDemo2.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/SliderDemo2Project/src/components/SliderDemo2.java');
                               return false;"><code>SliderDemo2.java</code>
                    </a>.
                    Pulse el botón Lanzar para ejecutar SliderDemo2usando
                    <a class="OutsideLink" target="_blank"
                       href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">Java&trade; Web Start
                    </a> (
                    <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue KDJ 7 o posterior</a>).
                    Alternativamente, para compilar y ejecutar el ejemplo usted mismo, consulte el
                    <a href="../examples/components/index.html#SliderDemo2">índice de ejemplo</a>.
                </p>
                <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/SliderDemo2Project/SliderDemo2.jnlp">
                    <img src="../../images/jws-launch-button.png" width="88" alt="Lanza la aplicación SliderDemo2" />
                </a>
                <br />
                <p>
                    El código siguiente crea el deslizador y personaliza sus etiquetas:
                </p>
                <div class="codeblock">
                    <pre>
//Crea el deslizador
JSlider framesPerSecond = new JSlider(JSlider.VERTICAL,
                                      FPS_MIN, FPS_MAX, FPS_INIT);
framesPerSecond.addChangeListener(this);
framesPerSecond.setMajorTickSpacing(10);
framesPerSecond.setPaintTicks(true);

//Crea la etiqueta de la tabla
Hashtable labelTable = new Hashtable();
labelTable.put( new Integer( 0 ), new JLabel("Parar") );
labelTable.put( new Integer( FPS_MAX/10 ), new JLabel("Lento") );
labelTable.put( new Integer( FPS_MAX ), new JLabel("Rápido") );
framesPerSecond.setLabelTable( labelTable );

framesPerSecond.setPaintLabels(true);
                    </pre>
                </div>
                <p>
                    Cada par clave-valor en la tabla hash especificada con el método <code>setLabelTable</code>  da la posición y el
                    valor de una etiqueta. La clave de la tabla hash debe ser del tipo <code>Integer</code>  y debe tener un valor
                    dentro del rango del deslizador al cual colocamos la etiqueta. El valor de la tabla hash asociado con cada clave
                    debe ser un objeto <code>Component</code>. Esta demostración usa instancias de <code>JLabel</code> con texto
                    solo. Una modificación interesante sería usar instancias de <code>JLabel</code> con iconos o botones que muevan
                    el tirador a la posición de las etiqueta.
                </p>
                <p>
                    Use el método <code>createStandardLabels</code> de la clase <code>JSlider</code> para crear un conjunto de
                    etiquetas numéricas posicionadsa en un intervalo específico. Puede también modificar la tabla devuelta por el 
                    método <code>createStandardLabels</code> para personalizarlo.
                </p>
                <h2>
                    <a id="api">La IPA del Deslizador</a>
                </h2>
                <p>
                    Las siguientes tablas enumeran los constructores comunmente usados de <code>JSlider</code>. Vea
                    <a href="jcomponent.html">La Clase JComponent</a> para las tablas de los métodos heredados usados comunmente.
                </p>
                <p>
                    La IPA para usar deslizadores se divide en estas categorias:
                </p>
                <ul>
                    <li><a href="#creating">Crear el Slider</a></li>
                    <li><a href="#looks">Ajuste Fino de la Apariencia del Slider</a></li>
                    <li><a href="#operation">Observar la Operación del Slider</a></li>
                    <li><a href="#modelapi">Trabajar Directamente con el Modelo de Datos</a></li>
                </ul>
                <table class="celda">
                    <caption><a id="creating">Crear el Slider</a></caption>
                    <tr>
                        <th id="h1" class="celda">Constructor</th>
                        <th id="h2" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#JSlider--">
                                JSlider()</a>
                        </td>
                        <td headers="h2" class="celda">
                            Crea un deslizador horizontal con el rango de 0 a 100 y un valor inicial de 50.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#JSlider-int-int-">
                                JSlider(int min, int max)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#JSlider-int-int-int-">
                                JSlider(int min, int max, int value)</a>
                        </td>
                        <td headers="h2" class="celda">
                            Crea un deslizador horizontal con los valores mínimos y máximos especificados. El tercer argumento
                            <code>int</code>, cuando está presente, especifica el valor inicial del deslizador.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#JSlider-int-">
                                JSlider(int orientation)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#JSlider-int-int-int-int-">
                                JSlider(int orientation, int min, int max, int value)</a>
                        </td>
                        <td headers="h2" class="celda">
                            Crea un deslizador con la orientación especificada, la cual debe ser o <code>JSlider.HORIZONTAL</code> o
                            <code>JSlider.VERTICAL</code>. Los últimos tres argumentos <code>int</code>, cuando existen, especifican
                            los valores mínimo, máximo, e inicial del deslizador, respectivamente.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#JSlider-javax.swing.BoundedRangeModel-">
                                JSlider(BoundedRangeModel)</a>
                        </td>
                        <td headers="h2" class="celda">
                            Crea un deslizador horizontal con el modelo especificado, el cual gestiona los valores mínimos, máximos
                            e iniciales del deslizador y sus relaciones.
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="celda">
                    <caption><a id="looks">Ajuste Fino de la Apariencia del Slider</a></caption>
                    <tr>
                        <th id="h101" class="celda">Método</th>
                        <th id="h102" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#setValue-int-">
                                void setValue(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#getValue--">
                                int getValue()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene el valor actual del deslizador. El método set también posiciona el tirador del
                            deslizador.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#setOrientation-int-">
                                void setOrientation(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#getOrientation--">
                                int getOrientation()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene la orientación del deslizador. Los valores posibles son
                            <code>JSlider.HORIZONTAL</code> o <code>JSlider.VERTICAL</code>.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#setInverted-boolean-">
                                void setInverted(boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#getInverted--">
                                boolean getInverted()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene si el máximo es mostrador a la izquierda de un deslizador horizontal o al final de
                            uno vertical, invirtiendo así el rango del deslizador.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#setMinimum-int-">
                                void setMinimum(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#getMinimum--">
                                int getMinimum()</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#setMaximum-int-">
                                void setMaximum(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#getMaximum--">
                                int getMaximum()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene los valores mínimos y máximos de un deslizador. Juntos, estos métodos establecen u
                            obtienen el rango del deslizador.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#setMajorTickSpacing-int-">
                                void setMajorTickSpacing(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#getMajorTickSpacing--">
                                int getMajorTickSpacing()</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#setMinorTickSpacing-int-">
                                void setMinorTickSpacing(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#getMinorTickSpacing--">
                                int getMinorTickSpacing()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene el rango entre las marcas de graduación mayores y menores. Debe llamar a 
                            <code>setPaintTicks(true)</code> para que las marcas de graduación aparezcan.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#setPaintTicks-boolean-">
                                void setPaintTicks(boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#getPaintTicks--">
                                boolean getPaintTicks()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene si las marcas de graduación son pintadas sobre el deslizador.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#setPaintLabels-boolean-">
                                void setPaintLabels(boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#getPaintLabels--">
                                boolean getPaintLabels()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene si las etiquetas son pintadas sobre el deslizador. Puede suministrar etiquetas
                            personalizadas con <code>setLabelTable</code> u obtener etiquetas automáticas estableciendo el espacio
                            de la marcas principales a un valor no cero.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#setLabelTable-java.util.Dictionary-">
                                void setLabelTable(Dictionary)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#getLabelTable--">
                                Dictionary getLabelTable()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene las etiquetas para el deslizador. Debe llamar a <code>setPaintLabels(true)</code>
                            para que las etiquetas aparezcan.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#createStandardLabels-int-">
                                Hashtable createStandardLabels(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#createStandardLabels-int-int-">
                                Hashtable createStandardLabels(int, int)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Crea un conjunto estándar de etiquetaas numéricas. El primer argumento <code>int</code> especifica el
                            incremento. el segundo argumento <code>int</code> especifica el punto de inicio. Cuando se dejan sin
                            especificar, el punto de inicio es establecido al número mínimo del deslizador.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#setFont-java.awt.Font-">
                                setFont(java.awt.Font)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece la fuente para las etiquetas del deslizador.
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="celda">
                    <caption><a id="operation">Observar la Operación del Slider</a></caption>
                    <tr>
                        <th id="h201" class="celda">Método</th>
                        <th id="h202" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#addChangeListener-javax.swing.event.ChangeListener-">
                                void addChangeListener(ChangeListener)</a>
                        </td>
                        <td headers="h202" class="celda">Registra un oyente de cambios con el deslizador.</td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#getValueIsAdjusting--">
                                boolean getValueIsAdjusting()</a>
                        </td>
                        <td headers="h202" class="celda">
                            Determina si el gesto del usuario para mover el tirador del deslizador se ha completado.
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="celda">
                    <caption><a id="modelapi">Trabajar Directamente con el Modelo de Datos</a></caption>
                    <tr>
                        <th id="h301" class="celda">Clase, Interfaz, o Método</th>
                        <th id="h302" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/BoundedRangeModel.html">
                                BoundedRangeModel</a>
                        </td>
                        <td headers="h302" class="celda">El interfaz requirido para el modelo de datos del deslizador.</td>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/DefaultBoundedRangeModel.html">
                                DefaultBoundedRangeModel</a>
                        </td>
                        <td headers="h302" class="celda">Una implementación del interfaz <code>BoundedRangeModel</code>.</td>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#setModel-javax.swing.BoundedRangeModel-">
                                void setModel()</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JSlider.html#getModel--">
                                getModel()</a>
                            <br />
                            <em>(in <code>JSlider</code>)</em>
                        </td>
                        <td headers="h302" class="celda">
                            Establece u obtiene el modelo de datos usado por el deslizador. Puede también establecer el modelo
                            usando el constructor que toma un argumento simple del tipo<code>BoundedRangeModel</code>.
                        </td>
                    </tr>
                </table>
                <h2>
                    <a id="eg">Ejemplos que Usen Deslizadores</a>
                </h2>
                <p>
                    Esta tabla muestra los ejemplos que usan <code>JSlider</code> y dónde esos ejemplos están descritos.
                </p>
                <table>
                    <caption>Información sobre ejemplos</caption>
                    <tr>
                        <th id="h401" style="text-align: left;">Ejemplo</th>
                        <th id="h402" style="text-align: left;">Donde se describe</th>
                        <th id="h403" style="text-align: left;">Notas</th>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td headers="h401"><a href="../examples/components/index.html#SliderDemo"><code>SliderDemo</code></a></td>
                        <td headers="h402">Esta sección</td>
                        <td headers="h403">Muestra un deslizador con etiquetas en las marcas principales.</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td headers="h401"><a href="../examples/components/index.html#SliderDemo2"><code>SliderDemo2</code></a></td>
                        <td headers="h402">Esta sección</td>
                        <td headers="h403">Muestra un deslizador vertical con etiquetas pesonalizadas.</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td headers="h401"><a href="../examples/components/index.html#Converter"><code>Converter</code></a></td>
                        <td headers="h402">
                            <a href="model.html">Cómo Usar Modelos</a>, <a href="panel.html">Como Usar Paneles</a>
                        </td>
                        <td headers="h403">
                            Una aplicación de conversión de medidas con dos deslizadores que comparten datos y tienen un 
                            <code>BoundedRangeModel</code> personalizado.
                        </td>
                    </tr>
                </table>
                <p>Si está programando en JavaFX, vea
                    <a class="OutsideLink" target="_blank" 
                       href="https://docs.oracle.com/javase/8/javafx/user-interface-tutorial/slider.htm">Deslizadores</a>.
                </p>
            </div>
            <div class="NavBit">
                <a target="_top" href="separator.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="spinner.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">
                            Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.
                        </p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente
                            <a target="_blank" href="../../information/run-examples.html">Compilando y Ejecutando los Ejemplos: PFs
                            </a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias?
                            <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Cómo Usar los Separadores<br />
            <b>Página Siguiente:</b> Contadores Numéricos
        </div>
    </body>
</html>