<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Usar Paneles Tabulados (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario)
            con JFC/Swing &gt; Usando Componentes Swing)
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Usando Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="toplevel.html">Usando Contenedores de Nivel Superior</a></div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="linkAHEAD"><a href="text.html">Usando Componentes de Texto</a></div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="linkBHEAD"><a href="colorchooser.html">Cómo Usar Selectores de Color</a></div>
                <div class="linkBHEAD"><a href="combobox.html">Cómo Usar Cuadros Combinados</a></div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="linkBHEAD"><a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a></div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="linkBHEAD"><a href="frame.html">Cómo Hacer Marcos (Ventanas Principales)</a></div>
                <div class="linkBHEAD"><a href="internalframe.html">Cómo Usar Marcos Internos</a></div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="linkBHEAD"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="linkBHEAD"><a href="rootpane.html">Cómo Usar los Paneles Raíz</a></div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="linkBHEAD"><a href="slider.html">Cómo Usar Deslizadores</a></div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="nolinkBHEAD">Cómo Usar Paneles Tabulados</div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="linkBHEAD"><a href="textarea.html">Cómo Usar Áreas de Texto</a></div>
                <div class="linkBHEAD"><a href="textfield.html">Cómo Usar Campos de Texto</a></div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="linkBHEAD"><a href="tooltip.html">Cómo Usar Tool Tips</a></div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="linkAHEAD"><a href="html.html">Cómo Usar HTML en Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="model.html">Cómo Usar Modelos</a></div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Usando Componentes Swing<br />
                <b>Sección:</b> Cómo Usar Varios Componentes
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Usando Componentes Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="splitpane.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="table.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Usar Paneles Tabulados</h1>
            </div>
            <div id="PageContent">
                <p>
                    Con la clase
                    <a class="APILink" target="_blank" 
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html"><code>JTabbedPane</code></a>
                    , puede hacer que varios componentes, tales como los <a href="panel.html">paneles</a>, compartan el mismo
                    espacio. El usuario elije qué componente ver seleccionando la pestaña correspondiente al componente deseado.
                    Si quiere una funcionalidad similar sin el interfaz de pestañas, puede usar un
                    <a class="TutorialLink" target="_top" href="../layout/card.html">diseño de tarjeas</a> en vez de una panel
                    tabulado.
                </p>
                <h2>Para Crear Paneles Tabulados</h2>
                <p>
                    Para crear un panel tabulado, instancie <code>JTabbedPane</code>, cree los componentes que desee visualizar, y 
                    entonces añada los compoentes al panel tabulado usando el método <code>addTab</code>.
                </p>
                <p>
                    La siguiente imágen presenta una aplicación llamada <code>TabbedPaneDemo</code> que tiene un panel tabulado con
                    cuatro pestañas.
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/components/TabbedPaneDemo.png" width="423" height="117"
                         alt="Una captura de TabbedPaneDemo" />
                </p>
                <div class="note">
                    <hr />
                    <strong>Pruebe esto:</strong>&nbsp;
                    <ol>
                        <li>
                            Pulse el botón Lanzar para ejecutar TabbedPaneDemo usando 
                            <a class="OutsideLink" target="_blank" 
                               href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">
                                Java&trade; Web Start</a> (
                            <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                descargue KDJ 7 o posterior</a>). Alternativamente, para compilar y ejecutar el ejemplo usted 
                            mismo, consulte el <a href="../examples/components/index.html#TabbedPaneDemo">índice de ejemplos</a>.
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/TabbedPaneDemoProject/TabbedPaneDemo.jnlp">
                                <img src="../../images/jws-launch-button.png" width="88" height="23"
                                     alt="Launches the TabbedPaneDemo Application" /></a>
                            <br />
                        </li>
                        <li>
                            Coloque el cursor sobre una pestaña.
                            <br />
                            La tool tip asociada con la pestaña aparece. Como una convenencia, puede
                            especificar el texto de la tool tip cuando añade un componente al panel tabulado.
                        </li>
                        <li>
                            Selecciona una tabla pulsándola.
                            <br />
                            El panel tabulado muestra el componente correspondiente a la pestaña.
                        </li>
                        <li>
                            Seleccione una pestaña introduciendo su mnemotécnico.
                            <br />
                            Por ejemplo, en la apariencia Java puede seleccionar la pestaña etiquetada &quot;Tab 3&quot; tecleando
                            Alt-3.
                        </li>
                        <li>
                            Navegue entre las pestañas desplazables.
                            <br />
                            Este ejemplo suministra pestañas desplazables. Redimensione el cuadro de diálogo moviéndolo al límite 
                            izquierdo o derecho de forma que las pestañas no quepan dentro del diálogo. Las flechas de
                            desplazamiento aparecerán cerca de las pestañas.
                            <br />
                            Pulse la flecha par ver una de las pestañas ocultas.
                            <br />
                            Note que pulsar la flecha sólo revela las pestañas ocultas. No selecciona una pestaña nueva.
                        </li>
                    </ol>
                    <hr />
                </div>
                <p>
                    Como el ejemplo <code>TabbedPaneDemo</code> muestra, una pestaña puede tener una tool tip y un
                    mnemotécnico, y puede visualizar tanto texto como una imágen.
                </p>
                <h3>Colocación de las Pestañas</h3>
                <p>
                    La ubicación predeterminada de las pestañas está establecida en la ubicación <code>TOP</code>, como se mostró
                    arriba. Puede cambiar la colocación de las pestañas a <code>LEFT</code>, <code>RIGHT</code>, <code>TOP</code>
                    o <code>BOTTOM</code> usando el método <code>setTabPlacement</code>.
                </p>
                <h3>Código para los Paneles Tabulados</h3>
                <p>
                    El siguiente código de
                    <a class="SourceLink" target="_blank" 
                       href="../examples/components/TabbedPaneDemoProject/src/components/TabbedPaneDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/TabbedPaneDemoProject/src/components/TabbedPaneDemo.java');
                               return false;"><code>TabbedPaneDemo.java</code>
                    </a> crea el panel tabulado en el ejemplo previo. Note que ningún código de manejo de eventos es necesario. El
                    objeto <code>JTabbedPane</code> se cuida de los eventos del ratón y el teclado por usted.
                </p>
                <div class="codeblock">
                    <pre>
JTabbedPane tabbedPane = new JTabbedPane();
ImageIcon icon = createImageIcon("images/middle.gif");

JComponent panel1 = makeTextPanel("Panel #1");
<b>tabbedPane.addTab("Tab 1", icon, panel1,
                  "No hace nada");</b>
tabbedPane.setMnemonicAt(0, KeyEvent.VK_1);

JComponent panel2 = makeTextPanel("Panel #2");
<b>tabbedPane.addTab("Tab 2", icon, panel2,
                  "Hace el doble de nada");</b>
tabbedPane.setMnemonicAt(1, KeyEvent.VK_2);

JComponent panel3 = makeTextPanel("Panel #3");
<b>tabbedPane.addTab("Tab 3", icon, panel3,
                  "Todavía no hace nada");</b>
tabbedPane.setMnemonicAt(2, KeyEvent.VK_3);

JComponent panel4 = makeTextPanel(
        "Panel #4 (has a preferred size of 410 x 50).");
panel4.setPreferredSize(new Dimension(410, 50));
<b>tabbedPane.addTab("Tab 4", icon, panel4,
                      "No hace nada en absoluto");</b>
tabbedPane.setMnemonicAt(3, KeyEvent.VK_4);
                    </pre>
                </div>
                <p>
                    Como el código previo muestra, el método <code>addTab</code> maneja la mayor parte del trabajo en configurar
                    una pestaña en un panel tabulado. El método <code>addTab</code> tiene varias formas, pero todas ellas usan
                    tanto una cadena de título y el componente que se visualiza en la pestaña. Opcionalmente, puede especificar un
                    icono y una cadena para la <a href="tooltip.html">Tool Tip</a>. El texto o icono (o ambos) pueden ser
                    nulos. Otra forma de crear una pestaña es usar el método <code>insertTab</code>, el cual le permite especificar
                    el índice de la pestaña que está añadiendo. Note que el método <code>addTab</code> no perimte la especificación
                    de un índice en este paso.
                </p>
                <h2>Para Cambiar a Pestañas Específicas</h2>
                <p>
                    Hay tres formas de cambiar a pestañas específicas usando el IGU.
                </p>
                <ol>
                    <li>
                        <strong>Usar el ratón.</strong> Para cambiar a una pestaña específica, el usuariola pulsa con el ratón.
                    </li>
                    <li>
                        <strong>Usar las flechas del teclado.</strong> Cuando el objeto <code>JTabbedPane</code> tiene el foco, las
                        flechas pueden ser usadas para cambiar de pestaña en pestaña.
                    </li>
                    <li>
                        <strong>Usar mnométecnicos de teclado.</strong> El método <code>setMnemonicAt</code> permite al usuario
                        cambiar a una pestaña específica usando el teclado. Por ejemplo,
                        <code>setMnemonicAt(3, KeyEvent.VK_4)</code> hace '4' el mnemotécnico para la cuarta pestaña (el cual está
                        en el índice 3, ya que los índices empiezan con 0); presionar Alt-4 hace que el componente de la cuarta
                        pestaña aparezca. A menudo, un mnemotécnio usa un carácter en el título de la pestaña que es entonces
                        automáticamente es subrayado.
                    </li>
                </ol>
                <p>
                    Para cambiar a una pestaña especifica programáticamente, use los métodos
                    <a class="APILink" target="_blank" 
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#setSelectedIndex-int-">
                        <code>setSelectedIndex</code></a> o
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#setSelectedComponent-java.awt.Component-">
                        <code>setSelectedComponent</code></a>.
                </p>
                <h3>Tamaño Preferidos en las Pestañas</h3>
                <p>
                    Cuando construye componentes para añadir a un panel tabulado, tenga en mente que no importa qué hijo de un
                    panel tabulado sea visible, cada hijo obtiene la misma cantidad de espacio en el cual mostrarse a sí mismo. El
                    tamaño preferido del panel tabulado es lo suficientemente grande para visualizar el hijo más alto en su altura
                    preferida, y su hijo más ancho en su anchura preferida. Similarmente, el tamaño mínimo del panel tabulado
                    depende del mayor ancho y alto mínimos de todos sus niños.
                </p>
                <p>
                    En el ejemplo <code>TabbedPaneDemo</code>, el cuarto panel tiene una anchura y altura preferida que es más
                    grande que los de los otros paneles. Así, el tamaño preferido del panel tabulado es lo suficientemente grande
                    como para mostrar el cuarto panel en su tamaño preferido. Cada panel obtiene exactamente la misma cantidad de 
                    espacio &HorizontalLine; 410 pixels de ancho y 50 de alto, asumiendo que el panel tabulado esté en su tamaño
                    preferido. Si no entiende como se usa el tamaño preferido, por favor consulte
                    <a class="TutorialLink" target="_top" 
                       href="../layout/howLayoutWorks.html">Cómo Funciona la Gestión de Diseño</a>.
                </p>
                <h3>Pestañas con Componentes Personalizados</h3>
                <p>
                    El ejemplo <code>TabComponentsDemo</code> presenta un panel tabulado cuyas pestañas contienen componentes
                    reales. El uso de componentes personalizados trae nuevas capacidades tales como botones, cuadros combinados,
                    etiquetas, y otros componentes a las pestañas, y permite una interacción de usuario más compleja.
                </p>
                <p>
                    Aqui tiene un panel tabulado con botones de cierre en sus pestañas.
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/components/TabComponentsDemo.png" width="400" height="200"
                         alt="Una captura de TabComponentsDemo" />
                </p>
                <div class="note">
                    <hr />
                    <strong>Pruebe esto:</strong>&nbsp;
                    <ol>
                        <li>
                            Pulse el botón Lanzar para ejecutar TabComponentsDemo usando
                            <a class="OutsideLink" target="_blank" 
                               href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">
                                Java&trade; Web Start</a> (
                            <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                descargue KDJ 7 o posterior</a>). Alternativamente, para compilar y ejecutar el ejemplo usted 
                            mismo, consulte el <a href="../examples/components/index.html#TabComponentsDemo">índice de ejemplos</a>.
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/TabComponentsDemoProject/TabComponentsDemo.jnlp">
                                <img src="../../images/jws-launch-button.png" width="88" height="23"
                                     alt="Launches the TabComponentsDemo Application" /></a>
                            <br />
                        </li>
                        <li>
                            Coloque el cursor sobre una pestaña.
                        </li>
                        <li>
                            Seleccione una pestaña pulsándola (asegúrese de que pulsa la pequeña cruz).
                        </li>
                        <li>
                            Coloque el cursor sobre uno de los controles con una pequeña cruz.
                            <br />
                            La cruz se vuelve magenta y queda encerrada en un cuadrado. Una tool tip asociada al botón de
                            cierre aparece.
                            <br />
                            Pulse la cruz con el botón izquierdo del ratón para cerrar la pestaña.
                        </li>
                        <li>
                            Restaure las pestañas que han sido eliminados eligiendo el elemento Reset JTabbedPane  desde las
                            opciones del menú.
                        </li>
                        <li>
                            Note que las pestañas con componentes personalizados son visualizadas encima de las pestañas originales
                            del panel tabulado.
                            <br />
                            Para ver las pestañas debajo, abra el menú Opciones y desmarque la casilla de verificación de
                            TabComponents.
                        </li>
                        <li>
                            Visualice las pestañas con componentes seleccionando de nuevo la casilla Use TabaComponents.
                        </li>
                        <li>
                            Cierre todas las pestañas. Ahora el panel tabulado está vacío.
                        </li>
                    </ol>
                    <hr />
                </div>
                <h2>Para Eliminar Pestañas</h2>
                <p>
                    El siguiente código desde
                    <a class="SourceLink" target="_blank" 
                       href="../examples/components/TabComponentsDemoProject/src/components/ButtonTabComponent.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/TabComponentsDemoProject/src/components/ButtonTabComponent.java');
                               return false;"><code>ButtonTabComponent.java</code></a> elimina una pestaña dsde el panel tabulado.
                    Note que el código de manejo de eventos es necesario. Ya que cada pestaña contiene un objeto 
                    <code>JButton</code> real , debe enlazar un <code>ActionListener</code> al botónd de cierre. Como el
                    usuario pulsa el botón, el método <code>actionPerformed</code> determina el índice de la pestaña  a
                    la que pertenece y elimina la pestaña correspondiente.
                </p>
                <div class="codeblock">
                    <pre>
public void actionPerformed(ActionEvent e) {
    <b>int i = pane.indexOfTabComponent(ButtonTabComponent.this);</b>
    if (i != -1) {
    pane.remove(i);
    }
}
                    </pre>
                </div>
                <h2>Para Dar Títulos a las Pestañas Personalizadas</h2>
                <p>
                    El código de abajo, tomado de
                    <a class="SourceLink" target="_blank" 
                       href="../examples/components/TabComponentsDemoProject/src/components/ButtonTabComponent.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/TabComponentsDemoProject/src/components/ButtonTabComponent.java');
                               return false;"><code>ButtonTabComponent.java</code></a>, muestra como un componente personalizado de
                    una pestaña obtiene un título dede una pestala del panel tabulado original.
                </p>
                <div class="codeblock">
                    <pre>
JLabel label = new JLabel(title) {
    public String getText() {
        int i = pane.indexOfTabComponent(ButtonTabComponent.this);
        if (i != -1) {
            return pane.getTitleAt(i);
        }
        return null;
    }
};
                    </pre>
                </div>
                <h2>
                    <a id="api">La IPA del Panel Tabulado</a>
                </h2>
                <p>
                    Las siguientes tablas listan los constructores y métodos comunmente utilizados de <code>JTabbedPane</code>. La
                    IPA para usar panel tabulados se divide en las siguientes categorías:
                </p>
                <ul>
                    <li><a href="#creating">Crear y Configurar un Panel Tabulado</a></li>
                    <li><a href="#tabapi">Insertar, Eliminar, Encontrar, y Seleccionar Pestañas</a></li>
                    <li><a href="#appearanceapi">Cambiar la Apariencia de la Pestaña</a></li>
                    <li><a href="#tabscomponents">Configurar Componentes Personalizados en Pestañas&lt;/&gt;</a></li>
                </ul>
                <p>
                    <a href="#tabscomponents"></a>
                </p>
                <table class="celda">
                    <caption><a style="font-weight: bold" id="creating">Crear y Configurar un Panel Tabulado</a></caption>
                    <tr>
                        <th id="h1" style="text-align: left;" class="celda">Método o Constructor</th>
                        <th id="h2" style="text-align: left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#JTabbedPane--">
                                JTabbedPane()</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#JTabbedPane-int-">
                                JTabbedPane(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#JTabbedPane-int-int-">
                                JTabbedPane(int, int)</a>
                        </td>
                        <td headers="h2" class="celda">
                            Crea un panel tabulado. El primer argumento opcional especifica si las pestañas deberían aparecer. Por
                            defecto, las pestañas aparecen encima del panel tabulado. Puede especificar estas posiocnes (definidas
                            en la interfaz <code>SwingConstants</code>, la cual implemente <code>JTabbedPane</code>):
                            <code>TOP</code>, <code>BOTTOM</code>, <code>LEFT</code>, <code>RIGHT</code>. El segundo argumento
                            opcoinal especifica la política de diseño. Puede especificar una de estas políticas (definidsa en
                            <code>JTabbedPane</code>):
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#WRAP_TAB_LAYOUT">
                                <code>WRAP_TAB_LAYOUT</code></a> o
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#SCROLL_TAB_LAYOUT">
                                <code>SCROLL_TAB_LAYOUT</code></a>.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#addTab-java.lang.String-javax.swing.Icon-java.awt.Component-java.lang.String-">
                                addTab(String, Icon, Component, String)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#addTab-java.lang.String-javax.swing.Icon-java.awt.Component-">
                                addTab(String, Icon, Component)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#addTab-java.lang.String-java.awt.Component-">
                                addTab(String, Component)</a>
                        </td>
                        <td headers="h2" class="celda">
                            Añade una nueva pestaña al panel tabulado. El primer argumento especifica el texto sobre la pestaña.
                            El argumento de icono opcional especifica el icono de la pestaña. El argumento componente especifica el
                            componente que el panel tabulado mostraría cuando se seleccione la pestaña. El cuarto argumento, cuando
                            está presente, especifica el texto de la tool tip para la pestaña.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#setTabLayoutPolicy-int-">
                                void setTabLayoutPolicy(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#getTabLayoutPolicy--">
                                int getTabLayoutPolicy()</a>
                        </td>
                        <td headers="h2" class="celda">
                            Establece u obtiene la política que el panel tabulado usa en el diseño de pestañas cuando todas las
                            pestañas que no caben en una sola ejecución. Los valores posibles son <code>WRAP_TAB_LAYOUT</code> y
                            <code>SCROLL_TAB_LAYOUT</code>. La política por defeecto es <code>WRAP_TAB_LAYOUT</code>.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#setTabPlacement-int-">
                                void setTabPlacement(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#getTabPlacement--">
                                int getTabPlacement()</a>
                        </td>
                        <td headers="h2" class="celda">
                            Establece u obtiene la ubicación donde las pestañas aparecen relativas al contenido. Los valores
                            posibles (definidas en <code>SwingConstants</code>, la cual es implementada por
                            <code>JTabbedPane</code>) son <code>TOP</code>, <code>BOTTOM</code>, <code>LEFT</code>, y
                            <code>RIGHT</code>.
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="celda">
                    <caption>
                        <a style="font-weight: bold" id="tabapi">Insertar, Eliminar, Encontrar, y Seleccionar Pestañas</a>
                    </caption>
                    <tr>
                        <th id="h101" style="text-align: left;" class="celda">Método</th>
                        <th id="h102" style="text-align: left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#insertTab-java.lang.String-javax.swing.Icon-java.awt.Component-java.lang.String-int-">
                                insertTab(String, Icon, Component, String, int)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Inserta una pestaña en el índice especificado, donde la primera pestaña está en el índice 0. Los
                            argumentos son los mismos que para <code>addTab</code>.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#remove-java.awt.Component-">
                                remove(Component)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#removeTabAt-int-">
                                removeTabAt(int)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Elimina la pestaña correspondiente al componente especificado o índice.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#removeAll--">
                                removeAll()</a>
                        </td>
                        <td headers="h102" class="celda">Elimina todas las pestañas.</td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#indexOfComponent-java.awt.Component-">
                                int indexOfComponent(Component)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#indexOfTab-java.lang.String-">
                                int indexOfTab(String)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#indexOfTab-javax.swing.Icon-">
                                int indexOfTab(Icon)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Devuelve el índice de la pestaña que tiene el componente especificado, título, o icono.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#setSelectedIndex-int-">
                                void setSelectedIndex(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#setSelectedComponent-java.awt.Component-">
                                void setSelectedComponent(Component)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Seleccione la pestaña que tiene el componente especificado o índice. Seleccionar una pestaña tiene el
                            efecto de visualizar su componente asociado.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#getSelectedIndex--">
                                int getSelectedIndex()</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#getSelectedComponent--">
                                Component getSelectedComponent()</a>
                        </td>
                        <td headers="h102" class="celda">Devuelve el índice o componente para la pestaña seleccionada.</td>
                    </tr>
                </table>
                <br/>
                <table class="celda">
                    <caption><a style="font-weight: bold" id="appearanceapi">Cambiar la Apariencia de la Pestaña</a></caption>
                    <tr>
                        <th id="h201" style="text-align: left;" class="celda">Método</th>
                        <th id="h202" style="text-align: left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#setComponentAt-int-java.awt.Component-">
                                void setComponentAt(int, Component)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#getComponentAt-int-">
                                Component getComponentAt(int)</a>
                        </td>
                        <td headers="h202" class="celda">
                            Establece u obtiene qué componente se asocia con la pestaña en el índice especificado. La priemra
                            pestaña se encuentra en el índice 0.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#setTitleAt-int-java.lang.String-">
                                void setTitleAt(int, String)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#getTitleAt-int-">
                                String getTitleAt(int)</a>
                        </td>
                        <td headers="h202" class="celda">Establece u obtiene el título de la pestaña en el índice especificado.</td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#setIconAt-int-javax.swing.Icon-">
                                void setIconAt(int, Icon)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#getIconAt-int-">
                                Icon getIconAt(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#setDisabledIconAt-int-javax.swing.Icon-">
                                void setDisabledIconAt(int, Icon)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#getDisabledIconAt-int-">
                                Icon getDisabledIconAt(int)</a>
                        </td>
                        <td headers="h202" class="celda">Establece u obtiene el icono visualizado por la pestaña en el índice
                            especificado.</td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#setBackgroundAt-int-java.awt.Color-">
                                void setBackgroundAt(int, Color)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#getBackgroundAt-int-">
                                Color getBackgroundAt(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#setForegroundAt-int-java.awt.Color-">
                                void setForegroundAt(int, Color)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#getForegroundAt-int-">
                                Color getForegroundAt(int)</a>
                        </td>
                        <td headers="h202" class="celda">
                            Establece u obtiene el color de fondo o primer plano uado por la pestaña en el índice especificado. Por 
                            defecto, una pestaña usa los colores de fondo y primer plano del panel tabulado. Por ejemplo, si el
                            fondo del panel tabulado es negro, entonces cada título de pestaña será negro excepto para cualquier
                            pestaña para las que especifque otro color usando <code>setForegroundAt</code>.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#setEnabledAt-int-boolean-">
                                void setEnabledAt(int, boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#isEnabledAt-int-">
                                boolean isEnabledAt(int)</a>
                        </td>
                        <td headers="h202" class="celda">Establece u obtiene el estado habilitado de la pestaña en el índice
                            especificado.</td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#setMnemonicAt-int-int-">
                                void setMnemonicAt(int, int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#getMnemonicAt-int-">
                                int getMnemonicAt(int)</a>
                        </td>
                        <td headers="h202" class="celda">Establece u obtiene el mnemotécnico de teclado para acceder a la pestaña
                            especificada.</td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#setDisplayedMnemonicIndexAt-int-int-">
                                void setDisplayedMnemonicIndexAt(int, int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#getDisplayedMnemonicIndexAt-int-">
                                int getDisplayedMnemonicIndexAt(int)</a>
                        </td>
                        <td headers="h202" class="celda">
                            Establece u obtiene qué carácter sería decorado para representar el mnemotécnico. Esto es útil cuando
                            el carácter mnemotécnico aparece múltiples veces en el título de la pestaña y no quiere que la primera
                            ocurrencia sea subrayada.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#setToolTipTextAt-int-java.lang.String-">
                                void setToolTipTextAt(int, String)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#getToolTipTextAt-int-">
                                String getToolTipTextAt(int)</a>
                        </td>
                        <td headers="h202" class="celda">Establece u obtiene el texto visualizado en las etiquetas emergentes para
                            la pestaña especificada.</td>
                    </tr>
                </table>
                <br/>
                <table class="celda">
                    <caption>
                        <a style="font-weight: bold" id="tabscomponents">Configurar Componentes Personalizados en Pestañas</a>
                    </caption>
                    <tr>
                        <th id="h301" style="text-align: left;" class="celda">Método</th>
                        <th id="h302" style="text-align: left;" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#setTabComponentAt-int-java.awt.Component-">
                                void setTabComponentAt(int, Component)</a>
                        </td>
                        <td headers="h302" class="celda">
                            Sets the component that is responsible for rendering the title or icon (or both) for the tab specified
                            by the first argument. When a null value is specified, <code>JTabbedPane</code> renders the title or
                            icon. The same component cannot be used for several tabs.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#getTabComponentAt-int-">
                                Component getTabComponentAt(int)</a>
                        </td>
                        <td headers="h302" class="celda">
                            Gets the tab component for the tab at the index specified by the argument. If there is no tab component
                            for the specified tab, a null value is returned.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTabbedPane.html#indexOfTabComponent-java.awt.Component-">
                                int indexOfTabComponent(Component)</a>
                        </td>
                        <td headers="h302" class="celda">
                            Checks if the specified component belongs to one of the tabs. Return the index of the corresponding tab
                            or -1 if there is no such a tab.
                        </td>
                    </tr>
                </table>
                <h2>
                    <a id="eg">Ejemplos que Usan Paneles Tabulados</a>
                </h2>
                <p>
                    Esta tabla lista los ejemplos que usa <code>JTabbedPane</code> y apunta a donde esos ejempos están descritos.
                </p>
                <table>
                    <caption>Información sobre ejemplos</caption>
                    <tr>
                        <th id="h401" style="text-align: left;">Ejemplo</th>
                        <th id="h402" style="text-align: left;">Dónde se Describe</th>
                        <th id="h403" style="text-align: left;">Notas</th>
                    </tr>
                    <tr>
                        <td headers="h401">
                            <a href="../examples/components/index.html#TabbedPaneDemo"><code>TabbedPaneDemo</code></a>
                        </td>
                        <td headers="h402">Esta página</td>
                        <td headers="h403">
                            Demuestra unas pocas capacidades del panel tabulado, tal como etiquetas emergentes, iconos, diseño
                            desplazable, y mnemotécnicos.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h401">
                            <a href="../examples/components/index.html#TabComponentsDemo"><code>TabComponentsDemo</code></a>
                        </td>
                        <td headers="h402">Esta página</td>
                        <td headers="h403">
                            Demuestra los componentes personalizados en las pestañas, Usa un panel tabulado
                            con los botones de cierre.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h401">
                            <a href="../examples/layout/index.html#BoxAlignmentDemo"><code>BoxAlignmentDemo</code></a>
                        </td>
                        <td headers="h402">
                            <a class="TutorialLink" target="_top" href="../layout/box.html">Cómo Usar BoxLayout</a></td>
                        <td headers="h403">
                            Usa un <code>JTabbedPane</code> como el único elemento secundario del panel de contenido
                            de un marco.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h401"><a href="../examples/components/index.html#BorderDemo"><code>BorderDemo</code></a></td>
                        <td headers="h402">
                            <a class="TutorialLink" target="_top" href="../components/border.html">Cómo Usar Bordes</a>
                        </td>
                        <td headers="h403">Usa su panel tabulado de una manera similar a <code>BoxAlignmentDemo</code>.</td>
                    </tr>
                    <tr>
                        <td headers="h401"><a href="../examples/components/index.html#DialogDemo"><code>DialogDemo</code></a></td>
                        <td headers="h402"><a href="dialog.html">Cómo Usar Diálogos</a></td>
                        <td headers="h403">
                            Tiene un panel tabulado en el centro de un panel contenido de un marco, con una etiqueta debajo de él.
                        </td>
                    </tr>
                </table>
            </div>
            <div class="NavBit">
                <a target="_top" href="splitpane.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="table.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">
                            Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.
                        </p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Cómo Usar Paneles de División<br />
            <b>Página Siguiente:</b> Cómo Usar Tablas
        </div>
    </body>
</html>