<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Usar Áreas de Texto (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario)
            con JFC/Swing &gt; Usando Componentes Swing)
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Usando Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="toplevel.html">Usando Contenedores de Nivel Superior</a></div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="linkAHEAD"><a href="text.html">Usando Componentes de Texto</a></div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="linkBHEAD"><a href="colorchooser.html">Cómo Usar Selectores de Color</a></div>
                <div class="linkBHEAD"><a href="combobox.html">Cómo Usar Cuadros Combinados</a></div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="linkBHEAD"><a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a></div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="linkBHEAD"><a href="frame.html">Cómo Hacer Marcos (Ventanas Principales)</a></div>
                <div class="linkBHEAD"><a href="internalframe.html">Cómo Usar Marcos Internos</a></div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="linkBHEAD"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="linkBHEAD"><a href="rootpane.html">Cómo Usar los Paneles Raíz</a></div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="linkBHEAD"><a href="slider.html">Cómo Usar Deslizadores</a></div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="linkBHEAD"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="nolinkBHEAD">Cómo Usar Áreas de Texto</div>
                <div class="linkBHEAD"><a href="textfield.html">Cómo Usar Campos de Texto</a></div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="linkBHEAD"><a href="tooltip.html">Cómo Usar Tool Tips</a></div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="linkAHEAD"><a href="html.html">Cómo Usar HTML en Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="model.html">Cómo Usar Modelos</a></div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Usando Componentes Swing<br />
                <b>Sección:</b> Cómo Usar Varios Componentes
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Usando Componentes Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="table.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="textfield.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Usar Áreas de Texto</h1>
            </div>
            <div id="PageContent">
                <p>
                    La clase
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html"><code>JTextArea</code></a>
                    suministra un componente que visualiza múltiples líneas de texto y opcionalmente permite al usuario editar el
                    texto. Si necesita obtener sólo una línea de entrada del usuario, debería usar un
                    <a href="textfield.html">campo de texto</a>. Si quier que el área de texto visualice su texto usando fuentes
                    múltiples u otros estilos, debería suar un <a href="editorpane.html">panel editor o panel de texto</a>. Si el
                    texto visualizado tiene una longitud limitada y no es nunca editado por el usuario, use una 
                    <a href="label.html">etiqueta</a>.
                </p>
                <p>
                    Muchos de los ejemplos del Tutorial son áreas de texto no editables que muestran la salida del programa. Aquí 
                    tiene una imagen de un ejemplo llamado <code>TextDemo</code> que le habilita a que teclee texto usando un
                    campo de texto (en la parte superior) y entonces añadir el texto tecleado en un área de texto (debajo).
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/components/TextDemo.png" width="232" height="137"
                         alt="Una captura deTextDemo" />
                </p>
                <p>
                    Pulse el botón Lanzar para ejecutar TextDemo usando
                    <a class="OutsideLink" target="_blank"
                       href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">Java&trade; Web Start</a> (
                       <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue KDJ 7 o posterior</a>).
                       Alternativamente, para compilar u ejecutar el ejemplo usted mismo, consulte el
                       <a href="../examples/components/index.html#TextDemo">índice de ejemplo</a>.
                </p>
                <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/TextDemoProject/TextDemo.jnlp">
                    <img src="../../images/jws-launch-button.png" width="88" alt="Lanza la aplicación TextDemo" /></a>
                <br />
                <p>
                    Puede encontrar el código entero de este programa en
                    <a class="SourceLink" target="_blank" 
                       href="../examples/components/TextDemoProject/src/components/TextDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/TextDemoProject/src/components/TextDemo.java');
                               return false;"><code>TextDemo.java</code></a>. El siguiente código crea e inicializar el área de
                    texto:
                </p>
                <div class="codeblock">
                    <pre>
textArea = new JTextArea(5, 20);
JScrollPane scrollPane = new JScrollPane(textArea); 
textArea.setEditable(false);
                    </pre>
                </div>
                <p>
                    Los dos argumentos al constructor de <code>JTextArea</code> son sugerencias del número de filas y columnas,
                    respectivamente, que el área de texto debería visualizar. El panel de desplazamiento que contiene el área de
                    texto presta atención a esta sugerencias cuando determina lo grande que el panel de desplazamiento debería ser.
                </p>
                <p>
                    Sin la creación del panel de desplazamiento, el área de texto no se desplazaría automáticamente. El constructor 
                    de <code>JScrollPane</code> mostrado en el fragmento precedente configura el área de texto para que se vea en un
                    panel de desplazamiento, y especifica que las barras de desplazamiento del panel de desplazamiento deben ser 
                    visibles cuando sean necesarias. Vea <a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a> si
                    quiere más información.
                </p>
                <p>
                    Las áreas de texto son editables por defecto. El código <code>setEditable(false)</code> hace que el área de
                    texto sea no editable. Es aún seleccionable y el usuario puede copiar datos de ella, pero el usuario no puede
                    cambiar los contenidos del área de texto directamente.
                </p>
                <p>
                    El código siguiente añade texto a el área de texto. Note que el sistema de texto usa el carácter "\n"
                    internamente para representar las nuevas líneas; para más detalles, vea la documentación de la IPA para
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/text/DefaultEditorKit.html">
                        <code>DefaultEditorKit</code></a>.
                </p>
                <div class="codeblock">
                    <pre>
private final static String newline = "\n";
...
textArea.append(text + newline);
                    </pre>
                </div>
                <p>
                    A menos que el usuario haya movido el cursor (punto de inserción) pulsando o arrastrando en el área de texto,
                    el área de texto automáticamente se desplaza de forma que el texto añadido sea visible. Puede forzar a que el
                    área de texto se desplace hacia la parte inferior moviendo el cursor al final del área de texto después de
                    llamar a <code>append</code>:
                </p>
                <div class="codeblock">
                    <pre>
textArea.setCaretPosition(textArea.getDocument().getLength());
                    </pre>
                </div>
                <h2>
                    <a id="custom">Personalizar Áreas de Texto</a>
                </h2>
                <p>
                    Puede personalizar los áreas de texto de varias formas. Por ejemplo, aunque un área de texto dada puede
                    visualizar texto con una sola fuente y color, puede establecer qué fuente y color usa. Esta opción de
                    personalización puede ser realizada en cualquier componente. Puede también determinar cómo el área de texto
                    recorta las líneas y el número de caracteres por tabulación. Finalmente, puede usar los métodos que la clase
                    <code>JTextArea</code> hereda de la clase <code>JTextComponent</code> para establecer propiedades tales como el
                    cursor, soporte para el arrastre, o selección del color.
                </p>
                <p>
                    El código siguiente tomado de
                    <a class="SourceLink" target="_blank" 
                       href="../examples/components/TextSamplerDemoProject/src/components/TextSamplerDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/TextSamplerDemoProject/src/components/TextSamplerDemo.java');
                               return false;"><code>TextSamplerDemo.java</code></a> demuestra la inicialización de un área de texto
                    editable. El área de texto usa la fuente de cursiva especificada, y ajusta las líneas entre palabras.
                </p>
                <div class="codeblock">
                    <pre>
JTextArea textArea = new JTextArea(
    "Esto es un JTextArea editable. " +
    "Un área de texto es un componente de texto \"plano\" , " +
    "lo que significa que aunque puede mostrar texto " +
    "en cualquier fuente, todo el texto está en la misma fuente."
);
textArea.setFont(new Font("Serif", Font.ITALIC, 16));
textArea.setLineWrap(true);
textArea.setWrapStyleWord(true);
                    </pre>
                </div>
                <p>
                    Por defecto, un área de texto no ajusta las lineas que son demasiado largas para el área de visualización. En
                    vez de eso, usa una línea para todo el texto entre los caracteres de nueva línea y &HorizontalLine; si el área
                    de texto está dentro de un <a href="scrollpane.html">panel de desplazamiento</a> &HorizontalLine; se permite
                    desplazarse horizontalmente. Este ejemplo activa el ajuste de línea con una llamada al método 
                    <code>setLineWrap</code> para indicar que el área de texto deberá ajustar las líneas entre los límites de las
                    palabras en lugar de entre los límites de los caracteres.
                </p>
                <p>
                    Para proporcionar capacidad de desplazamiento, el ejemplo coloca el área de texto en un panel de desplazamiento.
                </p>
                <div class="codeblock">
                    <pre>
JScrollPane areaScrollPane = new JScrollPane(textArea);
areaScrollPane.setVerticalScrollBarPolicy(
                JScrollPane.VERTICAL_SCROLLBAR_ALWAYS);
areaScrollPane.setPreferredSize(new Dimension(250, 250));
                    </pre>
                </div>
                <p>
                    Es posible que haya notado que el constructor de <code>JTextArea</code> usado en este ejemplo no especifica el
                    número de filas o columnas. En vez de eso, el código limita el tamaño del área de texto configurando el tamaño
                    preferido del panel de desplazamiento.
                </p>
                <h2>
                    <a id="textareademo">Otro Ejemplo: TextAreaDemo</a>
                </h2>
                <p>
                    El ejemplo <code>TextAreaDemo</code> presenta un área de texto editable con una característica especial
                    &HorizontalLine; una función de completado de palabras. A media que el usuario teclea palabras, el programa
                    propone sugerencias para completar la palabra siempre que el vocabulario del programa contenga una palabra que
                    comience con lo que se ha escrito. Aquí tiene una imagen de la aplicación <code>TextAreaDemo</code>.
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/components/TextAreaDemo.png" width="244" height="180"
                         alt="Una captura de TextAreaDemo" />
                </p>
                <p>
                    Pulse el botón Lanzar para ejecutar TextAreaDemo usando
                    <a class="OutsideLink" target="_blank"
                       href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">Java&trade; Web Start</a> (
                       <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue KDJ 7 o posterior</a>).
                       Alternativamente, para compilar y ejecutar el ejemplo usted mismo, consulte el 
                       <a href="../examples/components/index.html#TextAreaDemo">índice de ejemplos</a>.
                </p>
                <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/TextAreaDemoProject/TextAreaDemo.jnlp">
                    <img src="../../images/jws-launch-button.png" width="88" height="23" 
                         alt="Lanza la Aplicación TextAreaDemo" /></a>
                <br />
                <p>
                    Puede encontrar el código entero de este programa en
                    <a class="SourceLink" target="_blank" 
                       href="../examples/components/TextAreaDemoProject/src/components/TextAreaDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/TextAreaDemoProject/src/components/TextAreaDemo.java');
                               return false;"><code>TextAreaDemo.java</code></a>.
                </p>
                <p>
                    Este ejemplo proporciona una capacidad de desplazamiento para el área de texto con la política por defecto de
                    de la barra de desplazamiento. Por defecto, la barra de desplazamiento vertical sólo aparce cuando el área de
                    visualización se llena completamente con texto y no hay sitio para añadir nuevas palabras. Puede establecer
                    un panel de desplazamiento de este tipo con el código siguiente:
                </p>
                <div class="codeblock">
                    <pre>
  textArea.setWrapStyleWord(true);
  jScrollPane1 = new JScrollPane(textArea);
                    </pre>
                </div>
                <p>
                    Como se mención arriba, el área de texto es editable. Puede jugar con el área de texto tecleando y pegando
                    texto, o borrando algunas partes del texto o el contenido entero. También intente utilizar combinaciones de
                    teclas estándar para editar texto dentro del área de texto.
                </p>
                <p>
                    Ahora explore como la función de completado de palabras es implementada. Teclee una palabra como "Swing" o
                    "special". Tan pronto como ha tecleado "sw" el programa muestra una posible finalización "ing" resaltada en
                    azul claro. Presione Intro para aceptar la finalización o continúe tecleando.
                </p>
                <p>
                    El siguiente código añade un oyente de documento al documento del área de texto:
                </p>
                <div class="codeblock">
                    <pre>
  textArea.getDocument().addDocumentListener(this);
                    </pre>
                </div>
                <p>
                    Cuando empezó a teclar una palabra, el método <code>insertUpdate</code> comprueba si el vocabulario del
                    programa contiene el prefijo tecleado. Una vez que una finalización para el prefijo se encuentra, una llamada 
                    al método <code>invokeLater</code> envía una tarea para cambiar el documento más tarde. Es importante recordar
                    que no puede modificar el documento desde dentro de la notificación de evento del documento, de otra forma
                    obtendrá una excepción. Examine el código siguiente abajo.
                </p>
                <div class="codeblock">
                    <pre>
String prefix = content.substring(w + 1).toLowerCase();
int n = Collections.binarySearch(words, prefix);
if (n &lt; 0 &amp;&amp; -n &lt;= words.size()) {
    String match = words.get(-n - 1);
    if (match.startsWith(prefix)) {
        // Se encuentra una finalización
        String completion = match.substring(pos - w);
        // No podemos modificar Document desde dentro de la notificación,
        // así que enviamos una tarea que hace el cambio más tarde
        SwingUtilities.invokeLater(
            new CompletionTask(completion, pos + 1));
    }
} else {
    // No se encuentra nada
    mode = Mode.INSERT;
}
                    </pre>
                </div>
                <p>
                    El código mostrado en negrita ilustra cómo se crea la selección. El curso es establecido primerno al fina de la
                    palabra completa, después se mueve de vuelta a la posición después del último carácter tecleado. El método
                    <code>moveCaretPosition</code> no sólo mueve el cursor a una nueva posicón sino que también selecciona el texto
                    entre las dos posiciones. La tarea de finalización es implementada con el siguiente código:
                </p>
                <div class="codeblock">
                    <pre>
  private class CompletionTask implements Runnable {
        String completion;
        int position;
        
        CompletionTask(String completion, int position) {
            this.completion = completion;
            this.position = position;
        }
        
        public void run() {
            textArea.insert(completion, position);
            <b>textArea.setCaretPosition(position + completion.length());
            textArea.moveCaretPosition(position);</b>
            mode = Mode.COMPLETION;
        }
    }
                    </pre>
                </div>
                <h2>
                    <a id="api">La IPA del Área de Texto</a>
                </h2>
                <p>
                    Las siguientes tablas enumeran los constructores y métodos comúnmente utilizados de <code>JTextArea</code>. 
                    Otros métodos que probablemente llame se definen en <code>JTextComponent</code>, y están listados en
                    <a href="textapi.html">La IPA del Componente de Texto</a>.
                </p>
                <p>
                    Podría también invocar métodos en un área de texto que son heredados de sus otros ascendentes, tales como
                    <code>setPreferredSize</code>, <code>setForeground</code>, <code>setBackground</code>, <code>setFont</code>,
                    etcétera. Vea <a href="jcomponent.html">La Clase JComponent</a> para tablas de métodos heredados de uso común.
                </p>
                <p>
                    La IPA para usar área de textos incluye las siguientes categorías
                    :
                </p>
                <ul>
                    <li><a href="#contents">Establcer u Obtener Contenidos</a></li>
                    <li><a href="#looks">Ajuste Fino de la Apariencia</a></li>
                    <li><a href="#function">Implementar la Funcionalidad</a></li>
                </ul>
                <table class="celda">
                    <caption><a style="font-weight: bold" id="contents">Establcer u Obtener Contenidos</a></caption>
                    <tr><th id="h1" class="celda">Método o Constructor</th><th id="h2" class="celda">Propósito</th></tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#JTextArea--">
                                JTextArea()</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#JTextArea-java.lang.String-">
                                JTextArea(String)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#JTextArea-java.lang.String-int-int-">
                                JTextArea(String, int, int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#JTextArea-int-int-">
                                JTextArea(int, int)</a>
                        </td>
                        <td headers="h2" class="celda">
                            Crea un área de texto. Cuando está presente, el argumento <code>String</code> contiene el texto
                            inicial. Los argumentos <code>int</code> especifican el ancho deseado en columnas y la altura en filas,
                            respectivamente.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/text/JTextComponent.html#setText-java.lang.String-">
                                void setText(String)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/text/JTextComponent.html#getText--">
                                String getText()</a>
                            <br />
                            <em>(definidos en <code>JTextComponent</code>)</em>
                        </td>
                        <td headers="h2" class="celda">Establece u obtiene el texto mostrado por el área de texto.</td>
                    </tr>
                </table>
                <br/>
                <table class="celda">
                    <caption><a style="font-weight: bold" id="looks">Ajuste Fino de la Apariencia</a></caption>
                    <tr><th id="h101" class="celda">Método</th><th id="h102" class="celda">Propósito</th></tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/text/JTextComponent.html#setEditable-boolean-">
                                void setEditable(boolean)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/text/JTextComponent.html#isEditable--">
                                boolean isEditable()</a>
                            <br />
                            <em>(definido en <code>JTextComponent</code>)</em>
                        </td>
                        <td headers="h102" class="celda">
                            Establece o indica si el usuario puede editar el texto en el área de texto.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#setColumns-int-">
                                void setColumns(int);</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#getColumns--">
                                int getColumns()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene el número de columnas visualizadas por el área de texto. Esto es solo una pista
                            para calcular el ancho preferido del área.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#setRows-int-">
                                void setRows(int);</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#getRows--">
                                int getRows()</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece u obtiene el número de filas visualizadas por el área de texto. Esto es solo una pista
                            para calcular la altura preferida del área.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#setTabSize-int-">
                                int setTabSize(int)</a>
                        </td>
                        <td headers="h102" class="celda">Establece el número de caracteres a los que equivale una tabulación.</td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#setLineWrap-boolean-">
                                int setLineWrap(boolean)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece si las líneas son ajustadas si son demasiado largas para caber dentro del ancho asignado. Por
                            defecto esta propiedad es falsa y las líneas no son ajustadas.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#setWrapStyleWord-boolean-">
                                int setWrapStyleWord(boolean)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Establece si las líneas pueden ser ajustadas en el espacio en blanco (límites entre palabras) o en
                            cualquier carácter. Por defecto esta propiedad es falsa, y las líneas pueden ser ajustadas (si el
                            ajuste de líneas está activado) en cualquier carácter.
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="celda">
                    <caption><a style="font-weight: bold" id="function">Implementar la Funcionalidad</a></caption>
                    <tr><th id="h201" class="celda">Método</th><th id="h202" class="celda">Propósito</th></tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/text/JTextComponent.html#selectAll--">
                                void selectAll()</a>
                            <br />
                            <em>(definido en <code>JTextComponent</code>)</em>
                        </td>
                        <td headers="h202" class="celda">Selecciona todos los caracteres en el área de texto.</td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#append-java.lang.String-">
                                void append(String)</a>
                        </td>
                        <td headers="h202" class="celda">Agrega el texto especificado al final del área de texto.</td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#insert-java.lang.String-int-">
                                void insert(String, int)</a>
                        </td>
                        <td headers="h202" class="celda">Inserta el texto especificado en la posición especificada.</td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#replaceRange-java.lang.String-int-int-">
                                void replaceRange(String, int, int)</a>
                        </td>
                        <td headers="h202" class="celda">
                            Reemplaza el texto entre las posiciones indicadas con la cadena especificada.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#getLineCount--">
                                int getLineCount()</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#getLineOfOffset-int-">
                                int getLineOfOffset(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#getLineStartOffset-int-">
                                int getLineStartOffset(int)</a>
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html#getLineEndOffset-int-">
                                int getLineEndOffset(int)</a>
                        </td>
                        <td headers="h202" class="celda">
                            Utilidades para encontrar un número de línea o la posición del principio o final de la línea
                            especificada.
                        </td>
                    </tr>
                </table>
                <h2>
                    <a id="eg">Ejemplos que Usan Áreas de Texto</a>
                </h2>
                <p>
                    Esta tabla lista los ejemplos que usan área de textos y señala dónde se describen esos ejemplos.
                </p>
                <table>
                    <caption>Información sobre ejemplos</caption>
                    <tr>
                        <th id="h301" style="text-align: left;">Ejemplo</th>
                        <th id="h302" style="text-align: left;">Dónde Se Describe</th>
                        <th id="h303" style="text-align: left;">Notas</th>
                    </tr>
                    <tr>
                        <td headers="h301" style="vertical-align: top;">
                            <a href="../examples/components/index.html#TextDemo">TextDemo</a>
                        </td>
                        <td headers="h302" style="vertical-align: top;">Esta sección</td>
                        <td headers="h303" style="vertical-align: top;">

                            Una aplicación que añade el texto introducido-por-el-usuario en un área de texto.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301" style="vertical-align: top;">
                            <a href="../examples/components/index.html#TextAreaDemo">TextAreaDemo</a>
                        </td>
                        <td headers="h302" style="vertical-align: top;">Esta sección</td>
                        <td headers="h303" style="vertical-align: top;">
                            Una aplicación que tiene un área de texto con una función de finalización de palabras.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301" style="vertical-align: top;">
                            <a href="../examples/components/index.html#TextSamplerDemo">TextSamplerDemo</a>
                        </td>
                        <td headers="h302" style="vertical-align: top;"><a href="text.html">Usando Componentes de Texto</a></td>
                        <td headers="h303" style="vertical-align: top;">Utiliza los componentes de texto de Swing.</td>
                    </tr>
                    <tr>
                        <td headers="h301" style="vertical-align: top;">
                            <a href="../examples/components/index.html#HtmlDemo">HtmlDemo</a>
                        </td>
                        <td headers="h302" style="vertical-align: top;">
                            <a href="html.html">Cómo Usar HTML en Componentes Swing</a>
                        </td>
                        <td headers="h303" style="vertical-align: top;">
                            Un área de texto que habilita al usuario a teclear código HTML que es mostrado en una etiqueta.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301" style="vertical-align: top;">
                            <a class="TutorialLink" target="_top" href="../examples/dnd/index.html#BasicDnD">BasicDnD</a>
                        </td>
                        <td headers="h302" style="vertical-align: top;">
                            <a class="TutorialLink" target="_top" href="../dnd/intro.html">
                                Introducción al Arrastrar y Soltar (Dnd)
                            </a>
                        </td>
                        <td headers="h303" style="vertical-align: top;">
                            Demuestra la función incorporada de arrastrar y soltar de varios componentes Swing, incluido el área de
                            textos.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h301" style="vertical-align: top;">
                            <a class="TutorialLink" target="_top" 
                               href="../examples/misc/index.html#FocusConceptsDemo">FocusConceptsDemo</a>
                        </td>
                        <td headers="h302" style="vertical-align: top;">
                            <a class="TutorialLink" target="_top" 
                               href="../misc/focus.html">Cómo Usar el Subsistema de Foco</a>
                        </td>
                        <td headers="h303" style="vertical-align: top;">
                            Demuestra como el foco funciona usando unos pocos componentes que incluyen un área de texto.
                        </td>
                    </tr>
                </table>
            </div>
            <div class="NavBit">
                <a target="_top" href="table.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="textfield.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta </a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Cómo Usar Tablas<br />
            <b>Página Siguiente:</b> Cómo Usar Campos de Texto
        </div>
    </body>
</html>