<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Usar Campos de Texto (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario)
            con JFC/Swing &gt; Usando Componentes Swing)
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Usando Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="toplevel.html">Usando Contenedores de Nivel Superior</a></div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="linkAHEAD"><a href="text.html">Usando Componentes de Texto</a></div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="linkBHEAD"><a href="colorchooser.html">Cómo Usar Selectores de Color</a></div>
                <div class="linkBHEAD"><a href="combobox.html">Cómo Usar Cuadros Combinados</a></div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="linkBHEAD"><a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a></div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="linkBHEAD"><a href="frame.html">Cómo Hacer Marcos (Ventanas Principales)</a></div>
                <div class="linkBHEAD"><a href="internalframe.html">Cómo Usar Marcos Internos</a></div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="linkBHEAD"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="linkBHEAD"><a href="rootpane.html">Cómo Usar los Paneles Raíz</a></div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="linkBHEAD"><a href="slider.html">Cómo Usar Deslizadores</a></div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="linkBHEAD"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="linkBHEAD"><a href="textarea.html">Cómo Usar Áreas de Texto</a></div>
                <div class="nolinkBHEAD">Cómo Usar Campos de Texto</div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="linkBHEAD"><a href="tooltip.html">Cómo Usar Tool Tips</a></div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="linkAHEAD"><a href="html.html">Cómo Usar HTML en Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="model.html">Cómo Usar Modelos</a></div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Usando Componentes Swing<br />
                <b>Sección:</b> Cómo Usar Varios Componentes
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Usando Componentes Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="textarea.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="toolbar.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Usar Campos de Texto</h1>
            </div>
            <div id="PageContent">
                <p>
                    Un campo de texto es un control de texto básico que habilita al suuario a introducir una pequeña cantidad de
                    texto. Cuando el usuario indica que la entrada de texto está completa (usualmente presionando Intro), el campo
                    de texto dispara un
                    <a class="TutorialLink" target="_top" href="../events/actionlistener.html">evento de acción</a>. Si necesita
                    obtener más de una línea de entrada del usuario, use un <a href="textarea.html">área de texto</a>.
                </p>
                <p>
                    <a id="varieties">La IPA de Swing suministra varias clases de componentes  que son o variedades de campos
                        de texto o que incluyen campos de texto.</a>
                </p>
                <table>
                    <tr>
                        <td style="width:30%">
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextField.html">
                                <code>JTextField</code></a>
                        </td>
                        <td>Qué cubre esta sección: campos de texto básicos.</td>
                    </tr>
                    <tr>
                        <td><code>JFormattedTextField</code></td>
                        <td>
                            Una subclase de <code>JTextField</code> que le permita especificar el conjunto legal de caracteres que
                            el usuario puede introducir. Vea 
                            <a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a>.
                        </td>
                    </tr>
                    <tr>
                        <td><code>JPasswordField</code></td>
                        <td>
                            Una subclase de <code>JTextField</code> que no muestra los caracteres que el usuario teclea. Vea
                            <a href="passwordfield.html">Cómo Usar Campos de Contraseña</a>.
                        </td>
                    </tr>
                    <tr>
                        <td><code>JComboBox</code></td>
                        <td>
                            Puede ser editado, y suministra un menú de cadenas para elegir. Vea 
                            <a href="combobox.html">Cómo Usar Cuadros Combinados</a>.
                        </td>
                    </tr>
                    <tr>
                        <td><code>JSpinner</code></td>
                        <td>
                            Combina un campo de texto formateado con un par de pequeños botones que habilitan al usuario a elegir
                            el valor disponible anterior o siguiente . Vea <a href="spinner.html">Cómo Usar Contadores Numéricos</a>.
                        </td>
                    </tr>
                </table>
                <p>
                    El ejemplo siguiente muestra un campo de texto básico y un área de texto. El campo de texto es editable. El
                    área de texto no es editable. Cuando el usuario presiona Intro en el campo de texto, el programa copia el
                    contenido del campo de texto en el área de texto, y entonces seleccona todo el texto en el campo de texto.
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/components/TextDemo.png" width="232" height="137" 
                         alt="Una captura de TextDemo" />
                </p>
                <p>
                    Pulse el botón Lanzar para ejecutar TextDemo usando
                    <a class="OutsideLink" target="_blank" 
                       href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">Java&trade; Web Start</a> (
                       <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue KDJ 7 o posterior</a>).
                       Alternativamente, para compilar y ejecutar usted mismo el ejemplo, consulte el
                       <a href="../examples/components/index.html#TextDemo">índice de ejemplos</a>.
                </p>
                <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/TextDemoProject/TextDemo.jnlp">
                    <img src="../../images/jws-launch-button.png" width="88" alt="Lanza la aplicación TextDemo" />
                </a><br />
                <p>
                    Puede encontrar el código entero para este programa en
                    <a class="SourceLink" target="_blank" 
                       href="../examples/components/TextDemoProject/src/components/TextDemo.java" 
                       onclick="showCode('../../displayCode.html', 
                                   '../examples/components/TextDemoProject/src/components/TextDemo.java'); 
                           return false;"><code>TextDemo.java</code></a>. El código siguiente crea y configura el campo de texto:
                </p>
                <div class="codeblock">
                    <pre>
textField = new JTextField(20);
                    </pre>
                </div>
                <p>
                    El argumento entero pasado al constructor <code>JTextField</code>, <code>20</code> en el ejemplo,
                    indica el número de columnas del campo. Este número se usa junto con las métricas proporcionadas por la fuente 
                    actual del campo para calcular el ancho preferido del campo. No hay límite al numero de caracteres que el
                    usuario puede introducir. Para hacer eso, puede o usar un
                    <a href="formattedtextfield.html">campo de texto formateado</a> o un oyente de documento, como se describió en
                    <a href="generaltext.html">Características del Componente de Texto</a>.
                </p>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;
                    <p>
                        Le recomendamos que especifique el número de columnas para cada campo de texto. Si no especifica el número
                        de columnas o un tamaño preferido, entonces el tamaño preferido del campo cambia cada vez que el texto
                        cambia, lo que puede dar como resultado actualizaciones de diseño no deseadas.
                    </p>
                    <hr />
                </div>
                <p>
                    La siguiente líne de código registra un objeto <code>TextDemo</code> como un oyente de acción para el campo de
                    texto.
                </p>
                <div class="codeblock">
                    <pre>
textField.addActionListener(this);
                    </pre>
                </div>
                <p>
                    El método <code>actionPerformed</code> maneja los eventso de acción para el campo de texto:
                </p>
                <div class="codeblock">
                    <pre>
private final static String newline = "\n";
...
public void actionPerformed(ActionEvent evt) {
    String text = textField.getText();
    textArea.append(text + newline);
    textField.selectAll();
}
                    </pre>
                </div>
                <p>
                    Note que el uso del método <code>getText</code> de <code>JTextField</code> para recuperar el texto actualmente
                    contenido por el campo de texto. El texto devuelto por este método <em>no</em> incluye el carácter de salto de
                    línea para la tecla Intro que disparó el evento de acción.
                </p>
                <p>
                    Ha visto como un campo de texto básico se usa. Debido a que la clase <code>JTextField</code>
                    hereda de la clase <code>JTextComponent</code>, los campos de textos son muy flexibles y pueden ser
                    personalizados casi de cualquier forma que quiera. Por ejemplo, puede añadir un oyente de documento o un filtro
                    de documento para ser notificado cuando el texto cambia, y en el caso del filtro puede modificar el campo de
                    texto en consecuencia. La información sobre los componentes de texto se encuentra en
                    <a href="generaltext.html">Características del Componente de Texto</a>. Antes de personalizar un
                    <code>JTextField</code>, sin embargo, asegúrese que uno de los otros
                    <a href="#varieties">componentes basados en los campo de texto</a> no hará el trabajo por usted.
                </p>
                <p>
                    A menudo los campos de textos están emparejados con etiquetas que describen el campo de texto. Vea
                    <a href="#eg">Ejemplos que Usan Campos de Texto</a> para indicaciones sobre la creación de estos pares.
                </p>
                <h2>
                    <a id="textfielddemo">Otro Ejemplo: TextFieldDemo</a>
                </h2>
                <p>
                    El ejemplo <code>TextFieldDemo</code> presenta un campo de texto y un área de texto. Puede encontrar el código
                    entero para este programa en 
                    <a class="SourceLink" target="_blank" 
                       href="../examples/components/TextFieldDemoProject/src/components/TextFieldDemo.java" 
                       onclick="showCode('../../displayCode.html', 
                             '../examples/components/TextFieldDemoProject/src/components/TextFieldDemo.java');
                   return false;"><code>TextFieldDemo.java</code></a>.
                </p>
                <p>
                    Mientras usted teclea caracteres en el campo de texto el programa busca el texto teclado en el área de texto.
                    Si la entrada se encuentra es resaltada. Si el programa falla en encontrar la entrada entonces el fondo del 
                    campo de texto se vuelve rosa. Una barra de estado debajo del área de texto muestra un mensaje si se encontró
                    el texto o no. La tecla Escape se usa para iniciar una nueva búsqueda o finalizar la actual. Aquí tiene una
                    imagene de la aplicación <code>TextFieldDemo</code>.
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/components/TextFieldDemo.png" width="482" height="323" 
                         alt="Una captura de TextFieldDemo" />
                </p>
                <p>
                    Pulse el botón Lanzar para ejecutar TextFieldDemo usando
                    <a class="OutsideLink" target="_blank" 
                       href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">Java&trade; Web Start</a> (
                       <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue KDJ 7 o posterior</a>).
                       Alternativamente, para compilar y ejecutar usted mismo el ejemplo, consulte el
                       <a href="../examples/components/index.html#TextFieldDemo">índice de ejemplos</a>.
                </p>
                <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/TextFieldDemoProject/TextFieldDemo.jnlp">
                    <img src="../../images/jws-launch-button.png" width="88" height="23" 
                         alt="Lanza la Aplicación TextFieldDemo " />
                </a><br />
                <p>
                    Para resaltar el texto, este ejemplo usa un resaltador y un pintor. El código de abajo crea y configura el
                    resaltador y el pintor para el área de texto.
                </p>
                <div class="codeblock">
                    <pre>
final Highlighter hilit;
final Highlighter.HighlightPainter painter;
...
hilit = new DefaultHighlighter();
painter = new DefaultHighlighter.DefaultHighlightPainter(HILIT_COLOR);
textArea.setHighlighter(hilit);
                    </pre>
                </div>
                <p>
                    Este código agrega un oyente de documento al documento del campo de texto.
                </p>
                <div class="codeblock">
                    <pre>
entry.getDocument().addDocumentListener(this);
                    </pre>
                </div>
                <p>
                    Los métodos <code>insertUpdate</code> y <code>removeUpdate</code> del oyente del documento llaman al método
                    <code>search</code>, el cual no sólo realiza una búsqueda en el área de texto sino que también maneja el
                    resaltado. El código siguiente resalta el texto encontrado, establece el cursor al final de la coincidencia 
                    encontrada, establece el fondo por defecto para el campo de texto, y muestra un mensaje en la barra de estado.
                </p>
                <div class="codeblock">
                    <pre>
hilit.addHighlight(index, end, painter);
textArea.setCaretPosition(end);
entry.setBackground(entryBg);
message("'" + s + "' encontrado. Presione ESC para terminar la búsqueda");
                    </pre>
                </div>
                <p>
                    La barra de estado es un objeto <code>JLabel</code>. El código de debajo muestra cómo el método
                    <code>message</code> es implementado.
                </p>
                <div class="codeblock">
                    <pre>
private JLabel status;
...
void message(String msg) {
    status.setText(msg);
}
                    </pre>
                </div>
                <p>
                    Si no hay coincidencia en el área de texto, el código siguiente cambia el fondo del campo de texto a rosa y
                    visualiza un mensaje de información adecuado.
                </p>
                <div class="codeblock">
                    <pre>
entry.setBackground(ERROR_COLOR);
message("'" + s + "' no encontrado. Presione ESC para iniciar una nueva búsqueda");
                    </pre>
                </div>
                <p>
                    La clase <code>CancelAction</code> es responsable de manejar la tecla Escape como sigue.
                </p>
                <div class="codeblock">
                    <pre>
   class CancelAction extends AbstractAction {
       public void actionPerformed(ActionEvent ev) {
               hilit.removeAllHighlights();
               entry.setText("");
               entry.setBackground(entryBg);
           }
   }
                    </pre>
                </div>
                <h2>
                    <a id="api">La IPA del Campo de Texto</a>
                </h2>
                <p>
                    La siguientes tablas listan los constructores y métodos usados habitualmente de <code>JTextField</code>. Otros
                    métodos que probablemente llame se definen en la clase <code>JTextComponent</code>. Consulte
                    <a href="textapi.html">La IPA del Componente de Texto</a>.
                </p>
                <p>
                    Podría también invocar métodos en un campo de texto heredados de los otros ancestros del campo de texto, tales
                    como <code>setPreferredSize</code>, <code>setForeground</code>, <code>setBackground</code>,
                    <code>setFont</code>, y así. Vea <a href="jcomponent.html">La Clase JComponent</a> para tablas de métodos
                    heredados de uso común.
                </p>
                <p>

                    La IPA para usar campos de texto cae en estas categorías:
                </p>
                <ul>
                    <li><a href="#contents">Establecer u Obtener los Contenidos de los Campos</a></li>
                    <li><a href="#looks">Ajuste Fino de la Apariencia del Campo</a></li>
                    <li><a href="#function">Implementar la Funcionalidad de los Campos</a></li>
                </ul>
                <table class="celda">
                    <caption><a style="font-weight: bold" id="contents">Establecer u Obtener los Contenidos de los Campos</a></caption>
                    <tr><th id="h101" class="celda">Método o Constructor</th><th id="h102" class="celda">Propósito</th></tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextField.html#JTextField--">
                                JTextField()</a>
                            <br />
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextField.html#JTextField-java.lang.String-">
                                JTextField(String)</a>
                            <br />
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextField.html#JTextField-java.lang.String-int-">
                                JTextField(String, int)</a>
                            <br />
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextField.html#JTextField-int-">
                                JTextField(int)</a>
                        </td>
                        <td headers="h102" class="celda">
                            Crea un campo de texto. Cuando está presente, el argumento <code>int</code> especifica el ancho deseado
                            en columnas. El argumento <code>String</code> contiene el texto inicial del campo.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101" class="celda">
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/text/JTextComponent.html#setText-java.lang.String-">
                                void setText(String)</a>
                            <br />
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/text/JTextComponent.html#getText--">
                                String getText()</a>
                            <br />
                            <em>(definido en <code>JTextComponent</code>)</em>
                        </td>
                        <td headers="h102" class="celda">Establece u obtiene el texto mostrado por el campo de texto.</td>
                    </tr>
                </table><br/>
                <table class="celda">
                    <caption><a style="font-weight: bold" id="looks">Ajuste Fino de la Apariencia del Campo</a></caption>
                    <tr><th id="h201" class="celda">Método</th><th id="h202" class="celda">Propósito</th></tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/text/JTextComponent.html#setEditable-boolean-">
                                void setEditable(boolean)</a>
                            <br />
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/text/JTextComponent.html#isEditable--">
                                boolean isEditable()</a>
                            <br />
                            <em>(definido en <code>JTextComponent</code>)</em>
                        </td>
                        <td headers="h202" class="celda">
                            Establece o indica si el usuario puede editar el texto en el campo de texto.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextField.html#setColumns-int-">
                                void setColumns(int);</a>
                            <br />
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextField.html#getColumns--">
                                int getColumns()</a>
                        </td>
                        <td headers="h202" class="celda">
                            Establece u obtiene el número de columnas mostrado por el campo de texto. Esto es solo una pista para
                            calcular el ancho preferido del campo.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h201" class="celda">
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextField.html#setHorizontalAlignment-int-">
                                void setHorizontalAlignment(int);</a>
                            <br />
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextField.html#getHorizontalAlignment--">
                                int getHorizontalAlignment()</a>
                        </td>
                        <td headers="h202" class="celda">
                            Establece u obtiene cómo el texto es alineado horizontalmente dentro de su área. Puede usar
                            <code>JTextField.LEADING</code>, <code>JTextField.CENTER</code>, y <code>JTextField.TRAILING</code>
                            como argumentos.
                        </td>
                    </tr>
                </table><br/>
                <table class="celda">
                    <caption><a style="font-weight: bold" id="function">Implementar la Funcionalidad de los Campos</a></caption>
                    <tr><th id="h301" class="celda">Método</th><th id="h302" class="celda">Propósito</th></tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextField.html#addActionListener-java.awt.event.ActionListener-">
                                void addActionListener(ActionListener)</a>
                            <br />
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextField.html#removeActionListener-java.awt.event.ActionListener-">
                                void removeActionListener(ActionListener)</a>
                        </td>
                        <td headers="h302" class="celda">Agrega o elimina un oyente de acción.</td>
                    </tr>
                    <tr>
                        <td headers="h301" class="celda">
                            <a class="APILink" target="_blank" 
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/text/JTextComponent.html#selectAll--">
                                void selectAll()</a>
                            <br />
                            <em>(definido en <code>JTextComponent</code>)</em>
                        </td>
                        <td headers="h302" class="celda">Selecciona todos los caracteres en el campo de texto.</td>
                    </tr>
                </table>
                <h2>
                    <a id="eg">Ejemplos Que Usan Campos de Texto</a>
                </h2>
                <p>
                    Esta tabla muestra algunos ejemplos que usan campos de texto y señala dónde se describen esos ejemplos.
                    Para ejemplos de código que son similares entre todas las variedades de campo de textos, como el manejo del
                    diseño, mire la lista de ejemplos de componentes relacionados tales como
                    <a href="formattedtextfield.html#eg">campos de texto formateados</a>  y
                    <a href="spinner.html#eg">Contadores Numéricos</a>.
                </p>
                <table>
                    <caption style="font-weight: bold" id="contents2">Información sobre ejemplos</caption>
                    <tr>
                        <th id="h401" style="text-align: left;">Ejemplo</th>
                        <th id="h402" style="text-align: left;">Dónde Se Describe</th>
                        <th id="h403" style="text-align: left;">Notas</th>
                    </tr>
                    <tr>
                        <td headers="h401" style="vertical-align: top;">
                            <a href="../examples/components/index.html#TextDemo">TextDemo</a>
                        </td>
                        <td headers="h402" style="vertical-align: top;">Esta sección</td>
                        <td headers="h403" style="vertical-align: top;">
                            Una aplicación que usa un campo de texto básico con un oyente de acción.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h401" style="vertical-align: top;">
                            <a href="../examples/components/index.html#TextFieldDemo">TextFieldDemo</a>
                        </td>
                        <td headers="h402" style="vertical-align: top;">Esta sección</td>
                        <td headers="h403" style="vertical-align: top;">
                            Una aplicación que usa un campo de texto y un área de texto. Se hace una búsqueda en el área de texto
                            para encontrar una entrada del campo de texto.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h401" style="vertical-align: top;">
                            <a href="../examples/components/index.html#DialogDemo">DialogDemo</a>
                        </td>
                        <td headers="h402" style="vertical-align: top;"><a href="dialog.html">Cómo Hacer Diálogos</a></td>
                        <td headers="h403" style="vertical-align: top;">
                            <code>CustomDialog.java</code> incluye un campo de texto cuyo valor es comprobado. Pude mostrar el
                            diálogo pulsando la pestaña Más Diálogos, seleccionar la opción del diálogo Validación de la entrada,
                            y entonces pulsar el botón ¡Muéstralo!.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h401" style="vertical-align: top;">
                            <a href="../examples/components/index.html#TextSamplerDemo">TextSamplerDemo</a>
                        </td>
                        <td headers="h402" style="vertical-align: top;"><a href="text.html">Usando Componentes de Texto</a></td>
                        <td headers="h403" style="vertical-align: top;">
                            Presenta pares de etiqueta-campo de texto usando un <code>GridBagLayout</code> y un método de
                            convenencia:
                            <div class="codeblock">
                                <pre>
addLabelTextRows(JLabel[] <em>labels</em>,
                 JTextField[] <em>textFields</em>,
                 GridBagLayout <em>gridbag</em>,
                 Container <em>container</em>)
                                </pre>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h401" style="vertical-align: top;">
                            <a href="../examples/components/index.html#TextInputDemo">TextInputDemo</a>
                        </td>
                        <td headers="h402" style="vertical-align: top;">
                            <a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateados</a>
                        </td>
                        <td headers="h403" style="vertical-align: top;">
                            Presenta pares de etiqueta-campo de texto usando un <code>SpringLayout</code> y el método de
                            conveniencia <code>SpringUtilities</code>:
                            <div class="codeblock">
                                <pre>
makeCompactGrid(Container <em>parent</em>,
                int <em>rows</em>, int <em>cols</em>,
                int <em>initialX</em>, int <em>initialY</em>,
                int <em>xPad</em>, int <em>yPad</em>)
                                </pre>
                            </div>
                        </td>
                    </tr>
                </table>
                <p>
                    Si está programando en JavaFX, vea
                    <a class="OutsideLink" target="_blank" 
                       href="https://docs.oracle.com/javase/8/javafx/user-interface-tutorial/text-field.htm">Campo de Texto</a>.
                </p>
            </div>
            <div class="NavBit">
                <a target="_top" href="textarea.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="toolbar.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Cómo Usar Áreas de Texto<br />
            <b>Página Siguiente:</b> Cómo Usar Barras de Herramientas
        </div>
    </body>
</html>