<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Usando Componentes de Texto (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario)
            con JFC/Swing &gt; Usando Componentes Swing)
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper  clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr"> <div id="TopBar_tl">
                    <div id="TopBar_br"> 
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Usando Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="toplevel.html">Usando Contenedores de Nivel Superior</a></div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="nolinkAHEAD">Usando Componentes de Texto</div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="linkBHEAD"><a href="colorchooser.html">Cómo Usar Selectores de Color</a></div>
                <div class="linkBHEAD"><a href="combobox.html">Cómo Usar Cuadros Combinados</a></div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="linkBHEAD"><a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a></div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="linkBHEAD"><a href="frame.html">Cómo Hacer Marcos (Ventanas Principales)</a></div>
                <div class="linkBHEAD"><a href="internalframe.html">Cómo Usar Marcos Internos</a></div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="linkBHEAD"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="linkBHEAD"><a href="rootpane.html">Cómo Usar los Paneles Raíz</a></div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="linkBHEAD"><a href="slider.html">Cómo Usar Deslizadores</a></div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="linkBHEAD"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="linkBHEAD"><a href="textarea.html">Cómo Usar Áreas de Texto</a></div>
                <div class="linkBHEAD"><a href="textfield.html">Cómo Usar Campos de Texto</a></div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="linkBHEAD"><a href="tooltip.html">Cómo Usar Tool Tips</a></div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="linkAHEAD"><a href="html.html">Cómo Usar HTML en Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="model.html">Cómo Usar Modelos</a></div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Usando Componentes Swing
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Usando Componentes Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="jcomponent.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="generaltext.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Usando Componentes de Texto</h1>
            </div>
            <div id="PageContent">
                <p>
                    Esta sección ofrece información básica que podría necesitar cuando usa componentes Swing de texto. Si tiene la
                    intención de usar un componente de texto sin estilos &HorizontalLine; un
                    <a href="textfield.html">campo de texto</a>,
                    <a href="passwordfield.html">campo de contraseña</a>,
                    <a href="formattedtextfield.html">campo de texto formateado</a>, o
                    <a href="textarea.html">área de texto</a> &HorizontalLine; vaya a su página cómo y vuelva aquí sólo si es
                    necesario. Si tiene la intención de usar un componente de texto estilizado, vea
                    <a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a>, y lea ésta sección también. Si no
                    sabe qué componente necesita, continúe leyendo.
                </p>
                <p>
                    Los componentes de texto de Swing visualizan texto y opcionalmente permiten al usuario editar el texto. Los
                    programas necesitan componentes de texto para tareas que van desde lo sencillo (ingrese una palabra y pulse
                    Intro) hasta el complejo (despliegue y edite texto con imágenes incrustadas en un idioma asiático).
                </p>
                <p>
                    Swing ofrece seis componentes de texto, junto con clases de soporte e interfaces que cumplen incluso los
                    requisitos de texto más complejos. A pesar de sus diferentes usos y capacidades, todos los componentes de texto
                    de Swing heredan de la misma superclase,
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/text/JTextComponent.html">
                        <code>JTextComponent</code></a>, que proporciona una base altamente configurable y potente para la
                    manipulación de texto.
                </p>
                <p>
                    La siguiente figura muestra la jerarquía de <code>JTextComponent</code>.
                </p>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/components/10jtextcomp.png" width="505" height="226"
                         alt="Jerarquía de los componentes de texto de Swing" />
                </p>
                <p>
                    La siguiente figura muestra una aplicación llamada <code>TextSamplerDemo</code> que usa cada componente de texto
                    de Swing.
                </p>
                <p style="text-align:center">
                    <img src="../../figures/uiswing/components/TextSamplerDemoMetal.png" width="531" height="406"
                         alt="Una aplicación que ofrece un ejemplo de cada componente de texto de Swing" />
                </p>
                <div class="note">
                    <hr />
                    <strong>Pruebe esto:</strong>&nbsp;
                    <ol>
                        <li>
                            Pulse el botón Lanzar para ejecutar TextSamplerDemo usando

                            <a class="OutsideLink" target="_blank"
                               href="http://www.oracle.com/technetwork/java/javase/javawebstart/index.html">
                                Java&trade; Web Start </a> (
                            <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">descargue el EDD 7 o
                                posterior</a>). Alternativamente, para compilar y ejecutar el ejemplo por usted mismo, consulte el
                            <a href="../examples/components/index.html#TextSamplerDemo">índice de ejemplos</a>.
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/TextSamplerDemoProject/TextSamplerDemo.jnlp">
                                <img src="../../images/jws-launch-button.png" width="88" height="23"
                                     alt="Lanza la Aplicación TextSamplerDemo" /></a>
                            <br />
                        </li>
                        <li>
                            Escriba algo de texto en el campo de texto y presione Intro. Haga lo mismo en el campo de contraseña.
                            La etiqueta debajo de los campos es actualizada cuando usted presiona Intro.
                        </li>
                        <li>
                            Pruebe introduciendo fechas válidas e inválidas en el campo de texto formateado. Note que cuando
                            presiona Intro la etiqueta debajo de los campos es actualizada sólo si la fecha es válida.
                        </li>
                        <li>
                            Seleccione y edite texto en el area de texto y el panel de texto. Use los atajos de teclado, Ctrl-X,
                            Ctrl-C, y Ctrl-V, para cortar, copiar,m y pegar texto, respectivamente.
                        </li>
                        <li>
                            Prueba a editar el texto en el panel del editor, el cual ha sido hecho no editable con una llamada a
                            <code>setEditable</code>.
                        </li>
                        <li>
                            Busque en el panel de texto para encontrar un ejemplo de componente embebidos y un icono embebido.
                        </li>
                    </ol>
                    <hr />
                </div>
                <p>
                    El ejemplo <code>TextSamplerDemo</code> usa los componentes de texto en formas muy básicas. La siguiente tabla
                    le habla más sobre qué puede hacer con cada clase de componente de texto.
                </p>
                <table class="celda">
                    <caption>
                        Descripción de los componentes de texto
                    </caption>
                    <tr>
                        <th id="h1" class="celda" style="padding: 5px;">Grupo</th>
                        <th id="h2" class="celda" style="padding: 5px;">Descripción</th>
                        <th id="h3" class="celda" style="padding: 5px;">Clases de Swing</th>
                    </tr>
                    <tr>
                        <th id="h4" class="celda" style="padding: 5px;">Controles de texto</th>
                        <td headers="h1" class="celda" style="padding: 5px;">
                            También conocidos simplemente como campos de texto, los controles de texto pueden mostrar sólo una linea
                            de texto editable. Como los botones, generan eventos de acción. Úselos para obtener una pequeña cantidad
                            de información textual del usuario y realize una acción después de que la entrada de texto se complete.
                        </td>
                        <td headers="h2" class="celda" style="padding: 5px;">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextField.html">
                                <code>JTextField</code></a> y sus subclases
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JPasswordField.html">
                                <code>JPasswordField</code></a> y
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JFormattedTextField.html">
                                <code>JFormattedTextField</code></a>
                        </td>
                    </tr>
                    <tr>
                        <th id="h5" class="celda" style="padding: 5px;">Áreas de Texto Plano</th>
                        <td headers="h1" class="celda" style="padding: 5px;">
                            <code>JTextArea</code> puede visualizar líneas múltiples de texto editable. Aunque un área de texto
                            puede mostrar texto en cualquier fuente, todo el texto usa la misma fuente. Use un área de texto para
                            permitir al usuario introducir texto no formateado de cualquier longitud o para visualizar información
                            de ayuda no formateada.
                        </td>
                        <td headers="h2" class="celda" style="padding: 5px;">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextArea.html">
                                <code>JTextArea</code></a>
                        </td>
                    </tr>
                    <tr>
                        <th id="h6" class="celda" style="padding: 5px;">Áreas de Texto Estilizadas</th>
                        <td headers="h1" class="celda" style="padding: 5px;">
                            Un componente de texto estilizado puede visualizar texto editable usando más de una fuente. Algunos
                            componentes de texto estilizado permiten imágenes embebidas e incluso componentes embebidos. Los
                            componentes de texto estilizados son componentes poderosos y multifacéticos adecuados para las
                            necesidades de alta gama y ofrecen más posibilidades de personalización que los demás componentes de
                            texto.
                            <p>
                                Debido a que son tan potentes y flexibles, los componentes de texto estilizado requiren típicamente
                                más programación inicial para configurarlos y usarlos. Una excepción es que los paneles de edición
                                pueden ser fácilmente cargados con texto formateado desde un LUR (Localizador Uniforme de Recursos,
                                más conocido por la sigla URL, del inglés Uniform Resource Locator), lo cual los hace útiles para
                                mostrar información de ayuda no editable.
                            </p>
                        </td>
                        <td headers="h2" class="celda" style="padding: 5px;">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JEditorPane.html">
                                <code>JEditorPane</code></a>
                            <br />
                            y su subclase
                            <br />
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JTextPane.html">
                                <code>JTextPane</code></a>
                        </td>
                    </tr>
                </table>
                <p>
                    Este tutorial proporciona información sobre la base establecida por la clase <code>JTextComponent</code> y le
                    indica cómo realizar algunas tareas comunes relacionadas con el texto.
                    Debido a que la clase <code>JTextComponent</code> y sus subclases tienen demasiadas características para ser
                    descritas completamente en este Tutorial, visite el
                    <a class="OutsideLink" target="_blank"
                       href="http://www.java.net/forums/javadesktop/java-desktop-technologies/swing-awt">foro de Swing &amp; AWT</a>
                    en
                    <a class="OutsideLink" target="_blank" href="http://home.java.net/">java.net</a> para ayuda e información.
                </p>
                <p>
                    Aprenda más sobre los componentes de texto en JavaFX, vea los tutoriales
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/user-interface-tutorial/text.htm">
                        Usar Texto y Efectos de Texto en JavaFX</a> y
                    <a class="OutsideLink" target="_blank"
                       href="https://docs.oracle.com/javase/8/javafx/user-interface-tutorial/text-field.htm">
                        Usar Controles de IU en JavaFX: Campo de Texto</a>.
                </p>
            </div>
            <div class="NavBit">
                <a target="_top" href="jcomponent.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="generaltext.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">
                            Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.
                        </p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente
                            <a target="_blank" href="../../information/run-examples.html">Compilando y Ejecutando los Ejemplos: PFs
                            </a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> La Clase JComponent<br />
            <b>Página Siguiente:</b> Características del Componente de Texto
        </div>
    </body>
</html>