<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Cómo Usar Tool Tips (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario)
            con JFC/Swing &gt; Usando Componentes Swing)
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Usando Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="toplevel.html">Usando Contenedores de Nivel Superior</a></div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="linkAHEAD"><a href="text.html">Usando Componentes de Texto</a></div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="linkBHEAD"><a href="colorchooser.html">Cómo Usar Selectores de Color</a></div>
                <div class="linkBHEAD"><a href="combobox.html">Cómo Usar Cuadros Combinados</a></div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="linkBHEAD"><a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a></div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="linkBHEAD"><a href="frame.html">Cómo Hacer Marcos (Ventanas Principales)</a></div>
                <div class="linkBHEAD"><a href="internalframe.html">Cómo Usar Marcos Internos</a></div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="linkBHEAD"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="linkBHEAD"><a href="rootpane.html">Cómo Usar los Paneles Raíz</a></div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="linkBHEAD"><a href="slider.html">Cómo Usar Deslizadores</a></div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="linkBHEAD"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="linkBHEAD"><a href="textarea.html">Cómo Usar Áreas de Texto</a></div>
                <div class="linkBHEAD"><a href="textfield.html">Cómo Usar Campos de Texto</a></div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="nolinkBHEAD">Cómo Usar Tool Tips</div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="linkAHEAD"><a href="html.html">Cómo Usar HTML en Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="model.html">Cómo Usar Modelos</a></div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Usando Componentes Swing<br />
                <b>Sección:</b> Cómo Usar Varios Componentes
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Usando Componentes Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="toolbar.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="tree.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Cómo Usar Tool Tips</h1>
            </div>
            <div id="PageContent">
                <p>
                    Crear una tool tip para cualquier objeto <code>JComponent</code> es fácil. Use el método
                    <code>setToolTipText</code> para configurar una tool tip para el componente. Por ejemplo, para agregar tool
                    tips a los tres botones, agregue sólo tres líneas de código:
                </p>
                <div class="codeblock"><pre>
b1.setToolTipText("Pulse este botón para dehabilitar el botón central.");
b2.setToolTipText("Este botón central no reacciona cuando hace clic sobre él.");
b3.setToolTipText("Pulse este botón para habilitar el botón central.");
                    </pre></div>
                <p>
                    Cuando el usuario del programa se para con el cursor sobre cualquier de los botones del programa, la tool tip
                    para el botón aparece. Puede ver esto ejecutando el ejemplo <code>ButtonDemo</code>, el cual está explicado en
                    <a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a>. Aquí tiene una foto
                    de la tool tip que aparece cuando el cursor se para sobre el botón izquierdo en el ejemplo
                    <code>ButtonDemo</code>.
                </p>
                <p style="text-align: center;">
                    <img src="../../figures/uiswing/components/ButtonDemo-TT.png" width="489" height="96"
                         alt="ButtonDemo mostrando una tool tip." />
                </p>
                <p>
                    Para componentes tales como los paneles tabulados que tienen partes múltiples, a menudo tiene sentido variar el
                    texto de la tool tip para reflejar la parte del componente bajo el cursor. Por ejemplo, un panel tabulado
                    podría usar esta característica para explicar qué ocurrirá cuando pulse la pestaña bajo el cursor. Cuando
                    implementa un panel de pestañas, puede especificar el texto de la tool tip específica de la pestaña en un
                    argumento pasado al método <code>addTab</code> o <code>setToolTipTextAt</code>.
                </p>
                <p>
                    Incluso en componentes que no tienen una IPA para establecer textos de tool tip específicos de una parte, puede
                    generalmente hacer el trabajo usted mismo. Si el componente soporta renderizadores, entonces puede establecer 
                    el texto de la tool tip en un renderizador personalizado. Las secciones <a href="table.html">tabla</a> y
                    <a href="tree.html">árbol</a> suministran ejemplos de texto de tool tip determinado por un renderizador
                    personalizado. Una alternativa que funciona para todos los <code>JComponent</code>s es crear una subclase del
                    componente y sobreescribir el método <code>getToolTipText(MouseEvent)</code>.
                </p>
                <h2>
                    <a id="api">La IPA de la Tool Tip</a>
                </h2>
                <p>
                    La mayoría de la IPA que necesita para configurar tool tips pertenece a la clase <code>JComponent</code>, y
                    así se hereda por la mayoría de los componentes de Swing. Más IPAs de tool tip se encuentra en clases
                    individuales tales cmo <code>JTabbedPane</code>. En general, estas IPAs son suficientes para especificar y
                    mostrar tool tips; no necesita habitualmente tratar directamente con las clases de implementación
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JToolTip.html"><code>JToolTip</code></a> y 
                    <a class="APILink" target="_blank"
                       href="https://docs.oracle.com/javase/8/docs/api/javax/swing/ToolTipManager.html"><code>ToolTipManager</code>
                    </a>.
                </p>
                <p>
                    La tabla siguiente lista la IPA de tool tip en la clase <code>JComponent</code>. Para más información sobre el
                    soporte de tool tips en componentes individuales, vea la sección cómo-hacer del componente en cuestión.
                </p>
                <table class="celda">
                    <caption><a style="font-weight: bold" id="JComponent">La IPA de Tool Tip IPA en la clase <code>JComponent</code></a></caption>
                    <tr><th id="h1" class="celda">Método</th><th id="h2" class="celda">Propósito</th>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComponent.html#setToolTipText-java.lang.String-">
                                setToolTipText(String)</a>
                        </td>
                        <td headers="h2" class="celda">
                            Si la cadena especificada no es nula, entonces a continuación, este método registra el componente como
                            una tool tip y, cuando se muestra, le da a tool tip el texto especificado. Si el argumento es nulo,
                            entonces este método deshabilita la tool tip para este componente.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComponent.html#getToolTipText--">
                                String getToolTipText()</a>
                        </td>
                        <td headers="h2" class="celda">
                            Devuelve la cadena que fue especificada previamente con <code>setToolTipText</code>.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComponent.html#getToolTipText-java.awt.event.MouseEvent-">
                                String getToolTipText(MouseEvent)</a>
                        </td>
                        <td headers="h2" class="celda">
                            Por defecto, devuelve el mismo valor devuelto por <code>getToolTipText()</code>. Componentes
                            Multi-parte talers como <a href="tabbedpane.html"><code>JTabbedPane</code></a>,
                            <a href="table.html"><code>JTable</code></a>, y <a href="tree.html"><code>JTree</code></a>
                            sobreescriben éste método para devolver una cadena asociada con la ubicación del evento de ratón. Por
                            ejemplo, cada pestaña en un panel tabulado puede tener un texto de tool tip diferente.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a class="APILink" target="_blank"
                               href="https://docs.oracle.com/javase/8/docs/api/javax/swing/JComponent.html#getToolTipLocation-java.awt.event.MouseEvent-">
                                Point getToolTipLocation(MouseEvent)</a>
                        </td>
                        <td headers="h2" class="celda">
                            Devuelve la ubicación (en el sistema de coordenadas del comoponete que recibe) dónde aparece la esquina
                            superior izquierda de la tool tip del componete. El argumento es el evento que cauós que la tool tip se
                            mostrara. El valor devuelto por defecto es null, lo que le indica al sistema de Swing que elija una
                            ubicación.
                        </td>
                    </tr>
                </table>
                <h2>
                    <a id="eg">Ejemplos que Usan Tool Tips</a>
                </h2>
                <p>
                    Esta tabla lista algunos ejemplos que usan tool tips y apunta a dónde esos ejemplos están descritos.
                </p>
                <table>
                    <caption>Información sobre ejemplos</caption>
                    <tr>
                        <th id="h101" style="text-align: left;">Ejemplo</th>
                        <th id="h102" style="text-align: left;">Dónde Se Describe</th>
                        <th id="h103" style="text-align: left;">Notas</th>
                    </tr>
                    <tr>
                        <td headers="h101"><a href="../examples/components/index.html#ButtonDemo"><code>ButtonDemo</code></a></td>
                        <td headers="h102">
                            Esta sección y <a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a>
                        </td>
                        <td headers="h103">Usa una tool tip para suministrar instrucciones para un botón.</td>
                    </tr>
                    <tr>
                        <td headers="h101"><a href="../examples/components/index.html#IconDemo"><code>IconDemo</code></a></td>
                        <td headers="h102">
                            <a class="TutorialLink" target="_top" href="../components/icon.html">Cómo Usar Iconos</a>
                        </td>
                        <td headers="h103">
                            Usa una tool tip en una etiqueta para ofrecer la información del nombre y tamaño de una imagen.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101">
                            <a href="../examples/components/index.html#TabbedPaneDemo"><code>TabbedPaneDemo</code></a>
                        </td>
                        <td headers="h102"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></td>
                        <td headers="h103">
                            Utiliza el texto de sugerencia de herramienta específico de la pestaña especificado en un argumento
                            para el método <code>addTab</code>.
                        </td>
                    </tr>
                    <tr>
                        <td headers="h101">
                            <a href="../examples/components/index.html#TableRenderDemo"><code>TableRenderDemo</code></a>
                        </td>
                        <td headers="h102"><a href="table.html#celltooltip">Especificación de Tool Tips Para Celdas</a></td>
                        <td headers="h103">Agrega tool tips a una tabla usando un renderizador.</td>
                    </tr>
                    <tr>
                        <td headers="h101">
                            <a href="../examples/components/index.html#TableToolTipsDemo"><code>TableToolTipsDemo</code></a>
                        </td>
                        <td headers="h102">
                            <a href="table.html#celltooltip">Especificación de Tool Tips Para Celdas</a>,
                            <a href="table.html#headertooltip">Especificación de Tool Tips para los Encabezados de Columna</a>
                        </td>
                        <td headers="h103">Agrega tool tips a una tabla usando varias técnicas.</td>
                    </tr>
                    <tr>
                        <td headers="h101">
                            <a href="../examples/components/index.html#TreeIconDemo2"><code>TreeIconDemo2</code></a>
                        </td>
                        <td headers="h102"><a href="tree.html#display">Personalizar la Visualización del Árbol</a></td>
                        <td headers="h103">Agrega tool tips a un árbol usando un renderizador personalizado.</td>
                    </tr>
                    <tr>
                        <td headers="h101"><a href="../examples/misc/index.html#ActionDemo"><code>ActionDemo</code></a></td>
                        <td headers="h102"><a class="TutorialLink" target="_top" href="../misc/action.html">Cómo Usar Acciones</a></td>
                        <td headers="h103">Agrega tool tips a botones que han sido creados usando <code>Action</code>s.</td>
                    </tr>
                </table>
            </div>
            <div class="NavBit">
                <a target="_top" href="toolbar.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="tree.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.</p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente <a target="_blank" href="../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs</a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Cómo Usar Barras de Herramientas<br />
            <b>Página Siguiente:</b> Cómo Usar Árboles
        </div>
    </body>
</html>