<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Usando Contenedores de Nivel Superior (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz Gráfica de Usuario)
            con JFC/Swing &gt; Usando Componentes Swing)
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../indice.css" type="text/css"/>
        <script src="../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper  clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                                <a href="javascript:toggleLeft()" id="ToggleLeft">
                                    Ocultar TdC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="LeftBar" class="LeftBar_shown">
            <div id="Contents">
                <div class="linkLESSON"><a href="index.html">Usando Componentes Swing</a></div>
                <div class="nolinkAHEAD">Usando Contenedores de Nivel Superior</div>
                <div class="linkAHEAD"><a href="jcomponent.html">La Clase JComponent</a></div>
                <div class="linkAHEAD"><a href="text.html">Usando Componentes de Texto</a></div>
                <div class="linkBHEAD"><a href="generaltext.html">Características del Componente de Texto</a></div>
                <div class="linkBHEAD"><a href="textapi.html">La IPA del Componente de Texto</a></div>
                <div class="linkAHEAD"><a href="componentlist.html">Cómo Usar Varios Componentes</a></div>
                <div class="linkBHEAD"><a href="applet.html">Cómo Hacer Applets</a></div>
                <div class="linkBHEAD"><a href="button.html">Cómo Usar Botones, Casillas de Verificación y Botones de Radio</a></div>
                <div class="linkBHEAD"><a href="buttongroup.html">Cómo Usar el Componente Grupo De Botones</a></div>
                <div class="linkBHEAD"><a href="colorchooser.html">Cómo Usar Selectores de Color</a></div>
                <div class="linkBHEAD"><a href="combobox.html">Cómo Usar Cuadros Combinados</a></div>
                <div class="linkBHEAD"><a href="dialog.html">Cómo Hacer Diálogos</a></div>
                <div class="linkBHEAD"><a href="editorpane.html">Cómo Usar Paneles de Edición y Paneles de Texto</a></div>
                <div class="linkBHEAD"><a href="filechooser.html">Cómo Usar Selectores de Fichero</a></div>
                <div class="linkBHEAD"><a href="formattedtextfield.html">Cómo Usar Campos de Texto Formateado</a></div>
                <div class="linkBHEAD"><a href="frame.html">Cómo Hacer Marcos (Ventanas Principales)</a></div>
                <div class="linkBHEAD"><a href="internalframe.html">Cómo Usar Marcos Internos</a></div>
                <div class="linkBHEAD"><a href="label.html">Cómo Usar Etiquetas</a></div>
                <div class="linkBHEAD"><a href="layeredpane.html">Cómo Usar Paneles Estratificados</a></div>
                <div class="linkBHEAD"><a href="list.html">Cómo Usar Listas</a></div>
                <div class="linkBHEAD"><a href="menu.html">Cómo Usar Menús</a></div>
                <div class="linkBHEAD"><a href="panel.html">Cómo Usar Paneles</a></div>
                <div class="linkBHEAD"><a href="passwordfield.html">Cómo Usar Campos de Contraseña</a></div>
                <div class="linkBHEAD"><a href="progress.html">Cómo Usar Barras de Progreso</a></div>
                <div class="linkBHEAD"><a href="rootpane.html">Cómo Usar los Paneles Raíz</a></div>
                <div class="linkBHEAD"><a href="scrollpane.html">Cómo Usar Los Paneles de Desplazamiento</a></div>
                <div class="linkBHEAD"><a href="separator.html">Cómo Usar los Separadores</a></div>
                <div class="linkBHEAD"><a href="slider.html">Cómo Usar Deslizadores</a></div>
                <div class="linkBHEAD"><a href="spinner.html">Como Usar Contadores Numéricos</a></div>
                <div class="linkBHEAD"><a href="splitpane.html">Cómo Usar Paneles de División</a></div>
                <div class="linkBHEAD"><a href="tabbedpane.html">Cómo Usar Paneles Tabulados</a></div>
                <div class="linkBHEAD"><a href="table.html">Cómo Usar Tablas</a></div>
                <div class="linkBHEAD"><a href="textarea.html">Cómo Usar Áreas de Texto</a></div>
                <div class="linkBHEAD"><a href="textfield.html">Cómo Usar Campos de Texto</a></div>
                <div class="linkBHEAD"><a href="toolbar.html">Cómo Usar Barras de Herramientas</a></div>
                <div class="linkBHEAD"><a href="tooltip.html">Cómo Usar Tool Tips</a></div>
                <div class="linkBHEAD"><a href="tree.html">Cómo Usar Árboles</a></div>
                <div class="linkAHEAD"><a href="html.html">Cómo Usar HTML en Componentes Swing</a></div>
                <div class="linkAHEAD"><a href="model.html">Cómo Usar Modelos</a></div>
                <div class="linkAHEAD"><a href="icon.html">Cómo Usar Iconos</a></div>
                <div class="linkAHEAD"><a href="border.html">Cómo Usar Bordes</a></div>
                <div class="linkAHEAD"><a href="problems.html">Resolviendo Problemas Comunes con los Componentes</a></div>
            </div>
        </div>
        <div id="MainFlow" class="MainFlow_indented">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing<br />
                <b>Lección:</b> Usando Componentes Swing
            </div>
            <div id="BreadCrumbs">
                <a href="../../index.html" target="_top">Página de Inicio</a>&nbsp;&gt;&nbsp;
                <a href="../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con JFC/Swing</a>&nbsp;&gt;&nbsp;
                <a href="index.html" target="_top">Usando Componentes Swing</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="index.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="jcomponent.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Usando Contenedores de Nivel Superior</h1>
            </div>
            <div id="PageContent">
                <p>
                    Como mencionamos antes, Swing ofrece tres clases contenedoras de nivel superior generalmente útiles:
                    <a href="frame.html"><code>JFrame</code></a>, <a href="dialog.html"><code>JDialog</code></a>, y
                    <a href="applet.html"><code>JApplet</code></a>. Cuando use estas clases, debería tener en cuenta estos hechos:
                </p>
                <ul>
                    <li>
                        Para que aparezca en pantalla, cada componente IGU debe ser parte de una <em>jerarquía de contención</em>.
                        Una jerarquía de contención es un árbol de componentes que tiene un contenedor de nivel superior como su
                        raíz. Le mostraremos uno en un momento.
                    </li>
                    <li>
                        Cada componente IGU puede ser contenido sólo una vez. Si un componente está ya en un contenedor y usted
                        intenta añadirlo a otro contenedor, el componente será eliminado del primer contenedor y entonces es añadido
                        al segundo.
                    </li>
                    <li>
                        Cada contenedor de nivel superior tiene un panel de contenido que, en general, contiene (directa o
                        indirectamente) los componentes visibles en esa IGU del contenedor de nivel superior.
                    </li>
                    <li>
                        Usted puede opcionalmente añadir una barra de menú a un contenedor de nivel superior. La barra de menú está
                        posicionada por convención dentro del contenedor de nivel superior, pero fuera del panel de contenido.
                        Algunas apariencias, como la apariencia Mac OS, le da a usted la opción de colocar la barra de menú en otro
                        lugar más apropiado para la apariencia, como en la parte superior de la pantalla.
                    </li>
                </ul>
                <p>
                    <a id="windownote"></a>
                </p>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;Aunque <a href="internalframe.html">
                        <code>JInternalFrame</code></a> imita a <code>JFrame</code>, los marcos internos no son en realidad
                    contenedores de nivel superior.
                    <hr />
                </div>
                <p>
                    Aquí tiene una foto de un marco creado por una aplicación. El marco contiene una barra de menú verde (sin menús)
                    y, en el panel de contenido del marco, una etiqueta grande en blanco, de amarillo.
                </p>
                <table style="width: 100%">
                    <tr>
                        <td style="text-align: center">
                            <img src="../../figures/uiswing/components/TopLevelDemoMetal.png" width="208" height="234"
                                 alt="Una aplicación simple con un marco que contiene una barra de menú y un panel de contenido." />
                        </td>
                        <td style="text-align: center">
                            <img src="../../figures/uiswing/components/ConceptualPane.gif" width="264" height="164"
                                 alt="Un diagrama de las partes principales de un marco" />
                        </td>
                    </tr>
                </table>
                <p>
                    Puede encontrar el fuente entero para este ejemplo en
                    <a class="SourceLink" target="_blank"
                       href="../examples/components/TopLevelDemoProject/src/components/TopLevelDemo.java"
                       onclick="showCode('../../displayCode.html',
                                       '../examples/components/TopLevelDemoProject/src/components/TopLevelDemo.java');
                               return false;">
                        <code>TopLevelDemo.java</code></a>. Aunque el ejemplo usa un <code>JFrame</code> en una aplicación
                    independiente, los mismos conceptos se aplican a <code>JApplet</code>s y <code>JDialog</code>s.
                </p>
                <p>
                    Aquí tiene la jerarquia de contención para el IGU de este ejemplo:
                </p>
                <p style="text-align: center">
                    <img src="../../figures/uiswing/components/3jframe.gif" width="189" height="143"
                         alt="Jerarquía de Contención para la IGU del ejemplo TopLeveDemo." />
                </p>
                <p>
                    Como las elipses implican, dejamos algunos detalles fuera de este diagrama. Revelamos los detalles un poco más
                    tarde. Aquí están los temas que se tratan en esta sección:
                </p>
                <ul>
                    <li><a href="#general">Contenedores de Nivel Superior y Jerarquías de Contención</a></li>
                    <li><a href="#contentpane">Añadir Componentes al Panel de Contenido</a></li>
                    <li><a href="#menubar">Añadir una Barra de Menú</a></li>
                    <li><a href="#rootpane">El Panel Raíz (también conocido como Los Detalles Perdidos)</a></li>
                </ul>
                <p>
                    <a id="general"></a>
                </p>
                <h2>
                    <a id="general__1">Contenedores de Nivel Superior y Jerarquías de Contención</a>
                </h2>
                <p>
                    Cada programa que usa componentes de Swing tiene al menos un contenedor de nivel superior. Este contenedor de
                    nivel superior es la raíz de una jerarquía de contención &HorizontalLine; la jerarquía que contiene todos los
                    componentes Swing que aparecen dentro del contenedor de nivel superior.
                </p>
                <p>
                    Por regla general, una aplicación independiente con una IGU basada en Swing tiene al menos una jerarquía de
                    contención con un <code>JFrame</code> como su raíz. Por ejemplo, si una aplicación tiene una ventana principal y
                    dos diálogos, entonces la aplicación tiene tres jerarquías de contención, y por lo tanto tres contenedores de
                    nivel superior. Una jerarquía de contención tiene un <code>JFrame</code> como su raíz, y cada uno de los otros
                    dos tiene un objeto <code>JDialog</code> como su raíz.
                </p>
                <p>
                    Un applet basado en Swing tiene al menos una jerarquía de contención, exactamente una de las cuales está
                    encabezada por un objeto <code>JApplet</code>. Por ejemplo, un applet que muestra un diálogo tiene dos
                    jerarquías de contención. Los componentes en la ventana del navegador están en una jerarquia de contención
                    encabezada por un objeto <code>JApplet</code>. El diálogo tiene una jerarquía de contención encabezada por un
                    objeto <code>JDialog</code>.
                </p>
                <h2>
                    <a id="contentpane">Añadir Componentes al Panel de Contenido</a>
                </h2>
                <p>
                    Aquí tiene el código que el ejemplo precedente usa para obtener el panel de contenido de un marco y añadir una
                    etiqueta amarilla a él:
                </p>
                <div class="codeblock">
                    <pre>
frame.getContentPane().add(yellowLabel, BorderLayout.CENTER);
                    </pre>
                </div>
                <p>
                    Como muestra el código, encuentra el panel de contenido de un contenedor de nivel superior llamando al método
                    <code>getContentPane</code>. El panel de contenido por defecto es un contenedor simple intermedio que hereda de
                    <code>JComponent</code>, y que usa un <code>BorderLayout</code> como su gestor de disposición.
                </p>
                <p>
                    Es fácil personalizar el panel de contenido &HorizontalLine; establecer el gestor de disposición o añadir un
                    borde, por ejemplo. Sin embargo, hay un pequeño inconveniente. El método <code>getContentPane</code> devuelve
                    un objeto <code>Container</code>, no un objeto <code>JComponent</code>. Esto significa que si quiere tomar
                    ventaja de las características del <code>JComponent</code> del panel de contenido , necesita cambiar el tipo al
                    valor devuelto o crear su propio componente para que sea el panel de contenido. Nuestros ejemplos generalmente
                    toman la segunda forma, ya que es un poco más limpio. Otra forma que a veces usamos es simplemente añadir un
                    componente personalizado al panel de contenido, cubriendo el panel de contenido completamente.
                </p>
                <p>
                    Tenga en cuenta que el gestor de disposición por defecto para <code>JPanel</code> es <code>FlowLayout</code>; Es
                    probable que desee cambiarlo.
                </p>
                <p>
                    Para hacer un componente el panel de contenido, use el método <code>setContentPane</code> del contenedor de
                    nivel superior. Por ejemplo:
                </p>
                <div class="codeblock">
                    <pre>
//Crea un panel y añade componentes a él.
JPanel contentPane = new JPanel(new BorderLayout());
contentPane.setBorder(<em>someBorder</em>);
contentPane.add(<em>someComponent</em>, BorderLayout.CENTER);
contentPane.add(<em>anotherComponent</em>, BorderLayout.PAGE_END);
<em>topLevelContainer</em>.setContentPane(contentPane);
                    </pre>
                </div>
                <div class="note">
                    <hr />
                    <strong>Nota:</strong>&nbsp;
                    <p>
                        Como conveniencia, el método <code>add</code> y sus variantes, <code>remove</code> y
                        <code>setLayout</code> han sido sobreescritas para reenviar a <code>contentPane</code> según sea necesario.
                        Esto significa que puede escribir
                    </p>
                    <div class="codeblock">
                        <pre>
frame.add(child);
                        </pre>
                    </div>
                    <p>
                        y el hijo será añadido al <code>contentPane.</code>
                        <br />
                        <br />
                        Tenga en cuenta que sólo estos tres métodos hacen esto. Esto significa que <code>getLayout()</code> no
                        devolverá la disposición establecida con <code>setLayout()</code>.
                    </p>
                    <hr />
                </div>
                <h2>
                    <a id="menubar">Añadir una Barra de Menú</a>
                </h2>
                <p>
                    En teoría, todos los contenedores de nivel superior pueden contener una barra de menús. En la práctica, sin
                    embargo, las barras de menú usualmente aparecen sólo en marcos y applets. Para añadir una barra de menús a un
                    contenedor de nivel superior, cree un objeto <code>JMenuBar</code>, llénelo con menús, y entonces llame a
                    <code>setJMenuBar</code>. La demostración <code>TopLevelDemo</code> añade una barra de menú a su marco con este
                    código:
                </p>
                <div class="codeblock">
                    <pre>
frame.setJMenuBar(greenMenuBar);
                    </pre>
                </div>
                <p>
                    Para más información sobre la implementación de menús y barras de menús, vea
                    <a href="menu.html">Cómo Usar Menús</a>.
                </p>
                <h2>
                    <a id="rootpane">El Panel Raíz</a>
                </h2>
                <p>
                    Cada contenedor de nivel superior se apoya en un contenedor intermedio recluso llamado el <em>panel raíz</em>.
                    El panel raíz gestiona el panel de contenido y la barra de menús, junto con un par de otros contenedores.
                    Generalmente no necesita saber sobre los paneles raíz para usar los componentes de Swing. Sin embargo, si alguna
                    vez necesita interceptar pulsaciones del ratón o pintar sobre múltiples componentes, debería familiarizarse con
                    los paneles raíz.
                </p>
                <p>
                    Aquí tiene una lista de los componentes que un panel raíz ofrece a un marco (y al resto de contenedores de nivel
                    superior):
                </p>
                <p style="text-align: center">
                    <img src="../../figures/uiswing/../ui/ui-rootPane.gif" width="367" height="166"
                         alt="Un panel raíz gestiona a los otro cuatro paneles: un panel estructurado, una barra de menús,
                         un panel de contenido, y un panel de vidrio." />
                </p>
                <p>
                    Ya le hemos hablado sobre el panel de contenido y de la barra de menús opcional. Los otros dos componentes que
                    un panel raíz añade son un panel estructurado y un panel de vidrio. El panel estructurado contiene la barra de
                    menús y el panel de contenido, y habilita el orden-Z de otros componentes. El panel de vidrio es a menudo usado
                    para interceptar los eventos de entrada que ocurren sobre el contenedor de nivel superior, y puede ser usado
                    también para pintar sobre múltiples componentes.
                </p>
                <p>
                    Para más detalles, vea <a href="rootpane.html">Cómo Usar los Paneles Raíz</a>.
                </p>
            </div>
            <div class="NavBit">
                <a target="_top" href="index.html">&laquo;&nbsp;Anterior</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="../TOC.html">TdC</a>&nbsp;&bull;&nbsp;
                <a target="_top" href="jcomponent.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">Su uso de ésta</a> página y todo el material en las páginas bajo el anuncio
                            &quot;Los Tutoriales de Java&quot; está sujeto a estos <a href="../../information/cpyr.html">avisos
                                legales</a>.
                        </p>
                        <p class="footertext">
                            Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.
                        </p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente
                            <a target="_blank" href="../../information/run-examples.html">Compilando y Ejecutando los Ejemplos: PFs
                            </a>.
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias? <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión</a>.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior:</b> Usando Componentes Swing<br />
            <b>Página Siguiente:</b> La Clase JComponent
        </div>
    </body>
</html>