@charset "ISO-8859-1";

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

body {
	font-family: Verdana, sans-serif;
	font-size: small;
	color: #000000;
	background-color: #FFFFFF;
}

label {
	font-weight: bold;
}

legend {
	font-weight: bold;
	font-size: medium;
	background-color: #FF9966;
	border: 1px solid black;
	border-style: double;
}

form {
	margin: 5px;
}

input, select, textarea {
	background-color: #FFFFCC;
}