<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />        
        <title>
            Disponer Componentes Dentro de un Contenedor: Ejemplos (Los Tutoriales de Java&trade; &gt; Creando una IGU (Interfaz
            Gráfica de Usuario) con JFC/Swing &gt; Disponer Componentes Dentro de un Contenedor)
        </title>
        <meta name="description" content="Este tutorial de Swing Java describe el desarrollo de interfaces gráficas de usuario (GUI)
              para aplicaciones y applets que utilizan componentes Swing" />
        <meta name="keywords" content="java programming, learn java, java sample code, java swing, java ui, java user interface,
              swing components, swing events, swing layout  " />
        <link rel="stylesheet" href="../../../indice.css" type="text/css" />
        <script src="../../../navegacion.js"></script>
    </head>
    <body onload="load()">
        <noscript>Se requiere un navegador con JavaScript habilitado para que esta página opere apropiadamente.</noscript>
        <div class="header-container">
            <div class="bookwrapper  clearfix">
                <div id="brandProdName">
                    <div id="logocover"></div>
                    <div id="productName">Documentación</div>
                </div>
                <br class="clearfloat" />
            </div>
        </div>
        <div id="TopBar">
            <div id="TopBar_tr">
                <div id="TopBar_tl">
                    <div id="TopBar_br">
                        <div id="TopBar_bl">
                            <div id="TopBar_left">Los Tutoriales de Java&trade;</div>
                            <div id="TopBar_right">
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/java-se-7-tutorial-2012-02-28-1536013.html">
                                    Descargar Libros Electrónicos</a><br />
                                <a target="_blank" href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">
                                    Descargar KDJ</a><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="MainFlow_wide">
            <div class="PrintHeaders">
                <b>Recorrido:</b> Creando una IGU (Interfaz Gráfica de Usuario) con Swing
                <br />
                <b>Lección:</b> Disponer Componentes Dentro de un Contenedor
            </div>
            <div id="BreadCrumbs">
                <a href="../../../index.html" target="_top">Página de Inicio</a>
                &gt;
                <a href="../../index.html" target="_top">Creando una IGU (Interfaz Gráfica de Usuario) con Swing</a>
                &gt;
                <a href="index.html" target="_top">Disponer Componentes Dentro de un Contenedor</a>
            </div>
            <div class="NavBit">
                <a target="_top" href="../../examples/misc/index.html">&laquo;&nbsp;Anterior</a>
                &nbsp;&bull;&nbsp;
                <a target="_top" href="../../TOC.html">TdC</a>
                &nbsp;&bull;&nbsp;
                <a target="_top" href="../../examples/events/index.html">Siguiente&nbsp;&raquo;</a>
            </div>
            <div id="PageTitle">
                <h1>Disponer Componentes Dentro de un Contenedor: Ejemplos</h1>
            </div>
            <div id="PageContent">
                <p>
                    La <a href="#table">tabla</a> que sigue lista cada ejemplo en la lección Disponer Componentes Dentro de un 
                    Contenedor, con enlaces a los ficheros requeridos y donde cada ejemplo es descrito. La primera columna de la 
                    tabla tiene enlaces a los ficheros JNLP que le permiten ejecutar los ejemplos usando Java&trade; Web Start.
                </p>
                <div class="note">
                    <hr />
                    <strong>NOTA:</strong>&nbsp;Se requiere la Versión 7.0 para ejecutar todos los applets y los ejemplos de Java
                    Web Start. La mayoría de los ejemplos se ejecutarán en versiones anteriores pero deberá compilarlos y
                    ejecutarlos localmente.
                    <hr />
                </div>
                <p>
                    Para ejecutar un ejemplo usando Java Web Start, pulse el enlace <em>[Lanza]</em> en la primera columna de la
                    <a href="#table">tabla</a>. La primera vez que ejecute un ejemplo, habrá un retardo mientras Java Web Start
                    descarga el fichero JAR que contiene los ficheros class de estos ejemplos de la lección. Después, los ejemplos
                    se ejecutarán más rápidamente.
                </p>
                <h2>Compilar y Ejecutar los Ejemplos Localmente</h2>
                <p>
                    La segunda columna en la tabla de debajo tiene enlaces a los ficheros comprimidos para cada demostración que
                    puede abrir y ejecutar en el EID NetBeans. Refíerase a
                    <a class="TutorialLink" target="_top" href="../../../information/examples.html">
                        Ejecutando los Ejemplos del Tutorial en el EID NetBeans
                    </a> para más información.
                </p>
                <p>
                    Si usted descarga un ejemplo individual, tenga cuidado en obtener todos los ficheros necesarios en la jeraquía
                    apropiada cuando los compile y ejecute. Todos los ejemplos del tutorial de Swing están colocados en un paquete.
                    Por ejemplo, los ejemplos de componentes están colocados en un paquete <code>components</code>. Vea la siguiente
                    imagen para la estructura completa. Note que cualquier ejemplo que use imágnes espera que sus ficheros de
                    imágenes estén en un directorio llamado <code>images</code> que está en el mismo directorio que el de los
                    ficheros fuentes de los ejemplos.
                </p>
                <p>
                    Puede averiguar qué archivos necesita cada ejemplo consultando la tabla siguiente o mirando los comentarios al
                    principio de cada archivo de origen.
                </p>
                <h2>
                    <a id="table">Tabla de Ejemplos</a>
                </h2>
                <table class="celda">
                    <caption>
                        Información sobre los ejemplos
                    </caption>
                    <tr>
                        <th id="h1" class="celda">Ejemplo</th>
                        <th id="h2" class="celda">Fichero Comprimido<br />
                            <em>(contiene todos los ficheros necesarios para el ejemplo más los metadatos de proyecto del EID
                                NetBeans)</em></th>
                        <th id="h3" class="celda">Ficheros Fuente<br />
                            <em>
                                (el primer fichero tiene el método main, excepto para los ejemplos que se ejecutan sólo como applets)
                            </em>
                        </th>
                        <th id="h4" class="celda">Imágenes y Otros Ficheros</th>
                        <th id="h5" class="celda">Dónde Están Descritos</th>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="AbsoluteLayoutDemo"></a>
                            AbsoluteLayoutDemo
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/AbsoluteLayoutDemoProject/AbsoluteLayoutDemo.jnlp">
                                <em>[Lanza]</em>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-AbsoluteLayoutDemoProject.zip">Proyecto Demo Absolute Layout</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="AbsoluteLayoutDemoProject/src/layout/AbsoluteLayoutDemo.java"
                               onclick="showCode('../../../displayCode.html', 'AbsoluteLayoutDemoProject/src/layout/AbsoluteLayoutDemo.java'); return false;">
                                <code>AbsoluteLayoutDemo.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/none.html">Haciendo Sin un Gestor de Diseño</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="BorderLayoutDemo"></a>
                            BorderLayoutDemo
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/BorderLayoutDemoProject/BorderLayoutDemo.jnlp">
                                <em>[Lanza]</em>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-BorderLayoutDemoProject.zip">Proyecto Demo Border Layout</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="BorderLayoutDemoProject/src/layout/BorderLayoutDemo.java"
                               onclick="showCode('../../../displayCode.html', 'BorderLayoutDemoProject/src/layout/BorderLayoutDemo.java'); return false;">
                                <code>BorderLayoutDemo.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/border.html">Cómo Usar BorderLayout</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="BoxAlignmentDemo"></a>
                            BoxAlignmentDemo
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/BoxAlignmentDemoProject/BoxAlignmentDemo.jnlp">
                                <em>[Lanza]</em>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-BoxAlignmentDemoProject.zip">Proyecto Demo Box Alignment</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="BoxAlignmentDemoProject/src/layout/BoxAlignmentDemo.java"
                               onclick="showCode('../../../displayCode.html', 'BoxAlignmentDemoProject/src/layout/BoxAlignmentDemo.java'); return false;">
                                <code>BoxAlignmentDemo.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            <a href="BoxAlignmentDemoProject/src/layout/images/geek-cght.gif"><code>geek-cght.gif</code></a> 
                            <a href="BoxAlignmentDemoProject/src/layout/images/middle.gif"><code>middle.gif</code></a>
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/box.html">Cómo Usar BoxLayout</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="BoxLayoutDemo"></a>
                            BoxLayoutDemo
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/BoxLayoutDemoProject/BoxLayoutDemo.jnlp">
                                <em>[Lanza]</em>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-BoxLayoutDemoProject.zip">Proyecto Demo Box Layout</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="BoxLayoutDemoProject/src/layout/BoxLayoutDemo.java"
                               onclick="showCode('../../../displayCode.html', 'BoxLayoutDemoProject/src/layout/BoxLayoutDemo.java'); return false;">
                                <code>BoxLayoutDemo.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/box.html">Cómo Usar BoxLayout</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="BoxLayoutDemo2"></a>
                            BoxLayoutDemo2
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/BoxLayoutDemo2Project/BoxLayoutDemo2.jnlp">
                                <em>[Lanza]</em>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-BoxLayoutDemo2Project.zip">Proyecto Demo 2 Box Layout</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="BoxLayoutDemo2Project/src/layout/BoxLayoutDemo2.java"
                               onclick="showCode('../../../displayCode.html', 'BoxLayoutDemo2Project/src/layout/BoxLayoutDemo2.java'); return false;">
                                <code>BoxLayoutDemo2.java</code>
                            </a> ,
                            <a class="SourceLink" target="_blank"
                               href="BoxLayoutDemo2Project/src/layout/BoxLayoutDemo.java"
                               onclick="showCode('../../../displayCode.html', 'BoxLayoutDemo2Project/src/layout/BoxLayoutDemo.java'); return false;">
                                <code>BoxLayoutDemo.java</code>
                            </a> ,
                            <a class="SourceLink" target="_blank"
                               href="BoxLayoutDemo2Project/src/layout/BLDComponent.java"
                               onclick="showCode('../../../displayCode.html', 'BoxLayoutDemo2Project/src/layout/BLDComponent.java'); return false;">
                                <code>BLDComponent.java</code></a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/box.html">Cómo Usar BoxLayout</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="CardLayoutDemo"></a>
                            CardLayoutDemo
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/CardLayoutDemoProject/CardLayoutDemo.jnlp">
                                <em>[Lanza]</em>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-CardLayoutDemoProject.zip">Proyecto Demo Card Layout</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="CardLayoutDemoProject/src/layout/CardLayoutDemo.java"
                               onclick="showCode('../../../displayCode.html', 'CardLayoutDemoProject/src/layout/CardLayoutDemo.java'); return false;">
                                <code>CardLayoutDemo.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/card.html">Cómo Usar CardLayout</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="CustomLayoutDemo"></a>
                            CustomLayoutDemo
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/CustomLayoutDemoProject/CustomLayoutDemo.jnlp">
                                <em>[Lanza]</em>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-CustomLayoutDemoProject.zip">Proyecto Demo Custom Layout</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="CustomLayoutDemoProject/src/layout/CustomLayoutDemo.java"
                               onclick="showCode('../../../displayCode.html', 'CustomLayoutDemoProject/src/layout/CustomLayoutDemo.java'); return false;">
                                <code>CustomLayoutDemo.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/custom.html">Creando un Gestor de Diseño Personalizado</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="FlowLayoutDemo"></a>
                            FlowLayoutDemo
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/FlowLayoutDemoProject/FlowLayoutDemo.jnlp">
                                <em>[Lanza]</em>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-FlowLayoutDemoProject.zip">Proyecto Demo Flow Layout</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="FlowLayoutDemoProject/src/layout/FlowLayoutDemo.java"
                               onclick="showCode('../../../displayCode.html', 'FlowLayoutDemoProject/src/layout/FlowLayoutDemo.java'); return false;">
                                <code>FlowLayoutDemo.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/flow.html">Cómo Usar FlowLayout</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="GridBagLayoutDemo"></a>
                            GridBagLayoutDemo
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/GridBagLayoutDemoProject/GridBagLayoutDemo.jnlp">
                                <em>[Lanza]</em>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-GridBagLayoutDemoProject.zip">Proyecto Demo Grid Bag Layout</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="GridBagLayoutDemoProject/src/layout/GridBagLayoutDemo.java"
                               onclick="showCode('../../../displayCode.html', 'GridBagLayoutDemoProject/src/layout/GridBagLayoutDemo.java'); return false;">
                                <code>GridBagLayoutDemo.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/gridbag.html">Cómo Usar GridBagLayout</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="GridLayoutDemo"></a>
                            GridLayoutDemo
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/GridLayoutDemoProject/GridLayoutDemo.jnlp">
                                <em>[Lanza]</em>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-GridLayoutDemoProject.zip">Proyecto Demo Grid Layout</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="GridLayoutDemoProject/src/layout/GridLayoutDemo.java"
                               onclick="showCode('../../../displayCode.html', 'GridLayoutDemoProject/src/layout/GridLayoutDemo.java'); return false;">
                                <code>GridLayoutDemo.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/grid.html">Cómo Usar GridLayout</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="SpringBox"></a>
                            SpringBox
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/SpringBoxProject/SpringBox.jnlp">
                                <em>[Lanza]</em>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-SpringBoxProject.zip">Proyecto Spring Box</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="SpringBoxProject/src/layout/SpringBox.java"
                               onclick="showCode('../../../displayCode.html', 'SpringBoxProject/src/layout/SpringBox.java'); return false;">
                                <code>SpringBox.java</code>
                            </a><br />&nbsp;&nbsp;
                            <a class="SourceLink" target="_blank"
                               href="SpringBoxProject/src/layout/SpringUtilities.java"
                               onclick="showCode('../../../displayCode.html', 'SpringBoxProject/src/layout/SpringUtilities.java'); return false;">
                                <code>SpringUtilities.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/spring.html">Cómo Usar SpringLayout</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="SpringCompactGrid"></a>
                            SpringCompactGrid
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/SpringCompactGridProject/SpringCompactGrid.jnlp">
                                <em>[Lanza]</em>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-SpringCompactGridProject.zip">Proyecto Spring Compact Grid</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="SpringCompactGridProject/src/layout/SpringCompactGrid.java"
                               onclick="showCode('../../../displayCode.html', 'SpringCompactGridProject/src/layout/SpringCompactGrid.java'); return false;">
                                <code>SpringCompactGrid.java</code>
                            </a><br />&nbsp;&nbsp;
                            <a class="SourceLink" target="_blank"
                               href="SpringCompactGridProject/src/layout/SpringUtilities.java"
                               onclick="showCode('../../../displayCode.html', 'SpringCompactGridProject/src/layout/SpringUtilities.java'); return false;">
                                <code>SpringUtilities.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/spring.html">Cómo Usar SpringLayout</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="SpringDemo1">SpringDemo1</a> <a href="#dontrun">*</a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-SpringDemo1Project.zip">Proyecto Demo 1 Spring</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="SpringDemo1Project/src/layout/SpringDemo1.java"
                               onclick="showCode('../../../displayCode.html', 'SpringDemo1Project/src/layout/SpringDemo1.java'); return false;">
                                <code>SpringDemo1.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/spring.html">Cómo Usar SpringLayout</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="SpringDemo2">SpringDemo2</a> <a href="#dontrun">*</a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-SpringDemo2Project.zip">Proyecto Demo 2 Spring</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="SpringDemo2Project/src/layout/SpringDemo2.java"
                               onclick="showCode('../../../displayCode.html', 'SpringDemo2Project/src/layout/SpringDemo2.java'); return false;">
                                <code>SpringDemo2.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/spring.html">Cómo Usar SpringLayout</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="SpringDemo3"></a>
                            SpringDemo3
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/SpringDemo3Project/SpringDemo3.jnlp">
                                <em>[Lanza]</em>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-SpringDemo3Project.zip">Proyecto Demo 3 Spring</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="SpringDemo3Project/src/layout/SpringDemo3.java"
                               onclick="showCode('../../../displayCode.html', 'SpringDemo3Project/src/layout/SpringDemo3.java'); return false;">
                                <code>SpringDemo3.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/spring.html">Cómo Usar SpringLayout</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="SpringDemo4"></a>
                            SpringDemo4
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/SpringDemo4Project/SpringDemo4.jnlp">
                                <em>[Lanza]</em>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-SpringDemo4Project.zip">Proyecto Demo 4 Spring Demo</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="SpringDemo4Project/src/layout/SpringDemo4.java"
                               onclick="showCode('../../../displayCode.html', 'SpringDemo4Project/src/layout/SpringDemo4.java'); return false;">
                                <code>SpringDemo4.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/spring.html">Cómo Usar SpringLayout</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="SpringForm"></a>
                            SpringForm
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/SpringFormProject/SpringForm.jnlp">
                                <em>[Lanza]</em>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-SpringFormProject.zip">Proyecto Spring Form</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="SpringFormProject/src/layout/SpringForm.java"
                               onclick="showCode('../../../displayCode.html', 'SpringFormProject/src/layout/SpringForm.java'); return false;">
                                <code>SpringForm.java</code>
                            </a><br />&nbsp;&nbsp;
                            <a class="SourceLink" target="_blank"
                               href="SpringFormProject/src/layout/SpringUtilities.java"
                               onclick="showCode('../../../displayCode.html', 'SpringFormProject/src/layout/SpringUtilities.java'); return false;">
                                <code>SpringUtilities.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/spring.html">Cómo Usar SpringLayout</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="SpringGrid"></a>
                            SpringGrid
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/SpringGridProject/SpringGrid.jnlp">
                                <em>[Lanza]</em>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-SpringGridProject.zip">Proyecto Spring Grid</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="SpringGridProject/src/layout/SpringGrid.java"
                               onclick="showCode('../../../displayCode.html', 'SpringGridProject/src/layout/SpringGrid.java'); return false;">
                                <code>SpringGrid.java</code>
                            </a>
                            <br />&nbsp;&nbsp;
                            <a class="SourceLink" target="_blank"
                               href="SpringGridProject/src/layout/SpringUtilities.java"
                               onclick="showCode('../../../displayCode.html', 'SpringGridProject/src/layout/SpringUtilities.java'); return false;">
                                <code>SpringUtilities.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/spring.html">Cómo Usar SpringLayout</a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="h1" class="celda">
                            <a id="TabDemo"></a>
                            TabDemoProject
                            <a href="https://docs.oracle.com/javase/tutorialJWS/samples/uiswing/TabDemoProject/TabDemo.jnlp">
                                <em>[Lanza]</em>
                            </a>
                        </td>
                        <td headers="h2" class="celda">
                            <a href="../zipfiles/layout-TabDemoProject.zip">Proyecto Demo Tab</a>
                        </td>
                        <td headers="h3" class="celda">
                            <a class="SourceLink" target="_blank"
                               href="TabDemoProject/src/layout/TabDemo.java"
                               onclick="showCode('../../../displayCode.html', 'TabDemoProject/src/layout/TabDemo.java'); return false;">
                                <code>TabDemo.java</code>
                            </a>
                        </td>
                        <td headers="h4" class="celda">
                            &nbsp;
                        </td>
                        <td headers="h5" class="celda">
                            <a href="../../layout/card.html">Cómo Usar CardLayout</a>
                        </td>
                    </tr>
                </table>
                <p>
                    <a id="dontrun">
                        *</a> SpringDemo1 Y SpringDemo2 están intencionalmente rotos, y no aconsejamos ejecutarlos usando Java Web
                    Start.
                </p>
            </div>
            <div class="NavBit">
                <a target="_top" href="../../examples/misc/index.html">&laquo;&nbsp;Anterior</a>
                &bull;
                <a target="_top" href="../../TOC.html">TdC</a>
                &bull;
                <a target="_top" href="../../examples/events/index.html">Siguiente&nbsp;&raquo;</a>
            </div>
        </div>
        <hr class="clearfloat"/>
        <div id="Footer">
            <table style="width: 100%;padding: 5px">
                <tr>
                    <td>
                        <p class="footertext">
                            <a id="license_info">
                                Su uso de ésta
                            </a>
                            página y todo el material en las páginas bajo el anuncio &quot;Los Tutoriales de Java&quot; está sujeto
                            a estos
                            <a href="../../../information/cpyr.html">
                                avisos legales
                            </a>
                            .
                        </p>
                        <p class="footertext">
                            Copyright &copy; 1995, 2015 Oracle y/o sus afiliados. Todos los derechos reservados.
                        </p>
                    </td>
                    <td style="text-align: right">
                        <p class="footertext">
                            ¿Problemas con estos ejemplos? Intente
                            <a target="_blank" href="../../../information/run-examples.html">
                                Compilando y Ejecutando los Ejemplos: PFs
                            </a>
                            .
                        </p>
                        <p class="footertext">
                            ¿Quejas? ¿Elogios? ¿Sugerencias?
                            <a target="_blank" href="https://docs.oracle.com/javase/feedback.html">
                                Denos su opinión
                            </a>
                            .
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PrintHeaders">
            <b>Página Anterior</b>
            <br />
            <b>Página Siguiente</b>
        </div>
    </body>
</html>