BODY {
    background-color: #FDF5E6;
    font-family: Verdana, Garamond, Arial;
    padding: 20px;
}

A:hover {
    color: red
}

H1 {
    color: #440000;
    text-align: center;
    font-family: Verdana, Garamond, Arial;
}

H2 {
    color: #440000;
    text-align: center;
    font-family: Verdana, Garamond, Arial;
}

H3 {
    color: #440000;
    text-align: left;
    font-family: Verdana, Garamond, Arial;
}

UL {
    margin-top: 0;
    border-top-width: 0;
    padding-top: 0
}

DT {
    font-weight: bold;
}

PRE {
    font-size: 105%;
    font-family: Consolas, monospace;
}

CODE {
    font-size: 105%;
}

.TOC {
    font-size: 90%;
    font-weight: bold;
    font-family: Verdana, Garamond, Arial;
}

TH.COLORED {
    background-color: #FFAD00
}

TR.COLORED {
    background-color: #FFAD00
}

TH.TITLE {
    background-color: #EF8429;
    font-size: 28px;
    font-family: Verdana, Garamond, Arial;
}

.inicio {
    text-align: center;
    font-family: Verdana, Garamond, Arial;
    font-size: 16px;
}

.enlace {
    font-family: Verdana, Garamond, Arial;
    font-size: small;
}

li {
    list-style-position: inside;
}

.n1 {
    font-size: 18px;
    color: blue;
}

.n2 {
    padding-left: 15px;
    list-style-type: square;
}

.n3 {
    padding-left: 30px;
    list-style-type: circle;
}

.n4 {
    padding-left: 45px;
    list-style-type: disc;
}

.item {
    padding-left: 30px;
}

.rojo {
    color: red;
}

.azul {
    color: blue;
}

.sub {
    text-decoration: underline;
}

.cur {
    font-style: italic;
}

TD {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin: 0px;
}